﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "History";
    ViewBag.Title = "History Pasien";
    var formName = $"frm_{controllerName}";
    var tableId = $"table_{controllerName}";
    var item = new HistoryPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.NRM);
    column[2] = nameof(item.SectionID);
    column[3] = nameof(item.Tanggal_View);
    column[4] = nameof(item.Form);
    column[5] = nameof(item.Report);
    column[6] = nameof(item.Tanggal);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:center;
        width: 200px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:center;
    }

    #@tableId thead th:nth-child(3){
        text-align:center;
        width: 200px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:center;
    }

    #@tableId thead th:nth-child(4){
        text-align: center;
        width: 500px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>

<div class="wall" ng-controller="table" id="list_pasien"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListHistory","History")';
     init();
     filter[1] = '@Model.NRM';
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a id="refreshhsitorypasien" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                    <li><a data-dismiss="modal"><i class="icon-cross2"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                
                <div class="form-group">
                    <div class="form-inline text-center">
                        <div class="form-group">
                            <label class="col-md-12 h2 text-bold">HISTORY PASIEN</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[6]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle">Action</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Form</th>

                    </tr>
                    <tr class="filter_list" @*style="display:none"*@>
                        <!-- Filter -->
                        <td></td>
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-id="{{data.@column[0]}}"
                        data-nomor="{{data.@column[1]}}"
                        data-infonrm="{{data.@column[1]}}"
                        data-infonoreg="{{data.@column[0]}}"
                        data-infoform="{{data.@column[4]}}">

                        <td style="cursor:default">
                            <a href="@Url.Action("/", "ReportHistory"){{data.@column[5]}}?noreg={{ data.@column[0] }}&sectionid={{ data.@column[2] }}" target="_blank"
                               title="Report"
                               class="text-info">
                                <i class="icon-printer2"></i>
                            </a>
                            @*<a onclick="openreport(this)" class="text-info-600" title="Detail">
                                <i class="icon-printer2 position-left"></i>Report
                            </a>*@
                        </td>
                        <td>{{data.@column[3]}}</td>
                        <td>{{data.@column[0]}}</td>
                        <td>{{data.@column[4]}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
angular.element('#@formName').ready(function () {
    var sc = angular.element('#@formName').scope();
    if ('@Request.Cookies["TipePelayanan"].Value' == 'RI') {
        $('#allperiode').click();
        $('#refreshhsitorypasien').click();
    }
});
</script>

<!--  Select Dokter Filter  -->
<script type="text/javascript">


    function getvaluedokter() {
        var data = $('#d_select_dokterfilter').val();
        angular.element('#list_pasien').scope().filter[26] = data;
        angular.element('#list_pasien').scope().getdatas();
    }

    $('#d_select_dokterfilter').select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'DokterID',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

</script>