﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var controllerName = "Registrasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};


}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("SuratPernyataanKenaikanKelas", "Registrasi", null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatexkenaikankelas(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm2(event)" }))
    {
        @*@using (Html.BeginForm("SuratPernyataanKenaikanKelas", "Registrasi", FormMethod.Post, new { id = formName, autocomplete = "off" }))*@
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.NoReg)
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.SectionID)
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.NRM)
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.Nomor)
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.TTDPasien)
        @Html.HiddenFor(Model => Model.SuratPernyataanKenaikanKelas.TTDPetugas)
        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                <div>
                    <p class="text-bold h4 text-center"> SURAT PERNYATAAN KENAIKAN KELAS PERAWATAN</p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Saya yang bertanda dibawah ini :</label>
                    <div class="col-md-2 control-label">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.checkedpasien, new { htmlAttributes = new { onclick = "pernyataankenaikankelaspasien()" } })
                            Pasien
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Nama :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.Nama, new { htmlAttributes = new { @class = "form-control", onchange = "ubahnamamenyatakannaikkelas(this)" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Tgl Lahir :
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.TglLahir, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.TglLahir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Alamat :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        No. Telepon :
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.NoTelp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.NoTelp, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Hubungan Dengan Pasien:
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.HubunganDenganPasien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.HubunganDenganPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <p class="text-justify">Dengan ini menyatakan kenaikan kelas perawatan atas permintaan sendiri dan bersedia membayar selisih biaya yang timbul dari kenaikan kelas perawatan tersebut(tarif INA-CBGs) yang menjadi hak pasien.</p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Petugas Jaga
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SuratPernyataanKenaikanKelas.Perawat, Model.SuratPernyataanKenaikanKelas.Perawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.SuratPernyataanKenaikanKelas.Perawat.ToString(), Text = Model.SuratPernyataanKenaikanKelas.PerawatNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.Perawat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.SuratPernyataanKenaikanKelas.TTDPetugas)" class="btn btn-primary btn-sm @(Model.SuratPernyataanKenaikanKelas.TTDPetugas != null ? "btn-flash" : "")" onclick="clickgambarsuratkenaikan(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.SuratPernyataanKenaikanKelas.TTDPetugas)" class="btn btn-danger btn-sm" onclick="ulanggambarsuratkenaikan(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Menyatakan
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SuratPernyataanKenaikanKelas.Pasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SuratPernyataanKenaikanKelas.Pasien, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.SuratPernyataanKenaikanKelas.TTDPasien)" class="btn btn-primary btn-sm @(Model.SuratPernyataanKenaikanKelas.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambarsuratkenaikan(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.SuratPernyataanKenaikanKelas.TTDPasien)" class="btn btn-danger btn-sm" onclick="ulanggambarsuratkenaikan(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_SuratPernyataanKenaikanKelas_TTDPetugas" name="IMG_SuratPernyataanKenaikanKelas_TTDPetugas" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_SuratPernyataanKenaikanKelas_TTDPasien" name="IMG_SuratPernyataanKenaikanKelas_TTDPasien" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                    @if (Model.SuratPernyataanKenaikanKelas.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratPernyataanKenaikanKelas", new { noreg = Model.SuratPernyataanKenaikanKelas.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.SuratPernyataanKenaikanKelas.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@*JS SELECT*@
<script type="text/javascript">
    var perawat = $('#@formName #SuratPernyataanKenaikanKelas_Perawat');


    perawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function ubahnamamenyatakannaikkelas(t) {
        let namamenaytakannaikkelas = t.value;
        $('#SuratPernyataanKenaikanKelas_Pasien').val(namamenaytakannaikkelas);
    }

    function pernyataankenaikankelaspasien() {
        if ($('#SuratPernyataanKenaikanKelas_checkedpasien').is(':checked')) {
            $('#SuratPernyataanKenaikanKelas_Nama').val('@Model.SuratPernyataanKenaikanKelas.Pasien');
            $('#SuratPernyataanKenaikanKelas_TglLahir').val('@Model.SuratPernyataanKenaikanKelas.TglLahir.Value.ToString("yyyy-MM-dd")');
            $('#SuratPernyataanKenaikanKelas_Alamat').val('@Model.SuratPernyataanKenaikanKelas.AlamatPasien');
            $('#SuratPernyataanKenaikanKelas_NoTelp').val('@Model.SuratPernyataanKenaikanKelas.NoTelp');
        } else {
            $('#SuratPernyataanKenaikanKelas_Nama').val('');
            $('#SuratPernyataanKenaikanKelas_TglLahir').val('');
            $('#SuratPernyataanKenaikanKelas_Alamat').val('');
            $('#SuratPernyataanKenaikanKelas_NoTelp').val('');
        }
    }

    function oncompletecreatexkenaikankelas(xhr, formname, isajax, x_this) {
        try {
            //var result = JSON.parse(xhr.responseText);
            //if (result.IsSuccess) {
            location.reload();
            alertpopup('Data berhasil disimpan', 'success');
            //$('#KenaikanKelasSurat').click();
            //} else {
            //alertpopup('Terjadi masalah saat proses menyimpan' || 'Server Error', 'danger');
            //}
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
    }

    function clickgambarsuratkenaikan(t) {
        $('#IMG_SuratPernyataanKenaikanKelas_' + t.id).click();
    }

    function ulanggambarsuratkenaikan(t) {
        $('#IMG_SuratPernyataanKenaikanKelas_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id + '.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1_1;
    var iGambar2_1;
    var ximg_Gambar1_1 = $('#IMG_SuratPernyataanKenaikanKelas_TTDPetugas');
    var ximg_Gambar2_1 = $('#IMG_SuratPernyataanKenaikanKelas_TTDPasien');

    @if (Model != null)
    {
        if (Model.SuratPernyataanKenaikanKelas.TTDPetugas != null)
        {
            @:ximg_Gambar1_1.attr('src', 'data:image/jpeg;base64,@(Model.SuratPernyataanKenaikanKelas.TTDPetugas)');
        }
        if (Model.SuratPernyataanKenaikanKelas.TTDPasien != null)
        {
            @:ximg_Gambar2_1.attr('src', 'data:image/jpeg;base64,@(Model.SuratPernyataanKenaikanKelas.TTDPasien)');
        }
    }

    $(document).ready(function () {
        iGambar1_1 = new iPainter_V2(false, ximg_Gambar1_1);
        iGambar2_1 = new iPainter_V2(false, ximg_Gambar2_1);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.SuratPernyataanKenaikanKelas.TTDPetugas)');
        var imges2 = $('#IMG_@nameof(Model.SuratPernyataanKenaikanKelas.TTDPasien)');
        iGambar1_1 = new iPainter_V2(imges1);
        iGambar2_1 = new iPainter_V2(imges2);
    }

    function SubmitForm2(e) {
        try {
            iGambar1_1.convert_V2('SuratPernyataanKenaikanKelas_TTDPetugas');
            iGambar2_1.convert_V2('SuratPernyataanKenaikanKelas_TTDPasien');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>



