﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "AsuhanGiziTerapiMonitoringEvaluasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_AsuhanGiziHD = $"frm_table_detailAsuhanGiziTerapiMonitoringEvaluasi";
    int d_idx_AsuhanGiziHD = 0;
    var d_trg_AsuhanGiziHD = $"input_target_detailAsuhanGiziTerapiMonitoringEvaluasi";
    if (Model != null)
    {
        if (Model.AsuhanGiziTrpEvlsi != null)
        {
            if (Model.AsuhanGiziTrpEvlsi.Detail_List != null)
            {
                d_idx_AsuhanGiziHD = Model.AsuhanGiziTrpEvlsi.Detail_List.Count();
            }
        }
    }
    #endregion

}
<!--   CSS Table   -->
<style>
    #d_tbl_AsuhanGiziHD thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(1),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(2),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(3),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(4),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(5),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(5) {
        width: 150px;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(6),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(6) {
        width: 130px;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(7),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(7) {
        width: 300px;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(8),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(8) {
        width: 1000px;
    }

    #d_tbl_AsuhanGiziHD thead th:nth-child(9),
    #d_tbl_AsuhanGiziHD tbody td:nth-child(9) {
        width: 200px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }

    #frm_table_detailAsuhanGiziTerapiMonitoringEvaluasi thead th:nth-child(2), #frm_table_detailAsuhanGiziTerapiMonitoringEvaluasi tbody td:nth-child(2) {
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("AsuhanGiziTerapiMonitoringEvaluasi", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateasuhangizihd(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)

            <div class="form-group">
                <label class="control-label col-md-2">Tanggal:</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AsuhanGiziTrpEvlsi.Tanggal != null ? (Model.AsuhanGiziTrpEvlsi.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Tanggal, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">
                    Jam
                </label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.AsuhanGiziTrpEvlsi.Jam != null ? (Model.AsuhanGiziTrpEvlsi.Jam.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Jam, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-12 text-bold">
                    TERAPI GIZI
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Diet Awal :</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.DietAwal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.DietAwal, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Oral, new { htmlAttributes = new { } })
                        Oral
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.NGT, new { htmlAttributes = new { } })
                        NGT
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Puasa, new { htmlAttributes = new { } })
                        Puasa
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Zat Gizi :
                </label>
                @*<div class="col-md-10">
                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.ZatGizi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.ZatGizi, "", new { @class = "text-danger" })
                </div>*@
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Energi :
                </label>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Energi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Energi, "", new { @class = "text-danger" })
                        <label class="input-group-addon">kilokalori</label>
                    </div>
                </div>
                <label class="col-md-1 control-label">
                    Protein :
                </label>
                <div class="col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Protein, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Protein, "", new { @class = "text-danger" })
                        <label class="input-group-addon">gram</label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12 text-bold">MONITORING BB(kg)/ LILA(cm)</div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.BB, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.BB, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12 text-bold">MONITORING BIOKIMIA</div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.Biokimia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Biokimia, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12 text-bold">MONITORING KLINIS</div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Mual, new { htmlAttributes = new { } })
                        Mual
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Muntah, new { htmlAttributes = new { } })
                        Muntah
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Diare, new { htmlAttributes = new { } })
                        Diare
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Konstipasi, new { htmlAttributes = new { } })
                        Konstipasi
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Mengunyah, new { htmlAttributes = new { } })
                        Sulit Mengunyah
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Menelan, new { htmlAttributes = new { } })
                        Sulit Menelan
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Hipertensi, new { htmlAttributes = new { } })
                        Hipertensi
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Odema, new { htmlAttributes = new { } })
                        Odema/Acites
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Lain, new { htmlAttributes = new { } })
                        Lainnya
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.Lain_Ket, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Lain_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-12 text-bold">DIETARY</label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.Dietary, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Dietary, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-md-12 text-bold">EVALUASI TINDAK LANJUT</label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.Evaluasi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.Evaluasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div id="panel_detailCatatanPasienRSPemindahan" class="panel-body detail collapse in"
                     data-index-detail="@d_idx_AsuhanGiziHD">
                    <div class="table-responsive">
                        <table id="d_tbl_AsuhanGiziHD" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center" rowspan="2">
                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_AsuhanGiziHD')">
                                            <i class="icon-plus2"></i>
                                        </a>
                                    </th>
                                    <th rowspan="2"></th>
                                    <th rowspan="2">No</th>
                                    <th rowspan="2">Tanggal</th>
                                    <th rowspan="2">Jam</th>
                                    <th rowspan="2">Dosis</th>
                                    <th colspan="4">MONITORING</th>
                                    <th rowspan="2">EVALUASI TINDAK LANJUT</th>
                                </tr>
                                <tr>
                                    <th class="text-center" colspan="3"></th>
                                    <th>BB(kg)/LILA(cm)</th>
                                    <th></th>
                                    <th>BIOKIMIA</th>
                                    <th>KLINIS (Terkait terapi gizi)</th>
                                    <th>DIETARY Asupan Makan (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.AsuhanGiziTrpEvlsi.Detail_List != null)
                                    {
                                        for (var i = 0; i < Model.AsuhanGiziTrpEvlsi.Detail_List.Count(); i++)
                                        {
                                            <tr>
                                                <!-- Check -->
                                                <td>
                                                    <input type="checkbox" />
                                                </td>

                                                <!-- Delete button -->
                                                <td>
                                                    <a class="text-danger-600"
                                                       onclick="removetr(this)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </td>

                                                <!-- Remove Status -->
                                                <td>
                                                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Remove,
                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                </td>

                                                <!-- No -->
                                                <td>
                                                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.No, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       @readonly = "readonly"
                                                   }
                                               })
                                                </td>

                                                <td>
                                                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Tanggal, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Tanggal != null ? Model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                   }
                                               })
                                                </td>

                                                <!-- 6 -->
                                                <td>
                                                    @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Jam, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "form-control input-sm",
                                                       Value = (Model != null ? (Model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Jam != null ? Model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                   }
                                               })
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.DietTetap, new { htmlAttributes = new { } })
                                                                Diet Tetap
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.PerubahanDiet, new { htmlAttributes = new { } })
                                                                Perubahan Diet
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.PerubahanDiet_Ket, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.BB, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Biokimia, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Mual, new { htmlAttributes = new { } })
                                                                Mual
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Muntah, new { htmlAttributes = new { } })
                                                                Muntah
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Diare, new { htmlAttributes = new { } })
                                                                Diare
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Konstipasi, new { htmlAttributes = new { } })
                                                                Konstipasi
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Mengunyah, new { htmlAttributes = new { } })
                                                                Kesulitan Mengunyah
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Menelan, new { htmlAttributes = new { } })
                                                                Kesulitan menelan
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Hipertensi, new { htmlAttributes = new { } })
                                                                Hipertensi
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Odema, new { htmlAttributes = new { } })
                                                                Odema/ Acietas
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="checkbox checkbox-inline control-label">
                                                                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Lain, new { htmlAttributes = new { } })
                                                                Lain-Lain
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.TextAreaFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Lainnya_Ket, new { @class = "form-control input-sm" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Dietary, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[i].Model.Evaluasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Ahli Gizi
                </label>
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.AsuhanGiziTrpEvlsi.AhliGizi, Model.AsuhanGiziTrpEvlsi.AhliGizi == null ? new List<SelectListItem>() :
            new List<SelectListItem>() { new SelectListItem() { Value = Model.AsuhanGiziTrpEvlsi.AhliGizi.ToString(), Text = Model.AsuhanGiziTrpEvlsi.AhliGiziNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AsuhanGiziTrpEvlsi.AhliGizi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDFAsuhanGiziTerapi","ReportHistory", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }
</script>

<!--  INPUT TABLE RENCANA KERJA  -->
@{
    if (Model != null)
    {

        Model.AsuhanGiziTrpEvlsi.Detail_List = null;
    }
}
<div id="@d_trg_AsuhanGiziHD" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    Delete button
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!--No-->
    <div class="input-detail">
        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Tanggal, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("yyyy-MM-dd") } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Jam, new { htmlAttributes = new { @class = "form-control input-sm", Value = DateTime.Now.ToString("HH':'mm") } })
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.DietTetap, new { })
                Diet Tetap
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.PerubahanDiet, new { })
                Perubahan Diet
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.PerubahanDiet_Ket, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.BB, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Biokimia, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>

    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Mual, new { })
                Mual
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Muntah, new { })
                Muntah
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Diare, new { })
                Diare
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Konstipasi, new { })
                Konstipasi
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Menelan, new { })
                Kesulitan Menelan
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Mengunyah, new { })
                Kesulitan Mengunyah
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Hipertensi, new { })
                Hipertensi
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Odema, new { })
                Odema/ Acietas
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Lain, new { })
                Lain - lain
            </div>
        </div>
    </div>
    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Dietary, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>
    <div class="input-detail">
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.AsuhanGiziTrpEvlsi.Detail_List[-1].Model.Evaluasi, new { htmlAttributes = new { @class = "form-control input-sm" } })
            </div>
        </div>
    </div>
</div>

<script>
    generalDokter("#@formName #AsuhanGiziTrpEvlsi_AhliGizi");

    $(document).ready(function () {

    });
</script>

<script>
    function oncompletecreateasuhangizihd(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#asuhangiziterapihd').click();
    }
</script>
