﻿@using EMRRSBK.Models
@model SuratJawabanKonsulViewModel
@{
    var controllerName = "SuratJawabanKonsul";
    ViewBag.Title = controllerName;
    var formName = $"frm_SuratJawabanKonsul_{controllerName}_create";
    var tableId = $"table_{controllerName}";
    var item = new SuratJawabanKonsulViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.TS_Dr_JawabanKonsul);
    column[4] = nameof(item.TS_Dr_JawabanKonsulNama);
    column[5] = nameof(item.TS_Dr_Konsul);
    column[6] = nameof(item.TS_Dr_KonsulNama);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:center;
        width: 100px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:center;
    }

    #@tableId thead th:nth-child(3){
        text-align:center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:center;
    }

    #@tableId thead th:nth-child(4){
        text-align: center;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    #@tableId thead th:nth-child(5){
        text-align: center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

     #@tableId thead th:nth-child(6){
        text-align: center;
        width: 700px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>


<div class="wall" ng-controller="table" id="list_konsul"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListSuratJawabanKonsultasi","SuratJawabanKonsul")';
     init();
     filter[1] = '@ViewBag.NoBukti';
     ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a id="refreshhsitorykonsul" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                                <!-- Column Sort -->
                                <th rowspan="2" class="middle">Action</th>
                                <th ng-click="ordering($event,'@column[0]')" class="sorting">No</th>
                                <th ng-click="ordering($event,'@column[4]')" class="sorting">Jawaban</th>
                                <th ng-click="ordering($event,'@column[6]')" class="sorting">Konsultasi</th>

                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                class="trdata text-center"
                                data-no="{{data.@column[0]}}"
                                data-noreg="{{data.@column[1]}}">

                                <td style="cursor:default">
                                    <button onclick="editkonsul(this)" data-target-id="{{data.@column[0]}}" data-target-noreg="{{data.@column[1]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                        <i class="icon-pencil7"></i>
                                    </button>
                                    <button onclick="deleteKonsultasi(this)" data-target-id="{{data.@column[0]}}" data-target-noreg="{{data.@column[1]}}" type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                    <a href="@Url.Action("ExportPDFKonsultasiJawabanSatuan","ReportHistory")?no={{data.@column[0]}}&noreg={{data.@column[1]}}" target="_blank"  type="button" class="btn-xs btn border-primary-300 text-primary-300 btn-flat btn-icon btn-rounded"><i class="icon-printer2"></i></a>
                                </td>
                                <td>{{data.@column[0]}}</td>
                                <td>{{data.@column[4]}}</td>
                                <td>{{data.@column[6]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
                <div ng-init="pagesize = 10;"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-body">
                <form id="fm_informnt" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmKonsul(this)">
                    @Html.HiddenFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.SectionID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.TTD_Jawaban, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.TTD_Konsultasi, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />
                    <div class="panel panel-body">
                        <div class="form-group">
                            <label class="col-md-12 h2 text-bold text-center">
                                Konsultasi
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">
                                Kepada Yth.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                TS Dr,
                            </label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.TS_Dr_Konsul, Model.TS_Dr_Konsul == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.TS_Dr_Konsul.ToString(), Text = Model.TS_Dr_KonsulNama } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TS_Dr_Konsul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">
                                Dengan Hormat,
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Kami Konsultasikan pasien diatas dengan
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nama_Pasien_Konsul, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nama_Pasien_Konsul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" col-md-12">
                                Mohon penanganan dan evaluasi lebih lanjut. Atas Kerjasamanya, Kami ucapkan terima kasih
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Petugas
                            </label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Petugas, Model.Petugas == null ? new List<SelectListItem>() :
                       new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas.ToString(), Text = Model.PetugasNama } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Petugas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-10">
                                Tanda Tangan
                            </label>
                            <div class="col-md-2">
                                <a id="@nameof(Model.TTD_Jawaban)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Jawaban != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                                <a id="@nameof(Model.TTD_Jawaban)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                            </div>
                            <div class="col-md-1" style="position:inherit">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-6 text-center">
                                        <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Jawaban" name="IMG_TTD_Jawaban" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="panel panel-body">
                        <div class="form-group">
                            <label class="h2 text-bold text-center">
                                Jawaban Konsultasi
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Kepada Yth.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Dengan Hormat,
                            </label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.TS_Dr_JawabanKonsul, Model.TS_Dr_JawabanKonsul == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.TS_Dr_JawabanKonsul.ToString(), Text = Model.TS_Dr_JawabanKonsulNama } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TS_Dr_JawabanKonsul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                Terima kasih atas konsultasinya, dan berdasarkan hasil pemeriksaan terhadap tersebut, kami dapatkan
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Diagnosa
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Diagnosa_JawabanKonsul, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Diagnosa_JawabanKonsul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Saran Therapy/Tindakan
                            </label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Tindakan_JawabanKonsul, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tindakan_JawabanKonsul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                Petugas
                            </label>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Petugas_Jawaban, Model.Petugas_Jawaban == null ? new List<SelectListItem>() :
                       new List<SelectListItem>() { new SelectListItem() { Value = Model.Petugas_Jawaban.ToString(), Text = Model.Petugas_JawabanNama } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Petugas_Jawaban, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-10">
                                Tanda Tangan
                            </label>
                            <div class="col-md-2">
                                <a id="@nameof(Model.TTD_Konsultasi)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Konsultasi != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                                <a id="@nameof(Model.TTD_Konsultasi)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                            </div>
                            <div class="col-md-1" style="position:inherit">
                                <div class="form-group" style="position:inherit">
                                    <div class="col-md-6 text-center">
                                        <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Konsultasi" name="IMG_TTD_Konsultasi" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body detail collapse in">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>

                                <a href="@Url.Action("ExportPDFSuratJawabanKonsultasi","ReportHistory", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                                   class="btn btn-success" @(Model.NoReg == null ? "disabled" : "")>
                                    <span class="icon icon-printer"></span> Print All
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    generalDokter("#fm_informnt #TS_Dr_Konsul");
    generalDokter("#fm_informnt #TS_Dr_JawabanKonsul");
    generalDokter("#fm_informnt #Petugas_Jawaban");
    generalDokter("#fm_informnt #Petugas");

    function editkonsul(tthis) {
        $.ajax({
            url: '@Url.Action("editInforment", "SuratJawabanKonsul")',
            data: {
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    $('#fm_informnt #_METHOD').val("UPDATE");
                    $('#fm_informnt #No').val(dt.Data.No);
                    $('#fm_informnt #NoReg').val(dt.Data.NoReg);
                    $('#fm_informnt #NRM').val(dt.Data.NRM);
                    $('#fm_informnt #SectionID').val(dt.Data.SectionID);
                    $('#fm_informnt #Nama_Pasien_Konsul').val(dt.Data.Nama_Pasien_Konsul);
                    $('#fm_informnt #Diagnosa_JawabanKonsul').val(dt.Data.Diagnosa_JawabanKonsul);
                    $('#fm_informnt #Tindakan_JawabanKonsul').val(dt.Data.Tindakan_JawabanKonsul);

                    if (dt.Data.TTD_Konsultasi == null) {
                        $('#IMG_TTD_Konsultasi').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Konsultasi').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Konsultasi);
                    }

                    if (dt.Data.TTD_Jawaban == null) {
                        $('#IMG_TTD_Jawaban').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Jawaban').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Jawaban);
                    }


                    var newOption = new Option(dt.Data.TS_Dr_JawabanKonsulNama, dt.Data.TS_Dr_JawabanKonsul, true, true);
                    $('#TS_Dr_JawabanKonsul').append(newOption).trigger('change');

                    var newOption1 = new Option(dt.Data.PetugasNama, dt.Data.Petugas, true, true);
                    $('#Petugas').append(newOption1).trigger('change');

                    var newOption2 = new Option(dt.Data.Petugas_JawabanNama, dt.Data.Petugas_Jawaban, true, true);
                    $('#Petugas_Jawaban').append(newOption2).trigger('change');

                    var newOption3 = new Option(dt.Data.TS_Dr_KonsulNama, dt.Data.TS_Dr_Konsul, true, true);
                    $('#TS_Dr_Konsul').append(newOption3).trigger('change');

                    $('#fm_informnt #TS_Dr_Konsul').css("background", "#fbf1a7");
                    $('#fm_informnt #TS_Dr_JawabanKonsul').css("background", "#fbf1a7");
                    $('#fm_informnt #Petugas').css("background", "#fbf1a7");
                    $('#fm_informnt #Petugas_Jawaban').css("background", "#fbf1a7");
                    $('#fm_informnt #Nama_Pasien_Konsul').css("background", "#fbf1a7");
                    $('#fm_informnt #Diagnosa_JawabanKonsul').css("background", "#fbf1a7");
                    $('#fm_informnt #Tindakan_JawabanKonsul').css("background", "#fbf1a7");

                    alertpopup("Form edit Informed Consent "+ dt.Data.No, 'success');
                }
            }
        });
    }

    function deleteKonsultasi(tthis) {
        $('#_loading').css('display', '');
        $.ajax({
            url: '@Url.Action("Batal", "SuratJawabanKonsul")',
            data: {
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    alertpopup("Berhasil di hapus", 'success');
                    $('#refreshhsitorykonsul').click();
                    $('#_loading').css('display', 'none');
                    var j_modaldel = $('#list_konsul').closest('.modal');
                    j_modaldel.modal('hide');
                }
            }
        });
        $('#SuratJawabanKonsultasi').click();
    }

    function sumitFrmKonsul(tthis) {
        $('#_loading').css('display', '');

        if ($("#saveTemplate").is(":checked")) {
            if ($("#templateName").val() == "" || $("#templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        iGambar1.convert_V2('TTD_Jawaban');
        iGambar2.convert_V2('TTD_Konsultasi');

        $.ajax({
            url: '@Url.Action("SecondCreate", "SuratJawabanKonsul")',
            data:
                $(tthis).serialize()/* + "&img=" + convert + "&imgttd=" + convert2*/,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("gagal disimpan.", 'info');
                    resetFrmKonsul(tthis);
                    $("#refreshhsitorykonsul").click();

                    $('#_loading').css('display', 'none');
                    $('#list_konsul #refreshhsitorykonsul').click();

                }else {
                    alertpopup("berhasil disimpan.", 'success');
                    resetFrmKonsul(tthis);
                    $("#refreshhsitorykonsul").click();
                    $('#_loading').css('display', 'none');

                    var j_modal = $(tthis.closest('.modal'));
                    j_modal.modal('hide');
                  
                }


            }
        });

        $('#SuratJawabanKonsultasi').click();
    }

    angular.element('#@formName').ready(function () {
        var sc = angular.element('#@formName').scope();
            //$('#allperiode').click();
        var nobukti = "@ViewBag.NoBukti";
        angular.element('#list_konsul').scope().filter[1] = nobukti;
        $('#list_konsul #refreshhsitorykonsul').click();
    });

    function resetFrmKonsul(tthis) {
        $(tthis).trigger("reset")
        //$(tthis).find("#DPJP").val('').trigger('change');
    }
</script>
<script>
    function clickgambar(t) {
        $('#IMG_' + t.id).click();
    }

    function ulanggambar(t) {
        $('#IMG_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id + '.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var ximg_Gambar1 = $('#IMG_TTD_Jawaban');
    var ximg_Gambar2 = $('#IMG_TTD_Konsultasi');
    var ximg_Gambar3 = $('#IMG_TTD_Petugas');

    @if (Model != null)
    {
        if (Model.TTD_Jawaban != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Jawaban)');
        }
        if (Model.TTD_Konsultasi != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Konsultasi)');
        }
        if (Model.TTD_Petugas != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Petugas)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(true, ximg_Gambar1);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);
        iGambar3 = new iPainter_V2(true, ximg_Gambar3);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.TTD_Jawaban)');
        var imges2 = $('#IMG_@nameof(Model.TTD_Konsultasi)');
        iGambar1 = new iPainter_V2(imges1);
        iGambar2 = new iPainter_V2(imges2);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('SuratJwbKonsul_TTD_Jawaban');
            iGambar2.convert_V2('SuratJwbKonsul_TTD_Konsultasi');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

</script>










