﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaKeperawatanGangguanKekuranganNutrisiRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaKeperawatanGangguanKekuranganNutrisiRI_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    #table_rencana thead th:nth-child(1) {
        width: 180px;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RncanaKprwtKkranganNtrs.NoReg)
        @Html.HiddenFor(Model => Model.RncanaKprwtKkranganNtrs.SectionID)
        @Html.HiddenFor(Model => Model.RncanaKprwtKkranganNtrs.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">RENCANA KEPERAWATAN GANGGUAN KEKURANGAN NUTRISI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RncanaKprwtKkranganNtrs.Jam != null ? Model.RncanaKprwtKkranganNtrs.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="table_rencana" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tgl</th>
                                    <th>Diagnosa Keperawatan</th>
                                    <th>Tujuan</th>
                                    <th>Rencana TIndakan</th>
                                    <th>Paraf/ Nama Terang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.RncanaKprwtKkranganNtrs.Tanggal != null ? (Model.RncanaKprwtKkranganNtrs.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.Tanggal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                <b>Risiko/ Gangguan pemenuhan nutrisi kurang dari kebutuhan tubuh</b> berhubungan dengan:
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Mual, new { htmlAttributes = new { } })
                                                    Mual/ Muntah
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_PenyakitKronis, new { htmlAttributes = new { } })
                                                    Penyakit Kronis
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Kesulitan, new { htmlAttributes = new { } })
                                                    Kesulitan Menelan dan mengunyah
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Intoleransi, new { htmlAttributes = new { } })
                                                    Intoleransi makanan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Kebutuhan, new { htmlAttributes = new { } })
                                                    Kebutuhan metabolic tinggi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Hilangnya, new { htmlAttributes = new { } })
                                                    Hilangnnya nafsu makan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Resiko_Kurang, new { htmlAttributes = new { } })
                                                    Kurang informasi tentang asupan nutrisi
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DS :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Merasakan, new { htmlAttributes = new { } })
                                                    Merasakan keridakanmampuan untuk menelan makanan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Melaporakan, new { htmlAttributes = new { } })
                                                    Melaporkan tidak mampu menghabiskan porsi makanan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_MerasaKenyang, new { htmlAttributes = new { } })
                                                    Merasakan kenyang segera setelah menelan makanan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Penurunan, new { htmlAttributes = new { } })
                                                    Penurunan nafsu makan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Mual, new { htmlAttributes = new { } })
                                                    Mual
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Muntah, new { htmlAttributes = new { } })
                                                    Muntah
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya1, new { htmlAttributes = new { } })
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya1_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya1_Ket, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya2, new { htmlAttributes = new { } })
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya2_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.DS_Lainnya2_Ket, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                            <label class="col-md-12">
                                                DO :
                                            </label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_BisingUsus, new { htmlAttributes = new { } })
                                                    Bising usus meningkat/ menurun
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_TonusOtot, new { htmlAttributes = new { } })
                                                    Tonus otot menurun
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_MenolakMakan, new { htmlAttributes = new { } })
                                                    Menolak untuk makan
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_Luka, new { htmlAttributes = new { } })
                                                    Luka, rongga mulut inflamasi
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_PenurunanBB, new { htmlAttributes = new { } })
                                                    Penurunan BB
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_HasilLab, new { htmlAttributes = new { } })
                                                    Hasil Lab
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        Albumin
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_Albumin, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.DO_Albumin, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <label class="input-group-addon">
                                                        Hemogoblin
                                                    </label>
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_Hemogoblin, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.DO_Hemogoblin, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12">Setelah dilakukan tindakan keperawatan</label>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.TindakanKeperawatan1, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.TindakanKeperawatan1, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">x</label>
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.TindakanKeperawatan2, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.TindakanKeperawatan2, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">menit/jam</label>
                                                </div>
                                            </div>
                                            <label class="col-md-12">pasien dapat mempertahankan nutrisi yang adekuat</label>
                                            <label class="col-md-12">Kriteria hasil :</label>
                                            <label class="col-md-2">1.</label>
                                            <div class="col-md-10">
                                                Tidak terjadi penurunan berat badan/ Berat badan meningkat
                                                @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.BBMeningkat, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.BBMeningkat, "", new { @class = "text-danger" })
                                                kg
                                            </div>
                                            <label class="col-md-2">2.</label>
                                            <div class="col-md-10">Menyebutkan kemabli manfaat nutrisi</div>
                                            <label class="col-md-2">3.</label>
                                            <div class="col-md-10">Menyatakan keinginan / toleransi untuk mengikuti diet</div>
                                            <label class="col-md-2">4.</label>
                                            <div class="col-md-10">Nilai laboratorium(misalnya, albumin, hemagoblin dalam batas normal)</div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">Mandiri :</div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_HasilLab, new { htmlAttributes = new { } })
                                                    1. Beri makanan sesuai diet
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_HasilLab, new { htmlAttributes = new { } })
                                                    2. Sajikan makanan menarik dan hangat
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.DO_HasilLab, new { htmlAttributes = new { } })
                                                    3. Pantau status nutrisi(BB, TB, lila, tinggi lutut) tiap
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Mandiri_3_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.Mandiri_3_Ket, "", new { @class = "text-danger" })
                                                    <label class="input-group-addon">jam</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Mandiri_4, new { htmlAttributes = new { } })
                                                    4. Tentukan kemampuan pasienuntuk memenuhi kebutuhan nutrisi/ residu(pada anak)
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Mandiri_5, new { htmlAttributes = new { } })
                                                    5. Berikan informasi yang tepat tentang kebutuhan nutrisi dan bagaimana memenuhinya.
                                                </label>
                                            </div>
                                            <label class="col-md-12">Kolaborasi :</label>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Kolaborasi_1, new { htmlAttributes = new { } })
                                                    1. Ahli gizi dalam menentukan Kebutuhan nutrisi, diet dan pemberian informasi kepada pasien
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.Kolaborasi_2, new { htmlAttributes = new { } })
                                                    2. Kolaborasi dengan dokter untuk pemantauan nilai laboratorium, khususnya teransferin, albumin dan elektrolit
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.RncanaKprwtKkranganNtrs.NamaPasien, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RncanaKprwtKkranganNtrs.NamaPasien, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RncanaKprwtKkranganNtrs.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaKeperawatanKekuranganNutrisi", new { noreg = Model.RncanaKprwtKkranganNtrs.NoReg, Model.RncanaKprwtKkranganNtrs.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RncanaKprwtKkranganNtrs.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>











