﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "CatatanPemindahanPasienAntaraRS";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_CatatanPasienRSPemindahan = $"frm_table_detailCatatanPemindahanPasienAntaraRS";
    int d_idx_CatatanPasienRSPemindahan = 0;
    var d_trg_CatatanPasienRSPemindahan = $"input_target_detailCatatanPemindahanPasienAntaraRS";
    if (Model != null)
    {
        if (Model.CPPARS != null)
        {
            if (Model.CPPARS.Rekom_List != null)
            {
                d_idx_CatatanPasienRSPemindahan = Model.CPPARS.Rekom_List.Count();
            }
        }
    }
    #endregion

}
<!--   CSS Table   -->
<style>
         #@d_tbl_CatatanPasienRSPemindahan thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(1),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(2),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(2){
            width: 60px;
            text-align:center;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(3),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(3){
            display:none;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(4),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(4){
             width:80px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(5),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(5){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(6),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(6){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(7),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(7){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(8),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(8){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(9),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(9){
            width:200px;
        }
        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(10),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(10){
            width:200px;
        }
        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(11),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(11){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(12),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(12){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(13),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(13){
            width:200px;
        }

        #@d_tbl_CatatanPasienRSPemindahan thead th:nth-child(14),
        #@d_tbl_CatatanPasienRSPemindahan tbody td:nth-child(14){
            width:200px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepemindahanpasien(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)

            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    SITUATION
                </label>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-12">
                    Pemindahan Pasien
                </label>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal:</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.PemindahanPasien_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.PemindahanPasien_Tanggal != null ? (Model.CPPARS.PemindahanPasien_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.PemindahanPasien_Tanggal, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">
                    Pukul
                </label>
                <div class="col-md-1">
                    @Html.EditorFor(model => model.CPPARS.PemindahanPasien_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.PemindahanPasien_Jam != null ? (Model.CPPARS.PemindahanPasien_Jam.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.PemindahanPasien_Jam, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Dari RS :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.PemindahanPasien_DariRS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.PemindahanPasien_DariRS, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Ke RS :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.PemindahanPasien_KeRS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.PemindahanPasien_KeRS, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Contact person :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.ContactPerson, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1">No. HP :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.NoHp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.NoHp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Dokter Merawat :
                </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CPPARS.DokterMerawat, Model.CPPARS.DokterMerawat == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPPARS.DokterMerawat.ToString(), Text = Model.CPPARS.DokterMerawatNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.DokterMerawat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Diagnosa Dokter :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPPARS.DiagnosaMedis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.DiagnosaMedis, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Prosedur Pembedahan/invasif yang dilakukan :</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CPPARS.ProcedurPembedahan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.ProcedurPembedahan, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-1">Tanggal :</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.ProcedurPembedahan_Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.ProcedurPembedahan_Tanggal != null ? (Model.CPPARS.ProcedurPembedahan_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.ProcedurPembedahan_Tanggal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Masalah keperawatan utama saat ini :</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CPPARS.MasalahKeperawatan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.MasalahKeperawatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Kondisi pasien saat dipindahkan :</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CPPARS.KondisiPasien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.KondisiPasien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    BACKGROUND
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat alergi / Reaksi Obat :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalergi()" })
                    @Html.ValidationMessageFor(model => model.CPPARS.RiwayatAlergi, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.CPPARS.RiwayatAlergi_Ket, new { htmlAttributes = new { @class = "form-control hidden" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.RiwayatAlergi_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Riwayat rekasi :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPPARS.RiwayatRekasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.RiwayatRekasi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Intervensi medik / keperawatan :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPPARS.Keperawatan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.Keperawatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Hasil Investigasi abnormal :</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPPARS.HasilIntervensiAbnormal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.HasilIntervensiAbnormal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Kewaspadaan / precaution :</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CPPARS.Kewaspadaan, StaticModel.ListKewaspadaan, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.Kewaspadaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    ASSEMENT
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Observasi terakhir pukul:
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.ObservasiPukul, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.ObservasiPukul != null ? (Model.CPPARS.ObservasiPukul.Value.ToString("HH:mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.ObservasiPukul, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">
                    Tingkat Kesadaran:
                </label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CPPARS.TingkatKesadaran, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.TingkatKesadaran, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="input-group">
                        <label class="input-group-addon">
                            GCS : E
                        </label>
                        @Html.EditorFor(model => model.CPPARS.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.TingkatKesadaran, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            V
                        </label>
                        @Html.EditorFor(model => model.CPPARS.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.GCS_V, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            M
                        </label>
                        @Html.EditorFor(model => model.CPPARS.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.GCS_M, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Pupil & Reaksi cahaya : Kanan
                        </label>
                        @Html.EditorFor(model => model.CPPARS.PupilKanan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.PupilKanan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            Kiri
                        </label>
                        @Html.EditorFor(model => model.CPPARS.PupilKiri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.PupilKiri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            TD
                        </label>
                        @Html.EditorFor(model => model.CPPARS.TD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.TD, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            mmHg
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            N
                        </label>
                        @Html.EditorFor(model => model.CPPARS.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.Nadi, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                        @Html.DropDownListFor(model => model.CPPARS.Nadi_TeraturTidak, StaticModel.ListNadiiii, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CPPARS.Nadi_TeraturTidak, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            RR
                        </label>
                        @Html.EditorFor(model => model.CPPARS.RR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.RR, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            x/mnt
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            SUHU
                        </label>
                        @Html.EditorFor(model => model.CPPARS.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.Suhu, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            <sub>o</sub>C
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Skala Nyeri
                        </label>
                        @Html.EditorFor(model => model.CPPARS.SkalaNyeri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.SkalaNyeri, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Diet/Nutrisi :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.Diet_Oral, new { htmlAttributes = new { } })
                        Oral
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.Diet_NGT, new { htmlAttributes = new { } })
                        NGT
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPPARS.Diet_Batasan, new { htmlAttributes = new { } })
                            Batasan cairan
                        </label>
                        @Html.EditorFor(model => model.CPPARS.Diet_Batasan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.Diet_Batasan_Ket, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            cc
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPPARS.Diet_Khusus, new { htmlAttributes = new { } })
                            Diet khusus, jelaskan
                        </label>
                        @Html.EditorFor(model => model.CPPARS.Diet_Khusus_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.Diet_Khusus_Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAB :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.BAB_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.BAB_Heustomy, new { htmlAttributes = new { } })
                        Heustomy/colostomy
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.BAB_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia alvi
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    BAK :
                </label>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.BAK_Normal, new { htmlAttributes = new { } })
                        Normal
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.CPPARS.BAK_Inkontinensia, new { htmlAttributes = new { } })
                        Inkontinensia urine
                    </label>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="checkbox checkbox-inline input-group-addon">
                            @Html.EditorFor(model => model.CPPARS.BAK_Kateter, new { htmlAttributes = new { } })
                            Kateter, Jenis Kateter
                        </label>
                        @Html.EditorFor(model => model.CPPARS.BAK_Kateter_Ket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.BAK_Kateter_Ket, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            No Kateter :
                        </label>
                        @Html.EditorFor(model => model.CPPARS.NoKateter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.NoKateter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Tgl.Pemasangan
                </label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.TglPemasangan, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.TglPemasangan != null ? (Model.CPPARS.TglPemasangan.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.TglPemasangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Alat Bantu :
                </label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.AlatBantu, StaticModel.Listalatbantu, new { @class = "form-control", onchange = "alatbantu()" })
                    @Html.ValidationMessageFor(model => model.CPPARS.AlatBantu, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.CPPARS.AlatBantu_Ket, new { htmlAttributes = new { @class = "form-control hidden" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.AlatBantu_Ket, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Infus :</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.Infus, StaticModel.ListYaTidak, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.Infus, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1">Lokasi</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.CPPARS.InfusLokasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.InfusLokasi, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-2">Tanggal Pemasangan</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CPPARS.InfusTanggalPemasangan, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.TglPemasangan != null ? (Model.CPPARS.TglPemasangan.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.CPPARS.InfusTanggalPemasangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    RECOMENDATIONS
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana Pemeriksaan lab / ladiologi:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPPARS.RencanaPemeriksaan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.RencanaPemeriksaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--  Table Rencana Kerja Dokter  -->
            <div class="form-group">
                <div id="panel_detailCatatanPasienRSPemindahan" class="panel-body detail collapse in"
                     data-index-detail="@d_idx_CatatanPasienRSPemindahan">
                    <div class="table-responsive">
                        <table id="@d_tbl_CatatanPasienRSPemindahan" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" onclick="checkall(this)" />
                                    </th>
                                    <th class="text-center" rowspan="2">
                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_CatatanPasienRSPemindahan')">
                                            <i class="icon-plus2"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th>No</th>
                                    <th>Therapy</th>
                                    <th>Dosis</th>
                                    <th>Waktu Pemberian</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.CPPARS.Rekom_List != null)
                                    {
                                        for (var i = 0; i < Model.CPPARS.Rekom_List.Count(); i++)
                                        {
                                <tr>
                                    <!-- Check -->
                                    <td>
                                        <input type="checkbox" />
                                    </td>

                                    <!-- Delete button -->
                                    <td>
                                        <a class="text-danger-600"
                                           onclick="removetr(this)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>

                                    <!-- Remove Status -->
                                    <td>
                                        @Html.EditorFor(model => model.CPPARS.Rekom_List[i].Remove,
                                   new { htmlAttributes = new { @class = "disable-reset" } })
                                    </td>

                                    <!-- No -->
                                    <td>
                                        @Html.EditorFor(model => model.CPPARS.Rekom_List[i].Model.No, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm",
                                           @readonly = "readonly"
                                       }
                                   })
                                    </td>

                                    <!-- Terapi -->
                                    <td>
                                        @Html.EditorFor(model => model.CPPARS.Rekom_List[i].Model.Terapi, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </td>

                                    <!-- Dosis -->
                                    <td>
                                        @Html.EditorFor(model => model.CPPARS.Rekom_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.CPPARS.Rekom_List[i].Model.JamPemberian, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control input-sm",
                                           Value = (Model != null ? (Model.CPPARS.Rekom_List[i].Model.JamPemberian != null ? Model.CPPARS.Rekom_List[i].Model.JamPemberian.Value.ToString("HH':'mm") : "") : "")
                                       }
                                   })
                                    </td>
                                </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">
                    Rencana tindakan lebih lanjut:
                </label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CPPARS.RencanaTindakanLanjutan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.RencanaTindakanLanjutan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 text-italic text-bold">
                    Note : Jumlah Obat, barang dan dokumen yang disertakan
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil lab
                        </label>
                        @Html.EditorFor(model => model.CPPARS.HasilLab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.HasilLab, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil USG
                        </label>
                        @Html.EditorFor(model => model.CPPARS.HasilUSG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.HasilUSG, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Hasil EKG
                        </label>
                        @Html.EditorFor(model => model.CPPARS.HasilEKG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.HasilEKG, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Foto Rontgen
                        </label>
                        @Html.EditorFor(model => model.CPPARS.FotoRontgen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.FotoRontgen, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            CT Scan
                        </label>
                        @Html.EditorFor(model => model.CPPARS.CTScan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPPARS.CTScan, "", new { @class = "text-danger" })
                        <label class="input-group-addon">
                            lembar
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Kondisi terakhir Pasien :
                </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <label class="input-group-addon">
                            Jam
                        </label>
                        @Html.EditorFor(model => model.CPPARS.JamKondisiPasien, new { htmlAttributes = new { @class = "form-control", Value = (Model.CPPARS.JamKondisiPasien != null ? (Model.CPPARS.JamKondisiPasien.Value.ToString("HH:mm")) : "") } })
                        @Html.ValidationMessageFor(model => model.CPPARS.JamKondisiPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Alasan dipindahkan :
                </label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CPPARS.Alasan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPPARS.Alasan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    Dokter Merawat
                </label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.NamaDPJP, Model.CPPARS.NamaDPJP == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPPARS.NamaDPJP.ToString(), Text = Model.CPPARS.NamaDPJPNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.NamaDPJP, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-2">
                    Perawat Diserahkan
                </label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.NamaPerawat1, Model.CPPARS.NamaPerawat1 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPPARS.NamaPerawat1.ToString(), Text = Model.CPPARS.NamaPerawat1Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.NamaPerawat1, "", new { @class = "text-danger" })
                </div>
                <label class="control-label col-md-2">
                    Perawat Diterima
                </label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.CPPARS.NamaPerawat2, Model.CPPARS.NamaPerawat2 == null ? new List<SelectListItem>() : new List<SelectListItem>()
                    { new SelectListItem() { Value = Model.CPPARS.NamaPerawat2.ToString(), Text = Model.CPPARS.NamaPerawat2Nama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CPPARS.NamaPerawat2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDFCatatanPemindahanPasienAntaraRS", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

<!--  INPUT TABLE RENCANA KERJA  -->
@{
    if (Model != null)
    {

        Model.CPPARS.Rekom_List = null;
    }
}
<div id="@d_trg_CatatanPasienRSPemindahan" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    Delete button
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPPARS.Rekom_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!--No-->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPPARS.Rekom_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <!-- Terapi -->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPPARS.Rekom_List[-1].Model.Terapi, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <!--Dosis-->
    <div class="input-detail">
        @Html.EditorFor(model => model.CPPARS.Rekom_List[-1].Model.Dosis, new { htmlAttributes = new { @class = "form-control input-sm" } })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.CPPARS.Rekom_List[-1].Model.JamPemberian, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>
</div>

<!--  Select 2  -->
<script type="text/javascript">

    var dokter = $('#CPPARS_DokterMerawat');
    var dpjp = $('#CPPARS_NamaDPJP');
    var namaperawat1 = $('#CPPARS_NamaPerawat1');
    var namaperawat2 = $('#CPPARS_NamaPerawat2');



    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dpjp.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    namaperawat1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    namaperawat2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function alatbantu() {
        if ($("#CPPARS_AlatBantu option:selected").val() == 'Lainnya') {
            $('#CPPARS_AlatBantu_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_AlatBantu_Ket').addClass('hidden');
            $('#CPPARS_AlatBantu_Ket').val('');
        }
    }

    function riwayatalergi() {
        if ($("#CPPARS_KondisiPasien option:selected").val() == 'Ya') {
            $('#CPPARS_KondisiPasien_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_KondisiPasien_Ket').addClass('hidden');
            $('#CPPARS_KondisiPasien_Ket').val('');
        }
    }

    function nutrisi() {
        if ($("#CPPARS_Circulation_Nutrisi option:selected").val() == 'Muntah') {
            $('#CPPARS_Circulation_Nutrisi_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_Circulation_Nutrisi_Ket').addClass('hidden');
            $('#CPPARS_Circulation_Nutrisi_Ket').val('');
        }
    }

    function penyakitketurunan() {
        if ($("#CPPARS_RiwayatPenyakitKeturunan option:selected").val() == 'Ada') {
            $('#CPPARS_RiwayatPenyakitKeturunan_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_RiwayatPenyakitKeturunan_Ket').addClass('hidden');
            $('#CPPARS_RiwayatPenyakitKeturunan_Ket').val('');
        }
    }

    function penyakitmenular() {
        if ($("#CPPARS_RiwayatPenyakitMenular option:selected").val() == 'Ada') {
            $('#CPPARS_RiwayatPenyakitMenular_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_RiwayatPenyakitMenular_Ket').addClass('hidden');
            $('#CPPARS_RiwayatPenyakitMenular_Ket').val('');
        }
    }

    function alergi() {
        if ($("#CPPARS_RiwayatAlergi option:selected").val() == 'Ada') {
            $('#CPPARS_RiwayatAlergi_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_RiwayatAlergi_Ket').addClass('hidden');
            $('#CPPARS_RiwayatAlergi_Ket').val('');
        }
    }

    function pengunaanobat() {
        if ($("#CPPARS_RiwayatPenggunaanObat option:selected").val() == 'Ada') {
            $('#CPPARS_RiwayatPenggunaanObat_Ket').removeClass('hidden');
        } else {
            $('#CPPARS_RiwayatPenggunaanObat_Ket').addClass('hidden');
            $('#CPPARS_RiwayatPenggunaanObat_Ket').val('');
        }
    }

    function skriningpasien() {
        var a
        var b
        if ($("#CPPARS_SkriningPasien_a option:selected").val() == 'Ya') {
            a = 1;
        } else if ($("#CPPARS_SkriningPasien_a option:selected").val() == 'Tidak') {
            a = 0;
        }

        if ($("#CPPARS_SkriningPasien_b option:selected").val() == 'Ya') {
            b = 1;
        } else if ($("#CPPARS_SkriningPasien_b option:selected").val() == 'Tidak') {
            b = 0;
        }

        if (a == 0 && b == 0) {
            $('#CPPARS_SkriningPasien_TotalSkor').val('Tidak Beresiko')
        } else if (a == 0 && b == 1) {
            $('#CPPARS_SkriningPasien_TotalSkor').val('Resiko Rendah')
        } else if (a == 1 && b == 0) {
            $('#CPPARS_SkriningPasien_TotalSkor').val('Resiko Rendah')
        } else if (a == 1 && b == 1) {
            $('#CPPARS_SkriningPasien_TotalSkor').val('Resiko Tinggi')
        }
    }

    function edukasilainnya() {
        if ($('#CPPARS_Lainlain').is(':checked')) {
            $('#CPPARS_Lainlain_Ket').prop('disabled', false);
        }
    }

    function dipulangkan() {
        if ($("#CPPARS_Dipulangkan option:selected").val() == 'Ya') {
            $('#CPPARS_Dipulangkan_KIE').prop('disabled', false);
            $('#CPPARS_Dipulangkan_ObatPulang').prop('disabled', false);
            $('#CPPARS_Dipulangkan_FotoRontgen').prop('disabled', false);
            $('#CPPARS_Dipulangkan_Laboratorium').prop('disabled', false);
            $('#CPPARS_Dipulangkan_KontrolPoli').prop('disabled', false);
            $('#CPPARS_Dipulangkan_KondisiPulang').prop('disabled', false);
        } else {
            $('#CPPARS_Dipulangkan_KIE').prop('disabled', true);
            $('#CPPARS_Dipulangkan_KIE').prop('checked', false);
            $('#CPPARS_Dipulangkan_ObatPulang').prop('disabled', true);
            $('#CPPARS_Dipulangkan_ObatPulang').prop('checked', false);
            $('#CPPARS_Dipulangkan_FotoRontgen').prop('disabled', true);
            $('#CPPARS_Dipulangkan_FotoRontgen').prop('checked', false);
            $('#CPPARS_Dipulangkan_Laboratorium').prop('disabled', true);
            $('#CPPARS_Dipulangkan_Laboratorium').prop('checked', false);
            $('#CPPARS_Dipulangkan_KontrolPoli').prop('disabled', true);
            $('#CPPARS_Dipulangkan_KontrolPoli').prop('checked', false);
            $('#CPPARS_Dipulangkan_KondisiPulang').prop('disabled', true);
            $('#CPPARS_Dipulangkan_KondisiPulang').prop('checked', false);
        }
    }

    function dikonsulkan() {
        if ($("#CPPARS_Dikonsulkan option:selected").val() == 'Ya') {
            $('#CPPARS_Dikonsulkan_MRS').prop('disabled', false);
            $('#CPPARS_Dikonsulkan_DokterSpesialis').prop('disabled', false);
        } else {
            $('#CPPARS_Dikonsulkan_MRS').prop('disabled', true);
            $('#CPPARS_Dikonsulkan_MRS').prop('checked', false);
            $('#CPPARS_Dikonsulkan_DokterSpesialis').prop('disabled', true);
            $('#CPPARS_Dikonsulkan_DokterSpesialis').prop('checked', false);
            $('#CPPARS_Dikonsulkan_MRS_Ket').val('');
            $('#CPPARS_RiwayatAlergi_Ket').val('');
        }
    }

    function dikonsulkandll() {
        if ($('#CPPARS_Dikonsulkan_MRS').is(':checked')) {
            $('#CPPARS_Dikonsulkan_MRS_Ket').prop('disabled', false);
        } else {
            $('#CPPARS_Dikonsulkan_MRS_Ket').prop('disabled', true);
            $('#CPPARS_Dikonsulkan_MRS_Ket').val('');
        }
    }

    function dikonsulkandllspesialis() {
        if ($('#CPPARS_Dikonsulkan_DokterSpesialis').is(':checked')) {
            $('#CPPARS_Dikonsulkan_DokterSpesialis_Ket').prop('disabled', false);
        } else {
            $('#CPPARS_Dikonsulkan_DokterSpesialis_Ket').prop('disabled', true);
            $('#CPPARS_Dikonsulkan_DokterSpesialis_Ket').val('');
        }
    }

    function meninggal() {
        if ($("#CPPARS_Meninggal option:selected").val() == 'Ya') {
            $('#CPPARS_Meninggal_JamMeninggal').prop('disabled', false);
        } else {
            $('#CPPARS_Meninggal_JamMeninggal').val('');
            $('#CPPARS_Meninggal_JamMeninggal').prop('disabled', true);
        }
    }

    function minggat() {
        if ($("#CPPARS_Minggat option:selected").val() == 'Ya') {
            $('#CPPARS_Minggat_JamMinggat').prop('disabled', false);
            $('#CPPARS_Minggat_Satpam').prop('disabled', false);
            $('#CPPARS_Minggat_MOD').prop('disabled', false);
            $('#CPPARS_Minggat_Supervisi').prop('disabled', false);
            $('#CPPARS_Minggat_Humas').prop('disabled', false);
        } else {
            $('#CPPARS_Minggat_JamMinggat').val('');
            $('#CPPARS_Minggat_JamMinggat').prop('disabled', true);
            $('#CPPARS_Minggat_Satpam').prop('disabled', true);
            $('#CPPARS_Minggat_Satpam').prop('checked', false);
            $('#CPPARS_Minggat_MOD').prop('disabled', true);
            $('#CPPARS_Minggat_MOD').prop('checked', false);
            $('#CPPARS_Minggat_Supervisi').prop('disabled', true);
            $('#CPPARS_Minggat_Supervisi').prop('checked', false);
            $('#CPPARS_Minggat_Humas').prop('disabled', true);
            $('#CPPARS_Minggat_Humas').prop('checked', false);
        }
    }

    $(document).ready(function () {
        riwayatalergi();
        alatbantu();

    });
</script>

<script>
    function oncompletecreatepemindahanpasien(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#CatatanPemindahanPasienAntarRumahSakit').click();
    }

</script>