﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RujukanPenderita";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreaterjkpenderita(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)


            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    RUJUKAN PENDERITA
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Kepada yth :
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.RjkPenderita.Yth, Model.RjkPenderita.Yth == null ? new List<SelectListItem>() :
            new List<SelectListItem>() { new SelectListItem() { Value = Model.RjkPenderita.Yth, Text = Model.RjkPenderita.YthNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Yth, "", new { @class = "text-danger" })
                </div>
                <label class="col-md-1">Di :</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.RjkPenderita.Di, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Di, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 ">
                    Mohon pemeriksaan/perawatan/pengobatan lebih lanjut penderita
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.NamaPenderita, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.NamaPenderita, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Umur :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.UmurPenderita, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.UmurPenderita, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Jenis Kelamin :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.JKPenderita, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.RjkPenderita.JKPenderita == "F" ? "Perempuan" : Model.RjkPenderita.JKPenderita == "M" ? "Laki- Laki" : "") } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.JKPenderita, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.AlamatPenderita, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.AlamatPenderita, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Pekerjaan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Pekerjaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Diagnosa Kerja :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.Diagnosa_Kerja, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Diagnosa_Kerja, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Riwayat Penyakit :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.Riwayat_Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Riwayat_Pekerjaan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Perawatan / Pengobatan yang telah diberikan :</label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.RjkPenderita.Perawatan, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.RjkPenderita.Perawatan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Tanggal :</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.RjkPenderita.TanggalPengirim, new { htmlAttributes = new { @class = "form-control", Value = (Model.RjkPenderita.TanggalPengirim != null ? (Model.RjkPenderita.TanggalPengirim.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.TanggalPengirim, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama Pengirim :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RjkPenderita.NamaPengirim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RjkPenderita.NamaPengirim, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDF", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>


<!--  Select 2  -->
<script type="text/javascript">

    var dokter = $('#RjkPenderita_Yth');
   
    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<script>
    function oncompletecreaterjkpenderita(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#RujukanPenderita').click();
    }

</script>