﻿@using EMRRSBK.Models
@model EWSScorePemantauanViewModel

@{
    var controllerName = "PemantauanMEWSScore";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_mews = $"frm_table_detailMEWS";
    int d_idx_mews = 0;
    var d_trg_mews = $"input_target_detailMEWS";
    if (Model != null)
    {
        if (Model.MEWS_List != null)
        {
            d_idx_mews = Model.MEWS_List.Count();
        }
    }
    #endregion

}

@*   CSS Table 1    *@
<style>

        #@d_tbl_mews thead tr th {
            vertical-align: middle;
            text-align: center;
        }

        #@d_tbl_mews thead th:nth-child(1),
        #@d_tbl_mews tbody td:nth-child(1){
            text-align:center;
            width: 100px;
            display:none;
        }

        #@d_tbl_mews thead th:nth-child(2),
        #@d_tbl_mews tbody td:nth-child(2){
            width: 40px;
            text-align:center;
        }

        #@d_tbl_mews thead th:nth-child(3),
        #@d_tbl_mews tbody td:nth-child(3){
            display:none;
        }

        #@d_tbl_mews thead th:nth-child(4),
        #@d_tbl_mews tbody td:nth-child(4){
            width: 80px;
            display: none;
        }

        #@d_tbl_mews thead th:nth-child(5),
        #@d_tbl_mews tbody td:nth-child(5){
            width: 160px;
        }

        #@d_tbl_mews thead th:nth-child(6),
        #@d_tbl_mews tbody td:nth-child(6){
            width: 105px;
        }

        #@d_tbl_mews thead th:nth-child(7),
        #@d_tbl_mews tbody td:nth-child(7){
            width: 100px;
        }

        #@d_tbl_mews thead th:nth-child(8),
        #@d_tbl_mews tbody td:nth-child(8){
            width: 100px;
        }

        #@d_tbl_mews thead th:nth-child(9),
        #@d_tbl_mews tbody td:nth-child(9){
            width: 140px;
        }

        #@d_tbl_mews thead th:nth-child(10),
        #@d_tbl_mews tbody td:nth-child(10){
            width: 140px;
        }

        #@d_tbl_mews thead th:nth-child(11),
        #@d_tbl_mews tbody td:nth-child(11){
            width: 100px;
        }

        #@d_tbl_mews thead th:nth-child(12),
        #@d_tbl_mews tbody td:nth-child(12){
            width: 100px;
        }

        #@d_tbl_mews thead th:nth-child(13),
        #@d_tbl_mews tbody td:nth-child(13){
            width: 100px;
        }

         #@d_tbl_mews thead th:nth-child(14),
        #@d_tbl_mews tbody td:nth-child(14){
            width: 100px;
        }

         #@d_tbl_mews thead th:nth-child(15),
        #@d_tbl_mews tbody td:nth-child(15){
            width: 300px;
        }

        #@d_tbl_mews thead th:nth-child(16),
        #@d_tbl_mews tbody td:nth-child(16){
            width: 120px;
        }

        #@d_tbl_mews thead th:nth-child(17),
        #@d_tbl_mews tbody td:nth-child(17){
            width: 100px;
        }

        .table {
            table-layout: fixed;
            max-width: 100%;
        }

</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("MEWSScore", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatemews (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        if (Model.MEWS_List != null)
        {
            for (var i = 0; i < Model.MEWS_List.Count(); i++)
            {
                @Html.HiddenFor(Model => Model.MEWS_List[i].Model.TandaTanganDokter)
                @Html.HiddenFor(Model => Model.MEWS_List[i].Model.SectionID)
            }
        }
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-md-12 text-center text-bold">
                                PEMANTAUAN MATERNAL EARLY WARNING SCORE (MEWS)
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiMEWS" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_mews">
                                    <div class="table-responsive">
                                        <table id="@d_tbl_mews" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_mews')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tanggal</th>
                                                    <th>Jam</th>
                                                    <th>RESPIRASI (x/menit)</th>
                                                    <th>TD SISTOLIK (mmHg)</th>
                                                    <th>NADI/HR (Denyut/Menit)</th>
                                                    <th>TEMPERATUR (<sup>o</sup>c)</th>
                                                    <th>SpO<sub>2</sub></th>
                                                    <th>KESADARAN</th>
                                                    <th>SKOR URINE</th>
                                                    <th>TOTAL EWS</th>
                                                    <th>Nama</th>
                                                    <th>Rentang Skor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.MEWS_List != null)
                                                    {
                                                        for (var i = 0; i < Model.MEWS_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.MEWS_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.MEWS_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 5 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.MEWS_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.MEWS_List[i].Model.Tanggal != null ? Model.MEWS_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 6 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.MEWS_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.MEWS_List[i].Model.Jam != null ? Model.MEWS_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var m_1 = StaticModel.ListAEWS_Respirasi;
                                                                    var item_1 = Model.MEWS_List[i].Model.Respirasi;
                                                                    if (item_1 != null)
                                                                    {
                                                                        m_1.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Respirasi).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 7 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Respirasi,
                                                                    m_1, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                @{
                                                                    var m_2 = StaticModel.ListMEWS_TDSistolik;
                                                                    var item_2 = Model.MEWS_List[i].Model.TD_Sistolik;
                                                                    if (item_2 != null)
                                                                    {
                                                                        m_2.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.TD_Sistolik).Selected = true;

                                                                    }
                                                                }


                                                                <!-- 8 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.TD_Sistolik,
                                                                    m_2, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                @{
                                                                    var m_3 = StaticModel.ListMEWS_Nadi;
                                                                    var item_3 = Model.MEWS_List[i].Model.Nadi;
                                                                    if (item_3 != null)
                                                                    {
                                                                        m_3.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Nadi).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 9 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Nadi,
                                                                    m_3, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                @{
                                                                    var m_4 = StaticModel.ListMEWS_Temperatur;
                                                                    var item_4 = Model.MEWS_List[i].Model.Temperatur;
                                                                    if (item_4 != null)
                                                                    {
                                                                        m_4.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Temperatur).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 10 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Temperatur,
                                                                    m_4, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                @{
                                                                    var m_5 = StaticModel.ListMEWS_SPO2;
                                                                    var item_5 = Model.MEWS_List[i].Model.Spo2;
                                                                    if (item_5 != null)
                                                                    {
                                                                        m_5.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Spo2).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 11 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Spo2,
                                                                    m_5, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>


                                                                @{
                                                                    var m_6 = StaticModel.ListMEWS_Kesadaran;
                                                                    var item_6 = Model.MEWS_List[i].Model.Kesadaran;
                                                                    if (item_6 != null)
                                                                    {
                                                                        m_6.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Kesadaran).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 12 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Kesadaran,
                                                                    m_6, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                @{
                                                                    var m_7 = StaticModel.ListMEWS_Urine;
                                                                    var item_7 = Model.MEWS_List[i].Model.Urine;
                                                                    if (item_7 != null)
                                                                    {
                                                                        m_7.FirstOrDefault(x => x.Value == Model.MEWS_List[i].Model.Urine).Selected = true;

                                                                    }
                                                                }

                                                                <!-- 13 -->
                                                                <td>
                                                                    @Html.DropDownListFor(model => model.MEWS_List[i].Model.Urine,
                                                                    m_7, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
                                                                </td>

                                                                <!-- 14 -->
                                                                <td>

                                                                    @Html.EditorFor(model => model.MEWS_List[i].Model.TotalAEWS, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }
                                                               })
                                                                    <!-- 15 -->
                                                                </td>
                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.MEWS_List[i].Model != null)
                                                                    {
                                                                        if (Model.MEWS_List[i].Model.Nama != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.MEWS_List[i].Model.Nama,
                                                                                Text = Model.MEWS_List[i].Model.NamaNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.MEWS_List[i].Model.Nama, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @if (Model.MEWS_List[i].Model.SudahRegDokter == 0)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlmews" class="btn btn-primary disabled" onclick="user_verif_mews({ id: '@Model.MEWS_List[i].Model.Nama', no: '@Model.MEWS_List[i].Model.No', ini: this })" href="finspot:FingerspotVer;@Model.MEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="col-md-2">
                                                                            <a id="btn_dtlmews" class="btn btn-primary" onclick="user_verif_mews({ id: '@Model.MEWS_List[i].Model.Nama', no: '@Model.MEWS_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.MEWS_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                        </div>
                                                                    }
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.MEWS_List[i].Model.RentangSkor, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"

                                                                   }
                                                               })
                                                                    <!-- 15 -->
                                                                </td>


                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFPemantauanMEWSScore", new { noreg = Model.NRM, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NRM == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.MEWS_List != null)
        {
            for (var i = 0; i < Model.MEWS_List.Count; i++)
            {

                    @:customdetailMEWS_Detail(@i, { target: $('#@d_tbl_mews thead a i')[0] }, '@d_trg_mews', false);
            }

        }
    }

    function customdetailMEWS_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiMEWS #MEWS_List_' + index_detail + '__Model_Nama';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>


@{
    if (Model != null)
    {
        Model.MEWS_List = null;
    }
}

<div id="@d_trg_mews" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Respirasi,
      StaticModel.ListMEWS_Respirasi, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.TD_Sistolik,
      StaticModel.ListMEWS_TDSistolik, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Nadi,
      StaticModel.ListMEWS_Nadi, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Temperatur,
      StaticModel.ListMEWS_Temperatur, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Spo2,
      StaticModel.ListMEWS_SPO2, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Kesadaran,
      StaticModel.ListMEWS_Kesadaran, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Urine,
      StaticModel.ListMEWS_Urine, new { @class = "form-control input-sm", onchange = "totalskorMEWS(this)" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Model.TotalAEWS, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.MEWS_List[-1].Model.Nama,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.MEWS_List[-1].Model.RentangSkor, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

</div>

<!--  JS Skor  -->
<script>

    function totalskorMEWS(t) {
        var tr = $($(t).closest('tr'));
        var a = tr.find('td:nth-child(7) option:selected').val() || 0;
        var b = tr.find('td:nth-child(8) option:selected').val() || 0;
        var c = tr.find('td:nth-child(9) option:selected').val() || 0;
        var d = tr.find('td:nth-child(10) option:selected').val() || 0;
        var e = tr.find('td:nth-child(11) option:selected').val() || 0;
        var f = tr.find('td:nth-child(12) option:selected').val() || 0;
        var g = tr.find('td:nth-child(13) option:selected').val() || 0;
        var respirasi = 0;
        var tdsistolik = 0;
        var nadi = 0;
        var temper = 0;
        var spo = 0;
        var kesadaran = 0;
        var skorurine = 0;



        if (a == '35') {
            var respirasi = 3;
        } else if (a == '30') {
            var respirasi = 3;
        } else if (a == '25') {
            var respirasi = 2;
        } else if (a == '20') {
            var respirasi = 1;
        } else if (a == '15') {
            var respirasi = 0;
        } else if (a == '10') {
            var respirasi = 1;
        } else if (a == '5') {
            var respirasi = 2;
        }

        if (b == '210') {
            var tdsistolik = 3;
        } else if (b == '200') {
            var tdsistolik = 3;
        } else if (b == '190') {
            var tdsistolik = 2;
        } else if (b == '180') {
            var tdsistolik = 2;
        } else if (b == '170') {
            var tdsistolik = 2;
        } else if (b == '160') {
            var tdsistolik = 2;
        } else if (b == '150') {
            var tdsistolik = 2;
        } else if (b == '140') {
            var tdsistolik = 1;
        } else if (b == '130') {
            var tdsistolik = 0;
        } else if (b == '120') {
            var tdsistolik = 0;
        } else if (b == '110') {
            var tdsistolik = 0;
        } else if (b == '100') {
            var tdsistolik = 0;
        } else if (b == '90') {
            var tdsistolik = 0;
        } else if (b == '80') {
            var tdsistolik = 1;
        } else if (b == '70') {
            var tdsistolik = 3;
        } else if (b == '60') {
            var tdsistolik = 3;
        } else if (b == '50') {
            var tdsistolik = 3;
        } else if (b == '40') {
            var tdsistolik = 3;
        } else if (b == '30') {
            var tdsistolik = 3;
        }

        if (c == '130') {
            var nadi = 3;
        } else if (c == '120') {
            var nadi = 2;
        } else if (c == '110') {
            var nadi = 2;
        } else if (c == '105') {
            var nadi = 1;
        } else if (c == '100') {
            var nadi = 0;
        } else if (c == '90') {
            var nadi = 0;
        } else if (c == '80') {
            var nadi = 0;
        } else if (c == '75') {
            var nadi = 0;
        } else if (c == '70') {
            var nadi = 1;
        } else if (c == '60') {
            var nadi = 1;
        } else if (c == '50') {
            var nadi = 2;
        } else if (c == '40') {
            var nadi = 2;
        }

        if (d == '39,5') {
            var temper = 3;
        } else if (d == '39') {
            var temper = 3;
        } else if (d == '38,5') {
            var temper = 3;
        } else if (d == '38') {
            var temper = 1;
        } else if (d == '37,5') {
            var temper = 0;
        } else if (d == '37') {
            var temper = 0;
        } else if (d == '36') {
            var temper = 0;
        } else if (d == '35') {
            var temper = 1;
        }

        if (e == '>= 95') {
            var spo = 0;
        } else if (e == '90-94') {
            var spo = 1;
        } else if (e == '88-89') {
            var spo = 2;
        } else if (e == '< 88') {
            var spo = 3;
        }

        if (f == 'Alert') {
            var kesadaran = 0;
        } else if (f == 'Voice') {
            var kesadaran = 1;
        } else if (f == '(Confuses/Agitated)') {
            var kesadaran = 2;
        } else if (f == '(Unconsious/Pain)') {
            var kesadaran = 3;
        }

        if (g == '>= 30 cc/jam') {
            var skorurine = 0;
        } else if (g == '<= 50 ml/2 jam') {
            var skorurine = 1;
        } else if (g == '<= 100 ml/4 jam') {
            var skorurine = 2;
        } else if (g == '<= 10 ml/jam') {
            var skorurine = 3;
        }

        var total = respirasi + tdsistolik + nadi + temper + spo + kesadaran + skorurine;
        var hasil = total.toString();
        tr.find('td:nth-child(14) input').val(hasil);
    }


    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>

<script>
     function user_verif_mews(param) {
         var reStatsDtlMEWS = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#MEWS_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifaews(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlMEWS == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlMEWS == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlMEWS == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlmews').addClass('disabled', true);
                    $('#mews').click();
                }
            }
            ct++;
        });

        function user_checkverifaews(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilMEWS", "PemantauanMEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlMEWS = 1;
                        }
                    }
                    else {
                        reStatsDtlMEWS = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatemews(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#PemantauanMEWS_Detail').click();
    }

</script>

