﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_Assesmenulangnyeri_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_AssmnUlangNyeri = $"frm_table_detailAssmnUlangNyeri";
    int d_idx_AssmnUlangNyeri = 0;
    var d_trg_AssmnUlangNyeri = $"input_target_detailAssmnUlangNyeri";
    if (Model != null)
    {
        if (Model.AssUlngNyri != null)
        {
            if (Model.AssUlngNyri.DetailAssmnUlang_List != null)
            {
                d_idx_AssmnUlangNyeri = Model.AssUlngNyri.DetailAssmnUlang_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_AssmnUlangNyeri thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(1),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(2),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(3),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(4),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(5),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(5) {
        width: 160px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(6),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(6) {
        width: 110px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(7),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(7) {
        width: 110px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(8),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(8) {
        width: 110px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(9),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(9) {
        width: 550px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(10),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(10) {
        width: 150px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(11),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(11) {
        width: 250px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(12),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(12) {
        width: 150px;
        text-align: center;
    }

    #d_tbl_AssmnUlangNyeri thead th:nth-child(13),
    #d_tbl_AssmnUlangNyeri tbody td:nth-child(13) {
        width: 150px;
        text-align: center;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>



<div class="wall" ng-controller="form">

    @using (Html.BeginForm("Assesmenulangnyeri", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.AssUlngNyri.NoReg)
        @Html.HiddenFor(Model => Model.AssUlngNyri.SectionID)
        @Html.HiddenFor(Model => Model.AssUlngNyri.Nomor)
        @Html.HiddenFor(Model => Model.AssUlngNyri.NRM)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ASESMEN ULANG NYERI</label>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailAssUlngNyriObat" class="panel-body detail collapse in"
                             data-index-detail="@d_idx_AssmnUlangNyeri">
                            <div class="table-responsive">
                                <table id="d_tbl_AssmnUlangNyeri" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_AssmnUlangNyeri')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th rowspan="2"></th>
                                            <th rowspan="2">No</th>
                                            <th rowspan="2">Tgl</th>
                                            <th rowspan="2">Pukul</th>
                                            <th rowspan="2">Skor Nyeri</th>
                                            <th rowspan="2">Skor Sedasi</th>
                                            <th colspan="3">Intervensi Farmakologi</th>
                                            <th>Intervensi No</th>
                                            <th rowspan="2">Perawat/Bidan</th>
                                            <th rowspan="2">Waktu Kaji Ulang</th>
                                            <th rowspan="2">Keterangan</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th>Nama Obat</th>
                                            <th></th>
                                            <th>Dosis & Frekuensi</th>
                                            <th>Rute</th>
                                            <th>Farmakologi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.AssUlngNyri.DetailAssmnUlang_List != null)
                                            {
                                                for (var i = 0; i < Model.AssUlngNyri.DetailAssmnUlang_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Tanggal, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Tanggal != null ? Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Jam, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Jam != null ? Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @{
                                                                var m_1 = StaticModel.ListIntensitas;
                                                                var item_1 = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorNyeri;
                                                                if (item_1 != null)
                                                                {
                                                                    m_1.FirstOrDefault(x => x.Value == Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorNyeri).Selected = true;

                                                                }
                                                            }

                                                            @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorNyeri, m_1, new { @class = "form-control input-sm" })

                                                        </td>

                                                        <td>
                                                            @{
                                                                var m_2 = StaticModel.ListSkor_Sedasi;
                                                                var item_2 = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorSedasi;
                                                                if (item_2 != null)
                                                                {
                                                                    m_2.FirstOrDefault(x => x.Value == Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorSedasi).Selected = true;

                                                                }
                                                            }

                                                            @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.SkorSedasi, m_2, new { @class = "form-control input-sm" })

                                                        </td>


                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model != null)
                                                            {
                                                                if (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Obat != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Obat,
                                                                        Text = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.ObatNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Obat, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Dosis, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Rute, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Rute, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @{
                                                                var m_3 = StaticModel.ListFarmakologi;
                                                                var item_3 = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Farmakologi;
                                                                if (item_3 != null)
                                                                {
                                                                    m_3.FirstOrDefault(x => x.Value == Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Farmakologi).Selected = true;

                                                                }
                                                            }

                                                            @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Farmakologi, m_3, new { @class = "form-control input-sm" })

                                                        </td>

                                                        @{
                                                            var _lstparaf = new List<SelectListItem>();
                                                            if (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model != null)
                                                            {
                                                                if (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Bidan != null)
                                                                {
                                                                    _lstparaf.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Bidan,
                                                                        Text = Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.BidanNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Bidan, _lstparaf, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.KajianUlang, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.KajianUlang != null ? Model.AssUlngNyri.DetailAssmnUlang_List[i].Model.KajianUlang.Value.ToString("HH':'mm") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.TextAreaFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Keterangan, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.AssUlngNyri.DetailAssmnUlang_List[i].Model.Keterangan, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssUlngNyri.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssMata", new { noreg = Model.AssUlngNyri.NoReg, sectionid = Model.AssUlngNyri.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssUlngNyri.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--   Select obat   -->

<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.AssUlngNyri.DetailAssmnUlang_List != null)
        {
            for (var i = 0; i < Model.AssUlngNyri.DetailAssmnUlang_List.Count; i++)
            {

                    @:customdetailAssmnUlngNyeriObat_Detail(@i, { target: $('#d_tbl_AssUlngNyriObat thead a i')[0] }, '@d_trg_AssmnUlangNyeri', false);
                    @:customdetailAssmnUlngNyeriParaf_Detail(@i, { target: $('#d_tbl_AssUlngNyriObat thead a i')[0] }, '@d_trg_AssmnUlangNyeri', false);
            }

        }
    }

    function customdetailAssmnUlngNyeriObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailAssUlngNyriObat #AssUlngNyri_DetailAssmnUlang_List_' + index_detail + '__Model_Obat';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailAssmnUlngNyeriParaf_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strparaf = '#panel_detailAssUlngNyriObat #AssUlngNyri_DetailAssmnUlang_List_' + index_detail + '__Model_Bidan';

        $(_strparaf).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

</script>

@{
    if (Model != null)
    {
        Model.AssUlngNyri.DetailAssmnUlang_List = null;
    }
}
<!--   INPUT TABLE  3   -->

<div id="@d_trg_AssmnUlangNyeri" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoidassulangnyeri_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.SkorNyeri,
      StaticModel.ListIntensitas, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.SkorSedasi,
      StaticModel.ListSkor_Sedasi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Obat,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Dosis, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Rute, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Farmakologi,
      StaticModel.ListFarmakologi, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Bidan,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.KajianUlang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.AssUlngNyri.DetailAssmnUlang_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>

<!--   Auto Detail   -->

<script type="text/javascript">

    function autoidassulangnyeri_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>


