﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "LaporanOperasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_LaporanOperasi_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_Intruksi = $"frm_table_detailIntruksi";
    int d_idx_Intruksi = 0;
    var d_trg_Intruksi = $"input_target_detailIntruksi";
    if (Model != null)
    {
        if (Model.LprnOprs != null)
        {
            if (Model.LprnOprs.Intruksi_List != null)
            {
                d_idx_Intruksi = Model.LprnOprs.Intruksi_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_Intruksi thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Intruksi thead th:nth-child(1),
    #d_tbl_Intruksi tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Intruksi thead th:nth-child(2),
    #d_tbl_Intruksi tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Intruksi thead th:nth-child(3),
    #d_tbl_Intruksi tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Intruksi thead th:nth-child(4),
    #d_tbl_Intruksi tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Intruksi thead th:nth-child(5),
    #d_tbl_Intruksi tbody td:nth-child(5) {
        width: 250px;
    }

    #d_tbl_Intruksi thead th:nth-child(6),
    #d_tbl_Intruksi tbody td:nth-child(6) {
        width: 150px;
    }

    #d_tbl_Intruksi thead th:nth-child(7),
    #d_tbl_Intruksi tbody td:nth-child(7) {
        width: 250px;
    }

    #d_tbl_Intruksi thead th:nth-child(8),
    #d_tbl_Intruksi tbody td:nth-child(8) {
        width: 150px;
    }

    #d_tbl_Intruksi thead th:nth-child(9),
    #d_tbl_Intruksi tbody td:nth-child(9) {
        width: 150px;
    }

    #d_tbl_Intruksi thead th:nth-child(10),
    #d_tbl_Intruksi tbody td:nth-child(10) {
        width: 250px;
    }

    #d_tbl_Intruksi thead th:nth-child(11),
    #d_tbl_Intruksi tbody td:nth-child(11) {
        width: 150px;
    }

    #d_tbl_Intruksi thead th:nth-child(12),
    #d_tbl_Intruksi tbody td:nth-child(12) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.LprnOprs.NoReg)
        @Html.HiddenFor(Model => Model.LprnOprs.SectionID)
        @Html.HiddenFor(Model => Model.LprnOprs.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">LAPORAN OPERASI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.LprnOprs.Tanggal != null ? (Model.LprnOprs.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1 col-md-offset-1">
                            Jam :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnOprs.Jam != null ? Model.LprnOprs.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.LprnOprs.NamaPasien != null ? (Model.LprnOprs.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.LprnOprs.JenisKelamin == "F" ? "Perempuan" : Model.LprnOprs.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.NRM, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">Umur :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.LprnOprs.Umur, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Umur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Pangkat/Gol</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LprnOprs.Pangkat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Pangkat, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">NRP/NIP :</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LprnOprs.NRP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.NRP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Kesatuan :</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LprnOprs.Kesatuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Kesatuan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Operator :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.Operator, Model.LprnOprs.Operator == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.Operator.ToString(), Text = Model.LprnOprs.OperatorNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Operator, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Anestesi :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.Anestesi, Model.LprnOprs.Anestesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.Anestesi.ToString(), Text = Model.LprnOprs.AnestesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Anestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Asisten1 :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.Asisten1, Model.LprnOprs.Asisten1 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.Asisten1.ToString(), Text = Model.LprnOprs.Asisten1Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Asisten1, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Penata Anestesi :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.PenataAnestesi, Model.LprnOprs.PenataAnestesi == null ? new List<SelectListItem>() :
                     new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.PenataAnestesi.ToString(), Text = Model.LprnOprs.PenataAnestesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.PenataAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Asisten2 :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.Asisten2, Model.LprnOprs.Asisten2 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.Asisten2.ToString(), Text = Model.LprnOprs.Asisten2Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Asisten2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Perawat Instrumen :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.PerawatInstrumen, Model.LprnOprs.PerawatInstrumen == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.PerawatInstrumen.ToString(), Text = Model.LprnOprs.PerawatInstrumenNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.PerawatInstrumen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Perawat Sirkuler :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LprnOprs.OnLoop, Model.LprnOprs.OnLoop == null ? new List<SelectListItem>() :
                   new List<SelectListItem>() { new SelectListItem() { Value = Model.LprnOprs.OnLoop.ToString(), Text = Model.LprnOprs.OnLoopNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.OnLoop, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Kamar Operasi</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.KamarOperasi, StaticModel.ListStakesResume, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.KamarOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Diagnosa Pre Operatif :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LprnOprs.DiagnosaPre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.DiagnosaPre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Diagnosa Post Operatif :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LprnOprs.DiagnosaPost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.DiagnosaPost, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jenis Anestesi :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.JenisAnestesi, StaticModel.ListJenisAnestesi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.JenisAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Klarifikasi :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.Klasisfikasi, StaticModel.ListKlarifikasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Klasisfikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jaringan yang di Eksis/ Insisi :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnOprs.JaringanYangDieksisi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.JaringanYangDieksisi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Golongan Operasi :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.GolonganOperasi, StaticModel.ListGolonganOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.GolonganOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Pemeriksaan PA :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.PemeriksaanPA, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.PemeriksaanPA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jenis Jaringan :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnOprs.JenisJaringan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.JenisJaringan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Pemeriksaan Cairan:</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.LprnOprs.PemeriksaanCairan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.PemeriksaanCairan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jenis Pemeriksaan :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LprnOprs.JenisPemeriksaan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.JenisPemeriksaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ruang Rawat:</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.LprnOprs.RuangRawat, StaticModel.ListRuangRawat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.RuangRawat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <tr>
                                    <th class="text-center">Mulai Anestesi</th>
                                    <th class="text-center">Operasi di Mulai</th>
                                    <th class="text-center">Operasi Selesai</th>
                                    <th class="text-center">Lama Operasi</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.LprnOprs.MulaiAnestesi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnOprs.MulaiAnestesi != null ? Model.LprnOprs.MulaiAnestesi.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.LprnOprs.MulaiAnestesi, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.LprnOprs.OperasiDiMulai, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnOprs.OperasiDiMulai != null ? Model.LprnOprs.OperasiDiMulai.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.LprnOprs.OperasiDiMulai, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.LprnOprs.OperasiSelesai, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnOprs.OperasiSelesai != null ? Model.LprnOprs.OperasiSelesai.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.LprnOprs.OperasiSelesai, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.LprnOprs.LamaOperasi, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.LprnOprs.LamaOperasi != null ? Model.LprnOprs.LamaOperasi.Value.ToString("HH':'mm") : "") : "") } })
                                            @Html.ValidationMessageFor(model => model.LprnOprs.LamaOperasi, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Laporan Operasi</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.LprnOprs.LaporanOperasi1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LprnOprs.LaporanOperasi1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Komplikasi :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LprnOprs.Komplikasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LprnOprs.Komplikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon control-label">Perdarahan :</label>
                                @Html.EditorFor(model => model.LprnOprs.Perdarahan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LprnOprs.Perdarahan, "", new { @class = "text-danger" })
                                <label class="input-group-addon control-label">cc</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailLprnOprsObat" class="detail collapse in"
                             data-index-detail="@d_idx_Intruksi">
                            <div class="table-responsive">
                                <table id="d_tbl_Intruksi" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Intruksi')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th class="text-center">Intruksi Pasca Operasi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.LprnOprs.Intruksi_List != null)
                                            {
                                                for (var i = 0; i < Model.LprnOprs.Intruksi_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.LprnOprs.Intruksi_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.LprnOprs.Intruksi_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.TextAreaFor(model => model.LprnOprs.Intruksi_List[i].Model.Keterangan,  new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.LprnOprs.Intruksi_List[i].Model.Keterangan, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.LprnOprs.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFLaporanOperasi", new { noreg = Model.LprnOprs.NoReg, Model.LprnOprs.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.LprnOprs.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.LprnOprs.Intruksi_List = null;
    }
}

<div id="@d_trg_Intruksi" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.LprnOprs.Intruksi_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.LprnOprs.Intruksi_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.LprnOprs.Intruksi_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>
</div>

<!--Auto Detail-->
<script type="text/javascript">

    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }


</script>

<!--JS SELECT-->
<script type="text/javascript">
    var operator = $('#@formName #LprnOprs_Operator');
    var asisten1 = $('#@formName #LprnOprs_Asisten1');
    var asisten2 = $('#@formName #LprnOprs_Asisten2');
    var perawat = $('#@formName #LprnOprs_PerawatInstrumen');
    var anestesi = $('#@formName #LprnOprs_Anestesi');
    var penata = $('#@formName #LprnOprs_PenataAnestesi');
    var onloop = $('#@formName #LprnOprs_OnLoop');

    operator.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    asisten1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    asisten2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    perawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    anestesi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    penata.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    onloop.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>







