﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "SuratKeteranganDokter";
    ViewBag.Title = controllerName;
    var formName = $"frm_SuratKeteranganDokter_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatesrtdokter (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.SKDokter.NoReg)
        @Html.HiddenFor(Model => Model.SKDokter.SectionID)
        @Html.HiddenFor(Model => Model.SKDokter.NRM)
        @Html.HiddenFor(Model => Model.SKDokter.TandaTanganDokter)
        @Html.HiddenFor(Model => Model.SKDokter.TandaTangan)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKDokter.Tgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.SKDokter.Tgl != null ? (Model.SKDokter.Tgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.SKDokter.Tgl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">SURAT KETERANGAN DOKTER</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">No Pol</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="input-group-addon">B</label>
                                @Html.EditorFor(model => model.SKDokter.NoPol, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SKDokter.NoPol, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Rumkit</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Yang bertanda tangan dibawah ini menerangkan dengan sesungguhnya bahwa:
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.SKDokter.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKDokter.NamaPasien != null ? (Model.SKDokter.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.SKDokter.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 text-right">
                            <a id="@nameof(Model.SKDokter.TandaTangan)" class="btn btn-primary btn-sm @(Model.SKDokter.TandaTangan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.SKDokter.TandaTangan)" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_SKDokter_TandaTangan" name="IMG_SKDokter_TandaTangan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Umur :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKDokter.UmurThn, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKDokter.UmurThn != 0 ? (Model.SKDokter.UmurThn) : 0) } })
                            @Html.ValidationMessageFor(model => model.SKDokter.UmurThn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKDokter.JenisKelamin, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKDokter.JenisKelamin != null ? (Model.SKDokter.JenisKelamin) : "") } })
                            @Html.ValidationMessageFor(model => model.SKDokter.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Pangkat :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKDokter.Pangkat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKDokter.Pangkat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Kesatuan :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKDokter.Kesatuan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKDokter.Kesatuan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Alamat :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKDokter.Alamat, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKDokter.Alamat != null ? (Model.SKDokter.Alamat) : "") } })
                            @Html.ValidationMessageFor(model => model.SKDokter.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Pada saat diperiksa kesehatannya berbadan</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SKDokter.PadaWaktuDiperiksa, StaticModel.Listcacad, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKDokter.PadaWaktuDiperiksa, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1">untuk :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.SKDokter.PadaWaktuDiperiksa_Untuk, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKDokter.PadaWaktuDiperiksa_Untuk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">CATATAN</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tinggi Badan:</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.SKDokter.TinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SKDokter.TinggiBadan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Berat Badan:</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.SKDokter.BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SKDokter.BeratBadan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Kg</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Pemeriksaan Sinar Tembus:</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SKDokter.PemeriksaanSinarTembus, StaticModel.ListAdaTidakKelainan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKDokter.PemeriksaanSinarTembus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Pemeriksaan laboratorium:</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SKDokter.PemeriksaanLaboratorium, StaticModel.ListAdaTidakKelainan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKDokter.PemeriksaanLaboratorium, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Golongan Darah:</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKDokter.GolonganDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKDokter.GolonganDarah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Buta Warna:</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKDokter.ButaWarna, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKDokter.ButaWarna, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Tanggal dibuat surat :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKDokter.Tgl_SuratKeteranganDokter, new { htmlAttributes = new { @class = "form-control", Value = (Model.SKDokter.Tgl_SuratKeteranganDokter != null ? (Model.SKDokter.Tgl_SuratKeteranganDokter.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.SKDokter.Tgl_SuratKeteranganDokter, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter :
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.SKDokter.Dokter, Model.SKDokter.Dokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.SKDokter.Dokter.ToString(), Text = Model.SKDokter.DokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKDokter.Dokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 text-right">
                            <a id="@nameof(Model.SKDokter.TandaTanganDokter)" class="btn btn-primary btn-sm @(Model.SKDokter.TandaTanganDokter != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.SKDokter.TandaTanganDokter)" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_SKDokter_TandaTanganDokter" name="IMG_SKDokter_TandaTanganDokter" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.SKDokter.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratKeteranganDokter", new { noreg = Model.SKDokter.NoReg, Model.SKDokter.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.SKDokter.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #SKDokter_Dokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_skdokter() {
        var reStatsSKDokter = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SKDokter_Dokter').val();
        var noreg = $('#SKDokter_NoReg').val();
        var section = $('#SKDokter_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifskdokter(noreg, section, user_id);
            if (ct >= limit || reStatsSKDokter == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsSKDokter == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsSKDokter == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_skdokter').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifskdokter(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSKDokter", "VerifSuratKeteranganDokter")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsSKDokter = 1;
                        }
                    }
                    else {
                        reStatsSKDokter = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function clickgambar(t) {
        console.log(t.id);
        console.log(t);
        $('#IMG_SKDokter_' + t.id).click();
    }

    function ulanggambar(t) {
        $('#IMG_SKDokter_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id + '.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_SKDokter_TandaTangan');
    var ximg_Gambar2 = $('#IMG_SKDokter_TandaTanganDokter');

    @if (Model != null)
    {
        if (Model.SKDokter.TandaTangan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.SKDokter.TandaTangan)');
        }
         if (Model.SKDokter.TandaTanganDokter != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.SKDokter.TandaTanganDokter)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(true, ximg_Gambar1);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.SKDokter.TandaTangan)');
        var imges2 = $('#IMG_@nameof(Model.SKDokter.TandaTanganDokter)');
        iGambar1 = new iPainter_V2(imges1);
        iGambar2 = new iPainter_V2(imges2);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('SKDokter_TandaTangan');
            iGambar2.convert_V2('SKDokter_TandaTanganDokter');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function oncompletecreatesrtdokter(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#SuratKeteranganDokter').click();
    }
</script>









