﻿@using Microsoft.AspNet.Identity
@using EMRRSBK.Models
@{
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
    var username = user.GetUserName();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Electronic Medical Record</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    @*<link href="../../../../global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">*@
    <link href="~/Theme/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/pace.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/selects/select2.min.js"></script>
    <!-- /core JS files -->

    <script type="text/javascript" src="~/Theme/js/plugins/velocity/velocity.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/velocity/velocity.ui.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/buttons/spin.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/buttons/ladda.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/pages/components_buttons.js"></script>

    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/js/pages/layout_fixed_native.js"></script>
    <!-- /theme JS files -->

    @Styles.Render("~/Content/ihos/ihos.css")
    <!-- jQuery validate -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- /jQuery validate -->
    <!-- AngularJS -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <!-- /AngularJS -->
    <!--  JS PDF  -->
    @*<script src="~/Scripts/PDFObject/pdfobject.js"></script>*@
    <!--  /JS PDF  -->
    <style>
        .app-name {
            font-size: 18px;
            font-weight: bolder;
            letter-spacing: 3px;
            text-align: center;
        }

        .navbar-brand {
            width: 100%;
            padding: 13px;
        }
    </style>

    <script type="text/javascript">

        function generalDokter(target) {
            var dokter = $(target);
            dokter.select2(select2Config({
                url: "@Url.Action("List", "Dokter")",
                sortBy: 'DokterID',
                sortByType: 'ASC',
                callReturn: function (value) {
                    return {
                        id: value.DokterID,
                        text: value.NamaDOkter
                    };
                }
        }));
        }

        function generalObat(target) {
            var dokter = $(target);
            dokter.select2(select2Config({
                url: "@Url.Action("ListObat", "Dokter")",
                sortBy: 'Nama_Barang',
                sortByType: 'ASC',
                callReturn: function (value) {
                    return {
                        id: value.Kode_Barang,
                        text: value.Nama_Barang
                    };
                }
        }));
        }

        function select2Config(config) {
            return ({
                ajax: {
                    url: config.url,
                    dataType: 'json',
                    type: "POST",
                    delay: 250,
                    data: function (params) {
                        return {
                            sortBy: config.sortBy,
                            sortByType: config.sortByType,
                            pageSize: 30,
                            pageIndex: params.page || 0,
                            filter: ['', params.term, '', '', '']
                        };
                    },
                    processResults: function (data, params) {
                        if (!data.IsSuccess)
                            alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.Pagger.PageIndex + 1;
                            return {
                                results: $.map(data.Table, function (value, indel) { return config.callReturn(value) }),
                                pagination: {
                                    more: (params.page * 30) < data.Pagger.TotalRowCount
                                }
                            };
                        }
                    },
                    cache: true
                }
            });
        }

    </script>
</head>
<body class="navbar-top" ng-app="ihos">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand text-center" href="@Url.Action("Index","Home")">
                @*<img src="~/Theme/images/logo_light.png" alt="">*@
                <span class="app-name">E&nbsp;M&nbsp;R</span>
            </a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a id="sidebarindex" class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                <li class="dropdown">
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Git updates
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>
                                <div class="media-body">
                                    Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                </div>

                                <div class="media-body">
                                    Add full font overrides for popovers and tooltips
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                    <div class="media-annotation">Dec 18, 18:36</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="media-annotation">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>
                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="navbar-text">
                <span class="label bg-success" id="spanSection">
                    @if (Request.Cookies["TipeNamaPelayanan"] != null)
                    {
                        @:Request.Cookies["TipeNamaPelayanan"].Value
                        if (Request.Cookies["SectionNamaPelayanan"] != null)
                        {
                            @: - @Request.Cookies["SectionNamaPelayanan"].Value
                        }
                    }
                </span>
            </p>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="visible-xs-inline-block position-right">Messages</span>
                        <span class="badge bg-warning-400"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            Messages
                        </div>
                        @Html.Partial("_Message")
                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>@username</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("Index", "Manage")"><i class="icon-user-plus"></i> My profile</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-fixed">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left">
                                    @*<img src="~/Theme/images/UserIcon.jpg" class="img-circle img-sm" alt="">*@
                                </a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">@user.FindFirstValue("FullName")</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-user text-size-small"></i> &nbsp;@username
                                    </div>
                                </div>
                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="@Url.Action("Setting", "Home")"><i class="icon-cog3"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            @Html.Partial("_Menu")
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            @if (ViewBag.SidebarContent != null)
            {
                @: @Html.Partial("~/Views/MedicalRecord/SideBarContent.cshtml")
            }
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("Index", "Home")"><i class="icon-home2 position-left"></i> Home</a></li>
                            @if (ViewBag.breadcrumb != null)
                            {
                                foreach (var i in (List<SelectListItem>)ViewBag.breadcrumb)
                                {
                                    if (i.Value == "active")
                                    {
                                        <li class="active">@i.Text</li>
                                    }
                                    else
                                    {
                                        <li><a href="@i.Value">@i.Text</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content" ng-controller="body">
                    @RenderBody()
                    @Html.Partial("_Footer")
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <div id="_modal"></div>
    <!-- /page container -->

    <div id="modalLookup_homeSection" class="modal fade" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <form onsubmit="modalLookup_homeSection_onSubmit(event)">
                <div class="modal-content">
                    <div class="modal-header bg-slate">
                        <h6 class="modal-title">Section</h6>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <select required class="form-control" placeholder="Section">@Html.Raw(@StaticModel.ListSectionCustom)</select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn bg-primary btn-selected">OK <i class="selected-count"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/Scripts/ihos/ihos.js"></script>
    <script>
        //$(function () {
        //    $(".icon-paragraph-justify3").click();
        //});

        document.addEventListener("DOMContentLoaded", function (event) {
            const sectionId = getCookie('SectionIDPelayanan');
            const sectionName = getCookie('SectionNamaPelayanan');
            if (!sectionId) {
                openModalhomeSection();
            } else {
                $('#modalLookup_homeSection select').val(sectionId).trigger('change');
                $('#spanSection').html(`<a href="javascript:openModalhomeSection()" class="badge bg-success">${sectionName}</a>`);
            }
        });

        const modalLookup_homeSection_onSubmit = e => {
            const sectionId = $('#modalLookup_homeSection select').val();
            const sectionName = $('#modalLookup_homeSection select option:selected').html();
            $.ajax({
                url: '@Url.Action("GetData", "Section")',
                type: "GET",
                data: { id: sectionId },
                success: function (response) {
                    var json = JSON.parse(response);
                    if (json.IsSuccess) {
                        setCookie('TipePelayanan', json.Data.TipePelayanan);
                        setCookie('TipeNamaPelayanan', json.Data.TipeNamaPelayanan);
                        setCookie('LoginTipe', json.Data.LoginTipe);
                        setCookie('SectionIDPelayanan', sectionId);
                        setCookie('SectionNamaPelayanan', sectionName);
                        $('#modalLookup_homeSection').modal('hide');
                        window.location.href = '@Url.Action("Index","Home")';
                    }
                }
            });
        };

        const openModalhomeSection = () => {
            $('#modalLookup_homeSection').modal({ backdrop: 'static' });
        }

        $('#modalLookup_homeSection select').select2();
    </script>
</body>
</html>