﻿@using EMRRSBK.Models
@using iHos.MVC.Converter
@using Newtonsoft.Json
@{
    var target = ViewData["target"];
    var modalid = ViewData["modalid"].ToString();
    var targetForm = ViewData["targetForm"].ToString();
    var modalName = ViewData["modalName"].ToString();
    var headerisajax = ViewData["headerisajax"];
    var status_bayar = (ViewData["StatusBayar"] == null) ? "Belum" : ViewData["StatusBayar"];

    var tableId = $"divtablelookup_{modalid}";
    var url_table =  "";
    if (status_bayar == "Belum")
    {
        url_table = Url.Action("ListRegistrasi", "Service");
    }
    else
    {
        url_table = Url.Action("ListRegistrasiPulang", "Service");
    }
    var item = new RegistrasiPasienViewModel();
    var columnCount = 31;
    var column = new string[columnCount];
    column[0] = nameof(item.NoAntri);
    column[1] = nameof(item.Kamar);
    column[2] = nameof(item.NoBed);
    column[3] = nameof(item.NoReg);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Jam);
    column[6] = nameof(item.NRM);
    column[7] = nameof(item.NamaPasien);
    column[8] = nameof(item.JenisKelamin);
    column[9] = nameof(item.NamaDOkter);
    column[10] = nameof(item.JenisKerjasama);
    column[11] = nameof(item.Nama_Customer);
    column[12] = nameof(item.NoKartu);
    column[13] = nameof(item.SectionName);
    column[14] = nameof(item.SectionAsalName);
    column[15] = nameof(item.SudahPeriksa);
    column[16] = nameof(item.NoBill);
    column[17] = nameof(item.Nomor);
    column[18] = nameof(item.StatusBayar);
    column[19] = nameof(item.Batal);
    column[20] = nameof(item.AlasanBatal);
    column[27] = nameof(item.StatusCPPTHD);
    column[28] = nameof(item.Alamat);
    column[29] = nameof(item.RawatInap);
    column[30] = nameof(item.Tanggal_View);
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        text-align:center;
        width: 150px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        text-align:center;
        width: 100px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 120px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        min-width: 120px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6) {
        width: 250px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width:120px;
        text-align:center;
    }


    #@tableId tbody td:nth-child(4){
        background-color: #9cf19c;
    }

    .filter_list span {
        width : 180px;
    }
</style>
<div class="modal fade" id="@modalid" tabindex="-1" role="dialog"
     data-header-ajax="@headerisajax"
     data-backdrop="static"
     ng-controller="tablelookup"
     ng-init="filterlength = @columnCount; init();
                url = '@url_table';
                targetform = '@targetForm';
                blurfirsttarget = false;
                target = @(JsonConvert.SerializeObject(target));
                filter[20] = '@status_bayar'">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="modallookuodismiss('#@modalid')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@modalName</h4>
            </div>
            <div class="modal-body">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a onclick="togglecheckbox('.filter_list_lookup_registrasi')"><i class="icon-filter3"></i></a></li>
                            <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="datatable-header">
                    <div class="filter_list_lookup_registrasi">
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Periode</label>
                                        <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                                    </div>
                                    <div class="form-group">
                                        <label>Sampai</label>
                                        <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" id="allperiode" />
                                            All Periode
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                                            <option value="">All</option>
                                            <option value="1">Belum Periksa</option>
                                            <option value="2">Sudah Periksa</option>
                                            <option value="3">Sudah Bayar</option>
                                            <option value="4">Sudah Bayar Belum Periksa</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <span>Show:</span>
                                        <select class="form-control input-xs"
                                                ng-change="getdatas()"
                                                ng-model="pagesize"
                                                ng-options="opt as opt for opt in pagesizes"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- List -->
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                                <!-- Column Sort -->
                                <th ng-click="ordering($event,'@column[0]')" class="sorting">No Antri</th>
                                <th ng-click="ordering($event,'@column[3]')" class="sorting">NoReg</th>
                                <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                                <th ng-click="ordering($event,'@column[6]')" class="sorting">NRM</th>
                                <th ng-click="ordering($event,'@column[7]')" class="sorting">Nama Pasien</th>
                                <th ng-click="ordering($event,'@column[9]')">Dokter</th>
                                <th ng-click="ordering($event,'@column[18]')" class="sorting">Status Bayar</th>

                            </tr>
                            <tr class="filter_list" @*style="display:none"*@>

                                <!-- Filter -->
                                <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td></td>
                                <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td><input ng-model="filter[26]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                                <td></td>

                            </tr>
                            <tr class="loading {{ loading ? '' : 'hide' }}">
                                <td colspan="50">
                                    <div class="bubblingG center">
                                        <span id="bubblingG_1"></span>
                                        <span id="bubblingG_2"></span>
                                        <span id="bubblingG_3"></span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <!-- Target Lookup -->
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                ng-click="select($event, [
                                                data.@column[3],
                                                data.@column[6],
                                                data.@column[8],
                                                data.@column[7],
                                                data.@column[28],
                                                data.@column[30],
                                                data.@column[10],
                                                data.@column[29]==true? 'RI' : 'RJ'
                                                ])">
                                <!-- Table Result -->
                                <td>
                                    <label ng-if="data.@(column[19])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                                    <label ng-if="data.@(column[15]) && !data.@(column[19])" class="label label-danger" title="Sudah Periksa">{{data.@column[0]}}</label>
                                    <label ng-if="!data.@(column[15]) && !data.@(column[19])" class="label label-default" title="Belum Periksa">{{data.@column[0]}}</label>
                                </td>
                                <td>
                                    {{data.@column[3]}}
                                </td>
                                <td>{{data.@(column[4])_View}}</td>
                                <td>
                                    <label ng-if="data.@(column[8]) == 'M'" class="text-primary fa fa-mars"></label>
                                    <label ng-if="data.@(column[8]) == 'F'" class="text-danger fa fa-venus"></label>
                                    <label ng-if="data.@(column[8]) != 'F' && data.@(column[8]) != 'M'" class="text-warning genderless"></label>
                                    &nbsp;
                                    {{data.@column[6]}}
                                </td>
                                <td>{{data.@column[7]}}</td>
                                <td>{{data.@column[9]}}</td>
                                <td>
                                    <label ng-if="data.@(column[18]) == 'Belum' && !data.@(column[15])" class="label label-danger">Belum Periksa</label>
                                    <label ng-if="data.@(column[18]) == 'Belum' && data.@(column[15])" class="label label-info">Sudah Periksa</label>
                                    <label ng-if="data.@(column[18]) == 'Sudah Bayar' && data.@(column[15])" class="label label-success">Sudah Bayar</label>
                                    <label ng-if="data.@(column[18]) == 'Sudah Bayar' && !data.@(column[15])" class="label label-warning">Sudah Bayar</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info">
                    {{ datainfo }}
                </div>
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination md-full-right" compile="pagination"></ul>

                </div>
            </div>
            <div ng-init="pagesize = 10; getdatas();"></div>
        </div>

    </div>
</div>

<script>
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
         sc.filter[22] = date;
         sc.filter[23] = date;
        sc.filter[24] = "0";
        sc.getdatas();
    });
</script>

