﻿<ul class="navigation navigation-main navigation-accordion">
    <!-- Main -->
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="@Url.Action("Index", "Home")"><i class="icon-home4"></i> <span>Menu</span></a></li>
    <li>
        <a><i class="icon-menu6"></i> <span>Registrasi </span></a>
        <ul>

            @if (Request.Cookies["TipePelayanan"].Value == "REGISTRASI")
            {
                <li>
                    <a href="@Url.Action("Index", "RegistrasiPasienRJ")"><i class="icon-user"></i> <span>Registrasi Pasien</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "RegistrasiPegawai")"><i class="icon-user"></i> <span>Registrasi Pegawai</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Device")"><i class="icon-cogs"></i> <span>Device</span></a>
                </li>
            }
            else if (Request.Cookies["TipePelayanan"].Value == "PENUNJANG")
            {
                <li>
                    <a href="@Url.Action("Index", "HasilPenunjang")"><i class="icon-lab"></i> <span>List Order </span></a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Index", "RegistrasiPasienRJ")"><i class="icon-users4"></i> <span>Registrasi Pasien</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "DokumenRekamMedis")"><i class="icon-archive"></i> <span>Input Dokumen </span></a>
                </li>
            }
        </ul>
    </li>
</ul>

<script>
    function commingonclick(e) {
        alertpopup("COMING SOON", 'info');
        e.preventDefault();
    }
</script>

