﻿@using EMRRSBK.Models
@using Newtonsoft.Json

<style>
    #lookupdokter td, #lookupdokter th {
        white-space: nowrap;
    }
</style>

<div class="modal fade table-lookup" id="lookupdokter" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form onsubmit="lookupdoktergetdatas();">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dokter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Show:</label>
                            <select class="form-control input-xs lookup-page-size">
                                <option>5</option>
                                <option selected>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                                <option>200</option>
                                <option>500</option>
                                <option>1000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" onclick="lookupdoktergetdatas()" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-default">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th onclick="lookupdoktergetdatas({ orderby : 'DokterID'})" class="sorting">ID</th>
                                    <th onclick="lookupdoktergetdatas({ orderby : 'NamaDOkter'})" class="sorting">Dokter</th>
                                </tr>
                                <tr class="filter_list_lookup_m_Customer">
                                    <td><input onchange="lookupdoktergetdatas()" type="text" class="form-control input-xs lookup-filter"></td>
                                    <td><input onchange="lookupdoktergetdatas()" type="text" class="form-control input-xs lookup-filter"></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td style="vertical-align: middle; line-height: 34px;" colspan="100">
                                        <span class="lookup-data-info"></span>
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var _lookupdoktersortby = 'DokterID';
    var _lookupdoktersortbytypeasc = true;
    var _lookupdokterpageindex = 0;
    var _lookupdoktercustomfilter;
    var _lookupdokterlock = false;

    function lookupdoktergetdatas(option = {}) {
        if (_lookupdokterlock) return;

        if (option.orderby) {
            _lookupdoktersortbytypeasc = option.orderby == _lookupdoktersortby ? !_lookupdoktersortbytypeasc : true;
            _lookupdoktersortby = option.orderby;
        }
        if (option.page !== undefined) {
            _lookupdokterpageindex = option.page;
        }

        var pagesize = parseInt($('#lookupdokter .lookup-page-size option:selected').val());
        var filter = $('#lookupdokter .lookup-filter');
        $.ajax({
            url: '@Url.Action("ListDokter", "LookUpData")',
            method: 'POST',
            data: {
                sortby: _lookupdoktersortby,
                asc: _lookupdoktersortbytypeasc,
                pagesize: pagesize,
                pageindex: _lookupdokterpageindex,
                filter: [
                    filter[0].value,
                    filter[1].value,
                ],
                customfilter:_lookupdoktercustomfilter
            },
            beforeSend: function () {
                lookupdokterlock = true;
                $('#lookupdokter table tbody').html('');
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var body = '';
                    $.each(r.Data, function (index, value) {
                        body += '<tr onclick="lookuptablebodyonclick(this, \'' + value.DokterID + '\',\'' + value.NamaDOkter + '\')">';
                        body += '<td>' + value.DokterID + '</td>';
                        body += '<td>' + value.NamaDOkter + '</td>';
                        body += '</tr>';
                    });
                    $('#lookupdokter table tbody').html(body);
                    var footer = generatefootertable(r.TotalCount, pagesize, _lookupdokterpageindex, 'lookupdoktergetdatas');
                    $('#lookupdokter .lookup-data-info').html(footer.datainfo);
                    $('#lookupdokter .pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            },
            error: function (xhr) { alert(xhr); },
            complete: function () { _lookupdokterlock = false; }
        });
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        lookupdoktergetdatas();
    });
</script>
