﻿@{
    var controllerName = "RencanaKeperawatan";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
}

@if (Request.Cookies["SectionNamaPelayanan"].Value != "IGD" && Request.Cookies["SectionNamaPelayanan"].Value != "UGD")
{
    <br />
    <div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    <a href="@Url.Action("Create","AssesmentKriteriaMasukNICU")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","AssesmentKriteriaMasukNICU")',
                                header: 'Kriteria Masuk NICU',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-info btn-sm" onclick="event.preventDefault()">
                        Kriteria Masuk NICU
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Create","AssesmentKriteriaMasukPICU")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","AssesmentKriteriaMasukPICU")',
                                header: 'Kriteria Masuk PICU',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-info btn-sm" onclick="event.preventDefault()">
                        Kriteria Masuk PICU
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Create","AssesmentKriteriaMasukICU")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","AssesmentKriteriaMasukICU")',
                                header: 'Kriteria Masuk ICU',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-info btn-sm" onclick="event.preventDefault()">
                        Kriteria Masuk ICU
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Create","AssesmentKriteriaMasukHCU")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","AssesmentKriteriaMasukHCU")',
                                header: 'Kriteria Masuk HCU',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-info btn-sm" onclick="event.preventDefault()">
                        Kriteria Masuk HCU
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">
                @*<div class="col-md-3">
                        <a href="@Url.Action("Create","AssesmentKDRT")"
                           ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("Create","AssesmentKDRT")',
                                        header: 'Kekerasan Dalam Rumah Tangga',
                                        target_auto_refresh : '@tableId',
                                        param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                                   })"
                           class="col-md-12 btn btn-danger btn-sm" onclick="event.preventDefault()">
                            Kekerasan Dalam Rumah Tangga
                        </a>
                    </div>*@
                <div class="col-md-3">
                    <a href="@Url.Action("Create","AssesmentKekerasanFisik")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","AssesmentKekerasanFisik")',
                                header: 'Kekerasan Fisik',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-danger btn-sm" onclick="event.preventDefault()">
                        Kekerasan Fisik
                    </a>
                </div>
                @*<div class="col-md-3">
                        <a href="@Url.Action("Create","AssesmentKekerasanSeksual")"
                           ng-click="$parent.ajaxmodal({
                                        url: '@Url.Action("Create","AssesmentKekerasanSeksual")',
                                        header: 'Kekerasan Seksual',
                                        target_auto_refresh : '@tableId',
                                        param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                                   })"
                           class="col-md-12 btn btn-danger btn-sm" onclick="event.preventDefault()">
                            Kekerasan Seksual
                        </a>
                    </div>*@
            </div>
        </div>
    </div>
    <br />
}

@if (Request.Cookies["SectionNamaPelayanan"].Value == "IGD" || Request.Cookies["SectionNamaPelayanan"].Value == "UGD")
{
    <br />
    <div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    @*RencanaKeperawatan*@
                    <a href="@Url.Action("Create","RencanaKeperawatan")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","RencanaKeperawatan")',
                                header: 'Masalah dan Diagnosis Keperawatan Gawat Darurat',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid:'@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Rencana Keperawatan
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Index","ImplementasiAsuhanDanVitalSign")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ImplementasiAsuhanDanVitalSign")',
                                header: 'Implementasi Asuhan dan Vital Sign',
                                target_auto_refresh : '@tableId',
                                param : {
                                            noreg : '@Model.NoReg',
                                            sectionid :'@Model.SectionID'
                                        }
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Implementasi Asuhan dan Vital Sign
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
}
else
{
    <div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    @*RencanaKeperawatan*@
                    <a href="@Url.Action("Create","RencanaKeperawatan")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","RencanaKeperawatan")',
                                header: 'Rencana Keperawatan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid:'@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Rencana Keperawatan
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Index","ImplementasiAsuhanDanVitalSign")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ImplementasiAsuhanDanVitalSign")',
                                header: 'Implementasi Asuhan dan Vital Sign',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Implementasi Asuhan dan Vital Sign
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Index","FormPemindahanPasien")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","FormPemindahanPasien")',
                                header: 'Form Pemindahan Pasien',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Form Pemindahan Pasien
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Index","AssesmentAwalKeperawatan")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AssesmentAwalKeperawatan")',
                                header: 'Assesment Awal Keperawatan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Assesment Awal Keperawatan
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" ng-controller="table">
        <div class="col-md-12">
            <div class="form-group">

                <div class="col-md-3">
                    <a href="@Url.Action("Create","LembarKonsultasi")"
                       ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","LembarKonsultasi")',
                                header: 'Lembar Konsultasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                       class="col-md-12 btn btn-success btn-sm" onclick="event.preventDefault()">
                        Lembar Konsultasi
                    </a>
                </div>

            </div>
        </div>
    </div>
    <br />

}


