﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var tableId = $"table_resep";
    var item = new ResepViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoRegistrasi);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.Nomor);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.NoResep);
    column[5] = nameof(item.Dokter);
    column[6] = nameof(item.Cyto);
    column[7] = nameof(item.Realisasi);
    column[8] = nameof(item.JedisResep);
    column[9] = nameof(item.Farmasi_SectionID);


    var sl = Request.Cookies["SectionIDPelayanan"].Value;
}

<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 110px;
        text-align:center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 100px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width: 150px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){

    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        width: 90px;
        text-align: center;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        width: 90px;
        text-align: center;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
            target_auto_refresh_edit = '@tableId';
            url = '@Url.Action("List", "Resep")';
            init();
            filter[0]='@Model.NoReg';
            filter[2]='@Model.SectionID'">

        <div class="panel-heading form-inline" style="padding:5px;">
            <ul class="icons-list ml-10">
                <li>
                    <a ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor, nrm = Model.NRM, poliklinik = "", thiss = "" })',
                            header: 'Resep Obat',
                            target_auto_refresh : '@tableId'
                        })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                        <label style="margin-top: 5px;" class="text-semibold" ><i class="icon-add position-left"></i> Baru</label>
                    </a>
                </li>
            </ul>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list_Resep')"><i class="icon-filter3"></i></a></li>
                    <li><a id="refreshresep" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="dataTables_length filter_list_Resep" style="display:none">
                <label>
                    <span>Show:</span>
                    <select class="form-control input-xs" style="width: auto;"
                            ng-change="getdatas()"
                            ng-model="pagesize"
                            ng-options="opt as opt for opt in pagesizes"></select>
                </label>
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[4]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">No Resep</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Cyto</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Realisasi</th>
                        <th ng-click="ordering($event,'@column[8]')" class="sorting">Jenis</th>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-noresep="{{data.@column[4]}}"
                        data-infofarmasi="{{data.@column[9]}}">

                        <td class="text-center">
                            <a ng-click="detail_param({ nobukti : data.@column[4] }, '@Url.Action("Detail", "Resep")')" ng-if="data.@(column[8]) == 'OBAT'"
                               class="text-info" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <a ng-click="detail_param({ nobukti : data.@column[4] }, '@Url.Action("DetailOptik", "Resep")')" ng-if="data.@(column[8]) == 'OPTIK'"
                               class="text-info" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            @if (Model.StatusBayar != "Sudah Bayar")
                            {
                                <a ng-click="delete_param({nobukti : data.@column[4] }, '@Url.Action("Delete", "Resep")')" class="text-danger-600" ng-if="data.@(column[8]) == 'OBAT'">
                                    <i class="icon-trash"></i>
                                </a>
                                <a ng-click="delete_param({nobukti : data.@column[4] }, '@Url.Action("DeleteOptik", "Resep")')" class="text-danger-600" ng-if="data.@(column[8]) == 'OPTIK'">
                                    <i class="icon-trash"></i>
                                </a>
                            }
                            <a onclick="cetakreseplist_eresep(this)" class="text-info" title="Cetak Resep">
                                <i class="icon-printer2"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[3])_View}}</td>
                        <td>{{data.@(column[4])}}</td>
                        <td>{{data.@(column[5])}}</td>
                        <td>
                            <label class="label label-danger" ng-if="data.@column[6]">Cyto</label>
                            <label class="label label-primary" ng-if="!data.@column[6]">Tidak</label>
                        </td>
                        <td>
                            <label class="label label-danger" ng-if="data.@column[7]">Realisasi</label>
                            <label class="label label-primary" ng-if="!data.@column[7]">Tidak</label>
                        </td>
                        <td>{{data.@(column[8])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
</div>

<!-- Modal Print -->
<div class="modal fade" id="modalprint_eresep">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APAKAH INGIN PRINT REPORT ?</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="noresep" />
                <input type="hidden" id="sectionfarmasi" />
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <a onclick="cetakresep_eresep()" id="btnprintresep"
                       class="btn btn-success position-right">
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var sectionfarmasi_eresep;
    var dataresep_eresep;

    function cetakresep_eresep() {
        myajax({
            url: '@Url.Action("ExportPDF_EResep", "Resep")',
            data: { id: dataresep_eresep , sectionfarmasi: sectionfarmasi_eresep },
                success: function (data) {
                    if (data.IsSuccess) {
                        alertpopup("Resep berhasil di cetak", 'success')
                        $('#modalprint_eresep').modal('hide');
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
    }

     function cetakreseplist_eresep(t) {
         var jtr = $(t).closest('.trdata');
         dataresep_eresep = jtr.data('noresep');
         sectionfarmasi_eresep = jtr.data('infofarmasi');
        myajax({
            url: '@Url.Action("ExportPDF_EResep", "Resep")',
            data: { id: dataresep_eresep , sectionfarmasi: sectionfarmasi_eresep },
                success: function (data) {
                    if (data.IsSuccess) {
                        alertpopup("Resep berhasil di cetak", 'success')
                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
    }
</script>
