﻿@using EMRRSBK.Models
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
}
<br />
<style>
    .btn-color {
        background: #00897b;
        border-color: #009688;
    }
</style>
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="catatanedukasiintegrasirj" href="@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")',
                                header: 'Catatan Edukasi Terintegrasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn @(Model.CekEdukasiTerintegrasi == "0" ? "btn-flash" : "") btn-success btn-sm" onclick="event.preventDefault()">
                    CATATAN EDUKASI TERINTEGRASI
                </a>
            </div>
            <div class="col-md-3">
                <a id="aews" href="@Url.Action("Index","PemantauanAEWSScore")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanAEWSScore")',
                                header: 'Pemantauan AEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-color btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PEMANTAUAN AEWS
                </a>
            </div>
            <div class="col-md-3">
                <a id="mews" href="@Url.Action("Index","PemantauanMEWSScore")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanMEWSScore")',
                                header: 'Pemantauan MEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PEMANTAUAN MEWS
                </a>
            </div>
            <div class="col-md-3">
                <a id="pews" href="@Url.Action("Index","PemantauanPEWSScore")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanPEWSScore")',
                                header: 'Pemantauan PEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PEMANTAUAN PEWS
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="news" href="@Url.Action("Index","PemantauanNEWSScore")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanNEWSScore")',
                                header: 'Pemantauan NEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PEMANTAUAN NEWS
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","CatatanPemindahanPasienAntaraRS")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntaraRS")',
                                header: 'Catatan Pemindahan Antar RS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    CATATAN PEMINDAHAN ANTAR RS
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","TindakanKedokteran")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","TindakanKedokteran")',
                                header: 'Informed Consent',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    INFORMED CONSENT
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","ResumeMedisIGD")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ResumeMedisIGD")',
                                header: 'Resume Medis',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    RESUME MEDIS
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a href="@Url.Action("Index","LaporanPemeriksaanVisumETRepertum")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LaporanPemeriksaanVisumETRepertum")',
                                header: 'Pemeriksaan Visum',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PEMERIKSAAN VISUM
                </a>
            </div>
            <div class="col-md-3">
                <a id="suratpersetujuanpemeriksaanpenyidikan" href="@Url.Action("Index","SuratPersetujuanPemeriksaanUntukKepentinganPenyidikan")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratPersetujuanPemeriksaanUntukKepentinganPenyidikan")',
                                header: 'Surat Pemeriksa Penyidikan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    SURAT PEMERKSAAN PENYIDIKAN
                </a>
            </div>
            <div class="col-md-3">
                <a id="resumemedisbpjs" href="@Url.Action("Index","ResumeMedisBPJSRawatJalan")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","ResumeMedisBPJSRawatJalan")',
                                    header: 'Resume Medis BPJS',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    RESUME MEDIS BPJS
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","RujukanPenderita")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","RujukanPenderita")',
                                    header: 'Rujukan Penderita',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    RUJUKAN PENDERITA
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="ingindpjp" href="@Url.Action("Index","FormulirKeinginanPasienMemilihDPJP")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","FormulirKeinginanPasienMemilihDPJP")',
                                    header: 'Form Keinginan DPJP',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    FORM KEINGINAN DPJP
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","SuratKeteranganRujukanAmbulan")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganRujukanAmbulan")',
                                header: 'Surat Rujukan Ambulan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    SURAT RUJUKAN AMBULAN
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","SuratPernyataanJanganDilakukanResusitasi")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","SuratPernyataanJanganDilakukanResusitasi")',
                                    header: 'Surat Pernyataan Resusitasi',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    SURAT PERNYATAAN RESUSITASI
                </a>
            </div>
            <div class="col-md-3">
                <a id="janganlakukanresusitasi" href="@Url.Action("Index","JanganDilakukanResusitasi")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","JanganDilakukanResusitasi")',
                                    header: 'Jangan Dilakukan Resusitasi',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    JANGAN DILAKUKAN RESUSITASI
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="pengatarri" href="@Url.Action("Index","PengantarRI")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","PengantarRI")',
                                    header: 'Pengantar Rawat Inap',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PENGATAR RANAP
                </a>
            </div>
            <div class="col-md-3">
                <a id="penolakanri" href="@Url.Action("Index","PenolakanRI")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PenolakanRI")',
                                header: 'Penolakan Rawat Inap',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PENOLAKAN RANAP
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","PersetujuanDirawatICU")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","PersetujuanDirawatICU")',
                                    header: 'Persetujuan Rawat Inap ',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PERSETUJUAN RANAP
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","TindakanKedokteran")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","TindakanKedokteran")',
                                    header: 'Tindakan Kedokteran',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    TINDAKAN KEDOKTERAN
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a href="@Url.Action("Index","RMKasusPenderaanAnak")"
                   ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","RMKasusPenderaanAnak")',
                                    header: 'RM Kasus Penderaan Anak',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    RM KASUS PENDERAAN ANAK
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","RMDomesticViolence")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","RMDomesticViolence")',
                                header: 'RM Domestic Violence',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    RM DOMESTIC VIOLENCE
                </a>
            </div>
            <div id="suratketistirhat" class="col-md-3">
                <a href="@Url.Action("Index","SuratKeteranganIstirahat")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganIstirahat")',
                                header: 'Surat Keterangan Istirahat',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    SURAT KETERANGAN ISTIRAHAT
                </a>
            </div>
            <div class="col-md-3">
                <a id="catatanppenmindahanruangan" href="@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")',
                                header: 'Catatan Pemindahan Ruangan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    CATATAN PEMINDAN RUANGAN
                </a>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="row" ng-controller="table">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-3">
                <a id="suratketdokter" href="@Url.Action("Index","SuratKeteranganDokter")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganDokter")',
                                header: 'Surat Keterangan Dokter',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    SURAT KETERANGAN DOKTER
                </a>
            </div>
            @*<div class="col-md-3">
            <a id="pengkajiankeperawatanok" href="@Url.Action("Index","PengkajianKeperawatan")"
               ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Index","PengkajianKeperawatan")',
                            header: 'Pengkajian Keperawatan',
                            target_auto_refresh : '@tableId',
                            param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                       })"
               class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                PENGKAJIAN KEPERAWATAN
            </a>
        </div>
        <div class="col-md-3">
            <a id="identitaspasien" href="@Url.Action("Index","IdentitasPasien")"
               ng-click="$parent.ajaxmodal({
                            url: '@Url.Action("Index","IdentitasPasien")',
                            header: 'Identitas Pasien',
                            target_auto_refresh : '@tableId',
                            param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                       })"
               class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                IDENTITAS PASIEN
            </a>
        </div>*@
            <div class="col-md-3">
                <a id="persetujuanumnew" href="@Url.Action("Index","PersetujuanUmumNew")"
                   ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PersetujuanUmumNew")',
                                header: 'Persetujuan Umum',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
                   class="col-md-12 btn btn-success btn-color btn-sm" onclick="event.preventDefault()">
                    PERSETUJUAN UMUM
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
@*<div class="row" id="suratform" ng-controller="form">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1">
                        Surat :
                    </label>
                    <div class="col-md-6">
                        <select id="Surat" class="form-control">
                            @Html.Raw(StaticModel.ListSurat)
                        </select>
                    </div>
                    <div class="col-md-2">
                        <a class="col-md-12 btn btn-info btn-sm" onclick="opensurat(this)">
                            Open
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script>
    function opensurat() {
        var surat = $('#Surat option:selected').val();
        var xurl = '@Html.Raw(Url.Action("Create", "Default", new { noreg = "@noreg", sectionid = "@sectionid" }))';

        xurl = xurl.replace('%40noreg', $('#@(nameof(Model.NoReg))').val())
            .replace('%40sectionid', $('#@(nameof(Model.SectionID))').val())

        var newurl = xurl.replace("Default", surat);

        angular.element('#suratform').scope().ajaxmodal({
            url: newurl,
            header: 'Surat',
            target_auto_refresh: '@tableId'
        });
    }
</script>

<script>
  
</script>