﻿@using EMRRSBK.Models
@model EMRAssesmentPraOperasiLakiLakiViewModel
@{
    var controllerName = "EMRAssesmentPraOperasiLakiLaki";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateoplaki(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.NRM)
            @Html.HiddenFor(Model => Model.Gambar1Badan)
            @Html.HiddenFor(Model => Model.Gambar2KepalaKiriKana)
            @Html.HiddenFor(Model => Model.Gambar3KepalaDepanBelakang)
            @Html.HiddenFor(Model => Model.Gambar4TanganPalmar)
            @Html.HiddenFor(Model => Model.Gmabar5TanganDorsal)
            @Html.HiddenFor(Model => Model.Gambar6Kaki)

            <div class="panel panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            Data Subyektif(Anamnesa)
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_Batuk, new { htmlAttributes = new { } })
                                Batuk
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_Pusing, new { htmlAttributes = new { } })
                                Pusing
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_SesakNafas, new { htmlAttributes = new { } })
                                Sesak Nafas
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_Pilek, new { htmlAttributes = new { } })
                                Pilek
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_Mual, new { htmlAttributes = new { } })
                                Mual
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Anamnesa_Gigi, new { htmlAttributes = new { } })
                                Gigi Palsu
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Anamnesa_Puasa, new { htmlAttributes = new { onclick = "puasapraoprperempuan()" } })
                                    Puasa
                                </label>
                                @Html.EditorFor(model => model.Anamnesa_Puasa_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Anamnesa_Puasa_Ket, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Jam</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Anamnesa_Lainnya, new { htmlAttributes = new { onclick = "lainyasubjekpraoprperempuan()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.Anamnesa_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Anamnesa_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_DM, new { htmlAttributes = new { } })
                                DM
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_TBParu, new { htmlAttributes = new { } })
                                TR Paru
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Hepatitis, new { htmlAttributes = new { } })
                                Hepatitis B/C
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_AMI, new { htmlAttributes = new { } })
                                AMI
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_HIV, new { htmlAttributes = new { } })
                                HIV
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Ashtma, new { htmlAttributes = new { } })
                                Ashtma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_CHF, new { htmlAttributes = new { } })
                                CHF
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.RiwayatPenyakit_Lainnya, new { htmlAttributes = new { onclick = "rplainnyapraoprperempuan()" } })
                                </label>
                                @Html.EditorFor(model => model.RiwayatPenyakit_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.RiwayatPenyakit_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pemeriksaan</label>
                        <label class="col-md-1 control-label">Jam :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Pemeriksaan_Jam1, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Pemeriksaan_Jam1 != null ? Model.Pemeriksaan_Jam1.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Pemeriksaan_Jam1, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Jam :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Pemeriksaan_Jam2, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Pemeriksaan_Jam2 != null ? Model.Pemeriksaan_Jam2.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Pemeriksaan_Jam2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tekanan Darah :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TekananDarah, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Frekunsi Nafas :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.FrekuensiNafas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FrekuensiNafas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nadi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Suhu Axilaris :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SuhuAxilaris, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SuhuAxilaris, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Inspeksi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Inspeksi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Inspeksi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Auskultasi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Auskultasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Auskultasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Palpasi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Palpasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Palpasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Perkusi :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Perkusi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Perkusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Catatan :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Catatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Diagnosa Pra Oprasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Level Asa :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.LevelAsa, StaticModel.ListLevelAsa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LevelAsa, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Mallampati :</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Mallampati, StaticModel.ListMallampati, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mallampati, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Posisi Pasien Dalam Operasi:</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PosisiDalamOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PosisiDalamOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Profilaksis:</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Profilaksis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Profilaksis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Hasil pemeriksaan penunjang yang telah terindentifikasi secara benar :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Hasil_FotoRontgen, new { htmlAttributes = new { } })
                                Foto Rontgen
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Hasil_CTScan, new { htmlAttributes = new { } })
                                CT Scan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Hasil_MRI, new { htmlAttributes = new { } })
                                MRI
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Hasil_USG, new { htmlAttributes = new { } })
                                USG
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Hasil_Laboratorium, new { htmlAttributes = new { } })
                                Laboratorium
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Hasil_Lainnya, new { htmlAttributes = new { onclick = "hasillainnyapraoprperempuan()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.Hasil_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Hasil_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Riwayat Penyakit Sebelumnya :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.RiwayatPenyakitSebelumnnya, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitSebelumnnya, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Dokumen Rekam Medik terkait :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Dokumen_InformasiTindakanBedah, new { htmlAttributes = new { } })
                                Infromed concent tindakan bedah
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Dokumen_InformasiTindakanAnestesi, new { htmlAttributes = new { } })
                                Infromed concent tindakan anestesi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Dokumen_InformasiSedasi, new { htmlAttributes = new { } })
                                Infromed concent sedasi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon checkbox checkbox-inline">
                                    @Html.EditorFor(model => model.Dokumen_Lainnya, new { htmlAttributes = new { onclick = "dokumenlainnyapraoprperempuan()" } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.Dokumen_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Dokumen_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Rencana Operasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.RencanaOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RencanaOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Rencana Anastesi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.RencanaAnastesi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RencanaAnastesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Alat Khusus/Darah :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AlatKhusus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlatKhusus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Perkiraan Lama Operasi :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PerkiraanLamaOperasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PerkiraanLamaOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP Operator
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.DPJPOperator, Model.DPJPOperator == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJPOperator.ToString(), Text = Model.DPJPOperatorNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DPJPOperator, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            DPJP Anestesi
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.DPJPAnastesi, Model.DPJPAnastesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJPAnastesi.ToString(), Text = Model.DPJPAnastesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DPJPAnastesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Dengan ini saya menyatakan bahwa saya telah menerima informasi tentang tujuan dan pentingnya dilakukan assesmen pra operasi dan penandaan pada area operasi dan saya mengerti serta memahami hal tersebut</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nama Pasien :</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.NamaPasien != null ? (Model.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-center text-bold">S I T E   M A R K I N G</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Prosedur :</label>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Prosedur, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Prosedur, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Tanggal Prosedur :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.TanggalProsedur, new { htmlAttributes = new { @class = "form-control", Value = (Model.TanggalProsedur != null ? (Model.TanggalProsedur.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TanggalProsedur, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar1" name="IMG_Gambar1" src="~/Images/BadanCowok.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar2" name="IMG_Gambar2" src="~/Images/KepalaSamping.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar3" name="IMG_Gambar3" src="~/Images/KepalaDepanBelakang.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar4" name="IMG_Gambar4" src="~/Images/TanganPalmar.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar5" name="IMG_Gambar5" src="~/Images/TanganDorsal.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_Gambar6" name="IMG_Gambar6" src="~/Images/Kaki.jpg" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                <input type="text" name="nama_template" id="nama_template" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFAssesmentPraOperasiLakiLaki","ReportHistory", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                               class="btn btn-success" @(Model.NoReg == null ? "disabled" : "")>
                                <span class="icon icon-printer"></span> Cetak PDF
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script>
    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var iGambar5;
    var iGambar6;
    var ximg_Gambar1 = $('#IMG_Gambar1');
    var ximg_Gambar2 = $('#IMG_Gambar2');
    var ximg_Gambar3 = $('#IMG_Gambar3');
    var ximg_Gambar4 = $('#IMG_Gambar4');
    var ximg_Gambar5 = $('#IMG_Gambar5');
    var ximg_Gambar6 = $('#IMG_Gambar6');

    @if (Model != null)
    {
        if (Model.Gambar1Badan != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.Gambar1Badan)');
        }
        if (Model.Gambar2KepalaKiriKana != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.Gambar2KepalaKiriKana)');
        }
        if (Model.Gambar3KepalaDepanBelakang != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.Gambar3KepalaDepanBelakang)');
        }
        if (Model.Gambar4TanganPalmar != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.Gambar4TanganPalmar)');
        }
        if (Model.Gmabar5TanganDorsal != null)
        {
            @:ximg_Gambar5.attr('src', 'data:image/jpeg;base64,@(Model.Gmabar5TanganDorsal)');
        }
        if (Model.Gambar6Kaki != null)
        {
            @:ximg_Gambar6.attr('src', 'data:image/jpeg;base64,@(Model.Gambar6Kaki)');
        }
    }

    generalDokter("#@formName #DPJPOperator");
    generalDokter("#@formName #DPJPAnastesi");

        @if (Model.MODEVIEW == 1) {
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
            $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
        }

    function puasapraoprperempuan() {
        if ($('#Anamnesa_Puasa').is(':checked')) {
            $('#Anamnesa_Puasa_Ket').prop('disabled', false);
        } else {
            $('#Anamnesa_Puasa_Ket').prop('disabled', true);
            $('#Anamnesa_Puasa_Ket').val('');
        }
    }

    function lainyasubjekpraoprperempuan() {
        if ($('#Anamnesa_Lainnya').is(':checked')) {
            $('#Anamnesa_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Anamnesa_Lainnya_Ket').prop('disabled', true);
            $('#Anamnesa_Lainnya_Ket').val('');
        }
    }

    function rplainnyapraoprperempuan() {
        if ($('#RiwayatPenyakit_Lainnya').is(':checked')) {
            $('#RiwayatPenyakit_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#RiwayatPenyakit_Lainnya_Ket').prop('disabled', true);
            $('#RiwayatPenyakit_Lainnya_Ket').val('');
        }
    }

    function hasillainnyapraoprperempuan() {
        if ($('#Hasil_Lainnya').is(':checked')) {
            $('#Hasil_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Hasil_Lainnya_Ket').prop('disabled', true);
            $('#Hasil_Lainnya_Ket').val('');
        }
    }

    function dokumenlainnyapraoprperempuan() {
        if ($('#Dokumen_Lainnya').is(':checked')) {
            $('#Dokumen_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Dokumen_Lainnya_Ket').prop('disabled', true);
            $('#Dokumen_Lainnya_Ket').val('');
        }
    }

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = $('#NoReg').val();
        var copy = $("#listTemplateDokumen :selected").val();
        var nrmtemp = $('#NRM').val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("", "EMRAssesmentPraOperasiLakiLaki")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy + "&nrm=" + nrmtemp;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('Gambar1Badan');
            iGambar2.convert_V2('Gambar2KepalaKiriKana');
            iGambar3.convert_V2('Gambar3KepalaDepanBelakang');
            iGambar4.convert_V2('Gambar4TanganPalmar');
            iGambar5.convert_V2('Gmabar5TanganDorsal');
            iGambar6.convert_V2('Gambar6Kaki');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function oncompletecreateoplaki(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#AssesmentPraOperasiLakiLaki').click();
    }

    $(document).ready(function () {
        puasapraoprperempuan();
        lainyasubjekpraoprperempuan();
        rplainnyapraoprperempuan();
        hasillainnyapraoprperempuan();
        dokumenlainnyapraoprperempuan();

        iGambar1 = new iPainter_V2(true, ximg_Gambar1);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);
        iGambar3 = new iPainter_V2(true, ximg_Gambar3);
        iGambar4 = new iPainter_V2(true, ximg_Gambar4);
        iGambar5 = new iPainter_V2(true, ximg_Gambar5);
        iGambar6 = new iPainter_V2(true, ximg_Gambar6);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });
</script>





