﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PersetujuanUmumNew";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }
</style>
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateidentitaspasien(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID)
                @Html.HiddenFor(model => model.NRM)
                @Html.HiddenFor(model => model.PU.TTDPasienPenanggungJawab)
                @Html.HiddenFor(model => model.PU.TTDPemberiInformasi)
                @Html.HiddenFor(model => model.PU.Persetujuan)


                <div class="form-group">
                    <label class="col-md-12">
                        HAK DAN KEWAJIBAN SEBAGAI PASIEN, saat pendaftaran saya telah mendapatkan informasi tentang hak dan kewajiban pasien/keluarga di RS Bhayangkara Denpasar.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        PERSETUJUAN PELAYANAN KESEHATAN, saya menyetujui dilakukan wawancara, pemeriksaan fisik, pemeriksaan penunjang medis, tindakan medis/keperawatan dan pengobatan, mencakup seluruh prosedur tindakan, terapi, pemasangan alat kesehatan yang aman sesuai pertimbangan dokter yang diperlukan atau disarankan pada perawatan saya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Apabila pasien memerlukan tindakan khusus seperti tindakan bedah, pembiusan, tranfusi darah, prosedur invasif dan penggunaan obat berisiko tinggi maka akan dimintakan persetujuan tersendiri oleh petugas.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Saya menginginkan keluarga tersebut dibawah ini ikut berpartisipasi dalam pengambilan keputusan perawatan pasien
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PU.Berpartisipasi, new List<SelectListItem>
                          {
                              new SelectListItem() {Text = "Seluruh Keluarga", Value="Seluruh Keluarga"},
                              new SelectListItem() {Text = "Suami & Anak", Value="Suami & Anak"},
                              new SelectListItem() {Text = "Istri & Anak", Value="Istri & Anak"},
                              new SelectListItem() {Text = "Suami", Value="Suami"},
                              new SelectListItem() {Text = "Istri", Value="Istri"},
                              new SelectListItem() {Text = "Orang Tua", Value="Orang Tua"},
                              new SelectListItem() {Text = "Anak", Value="Anak"},
                              new SelectListItem() {Text = "Tidak Seorangpun Keluarga", Value="Tidak Seorangpun Keluarga"},
                              new SelectListItem() {Text = "Kerabat", Value="Kerabat"},
                              new SelectListItem() {Text = "Teman", Value="Teman"},
                              new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                          }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PU.Berpartisipasi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PU.Berpartisipasi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Apabila ada peserta didik, mahasiswa, dokter menjalani pendidikan yang terlibat dalam proses perawatan akan di informasikan oleh petugas yang merawat.</label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        PRIVASI DAN KERAHASIAAN INFORMASI PASIEN, saya memberi kuasa kepada RS Bhayangkara Denpasar untuk menjaga privasi, kerahasian pasien sesuai dengan peraturan yang berlaku. saya mengetahui bahwa pasien bisa mengakses informasi kesehatannya (penyakit yang diderita, penyebab, perkembangan penyakit, hasil-hasil pemeriksaan & tindakan medis dan lainya) dari petugas yang merawat.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Pasien menginginkan privasi khusus ?  </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PU.PrivasiKhusus, new List<SelectListItem>
                          {
                              new SelectListItem() {Text = "Ada", Value="Ada"},
                              new SelectListItem() {Text = "Tidak", Value="Tidak"},
                          }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PU.PrivasiKhususKet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PU.PrivasiKhususKet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Saya menyetujui memberikan informasi kesehatan pasien kepada :
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>NO</th>
                                <th style="width:300px">KELUARGA / PIHAK LAIN</th>
                                <th>JENIS INFORMASI</th>
                                <th>SITUASI</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dokter dan tenaga kesehatan lain untuk kepentingan perawatan, pengobatan pasien, pendidikan maupun penelitian, kecuali saya mengungkapkan sendiri atau orang lain yang saya beri kuasa untuk itu.</td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">Sesuai kebutuhan petugas</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.JenisInformasi_1, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.JenisInformasi_1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Semua situasi
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.SemuaSituasi_1, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.SemuaSituasi_1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Perusahan asuransi atau pihak lain yang menjamin pembiayaan</td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">Sesuai kebutuhan pihak penjamin</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.JenisInformasi_2, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.JenisInformasi_2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Saat diperlukan untuk penjaminan
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.SemuaSituasi_2, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.SemuaSituasi_2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.PU.Point3Select, StaticModel.ListPenanggungJawabPersetujuanNew, new { @class = "form-control", onchange = "point3(this)" })
                                        @Html.ValidationMessageFor(model => model.PU.Point3Select, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.PU.Point3, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PU.Point3, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Sesuai kebutuhan
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.JenisInformasi_3, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.JenisInformasi_3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Semua situasi
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.SemuaSituasi_3, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.SemuaSituasi_3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.PU.KeluargaPihakLain_4, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.KeluargaPihakLain_4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Sesuai kebutuhan
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.JenisInformasi_4, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.JenisInformasi_4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="col-md-12">
                                            Semua situasi
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lainnya</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.PU.SemuaSituasi_4, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PU.SemuaSituasi_4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        HARTA BENDA PRIBADI, saya setuju tidak membawa barang berharga (perhiasan, elektronik, dll) selama dalam perawatan di rumah sakit, apabila saya membawanya rumah sakit tidak bertangung jawab terhadap kehilangan/kerusakan. Saya mengetahui rumah sakit memiliki tempat penitipan barang pasien untuk pasien yang tidak mampu mengamankan barangnya seperti : pasien tidak sadar, tidak ada penunggu dan lainya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        PENYAMPAIAN KELUHAN, apabila saya mempunyai keluhan, konflik/perbedaan pendapat, saya setuju mengikuti tatacara menyampaikan sesuai prosedur yang ada, dan bersedia ikut berpartisipasi dalam penyelesaiannya.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        PEMBAYARAN, saya menyetujui bahwa sesuai pelayanan yang diberikan kepada pasien, maka saya wajib membayar total biaya pelayanan sesuai dengan acuan biaya dan ketentuan RS Bhayangkara Denpasar, pembayaran disesuaikan dengan tanggungan yang dipergunakan pasien.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Saya juga menyadari dan memahami bahwa :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11">
                        Apabila saya tidak memberikan persetujuan atau dikemudian hari mencabut persetujuan saya untuk melepaskan rahasia medis saya kepada perusahan yang menanggung biaya, maka saya bertanggung jawab untuk membayar semua pelayanan yang diberikan.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-12">
                        Apabila rumah sakit membutuhkan proses hukum untuk menagih biaya pelayanan, saya bertanggung jawab membayar semua biaya yang disebabkan proses hukum tersebut
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        Saya telah membaca dan setuju tanpa paksaan dengan setiap pernyataan yang terdapat dalam formulir ini.
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pemberi Informasi
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PU.PemberiInformasi, Model.PU.PemberiInformasi == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.PU.PemberiInformasi.ToString(), Text = Model.PU.PemberiInformasiNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PU.PemberiInformasi, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.PU.TTDPemberiInformasi != null ? "btn-flash" : "")" onclick="clickgambar1_persetujuan()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar1_persetujuan()"><i class="icon-eraser"></i>Ulang</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Pasien/Keluarga
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PU.PasienPenanggungJawab, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PU.PasienPenanggungJawab, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary pull-left btn-sm @(Model.PU.TTDPasienPenanggungJawab != null ? "btn-flash" : "")" onclick="clickgambar2()">Tanda Tangan</a>
                        <a class="btn btn-danger pull-right btn-sm" onclick="ulanggambar2()"><i class="icon-eraser"></i>Ulang</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1">
                        <div class="col-md-12" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_PU_TTDPemberiInformasi" name="IMG_PU_TTDPemberiInformasi" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_PU_TTDPasienPenanggungJawab" name="IMG_PU_TTDPasienPenanggungJawab" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDFRegPersetujuanUmum","ReportHistory", new { noreg = Model.NoReg })" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#PU_PemberiInformasi');
    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script>
    function clickgambar1_persetujuan() {
        $('#IMG_PU_TTDPemberiInformasi').click()
    }

    function clickgambar2() {
        $('#IMG_PU_TTDPasienPenanggungJawab').click()
    }

    function ulanggambar1_persetujuan() {
        $('#IMG_PU_TTDPemberiInformasi').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_PU_TTDPemberiInformasi').click()
    }

    function ulanggambar2() {
        $('#IMG_PU_TTDPasienPenanggungJawab').attr('src', '/Theme/images/TandaTangan.png');
        $('#IMG_PU_TTDPasienPenanggungJawab').click()
    }

    var iGambar1_persetujuan;
    var iGambar2_persetujuan;
    var ximg_Gambar1_persetujuan = $('#IMG_PU_TTDPemberiInformasi');
    var ximg_Gambar2_persetujuan = $('#IMG_PU_TTDPasienPenanggungJawab');

    @if (Model != null)
    {
        if (Model.PU.TTDPemberiInformasi != null)
        {
            @:ximg_Gambar1_persetujuan.attr('src', 'data:image/jpeg;base64,@(Model.PU.TTDPemberiInformasi)');
        }
        if (Model.PU.TTDPasienPenanggungJawab != null)
        {
            @:ximg_Gambar2_persetujuan.attr('src', 'data:image/jpeg;base64,@(Model.PU.TTDPasienPenanggungJawab)');
        }
    }

    $(document).ready(function () {

        iGambar1_persetujuan = new iPainter_V2(true ,ximg_Gambar1_persetujuan);
        iGambar2_persetujuan = new iPainter_V2(true ,ximg_Gambar2_persetujuan);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.PU.TTDPemberiInformasi)');
        iGambar = new iPainter_V2(imges);
    }

    function SubmitForm(e) {
        try {
            iGambar1_persetujuan.convert_V2('PU_TTDPemberiInformasi');
            iGambar2_persetujuan.convert_V2('PU_TTDPasienPenanggungJawab');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function point3(t) {
        var p3 = t.value;
        var p3_real = $('#PU_Point3').val();
        if (p3_real == null || p3_real == "") {
            $('#PU_Point3').val(p3);
        } else {
            $('#PU_Point3').val(p3_real + " / " + p3);
        }
    }
</script>

<script>
    function oncompletecreateidentitaspasien(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#persetujuanumnew').click();
    }

</script>




