﻿@using EMRRSBK.Models
@model EMRIlmuPenyakitBedahNonTraumaViewModel
@{
    var controllerName = "EMRIlmuPenyakitBedahNonTrauma";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.NRM)
            @*@Html.HiddenFor(model => model.VerifikasiDPJP)*@

            <div class="panel panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT BEDAH NON TRAUMA</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-2">
                            <select id="listTemplateDokumen" class="form-control">
                                <option value="0"></option>
                                @if (Model.ListTemplate != null)
                                {
                                    foreach (var x in Model.ListTemplate)
                                    {
                                        @: <option value="@x.Value">@x.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukannonbdh()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DxRujukan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.DxRujukan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Rujuan_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-md-2">
                                Nama Keluarga :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.NamaKeluarga != null ? (Model.NamaKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.NamaKeluarga, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">
                                No. HP/ Telp :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.TeleponKeluarga != null ? (Model.TeleponKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.TeleponKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Alamat
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AlamatKeluarga != null ? (Model.AlamatKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.AlamatKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportnonbedah()" })
                            @Html.ValidationMessageFor(model => model.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            RIWAYAT ALEGRI :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalerginonbedah()" })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.RiwayatAlergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">KELUHAN UTAMA :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">RIWAYAT PENYAKIT SEKARANG :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">RIWAYAT PENGOBATAN :</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.RiwayatPengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyerinonbedah()" })
                            @Html.ValidationMessageFor(model => model.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4 text-bold">
                            Riwayat Penyakit  :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Diabetes, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Stroke, new { htmlAttributes = new { } })
                                Stroke
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Dialysis, new { htmlAttributes = new { } })
                                Dialysis
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Asma, new { htmlAttributes = new { } })
                                Asma
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Kejang, new { htmlAttributes = new { } })
                                Kejang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Liver, new { htmlAttributes = new { } })
                                Liver
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Cancer, new { htmlAttributes = new { } })
                                Cancer
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_TBC, new { htmlAttributes = new { } })
                                TBC
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Glaukoma, new { htmlAttributes = new { } })
                                Gluakoma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_STD, new { htmlAttributes = new { } })
                                STD
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Perdarahan, new { htmlAttributes = new { } })
                                Pendarahan
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakit_Lainnya, new { htmlAttributes = new { onclick = "lainnyariwayatpernahnonbedah()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RiwayatPenyakit_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakit_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Operasi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.RiwayatOperasi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "riwayatoperasinonbedah()" })
                            @Html.ValidationMessageFor(model => model.RiwayatOperasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Jenis & Kapan :
                                </label>
                                @Html.EditorFor(model => model.RiwayatOperasi_JenisKapan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.RiwayatOperasi_JenisKapan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Tranfusi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.RiwayatTransfusi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatTransfusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Transfusi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ReaksiTransfusi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "riwayattransfusinonbedah()" })
                            @Html.ValidationMessageFor(model => model.ReaksiTransfusi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Reaksi Timbul :
                                </label>
                                @Html.EditorFor(model => model.ReaksiYangTimbul, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.ReaksiYangTimbul, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Sosial :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.RiwayatPenyakitKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            TANDA - TANDA VITAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kesadaran Umum:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KeadaanUmum, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Gizi :
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Gizi, StaticModel.ListGizi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    GCS : E
                                </label>
                                @Html.EditorFor(model => model.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class=" input-group-addon">
                                    Tindakan Resusitasi
                                </label>
                                @Html.DropDownListFor(model => model.TindakanResusitasi, StaticModel.ListYaTidak, new { @class = "form-control", onclick = "tindakanresusitasinonbedah()" })
                                @Html.ValidationMessageFor(model => model.TindakanResusitasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TindakanResusitasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.TindakanResusitasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi
                                </label>
                                @Html.EditorFor(model => model.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasi O<sub>2</sub>
                                </label>
                                @Html.EditorFor(model => model.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Saturasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    %
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Pada :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Saturasi_SuhuRuangan, new { htmlAttributes = new { } })
                                Suhu Ruangan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Saturasi_NasalCanule, new { htmlAttributes = new { } })
                                Nasal Canule
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Saturasi_NRB, new { htmlAttributes = new { } })
                                NRB
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Saturasi_Lainnya, new { htmlAttributes = new { onclick = "lainsaturasinonbedah()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Saturasi_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Saturasi_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Berat Badan:
                                </label>
                                @Html.EditorFor(model => model.BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BeratBadan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Axila
                                </label>
                                @Html.EditorFor(model => model.SuhuAxilla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SuhuAxilla, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Rectal
                                </label>
                                @Html.EditorFor(model => model.SuhuRectal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SuhuRectal, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kepala :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Kepala, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaankepalanonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Kepala, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Kepala_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Kepala_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Mata :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Mata, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanmatanonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Mata, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Mata_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Mata_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            THT :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_THT, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanthtnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_THT, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_THT_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_THT_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Leher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Leher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanlehernonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Leher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Leher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Leher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Dada :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Dada, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaandadanonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Dada, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Dada_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Dada_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Jantung:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Jantung, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanjantungnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Jantung, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Jantung_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Jantung_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Paru:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Paru, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanparunonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Paru, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Paru_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Paru_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Perut :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Perut, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanperutnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Perut, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Perut_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Perut_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Hepar :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Heper, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanheparnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Heper, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Heper_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Heper_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Lien :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Lien, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanliennonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Lien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Lien_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Lien_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Punggung :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Punggung, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanpunggungnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Punggung, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Punggung_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Punggung_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Genital :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Genital, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaangenitalnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Genital, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Genital_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Genital_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Anus :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Anus, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaananusnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Anus, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Anus_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Anus_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ekstremitas :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Ekstremitas, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanekstremitasnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Ekstremitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Ekstremitas_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Ekstremitas_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rectal Toucher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_RectalToucher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanrectalnonbedah()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_RectalToucher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_RectalToucher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_RectalToucher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DIAGNOSA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnosa_Kerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnosa_Kerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            RENCANA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            HASIL PEMERIKSAAAN :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.HasilPemeriksaanPenunjang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HasilPemeriksaanPenunjang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DIAGNOSA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DiagnosaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            TERAPI :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, Poliklinik = "1", Thiss = "Terapi" })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('"Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            REKOMENDASI :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Rekomendasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rekomendasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            CATATAN PENTING :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CatatanPenting, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CatatanPenting, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            DISPOSISI :
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.Disposisi_BolehPulang, new { htmlAttributes = new { onclick = "bolehpulangnonbedah()" } })
                                    Boleh Pulang Jam Keluar
                                </label>
                                @Html.EditorFor(model => model.Disposisi_BolehPulang_Jam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.Disposisi_BolehPulang_Jam != null ? Model.Disposisi_BolehPulang_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.Disposisi_BolehPulang_Jam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Wita
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.Disposisi_BolehPulang_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Disposisi_BolehPulang_Tanggal != null ? (Model.Disposisi_BolehPulang_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.Disposisi_BolehPulang_Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Kontrol :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Disposisi_KontrolPoliklinik_Ya_Tidak, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "kontrolnonbedah()" })
                            @Html.ValidationMessageFor(model => model.Disposisi_KontrolPoliklinik_Ya_Tidak, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Disposisi_KontrolPoliklinik_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Disposisi_KontrolPoliklinik_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Disposisi_KontrolPoliklinik_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Disposisi_KontrolPoliklinik_Tanggal != null ? (Model.Disposisi_KontrolPoliklinik_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Disposisi_KontrolPoliklinik_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Dirawat, new { htmlAttributes = new { onclick = "dirawatnonbedah()" } })
                                Dirawat di Ruang
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Dirawat_Intensif, new { htmlAttributes = new { } })
                                Intensif
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Dirawat_Ruang, new { htmlAttributes = new { onclick = "ruanglainnonbedah()" } })
                                Ruang Lain
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Disposisi_Dirawat_Lain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Disposisi_Dirawat_Lain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP.ToString(), Text = Model.DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                <input type="text" name="nama_template" id="nama_template" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFTindakanKedokteran", new { noreg = Model.NoReg })" target="_blank"
                               class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                Print PDF
                            </a>
                            <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function rujukananak() {
        if ($('#@formName #Rujukan_Ya').is(':checked')) {
            $('#@formName #Rujukan_Ya_Ket').prop('disabled', false);
            $('#@formName #Rujukan_Ya_Dx').prop('disabled', false);
        } else {
            $('#@formName #Rujukan_Ya_Ket').prop('disabled', true);
            $('#@formName #Rujukan_Ya_Ket').val('');
            $('#@formName #Rujukan_Ya_Dx').prop('disabled', true);
            $('#@formName #Rujukan_Ya_Dx').val('');
        }
    }

    function transportanak() {
        if ($("#@formName #Transportasi option:selected").val() == 'Lainnya') {
            $('#@formName #Transportasi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Transportasi_Ket').prop('disabled', true);
            $('#@formName #Transportasi_Ket').val('');
        }
    }

    function alergianak() {
        if ($("#@formName #Riwayat_Alergi option:selected").val() == 'Ya') {
            $('#@formName #Riwayat_Alergi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Riwayat_Alergi_Ket').prop('disabled', true);
            $('#@formName #Riwayat_Alergi_Ket').val('');
        }
    }

    function lainnyariwayatkeluargaanak() {
        if ($('#@formName #RiwayatPenyakitKeluarga_Lainnya').is(':checked')) {
            $('#@formName #RiwayatPenyakitKeluarga_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatPenyakitKeluarga_Lainnya_Ket').prop('disabled', true);
            $('#@formName #RiwayatPenyakitKeluarga_Lainnya_Ket').val('');
        }
    }

    function imunisasipolioanak() {
        if ($('#@formName #RiwayatImunisasai_Polio').is(':checked')) {
            $('#@formName #RiwayatImunisasai_Polio_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_Polio_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_Polio_Ket').val('');
        }
    }

    function imunisasihepatitisbanak() {
        if ($('#@formName #RiwayatImunisasai_HepatitisB').is(':checked')) {
            $('#@formName #RiwayatImunisasai_HepatitisB_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_HepatitisB_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_HepatitisB_Ket').val('');
        }
    }

    function imunisasidptanak() {
        if ($('#@formName #RiwayatImunisasai_DPT').is(':checked')) {
            $('#@formName #RiwayatImunisasai_DPT_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_DPT_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_DPT_Ket').val('');
        }
    }

    function imunisasicampakanak() {
        if ($('#@formName #RiwayatImunisasai_Campak').is(':checked')) {
            $('#@formName #RiwayatImunisasai_Campak_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_Campak_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_Campak_Ket').val('');
        }
    }

    function imunisasilainnyaanak() {
        if ($('#@formName #RiwayatImunisasai_Lainnya').is(':checked')) {
            $('#@formName #RiwayatImunisasai_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_Lainnya_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_Lainnya_Ket').val('');
        }
    }

    function imunisasimranak() {
        if ($('#@formName #RiwayatImunisasai_MR').is(':checked')) {
            $('#@formName #RiwayatImunisasai_MR_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_MR_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_MR_Ket').val('');
        }
    }

    function imunisasiipvanak() {
        if ($('#@formName #RiwayatImunisasai_IPV').is(':checked')) {
            $('#@formName #RiwayatImunisasai_IPV_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_IPV_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_IPV_Ket').val('');
        }
    }

    function imunisasijeanak() {
        if ($('#@formName #RiwayatImunisasai_JE').is(':checked')) {
            $('#@formName #RiwayatImunisasai_JE_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatImunisasai_JE_Ket').prop('disabled', true);
            $('#@formName #RiwayatImunisasai_JE_Ket').val('');
        }
    }

    function riwayatpersalinantolonganak() {
        if ($('#@formName #Ditolong_Lainnya').is(':checked')) {
            $('#@formName #Ditolong_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Ditolong_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Ditolong_Lainnya_Ket').val('');
        }
    }

    function asieksekutifanak() {
        if ($('#@formName #ASI_Eksklusif').is(':checked')) {
            $('#@formName #ASI_Eksklusif_Ket').prop('disabled', false);
        } else {
            $('#@formName #ASI_Eksklusif_Ket').prop('disabled', true);
            $('#@formName #ASI_Eksklusif_Ket').val('');
        }
    }

    function asidurasianak() {
        if ($('#@formName #ASI_Durasi').is(':checked')) {
            $('#@formName #ASI_Durasi_Ket').prop('disabled', false);
        } else {
            $('#@formName #ASI_Durasi_Ket').prop('disabled', true);
            $('#@formName #ASI_Durasi_Ket').val('');
        }
    }

    function asifrekuensianak() {
        if ($('#@formName #ASI_Frekuensi').is(':checked')) {
            $('#@formName #ASI_Frekuensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #ASI_Frekuensi_Ket').prop('disabled', true);
            $('#@formName #ASI_Frekuensi_Ket').val('');
        }
    }

    function sususejakusiaanak() {
        if ($('#@formName #Susu_SejakUsia').is(':checked')) {
            $('#@formName #Susu_SejakUsia_Ket').prop('disabled', false);
        } else {
            $('#@formName #Susu_SejakUsia_Ket').prop('disabled', true);
            $('#@formName #Susu_SejakUsia_Ket').val('');
        }
    }

    function susufrekuensianak() {
        if ($('#@formName #Susu_Frekuensi').is(':checked')) {
            $('#@formName #Susu_Frekuensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Susu_Frekuensi_Ket').prop('disabled', true);
            $('#@formName #Susu_Frekuensi_Ket').val('');
        }
    }

    function bubursejakusiaanak() {
        if ($('#@formName #Bubur_SejakUsia').is(':checked')) {
            $('#@formName #Bubur_SejakUsia_Ket').prop('disabled', false);
        } else {
            $('#@formName #Bubur_SejakUsia_Ket').prop('disabled', true);
            $('#@formName #Bubur_SejakUsia_Ket').val('');
        }
    }

    function buburfrekuensianak() {
        if ($('#@formName #Bubur_Frekuensi').is(':checked')) {
            $('#@formName #Bubur_Frekuensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Bubur_Frekuensi_Ket').prop('disabled', true);
            $('#@formName #Bubur_Frekuensi_Ket').val('');
        }
    }

    function nasisejakusiaanak() {
        if ($('#@formName #Nasi_SejakUsia').is(':checked')) {
            $('#@formName #Nasi_SejakUsia_Ket').prop('disabled', false);
        } else {
            $('#@formName #Nasi_SejakUsia_Ket').prop('disabled', true);
            $('#@formName #Nasi_SejakUsia_Ket').val('');
        }
    }

    function nasifrekuensianak() {
        if ($('#@formName #Nasi_Frekuensi').is(':checked')) {
            $('#@formName #Nasi_Frekuensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Nasi_Frekuensi_Ket').prop('disabled', true);
            $('#@formName #Nasi_Frekuensi_Ket').val('');
        }
    }

    function makanansejakusiaanak() {
        if ($('#@formName #Makanan_SejakUsia').is(':checked')) {
            $('#@formName #Makanan_SejakUsia_Ket').prop('disabled', false);
        } else {
            $('#@formName #Makanan_SejakUsia_Ket').prop('disabled', true);
            $('#@formName #Makanan_SejakUsia_Ket').val('');
        }
    }

    function makananfrekuensianak() {
        if ($('#@formName #Makanan_Frekuensi').is(':checked')) {
            $('#@formName #Makanan_Frekuensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Makanan_Frekuensi_Ket').prop('disabled', true);
            $('#@formName #Makanan_Frekuensi_Ket').val('');
        }
    }

    function menegakankepalaanak() {
        if ($('#@formName #RiwayatTumbuh_Menegak').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Menegak_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Menegak_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Menegak_Ket').val('');
        }
    }

    function membalikbadananak() {
        if ($('#@formName #RiwayatTumbuh_Membalik').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Membalik_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Membalik_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Membalik_Ket').val('');
        }
    }

    function dudukanak() {
        if ($('#@formName #RiwayatTumbuh_Duduk').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Duduk_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Duduk_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Duduk_Ket').val('');
        }
    }

    function merangkakanak() {
        if ($('#@formName #RiwayatTumbuh_Merangkak').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Merangkak_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Merangkak_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Merangkak_Ket').val('');
        }
    }

    function berdirianak() {
        if ($('#@formName #RiwayatTumbuh_Berdiri').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Berdiri_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Berdiri_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Berdiri_Ket').val('');
        }
    }

    function berjalananak() {
        if ($('#@formName #RiwayatTumbuh_Berjalan').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Berjalan_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Berjalan_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Berjalan_Ket').val('');
        }
    }

    function bicaraanak() {
        if ($('#@formName #RiwayatTumbuh_Bicara').is(':checked')) {
            $('#@formName #RiwayatTumbuh_Bicara_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatTumbuh_Bicara_Ket').prop('disabled', true);
            $('#@formName #RiwayatTumbuh_Bicara_Ket').val('');
        }
    }

    function riwayatoperasinonanak() {
        if ($("#@formName #RiwayatOperasi option:selected").val() == 'Ya') {
            $('#@formName #RiwayatOperasi_Ket').prop('disabled', false);
        } else {
            $('#@formName #RiwayatOperasi_Ket').prop('disabled', true);
            $('#@formName #RiwayatOperasi_Ket').val('');
        }
    }

    function riwayattranfusinonanak() {
        if ($("#@formName #ReaksiTranfusi option:selected").val() == 'Ya') {
            $('#@formName #ReaksiTranfusi_Ket').prop('disabled', false);
        } else {
            $('#@formName #ReaksiTranfusi_Ket').prop('disabled', true);
            $('#@formName #ReaksiTranfusi_Ket').val('');
        }
    }

    function nyerianak() {
        if ($("#@formName #Nyeri option:selected").val() == 'Ya') {
            $('#@formName #Lokasi').prop('disabled', false);
            $('#@formName #Intensitas').prop('disabled', false);
        } else {
            $('#@formName #Lokasi').prop('disabled', true);
            $('#@formName #Lokasi').val('');
            $('#@formName #Intensitas').prop('disabled', true);
            $('#@formName #Intensitas').val('');
        }
    }
    function nyerianak() {
        if ($("#@formName #Nyeri option:selected").val() == 'Ya') {
            $('#@formName #Lokasi').prop('disabled', false);
            $('#@formName #Intensitas').prop('disabled', false);
        } else {
            $('#@formName #Lokasi').prop('disabled', true);
            $('#@formName #Lokasi').val('');
            $('#@formName #Intensitas').prop('disabled', true);
            $('#@formName #Intensitas').val('');
        }
    }

    function kepalalainnyaanak() {
        if ($('#@formName #Kelapa_Lainnya').is(':checked')) {
            $('#@formName #Kelapa_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Kelapa_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Kelapa_Lainnya_Ket').val('');
        }
    }

    function thttelingaanak() {
        if ($('#@formName #THT_Telinga').is(':checked')) {
            $('#@formName #THT_Telinga_Ket').prop('disabled', false);
        } else {
            $('#@formName #THT_Telinga_Ket').prop('disabled', true);
            $('#@formName #THT_Telinga_Ket').val('');
        }
    }

    function ththidunganak() {
        if ($('#@formName #THT_Hidung').is(':checked')) {
            $('#@formName #THT_Hidung_Ket').prop('disabled', false);
        } else {
            $('#@formName #THT_Hidung_Ket').prop('disabled', true);
            $('#@formName #THT_Hidung_Ket').val('');
        }
    }

    function thttenggorokananak() {
        if ($('#@formName #THT_Tenggorokan').is(':checked')) {
            $('#@formName #Faring').prop('disabled', false);
            $('#@formName #Tonsil').prop('disabled', false);
        } else {
            $('#@formName #Faring').prop('disabled', true);
            $('#@formName #Faring').val('');
            $('#@formName #Tonsil').prop('disabled', true);
            $('#@formName #Tonsil').val('');
        }
    }

    function thtlidahanak() {
        if ($('#@formName #THT_Lidah').is(':checked')) {
            $('#@formName #THT_Lidah_Ket').prop('disabled', false);
        } else {
            $('#@formName #THT_Lidah_Ket').prop('disabled', true);
            $('#@formName #THT_Lidah_Ket').val('');
        }
    }

    function thtbibiranak() {
        if ($('#@formName #THT_Bibir').is(':checked')) {
            $('#@formName #THT_Bibir_Ket').prop('disabled', false);
        } else {
            $('#@formName #THT_Bibir_Ket').prop('disabled', true);
            $('#@formName #THT_Bibir_Ket').val('');
        }
    }

    function leherjvpanak() {
        if ($('#@formName #Leher_JVP').is(':checked')) {
            $('#@formName #Leher_JVP_Ket').prop('disabled', false);
        } else {
            $('#@formName #Leher_JVP_Ket').prop('disabled', true);
            $('#@formName #Leher_JVP_Ket').val('');
        }
    }

    function leherkelenjaranak() {
        if ($('#@formName #Leher_Kelenjar').is(':checked')) {
            $('#@formName #Leher_Kelenjar_Ket').prop('disabled', false);
        } else {
            $('#@formName #Leher_Kelenjar_Ket').prop('disabled', true);
            $('#@formName #Leher_Kelenjar_Ket').val('');
            $('#@formName #Ukuran').prop('disabled', true);
            $('#@formName #Ukuran').val('');
        }
    }

    function leherkelenjarketanak() {
        if ($("#@formName #Leher_Kelenjar_Ket option:selected").val() == 'Ya') {
            $('#@formName #Ukuran').prop('disabled', false);
        } else {
            $('#@formName #Ukuran').prop('disabled', true);
            $('#@formName #Ukuran').val('');
        }
    }

    function leherkakuanak() {
        if ($('#@formName #Leher_Kaku').is(':checked')) {
            $('#@formName #Leher_Kaku_Ket').prop('disabled', false);
        } else {
            $('#@formName #Leher_Kaku_Ket').prop('disabled', true);
            $('#@formName #Leher_Kaku_Ket').val('');
        }
    }

    function leherlainnyaanak() {
        if ($('#@formName #Leher_Lainnya').is(':checked')) {
            $('#@formName #Leher_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Leher_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Leher_Lainnya_Ket').val('');
        }
    }

    function throaksmurmuranak() {
        if ($('#@formName #Cor_Murmur').is(':checked')) {
            $('#@formName #Cor_Murmur_Ket').prop('disabled', false);
        } else {
            $('#@formName #Cor_Murmur_Ket').prop('disabled', true);
            $('#@formName #Cor_Murmur_Ket').val('');
        }
    }

    function throakcorlainnyasanak() {
        if ($('#@formName #Cor_Lainnya').is(':checked')) {
            $('#@formName #Cor_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Cor_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Cor_Lainnya_Ket').val('');
        }
    }

    function pulmosuaranafasanak() {
        if ($('#@formName #Pulmo_SuaraNafas').is(':checked')) {
            $('#@formName #Pulmo_SuaraNafas_Ket').prop('disabled', false);
        } else {
            $('#@formName #Pulmo_SuaraNafas_Ket').prop('disabled', true);
            $('#@formName #Pulmo_SuaraNafas_Ket').val('');
        }
    }

    function pulmoronchianak() {
        if ($('#@formName #Pulmo_Ronchi').is(':checked')) {
            $('#@formName #Pulmo_Ronchi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Pulmo_Ronchi_Ket').prop('disabled', true);
            $('#@formName #Pulmo_Ronchi_Ket').val('');
        }
    }

    function pulmowheezinganak() {
        if ($('#@formName #Pulmo_Wheezing').is(':checked')) {
            $('#@formName #Pulmo_Wheezing_Ket').prop('disabled', false);
        } else {
            $('#@formName #Pulmo_Wheezing_Ket').prop('disabled', true);
            $('#@formName #Pulmo_Wheezing_Ket').val('');
        }
    }

    function pulmolainnyaanak() {
        if ($('#@formName #Pulmo_Lainnya').is(':checked')) {
            $('#@formName #Pulmo_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Pulmo_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Pulmo_Lainnya_Ket').val('');
        }
    }

    function abdomendistensianak() {
        if ($('#@formName #Abdomen_Distensi').is(':checked')) {
            $('#@formName #Abdomen_Distensi_Ket').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Distensi_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Distensi_Ket').val('');
        }
    }

    function abdomennyerianak() {
        if ($('#@formName #Abdomen_Nyeri').is(':checked')) {
            $('#@formName #Abdomen_Nyeri_Ket').prop('disabled', false);
            $('#@formName #Abdomen_Nyeri_Lokasi').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Nyeri_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Nyeri_Ket').val('');
            $('#@formName #Abdomen_Nyeri_Lokasi').prop('disabled', true);
            $('#@formName #Abdomen_Nyeri_Lokasi').val('');
        }
    }

    function abdomenmeteorismusanak() {
        if ($('#@formName #Abdomen_Meteorismus').is(':checked')) {
            $('#@formName #Abdomen_Meteorismus_Ket').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Meteorismus_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Meteorismus_Ket').val('');
        }
    }

    function abdomenperistaltikanak() {
        if ($('#@formName #Abdomen_Peristaltik').is(':checked')) {
            $('#@formName #Abdomen_Peristaltik_Ket').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Peristaltik_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Peristaltik_Ket').val('');
        }
    }

    function abdomenturgoranak() {
        if ($('#@formName #Abdomen_Turgor').is(':checked')) {
            $('#@formName #Abdomen_Turgor_Ket').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Turgor_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Turgor_Ket').val('');
        }
    }

    function abdomenasitesanak() {
        if ($('#@formName #Abdomen_Asites').is(':checked')) {
            $('#@formName #Abdomen_Asites_Ket').prop('disabled', false);
        } else {
            $('#@formName #Abdomen_Asites_Ket').prop('disabled', true);
            $('#@formName #Abdomen_Asites_Ket').val('');
        }
    }

    function edemahangatdinginanak() {
        if ($('#@formName #Ekstremitas_HangatDingin').is(':checked')) {
            $('#@formName #Ekstremitas_HangatDingin_Ket').prop('disabled', false);
        } else {
            $('#@formName #Ekstremitas_HangatDingin_Ket').prop('disabled', true);
            $('#@formName #Ekstremitas_HangatDingin_Ket').val('');
        }
    }

    function edemaanak() {
        if ($('#@formName #Ekstremitas_Edema').is(':checked')) {
            $('#@formName #Ekstremitas_Edema_Ket').prop('disabled', false);
        } else {
            $('#@formName #Ekstremitas_Edema_Ket').prop('disabled', true);
            $('#@formName #Ekstremitas_Edema_Ket').val('');
        }
    }

    function ekstremitascapillaryanak() {
        if ($('#@formName #Ekstremitas_Capillary').is(':checked')) {
            $('#@formName #Ekstremitas_Capillary_Ket').prop('disabled', false);
        } else {
            $('#@formName #Ekstremitas_Capillary_Ket').prop('disabled', true);
            $('#@formName #Ekstremitas_Capillary_Ket').val('');
        }
    }

    function ekstremitaslainnyaanak() {
        if ($('#@formName #Ekstremitas_Lainnya').is(':checked')) {
            $('#@formName #Ekstremitas_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#@formName #Ekstremitas_Lainnya_Ket').prop('disabled', true);
            $('#@formName #Ekstremitas_Lainnya_Ket').val('');
        }
    }

    function pubertasperempuananak() {
        if ($('#@formName #Pubertas_Perempuan').is(':checked')) {
            $('#@formName #Perempuan_M').prop('disabled', false);
            $('#@formName #Perempuan_P').prop('disabled', false);
        } else {
            $('#@formName #Perempuan_M').prop('disabled', true);
            $('#@formName #Perempuan_M').val('');
            $('#@formName #Perempuan_P').prop('disabled', true);
            $('#@formName #Perempuan_P').val('');
        }
    }

    function pubertasslakianak() {
        if ($('#@formName #Pubertas_LakiLaki').is(':checked')) {
            $('#@formName #LakiLaki_G').prop('disabled', false);
            $('#@formName #LakiLaki_P').prop('disabled', false);
        } else {
            $('#@formName #LakiLaki_G').prop('disabled', true);
            $('#@formName #LakiLaki_G').val('');
            $('#@formName #LakiLaki_P').prop('disabled', true);
            $('#@formName #LakiLaki_P').val('');
        }
    }

    function bolehpulanganak() {
        if ($('#@formName #Disposisi_BolehPulang').is(':checked')) {
            $('#@formName #BolehPulangJam').prop('disabled', false);
            $('#@formName #BolehPulangTgl').prop('disabled', false);
            $('#@formName #KontrolPoliklinik').prop('disabled', false);
        } else {
            $('#@formName #BolehPulangJam').prop('disabled', true);
            $('#@formName #BolehPulangJam').val('');
            $('#@formName #BolehPulangTgl').prop('disabled', true);
            $('#@formName #BolehPulangTgl').val('');
            $('#@formName #KontrolPoliklinik').prop('disabled', true);
            $('#@formName #KontrolPoliklinik').val('');
            $('#@formName #KontrolPoliklinik_Ket').prop('disabled', true);
            $('#@formName #KontrolPoliklinik_Ket').val('');
            $('#@formName #KontrolPoliklinik_Tanggal').prop('disabled', true);
            $('#@formName #KontrolPoliklinik_Tanggal').val('');
        }
    }

    function kontrolpolianak() {
        if ($("#@formName #KontrolPoliklinik option:selected").val() == 'Ya') {
            $('#@formName #KontrolPoliklinik_Ket').prop('disabled', false);
            $('#@formName #KontrolPoliklinik_Tanggal').prop('disabled', false);
        } else {
            $('#@formName #KontrolPoliklinik_Ket').prop('disabled', true);
            $('#@formName #KontrolPoliklinik_Ket').val('');
            $('#@formName #KontrolPoliklinik_Tanggal').prop('disabled', true);
            $('#@formName #KontrolPoliklinik_Tanggal').val('');
        }
    }

    function dirawatanak() {
        if ($('#@formName #Disposisi_Dirawat').is(':checked')) {
            $('#@formName #Disposisi_Dirawat_Ket').prop('disabled', false);
        } else {
            $('#@formName #Disposisi_Dirawat_Ket').prop('disabled', true);
            $('#@formName #Disposisi_Dirawat_Ket').val('');
            $('#@formName #RuanganLain').prop('disabled', true);
            $('#@formName #RuanganLain').val('');
        }
    }

    function dirawatruangananak() {
        if ($("#@formName #Disposisi_Dirawat_Ket option:selected").val() == 'Ruangan Lain') {
            $('#@formName #RuanganLain').prop('disabled', false);
        } else {
            $('#@formName #RuanganLain').prop('disabled', true);
            $('#@formName #RuanganLain').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    function autoid_details(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    function icd() {
        var icdvalue = "";
        var icdpilih = "";
        icdvalue = $('#ICDX').val();
        icdpilih = $('#PilihICD').val();
        $('#ICDX').val(icdvalue + (icdpilih == null ? '' : '\n' + icdpilih));
        $("#ICDX").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });
    }

    generalDokter("#@formName #DokterBPJP");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoReg";
        var copy = $("#listTemplateDokumen :selected").val();
        var nrmtemp = $('#NRM').val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');
            var url = '@Url.Action("", "EMRIlmuPenyakitBedahNonTrauma")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy + "&nrm=" + nrmtemp;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

    $(document).ready(function () {
        //$('#@formName #Rujukan_Tidak').attr('checked', true);
        //$('#@formName #RiwayatPenyakitDahulu_Lainnya').attr('checked', true);
        //$('#@formName #RiwayatImunisasai_Polio').attr('checked', true);
        //$('#@formName #RiwayatPenyakitKeluarga_Lainnya').attr('checked', true);
        //$('#@formName #Ditolong_Dokter').attr('checked', true);
        //$('#@formName #ASI_Eksklusif').attr('checked', true);
        //$('#@formName #Kelapa_Normal').attr('checked', true);
        //$('#@formName #Cor_S1S2').attr('checked', true);
        //$('#@formName #Pubertas_Perempuan').attr('checked', true);
        //$('#@formName #Disposisi_BolehPulang').attr('checked', true);
        //$('#@formName #Riwayat_Alergi').val('Tidak');
        //$('#@formName #RiwayatPenyakitDahulu_Lainnya_Ket').val('Tidak');
        //$('#@formName #RiwayatPenyakitKeluarga_Lainnya_Ket').val('Tidak');
        //$('#@formName #RiwayatOperasi').val('Tidak');
        //$('#@formName #RiwayatTranfusi').val('Tidak');
        //$('#@formName #Nyeri').val('Tidak');
        //$('#@formName #Resusitas').val('Tidak');
        //$('#@formName #Konjungtiva').val('Tidak');
        //$('#@formName #Penunjang').val('Tidak');

        //$('#@formName #KeluhanUtama').val('Kontrol tumbuh kembang');
        //$('#@formName #RiwayatPenyakitSekarang').val('Pasien datang untuk kontrol tumbuh kembang dan Imunisasi');

        //$('#@formName #RiwayatImunisasai_Polio_Ket').val('1');
        //$('#@formName #RiwayatPersalinan').val('SC');
        //$('#@formName #RiwayatPenyakitPengobatan').val('zamel drop, interlac drop');
        //$('#@formName #RiwayatPenyakitPengobatan').val('2060');
        //$('#@formName #RiwayatPersalinan_Panjang').val('45');
        //$('#@formName #KeadaanLahir').val('Segera menangis');
        //$('#@formName #KeadaanUmum').val('Baik');
        //$('#@formName #Gizi').val('Baik');
        //$('#@formName #GCS_E').val('4');
        //$('#@formName #GCS_V').val('5');
        //$('#@formName #GCS_M').val('6');
        //$('#@formName #RencanaKerja').val('Rawat Jalan');
        //$('#@formName #BB').val('2,6');
        //$('#@formName #TB').val('47');
        //$('#@formName #Cor_S1S2_Ket').val('Normal');
        //$('#@formName #Perempuan_M').val('M1');
        //$('#@formName #Perempuan_P').val('P1');
        //$('#@formName #Diagnosa').val('BBLR, PREMATUR, RESIKO GAGAL TUMBUH');
        //$('#@formName #KontrolPoliklinik').val('Ya');
        //$('#@formName #KontrolPoliklinik_Ket').val('Poli Anak');
        rujukananak();
        transportanak();
        alergianak();
        //lainnyariwayatanak();
        lainnyariwayatkeluargaanak();
        imunisasipolioanak();
        imunisasihepatitisbanak();
        imunisasidptanak();
        imunisasicampakanak();
        imunisasilainnyaanak();
        imunisasimranak();
        imunisasiipvanak();
        imunisasijeanak();
        riwayatpersalinantolonganak();
        asieksekutifanak();
        asidurasianak();
        asifrekuensianak();
        sususejakusiaanak();
        susufrekuensianak();
        bubursejakusiaanak();
        buburfrekuensianak();
        nasisejakusiaanak();
        nasifrekuensianak();
        makanansejakusiaanak();
        makananfrekuensianak();
        menegakankepalaanak();
        membalikbadananak();
        dudukanak();
        merangkakanak();
        berdirianak();
        berjalananak();
        bicaraanak();
        riwayatoperasinonanak();
        riwayattranfusinonanak();
        nyerianak();
        kepalalainnyaanak();
        thttelingaanak();
        ththidunganak();
        thttenggorokananak();
        thtlidahanak();
        thtbibiranak();
        leherjvpanak();
        leherkelenjaranak();
        leherkakuanak();
        leherlainnyaanak();
        //throakscors1s2();
        throaksmurmuranak();
        throakcorlainnyasanak();
        pulmosuaranafasanak();
        pulmoronchianak();
        pulmowheezinganak();
        pulmolainnyaanak();
        abdomendistensianak();
        abdomennyerianak();
        abdomenmeteorismusanak();
        abdomenperistaltikanak();
        abdomenturgoranak();
        abdomenasitesanak();
        edemaanak();
        edemahangatdinginanak();
        ekstremitascapillaryanak();
        ekstremitaslainnyaanak();
        pubertasperempuananak();
        pubertasslakianak();
        bolehpulanganak();
        kontrolpolianak();
        dirawatanak();
        dirawatruangananak();
        //lainnyariwayatdahuluanak();

    });
</script>



