﻿
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "EvaluasiPraOperasi";
    ViewBag.Title = controllerName;
    var formName = $"frm_EvaluasiPraOperasi_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

}



<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateevaluasipraoperasi (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.EvPraOpr.NoReg)
        @Html.HiddenFor(Model => Model.EvPraOpr.SectionID)
        @Html.HiddenFor(Model => Model.EvPraOpr.Nomor)
        @Html.HiddenFor(Model => Model.EvPraOpr.NRM)
        @Html.HiddenFor(Model => Model.EvPraOpr.TandaTanganOperator)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">EVALUASI PRA OPERASI</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EvPraOpr.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.EvPraOpr.Tanggal != null ? (Model.EvPraOpr.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 col-md-offset-1 control-label">Jam</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EvPraOpr.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.EvPraOpr.Jam != null ? Model.EvPraOpr.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nama Operator :</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.EvPraOpr.KodeOperator, Model.EvPraOpr.KodeOperator == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.EvPraOpr.KodeOperator, Text = Model.EvPraOpr.KodeOperatorNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.KodeOperator, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.EvPraOpr.SudahRegOperator == 0)
                            {
                                <a id="btn_evaluasipraoperasioperator" class="btn btn-primary disabled" onclick="user_verif_evaluasipraoperasioperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerEvPraOprKodeOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_evaluasipraoperasioperator" class="btn btn-primary" onclick="user_verif_evaluasipraoperasioperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerEvPraOprKodeOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nama Dr Anestesi :</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.EvPraOpr.KodeAnestesi, Model.EvPraOpr.KodeAnestesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.EvPraOpr.KodeAnestesi, Text = Model.EvPraOpr.KodeAnestesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.KodeAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Spesialis lain yang terkait :</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.EvPraOpr.SpesialisTerkait_1, Model.EvPraOpr.SpesialisTerkait_1 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.EvPraOpr.SpesialisTerkait_1, Text = Model.EvPraOpr.SpesialisTerkait_1Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.SpesialisTerkait_1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            @Html.DropDownListFor(model => model.EvPraOpr.SpesialisTerkait_2, Model.EvPraOpr.SpesialisTerkait_2 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.EvPraOpr.SpesialisTerkait_2, Text = Model.EvPraOpr.SpesialisTerkait_2Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.SpesialisTerkait_2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Perawat :</label>
                        <div class="col-md-9 ">
                            @Html.DropDownListFor(model => model.EvPraOpr.KodePerawat, Model.EvPraOpr.KodePerawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.EvPraOpr.KodePerawat, Text = Model.EvPraOpr.KodePerawatNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.KodePerawat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Diagnosa :</label>
                        <label class="col-md-2 control-label">1. Utama :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EvPraOpr.Diagnosis_Utama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.Diagnosis_Utama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">2. Komplikasi :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EvPraOpr.Diagnosis_Komplikasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.Diagnosis_Komplikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">3. Penyerta :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EvPraOpr.Diagnosis_Penyerta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.Diagnosis_Penyerta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nama Operasi/ Tindakan :</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EvPraOpr.NamaOperasi_1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.NamaOperasi_1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            @Html.EditorFor(model => model.EvPraOpr.NamaOperasi_2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EvPraOpr.NamaOperasi_2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12"><i>Checklist:</i></label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th rowspan="2">Item yang dicek</th>
                                        <th>Keterangan</th>
                                        <th rowspan="2">Rekomendasi</th>
                                    </tr>
                                    <tr>
                                        <th>Ya / Tidak</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">1.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">KIE Keluarga</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.KIEKeluarga, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.KIEKeluarga, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.KIEKeluarga_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.KIEKeluarga_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">2.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12"><i>Site Marking</i></label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.SiteMarking, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.SiteMarking, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.SiteMarking_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.SiteMarking_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">3.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12"><i>Informed consent</i></label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.InformedConsent, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.InformedConsent, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.InformedConsent_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.InformedConsent_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">4.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">Darah sudah disiapkan</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.DarahSiap, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.DarahSiap, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.DarahSiap_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.DarahSiap_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">5.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">Antibiotika</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.Antibiotika, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.Antibiotika, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.Antibiotika_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.Antibiotika_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">6.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">Alergi Obat</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.AlergiObat, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.AlergiObat, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.AlergiObat_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.AlergiObat_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">7.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">Mandi besar</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.MandiBesar, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.MandiBesar, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.MandiBesar_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.MandiBesar_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-12">8.</label>
                                        </td>
                                        <td>
                                            <label class="col-md-12">Pemeriksaan penunjang</label>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.EvPraOpr.PemeriksaanPenunjang, StaticModel.ListYaTidak, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.PemeriksaanPenunjang, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EvPraOpr.PemeriksaanPenunjang_Rek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EvPraOpr.PemeriksaanPenunjang_Rek, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.EvPraOpr.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFEvaluasiPraOperasi", new { noreg = Model.EvPraOpr.NoReg, Model.EvPraOpr.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.EvPraOpr.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var operator = $('#@formName #EvPraOpr_KodeOperator');
    var anestesi = $('#@formName #EvPraOpr_KodeAnestesi');
    var spesialis = $('#@formName #EvPraOpr_SpesialisTerkait_1');
    var spesialis2 = $('#@formName #EvPraOpr_SpesialisTerkait_2');
    var perawat = $('#@formName #EvPraOpr_KodePerawat');

    operator.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    anestesi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    spesialis.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    spesialis2.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    perawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script>
    function user_verif_evaluasipraoperasioperator() {
        var reStatsEvaluasiPraOperasiOP = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#EvPraOpr_KodeOperator').val();
        var noreg = $('#EvPraOpr_NoReg').val();
        var section = $('#EvPraOpr_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifevaluasipraoperator(noreg, section, user_id);
            if (ct >= limit || reStatsEvaluasiPraOperasiOP == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsEvaluasiPraOperasiOP == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsEvaluasiPraOperasiOP == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_evaluasipraoperasioperator').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifevaluasipraoperator(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilEvaluasiPraOperasi", "VerifEvaluasiPraOperasi")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Operator == "1") {
                            reStatsEvaluasiPraOperasiOP = 1;
                        }
                    }
                    else {
                        reStatsEvaluasiPraOperasiOP = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateevaluasipraoperasi(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#evaluasipraoperasi').click();
    }
</script>












