﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_IlmuKulitDanKelamin_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("IlmuPenyakitKulitDanKelamin", controllerName, FormMethod.Post, new { id = formName, onsubmit = "SubmitForm_IlmuPenyakitKulitDanKelamin(event)" }))
    {
        @Html.HiddenFor(Model => Model.AssKelaminKulit.NoReg)
        @Html.HiddenFor(Model => Model.AssKelaminKulit.SectionID)
        @Html.HiddenFor(Model => Model.AssKelaminKulit.Nomor)
        @Html.HiddenFor(Model => Model.AssKelaminKulit.NRM)
        @Html.HiddenFor(Model => Model.AssKelaminKulit.Gambar1)
        @Html.HiddenFor(Model => Model.AssKelaminKulit.TandaTanganDPJP)

        <img id="Gambar1" src="@Url.Content("~/Images/Hiperbarik.jpg")" class="hidden" />

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT KULIT DAN KELAMIN</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssKelaminKulit.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssKelaminKulit.Tanggal != null ? (Model.AssKelaminKulit.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssKelaminKulit.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssKelaminKulit.Jam != null ? Model.AssKelaminKulit.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Jam, "", new { @class = "text-danger" })
                        </div>
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssMata.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplate()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssKelaminKulit.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukan()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssKelaminKulit.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssKelaminKulit.Rujukan_Ya_Dx, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Rujukan_Ya_Dx, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssKelaminKulit.Rujukan_Tidak, new { htmlAttributes = new { onclick = "rujukantidak()" } })
                                Tidak
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama Keluarga :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssKelaminKulit.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.NamaKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssKelaminKulit.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.AlamatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Telepon :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssKelaminKulit.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.TeleponKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportasi()" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssKelaminKulit.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyeri()" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssKelaminKulit.Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            RIWAYAT ALEGRI :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.Riwayat_Alergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatalergi()" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Riwayat_Alergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AssKelaminKulit.Riwayat_Alergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Riwayat_Alergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            ANAMNESA
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            1. Keluhan Utama :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            2. Riwayat Penyakit Sekarang :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Riwayat_PenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Riwayat_PenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            3. Riwayat Penyakit Dahulu :
                        </label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Diabetes, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Asthma, new { htmlAttributes = new { } })
                                Asthma
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Lain, new { htmlAttributes = new { onclick = "riwayatpenyakitdahulu()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssKelaminKulit.PenyakitDahulu_Lain_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.PenyakitDahulu_Lain_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            4. Riwayat Pengobatan :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Riwayat_Pengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Riwayat_Pengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            5. Riwayat Penyakit Keluarga :
                        </label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Diabetes, new { htmlAttributes = new { } })
                                Diabetes
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Asthma, new { htmlAttributes = new { } })
                                Asthma
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Lain, new { htmlAttributes = new { onclick = "riwayatpenyakitkeluarga()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssKelaminKulit.PenyakitKeluarga_Lain_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.PenyakitKeluarga_Lain_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            6. Riwayat Sosial :
                        </label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.RiwayatSosial_Merokok, new { htmlAttributes = new { } })
                                Merokok
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.RiwayatSosial_Alkohol, new { htmlAttributes = new { } })
                                Alkohol
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.RiwayatSosial_Lain, new { htmlAttributes = new { onclick = "riwayatsosial()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssKelaminKulit.RiwayatSosial_Lain_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.RiwayatSosial_Lain_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            PEMERIKSAAN FISIK/ STATUS DERMATOLOGIS(sesuai indikasi/ kebutuhan)
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.Lokalisasi, new { htmlAttributes = new { onclick = "lokalisasi()" } })
                                Lokalisasi(Jabatan lokasi sesuai regilo anatomis)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Lokalisasi_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Lokalisasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.BentukKelamin, new { htmlAttributes = new { onclick = "bentukkelamin()" } })
                                Bentuk Kelainan Kulit (Eflorisenal)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.BentukKelamin_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.BentukKelamin_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.StigmataAtopik, new { htmlAttributes = new { onclick = "stigmataatopik()" } })
                                Stigmata atopik(pit. alba, ikhtiosis, karatosis, denie-morgagni)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.StigmataAtopik_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.StigmataAtopik_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.Mukosa, new { htmlAttributes = new { onclick = "mukosa()" } })
                                Mukosa
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Mukosa_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Mukosa_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.Rambut, new { htmlAttributes = new { onclick = "rambut()" } })
                                Rambut
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Rambut_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Rambut_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.Kuku, new { htmlAttributes = new { onclick = "kuku()" } })
                                Kuku
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Kuku_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Kuku_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.FungsiKelenjar, new { htmlAttributes = new { onclick = "fungsikelenjar()" } })
                                Fungsi Kelenjar Keringat
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.FungsiKelenjar_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.FungsiKelenjar_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.KelenjarLimfe, new { htmlAttributes = new { onclick = "kelenjarlimfe()" } })
                                Kelenjar Limfe
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.KelenjarLimfe_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.KelenjarLimfe_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssKelaminKulit.Syaraf, new { htmlAttributes = new { onclick = "syaraf()" } })
                                Syaraf(penebalan saraf perifer, parestesu, macula-anestesi)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Syaraf_Ket, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Syaraf_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            DIAGNOSA
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssKelaminKulit.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" style="position:inherit">
                        <div class="col-md-12" style="position:inherit">
                            <div class="panel panel-default" style="position:inherit">
                                <label class="control-label" style="position:inherit"></label>
                                <div class="panel-body" style="position:inherit">
                                    <div class="form-group text-center" style="position:inherit">
                                        <canvas id="Canvas_Gambar1" class="border-1 center-block"></canvas>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <select class="form-group input-xs" id="size_Gambar1" onchange="idGambar1.text('text_Gambar1', this.value, this)">
                                                        <option value="normal 10px sans-serif" data-line="1">extra small</option>
                                                        <option value="normal 20px sans-serif" data-line="3" selected>small</option>
                                                        <option value="normal 40px sans-serif" data-line="10">normal</option>
                                                        <option value="normal 70px sans-serif" data-line="20">large</option>
                                                        <option value="normal 100px sans-serif" data-line="30">extra large</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-xs text-right" id="text_Gambar1" placeholder="Text" onblur="idGambar1.text('text_Gambar1', document.getElementById('size_Gambar1').value)" />
                                                        <div class="input-group-addon"> <a class="fa fa-font" onclick="document.getElementById('text_Gambar1').value = ''"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar1.changecolor('red')" class="btn btn-xs"><i class="fa fa-tint" style="color:red"></i></button>
                                                    <button type="button" onclick="idGambar1.changecolor('black')" class="btn btn-xs"><i class="fa fa-tint" style="color:black"></i></button>
                                                    <button type="button" onclick="idGambar1.changecolor('yellow')" class="btn btn-xs"><i class="fa fa-tint" style="color:yellow"></i></button>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" onclick="idGambar1.clear()" class="btn btn-xs"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" onclick="Undo()" class="btn btn-xs"><i class="icon icon-undo"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        @*<input type="file" name="Image[0]" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssKelaminKulit.DokterBPJP, Model.AssKelaminKulit.DokterBPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssKelaminKulit.DokterBPJP.ToString(), Text = Model.AssKelaminKulit.DokterBPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssKelaminKulit.DokterBPJP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssKelaminKulit.SudahRegDokter == 0)
                            {
                                <a id="btn_asskulit" class="btn btn-primary disabled" onclick="user_verif_asskulit()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssKelaminKulitDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_asskulit" class="btn btn-primary" onclick="user_verif_asskulit()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssKelaminKulitDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssKelaminKulit.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssKelaminKulit.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssKelaminKulit.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssKelaminKulit.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFAssKelaminKulit", new { noreg = Model.AssKelaminKulit.NoReg, sectionid = Model.AssKelaminKulit.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssKelaminKulit.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #AssKelaminKulit_DokterBPJP');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#AssKelaminKulit_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssJiwa_DokumenID').val(),
                    dokter: $('#AssJiwa_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function user_verif_asskulit() {
        var reStatsAssKelaminKulit = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssKelaminKulit_DokterBPJP').val();
        var noreg = $('#AssKelaminKulit_NoReg').val();
        var section = $('#AssKelaminKulit_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifasskulit(noreg, section, user_id);
            if (ct >= limit || reStatsAssKelaminKulit == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssKelaminKulit == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssKelaminKulit == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifasskulit(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssKulit", "VerifAssKulit")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsAssKelaminKulit = 1;
                        }
                    }
                    else {
                        reStatsAssKelaminKulit = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function rujukan() {
        if ($('#AssKelaminKulit_Rujukan_Ya').is(':checked')) {
            $('#AssKelaminKulit_Rujukan_Ya_Ket').prop('disabled', false);
            $('#AssKelaminKulit_Rujukan_Ya_Dx').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Rujukan_Ya_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Rujukan_Ya_Ket').val('');
            $('#AssKelaminKulit_Rujukan_Ya_Dx').prop('disabled', true);
            $('#AssKelaminKulit_Rujukan_Ya_Dx').val('');
        }
    }

    function transportasi() {
        if ($("#AssKelaminKulit_Transportasi option:selected").val() == 'Lainnya') {
            $('#AssKelaminKulit_Transportasi_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Transportasi_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Transportasi_Ket').val('');
        }
    }

    function nyeri() {
        if ($("#AssKelaminKulit_Nyeri option:selected").val() == 'Ya') {
            $('#AssKelaminKulit_Lokasi').prop('disabled', false);
            $('#AssKelaminKulit_Intensitas').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Lokasi').prop('disabled', true);
            $('#AssKelaminKulit_Lokasi').val('');
            $('#AssKelaminKulit_Intensitas').prop('disabled', true);
            $('#AssKelaminKulit_Intensitas').val('');
        }
    }

    function riwayatalergi() {
        if ($("#AssKelaminKulit_Riwayat_Alergi option:selected").val() == 'Ya') {
            $('#AssKelaminKulit_Riwayat_Alergi_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Riwayat_Alergi_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Riwayat_Alergi_Ket').val('');
        }
    }

    function riwayatpenyakitdahulu() {
        if ($('#AssKelaminKulit_PenyakitDahulu_Lain').is(':checked')) {
            $('#AssKelaminKulit_PenyakitDahulu_Lain_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_PenyakitDahulu_Lain_Ket').prop('disabled', true);
            $('#AssKelaminKulit_PenyakitDahulu_Lain_Ket').val('');
        }
    }

    function riwayatpenyakitkeluarga() {
        if ($('#AssKelaminKulit_PenyakitKeluarga_Lain').is(':checked')) {
            $('#AssKelaminKulit_PenyakitKeluarga_Lain_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_PenyakitKeluarga_Lain_Ket').prop('disabled', true);
            $('#AssKelaminKulit_PenyakitKeluarga_Lain_Ket').val('');
        }
    }

    function riwayatsosial() {
        if ($('#AssKelaminKulit_RiwayatSosial_Lain').is(':checked')) {
            $('#AssKelaminKulit_RiwayatSosial_Lain_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_RiwayatSosial_Lain_Ket').prop('disabled', true);
            $('#AssKelaminKulit_RiwayatSosial_Lain_Ket').val('');
        }
    }

    function lokalisasi() {
        if ($('#AssKelaminKulit_Lokalisasi').is(':checked')) {
            $('#AssKelaminKulit_Lokalisasi_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Lokalisasi_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Lokalisasi_Ket').val('');
        }
    }

    function bentukkelamin() {
        if ($('#AssKelaminKulit_BentukKelamin').is(':checked')) {
            $('#AssKelaminKulit_BentukKelamin_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_BentukKelamin_Ket').prop('disabled', true);
            $('#AssKelaminKulit_BentukKelamin_Ket').val('');
        }
    }

    function stigmataatopik() {
        if ($('#AssKelaminKulit_StigmataAtopik').is(':checked')) {
            $('#AssKelaminKulit_StigmataAtopik_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_StigmataAtopik_Ket').prop('disabled', true);
            $('#AssKelaminKulit_StigmataAtopik_Ket').val('');
        }
    }

    function mukosa() {
        if ($('#AssKelaminKulit_Mukosa').is(':checked')) {
            $('#AssKelaminKulit_Mukosa_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Mukosa_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Mukosa_Ket').val('');
        }
    }

    function rambut() {
        if ($('#AssKelaminKulit_Rambut').is(':checked')) {
            $('#AssKelaminKulit_Rambut_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Rambut_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Rambut_Ket').val('');
        }
    }

    function kuku() {
        if ($('#AssKelaminKulit_Kuku').is(':checked')) {
            $('#AssKelaminKulit_Kuku_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Kuku_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Kuku_Ket').val('');
        }
    }

    function fungsikelenjar() {
        if ($('#AssKelaminKulit_FungsiKelenjar').is(':checked')) {
            $('#AssKelaminKulit_FungsiKelenjar_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_FungsiKelenjar_Ket').prop('disabled', true);
            $('#AssKelaminKulit_FungsiKelenjar_Ket').val('');
        }
    }

    function kelenjarlimfe() {
        if ($('#AssKelaminKulit_KelenjarLimfe').is(':checked')) {
            $('#AssKelaminKulit_KelenjarLimfe_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_KelenjarLimfe_Ket').prop('disabled', true);
            $('#AssKelaminKulit_KelenjarLimfe_Ket').val('');
        }
    }

    function syaraf() {
        if ($('#AssKelaminKulit_Syaraf').is(':checked')) {
            $('#AssKelaminKulit_Syaraf_Ket').prop('disabled', false);
        } else {
            $('#AssKelaminKulit_Syaraf_Ket').prop('disabled', true);
            $('#AssKelaminKulit_Syaraf_Ket').val('');
        }
    }

    function loadTemplate() {
        var id = $('#AssKelaminKulit_DokumenID').val();
        var nama = $('#AssKelaminKulit_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatPoliKulitKelamin", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssKelaminKulit_Rujukan_Ya').prop('checked', data.Data.Rujukan_Ya == 1 ? true : false);
                $('#AssKelaminKulit_Rujukan_Ya_Ket').val(data.Data.Rujukan_Ya_Ket);
                $('#AssKelaminKulit_Rujukan_Ya_Dx').val(data.Data.Rujukan_Ya_Dx);
                $('#AssKelaminKulit_Rujukan_Tidak').prop('checked', data.Data.Rujukan_Tidak == 1 ? true : false);
                $('#AssKelaminKulit_NamaKeluarga').val(data.Data.NamaKeluarga);
                $('#AssKelaminKulit_AlamatKeluarga').val(data.Data.AlamatKeluarga);
                $('#AssKelaminKulit_TeleponKeluarga').val(data.Data.TeleponKeluarga);
                $('#AssKelaminKulit_Transportasi').val(data.Data.Transportasi);
                $('#AssKelaminKulit_Transportasi_Ket').val(data.Data.Transportasi_Ket);
                $('#AssKelaminKulit_Nyeri').val(data.Data.Nyeri);
                $('#AssKelaminKulit_Lokasi').val(data.Data.Lokasi);
                $('#AssKelaminKulit_Intensitas').val(data.Data.Intensitas);
                $('#AssKelaminKulit_Jenis').val(data.Data.Jenis);
                $('#AssKelaminKulit_Riwayat_Alergi').val(data.Data.Riwayat_Alergi);
                $('#AssKelaminKulit_Riwayat_Alergi_Ket').val(data.Data.Riwayat_Alergi_Ket);
                $('#AssKelaminKulit_KeluhanUtama').val(data.Data.KeluhanUtama);
                $('#AssKelaminKulit_Riwayat_PenyakitSekarang').val(data.Data.Riwayat_PenyakitSekarang);
                $('#AssKelaminKulit_PenyakitDahulu_Hipertensi').prop('checked', data.Data.PenyakitDahulu_Hipertensi == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitDahulu_Diabetes').prop('checked', data.Data.PenyakitDahulu_Diabetes == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitDahulu_Jantung').prop('checked', data.Data.PenyakitDahulu_Jantung == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitDahulu_Asthma').prop('checked', data.Data.PenyakitDahulu_Asthma == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitDahulu_Lain').prop('checked', data.Data.PenyakitDahulu_Lain == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitDahulu_Lain_Ket').val(data.Data.PenyakitDahulu_Lain_Ket);
                $('#AssKelaminKulit_Riwayat_Pengobatan').val(data.Data.Riwayat_Pengobatan);
                $('#AssKelaminKulit_PenyakitKeluarga_Hipertensi').prop('checked', data.Data.PenyakitKeluarga_Hipertensi == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitKeluarga_Diabetes').prop('checked', data.Data.PenyakitKeluarga_Diabetes == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitKeluarga_Jantung').prop('checked', data.Data.PenyakitKeluarga_Jantung == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitKeluarga_Asthma').prop('checked', data.Data.PenyakitKeluarga_Asthma == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitKeluarga_Lain').prop('checked', data.Data.PenyakitKeluarga_Lain == 1 ? true : false);
                $('#AssKelaminKulit_PenyakitKeluarga_Lain_Ket').val(data.Data.PenyakitKeluarga_Lain_Ket);
                $('#AssKelaminKulit_RiwayatSosial_Merokok').prop('checked', data.Data.RiwayatSosial_Merokok == 1 ? true : false);
                $('#AssKelaminKulit_RiwayatSosial_Alkohol').prop('checked', data.Data.RiwayatSosial_Alkohol == 1 ? true : false);
                $('#AssKelaminKulit_RiwayatSosial_Lain').prop('checked', data.Data.RiwayatSosial_Lain == 1 ? true : false);
                $('#AssKelaminKulit_RiwayatSosial_Lain_Ket').val(data.Data.RiwayatSosial_Lain_Ket);
                $('#AssKelaminKulit_Lokalisasi').prop('checked', data.Data.Lokalisasi == 1 ? true : false);
                $('#AssKelaminKulit_Lokalisasi_Ket').val(data.Data.Lokalisasi_Ket);
                $('#AssKelaminKulit_BentukKelamin').prop('checked', data.Data.BentukKelamin == 1 ? true : false);
                $('#AssKelaminKulit_BentukKelamin_Ket').val(data.Data.BentukKelamin_Ket);
                $('#AssKelaminKulit_StigmataAtopik').prop('checked', data.Data.StigmataAtopik == 1 ? true : false);
                $('#AssKelaminKulit_StigmataAtopik_Ket').val(data.Data.StigmataAtopik_Ket);
                $('#AssKelaminKulit_Mukosa').prop('checked', data.Data.Mukosa == 1 ? true : false);
                $('#AssKelaminKulit_Mukosa_Ket').val(data.Data.Mukosa_Ket);
                $('#AssKelaminKulit_Rambut').prop('checked', data.Data.Rambut == 1 ? true : false);
                $('#AssKelaminKulit_Rambut_Ket').val(data.Data.Rambut_Ket);
                $('#AssKelaminKulit_Kuku').prop('checked', data.Data.Kuku == 1 ? true : false);
                $('#AssKelaminKulit_Kuku_Ket').val(data.Data.Kuku_Ket);
                $('#AssKelaminKulit_FungsiKelenjar').prop('checked', data.Data.FungsiKelenjar == 1 ? true : false);
                $('#AssKelaminKulit_FungsiKelenjar_Ket').val(data.Data.FungsiKelenjar_Ket);
                $('#AssKelaminKulit_KelenjarLimfe').prop('checked', data.Data.KelenjarLimfe == 1 ? true : false);
                $('#AssKelaminKulit_KelenjarLimfe_Ket').val(data.Data.KelenjarLimfe_Ket);
                $('#AssKelaminKulit_Syaraf').prop('checked', data.Data.Syaraf == 1 ? true : false);
                $('#AssKelaminKulit_Syaraf_Ket').val(data.Data.Syaraf_Ket);
                $('#AssKelaminKulit_Diagnosa').val(data.Data.Diagnosa);
                $('#AssKelaminKulit_DokterBPJP').val(data.Data.DokterBPJP);
                $('#AssKelaminKulit_DokterBPJPNama').val(data.Data.DokterBPJPNama);
            }
        });
    }

    $(document).ready(function () {
        rujukan();
        transportasi();
        nyeri();
        riwayatalergi();
        riwayatpenyakitdahulu();
        riwayatpenyakitkeluarga();
        riwayatsosial();
        lokalisasi();
        bentukkelamin();
        stigmataatopik();
        mukosa();
        rambut();
        kuku();
        fungsikelenjar();
        kelenjarlimfe();
        syaraf();
    });
</script>

<!-- JS GAMBAR   -->
<script type="text/javascript">
    var xGambar1;
    @if (Model != null)
    {
        if (Model.AssKelaminKulit.Gambar1 != null)
        {
            @:xGambar1= new Image();
            @:xGambar1.src = 'data:image/png;base64,@(Model.AssKelaminKulit.Gambar1)';
        }
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        //loading();
        idGambar1 = new iPainter('Canvas_Gambar1', 'Gambar1', xGambar1, null, null, 300, 350);


        @if (!string.IsNullOrEmpty(ViewBag.Status))
        {
           @:alertpopup('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.Message))','@ViewBag.Status');
        }
    });


    function SubmitForm_IlmuPenyakitKulitDanKelamin(e) {
        try {
            idGambar1.convert('AssKelaminKulit_Gambar1');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function gridBox_valueChanged(e) {
        var $dataGrid;
        if (e.element.hasClass('dx-texteditor'))
            $dataGrid = $(e.element.parent()).find('#embedded-datagrid');

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    function gridBox_displayExpr(item) {
        return item && "[" + item.DokterID + "] " + item.NamaDOkter;
    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }

    document.onkeypress = stopRKey;

    const canvas = document.getElementById('Canvas_Gambar1');
    const ctx = canvas.getContext('2d');
    canvas.width = 345;
    canvas.height = 350;
    ctx.lineJoin = 'round';
    ctx.lineCap = 'round';
    ctx.lineWidth = 3;
    ctx.color = 'df4b26';
    var color = 'df4b26';
    var line = 3;
    let drawing = false;
    let pathsry = [];
    let points = [];

    var mouse = { x: 0, y: 0 };
    var previous = { x: 0, y: 0 };

    canvas.addEventListener('mousedown', function (e) {
        drawing = true;
        previous = { x: mouse.x, y: mouse.y };
        points = [];
        mouse = oMousePos(canvas, e);
        points.push({ x: mouse.x, y: mouse.y, color: canvas.getContext('2d').strokeStyle, line: $('#size_Gambar1 option:selected').data('line'), text: $('#text_Gambar1').val() });

    });

    canvas.addEventListener('mousemove', function (e) {
        if (drawing) {
            previous = { x: mouse.x, y: mouse.y };
            mouse = oMousePos(canvas, e);
            points.push({ x: mouse.x, y: mouse.y, color: canvas.getContext('2d').strokeStyle, line: $('#size_Gambar1 option:selected').data('line'), text: $('#text_Gambar1').val() });
            ctx.beginPath();
            ctx.moveTo(previous.x, previous.y);
            ctx.lineTo(mouse.x, mouse.y);
            ctx.strokeStyle = canvas.getContext('2d').strokeStyle;
            ctx.lineWidth = $('#size_Gambar1 option:selected').data('line');
            ctx.stroke();
        }
    }, false);


    canvas.addEventListener('mouseup', function () {
        drawing = false;
        pathsry.push(points);
    }, false);


    function drawPaths() {
        // delete everything
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        // draw all the paths in the paths array
        idGambar1 = new iPainter('Canvas_Gambar1', 'Gambar1', xGambar1, canvas.getContext('2d').strokeStyle, $('#size_Gambar1 option:selected').data('line'), 300, 350);

        pathsry.forEach(path => {
            ctx.beginPath();
            ctx.moveTo(path[0].x, path[0].y);
            for (let i = 1; i < path.length; i++) {
                ctx.lineTo(path[i].x, path[i].y);
                ctx.strokeStyle = path[i].color;
                ctx.lineWidth = path[i].line;
                ctx.lineJoin = "round";
                ctx.stroke();
            }
        })

    }

    function Undo() {
        // remove the last path from the paths array
        pathsry.splice(-1, 1);
        // draw all the paths in the paths array
        drawPaths();
    }


    // a function to detect the mouse position
    function oMousePos(canvas, evt) {
        var ClientRect = canvas.getBoundingClientRect();
        return { //objeto
            x: Math.round(evt.clientX - ClientRect.left),
            y: Math.round(evt.clientY - ClientRect.top)
        }
    }

</script>