﻿
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_IlmuPenyakitJiwa_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Html.BeginForm("IlmuPenyakitJiwa", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.AssJiwa.NoReg)
        @Html.HiddenFor(Model => Model.AssJiwa.SectionID)
        @Html.HiddenFor(Model => Model.AssJiwa.Nomor)
        @Html.HiddenFor(Model => Model.AssJiwa.NRM)
        @Html.HiddenFor(Model => Model.AssJiwa.TandaTanganDokter)
        @Html.HiddenFor(Model => Model.AssJiwa.TandaTanganDPJP)
        @Html.HiddenFor(Model => Model.AssJiwa.DokumenID)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT JIWA</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssJiwa.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssJiwa.Tanggal != null ? (Model.AssJiwa.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssJiwa.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssJiwa.Jam != null ? Model.AssJiwa.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Jam, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Template
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplatetrauma()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssJiwa.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukanjiwa()" } })
                                Ya
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.Rujukan_RS, new { htmlAttributes = new { onclick = "rujukanrsjiwa()", disabled = true } })
                                    RS
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Rujukan_RS_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Rujukan_RS_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.Rujukan_Puskesmas, new { htmlAttributes = new { onclick = "rujukanpuskesmasjiwa()", disabled = true } })
                                    Puskesmas
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Rujukan_Puskesmas_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Rujukan_Puskesmas_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.Rujukan_Dr, new { htmlAttributes = new { onclick = "rujukandrjiwa()", disabled = true } })
                                    Dr.
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Rujukan_Dr_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Rujukan_Dr_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.Rujukan_Lainnya, new { htmlAttributes = new { onclick = "rujukanlainnyajiwa()", disabled = true } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Rujukan_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Rujukan_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="col-md-offset-2 col-md-2">
                                <label class="checkbox checkbox-inline control-label">
                                    @Html.EditorFor(model => model.AssJiwa.DxRujukan, new { htmlAttributes = new { onclick = "rujukandxjiwa()", disabled = true } })
                                    Dx Rujukan
                                </label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AssJiwa.DxRujukan_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.DxRujukan_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <label class=" control-label">
                                Tidak
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AssJiwa.Tidak_DatangSendiri_Diantar, StaticModel.ListDiantar, new { @class = "form-control", disabled = true, onclick = "diantarjiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Tidak_DatangSendiri_Diantar, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssJiwa.Tidak_DatangSendiri_Diantar_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Tidak_DatangSendiri_Diantar_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Asuransi
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Asuransi, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.Asuransi != null ? (Model.AssJiwa.Asuransi) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Asuransi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Nama Keluarga :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssJiwa.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.NamaKeluarga != null ? (Model.AssJiwa.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.NamaKeluarga, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            No. HP/ Telp :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssJiwa.TelpKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.TelpKeluarga != null ? (Model.AssJiwa.TelpKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.TelpKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alamat
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.AlamatKeluarga != null ? (Model.AssJiwa.AlamatKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.AlamatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.AssJiwa.TranspotasiDatang, StaticModel.ListKendaraan, new { @class = "form-control", onclick = "transportasijiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.TranspotasiDatang, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssJiwa.TranspotasiDatang_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.TranspotasiDatang_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class=form-group>
                        <label class="col-md-2 control-label">Riwayat Alergi :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "alergijiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Obat :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Obat, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Obat, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">

                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Obat_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Obat_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">Makanan :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Makanan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Makanan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Makanan_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Makanan_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">Lainnya :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Lainlain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Lainlain, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssJiwa.RiwayatAlergi_Lainlain_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatAlergi_Lainlain_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyerijiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssJiwa.Nyeri_Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Nyeri_Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssJiwa.Nyeri_Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Nyeri_Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.Nyeri_Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Nyeri_Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            ANAMNESA
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Wawancara :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssJiwa.Wawancara, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Wawancara, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            1. Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssJiwa.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            2. Riwayat Penyakit Sekarang  :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssJiwa.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Auto Anamnesa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssJiwa.AutoAnamnesa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.AutoAnamnesa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Hetero Anamnesa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssJiwa.HeteroAnamnesa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.HeteroAnamnesa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Pencetus/Penyebab :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssJiwa.FaktorPencetus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.FaktorPencetus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Keluarga :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssJiwa.FaktorKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.FaktorKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Kerja/Sosial :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssJiwa.FungsiKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.FungsiKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Riwayat NAPZA :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.RiwayatNAPZA, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatnapzajiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RiwayatNAPZA, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.LamaPakai, new { htmlAttributes = new { onclick = "riwayatnapzalamapakaijiwa()", disabled = true } })
                                    Lama Pemakaian
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.LamaPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.LamaPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.JenisZat, new { htmlAttributes = new { onclick = "riwayatnapzajeniszatjiwa()", disabled = true } })
                                    Jenis Zat
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.JenisZat_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.JenisZat_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.CaraPakai, new { htmlAttributes = new { onclick = "riwayatnapzacarapakaijiwa()", disabled = true } })
                                    Cara Pemakaian
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.CaraPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.CaraPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.LatarBelakangPakai, new { htmlAttributes = new { onclick = "riwayatnapzalatarbelakangjiwa()", disabled = true } })
                                    Latar Belakang Pemakaian
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.LatarBelakangPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.LatarBelakangPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Premorbid :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssJiwa.FaktorPremorbid, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.FaktorPremorbid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Organik :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.AssJiwa.FaktorOrganik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.FaktorOrganik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            STATUS PSIKIATRI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Kesan Umum :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.KesanUmum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.KesanUmum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Kesadaran :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Kesadaran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Mood / Afek :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Mood, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Mood, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Proses Pikir :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.ProsesPikir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.ProsesPikir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Persepsi :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Penerapan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Penerapan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Intelegensi :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Intelegensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Intelegensi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Psikomotorik :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssJiwa.Psikomotor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Psikomotor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            1. STATUS INTERNE
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Kesadaran Umum:
                                </label>
                                @Html.DropDownListFor(model => model.AssJiwa.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AssJiwa.KeadaanUmum, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tensi
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Tensi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    mmHg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Nadi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    X/menit
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    X/menit
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Suhu, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    <sub>o</sub>C
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Gizi
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.Gizi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.Gizi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            STATUS NEUROLOGI:
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssJiwa.StatusNeorologi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.StatusNeorologi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            TERAPI :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('#AssJiwa_Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssJiwa.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            DIAGNOSA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssJiwa.DiagnosaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.DiagnosaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            RENCANA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssJiwa.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">DIPOSISI :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssJiwa.BolehPulang, new { htmlAttributes = new { onclick = "disposisibolehpulangjiwa()" } })
                                Boleh Pulang:
                            </label>
                        </div>
                        <label class="col-md-2 control-label">Jam Keluar:</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssJiwa.BolehPulang_Jam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.AssJiwa.BolehPulang_Jam != null ? Model.AssJiwa.BolehPulang_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.BolehPulang_Jam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Wita</label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">Tanggal:</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssJiwa.BolehPulang_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.BolehPulang_Tanggal != null ? (Model.AssJiwa.BolehPulang_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.BolehPulang_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2 control-label">KontrolPoli :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssJiwa.KontrolPoli, StaticModel.ListYaTidak, new { @class = "form-control", disabled = true, onclick = "kontrolpolijiwa()" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.KontrolPoli, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Tanggal:</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AssJiwa.KontrolPoli_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AssJiwa.KontrolPoli_Tanggal != null ? (Model.AssJiwa.KontrolPoli_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssJiwa.KontrolPoli_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssJiwa.DPJP, Model.AssJiwa.DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssJiwa.DPJP.ToString(), Text = Model.AssJiwa.DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.DPJP, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssJiwa.SudahRegDPJP == 0)
                            {
                                <a id="btn_assjiwadpjp" class="btn btn-primary disabled" onclick="user_verif_assjiwadpjp()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssJiwaDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assjiwadpjp" class="btn btn-primary" onclick="user_verif_assjiwadpjp()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssJiwaDPJP"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.AssJiwa.Dokter, Model.AssJiwa.Dokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssJiwa.Dokter.ToString(), Text = Model.AssJiwa.DokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssJiwa.Dokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.AssJiwa.SudahRegDokter == 0)
                            {
                                <a id="btn_assjiwadokter" class="btn btn-primary disabled" onclick="user_verif_assjiwadokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssJiwaDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_assjiwadokter" class="btn btn-primary" onclick="user_verif_assjiwadokter()" href="finspot:FingerspotVer;@ViewBag.UrlFingerAssJiwaDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssJiwa.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssJiwa.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssJiwa.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssJiwa.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFIlmuPenyakitJiwa", new { noreg = Model.AssJiwa.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.AssJiwa.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokterpengajian = $('#@formName #AssJiwa_DPJP');
    var dokter = $('#@formName #AssJiwa_Dokter');

    dokterpengajian.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    $('#AssJiwa_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssJiwa_DokumenID').val(),
                    dokter: $('#AssJiwa_DPJP').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>
    function loadTemplatetrauma() {
        var id = $('#AssJiwa_DokumenID').val();
        var nama = $('#AssJiwa_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatJiwa", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssJiwa_Rujukan_Ya').prop('checked', data.Data.Rujukan_Ya == 1 ? true : false);
                $('#AssJiwa_Rujukan_RS').prop('checked', data.Data.Rujukan_RS == 1 ? true : false);
                $('#AssJiwa_Rujukan_RS_Ket').val(data.Data.Rujukan_RS_Ket);
                $('#AssJiwa_Rujukan_Dr').prop('checked', data.Data.Rujukan_Dr == 1 ? true : false);
                $('#AssJiwa_Rujukan_Dr_Ket').val(data.Data.Rujukan_Dr_Ket);
                $('#AssJiwa_Rujukan_Puskesmas').prop('checked', data.Data.Rujukan_Puskesmas == 1 ? true : false);
                $('#AssJiwa_Rujukan_Puskesmas_Ket').val(data.Data.Rujukan_Puskesmas_Ket);
                $('#AssJiwa_Rujukan_Lainnya').prop('checked', data.Data.Rujukan_Lainnya == 1 ? true : false);
                $('#AssJiwa_Rujukan_Lainnya_Ket').val(data.Data.Rujukan_Lainnya_Ket);
                $('#AssJiwa_DxRujukan').prop('checked', data.Data.DxRujukan == 1 ? true : false);
                $('#AssJiwa_DxRujukan_Ket').val(data.Data.DxRujukan_Ket);
                $('#AssJiwa_Tidak_DatangSendiri_Diantar').val(data.Data.Tidak_DatangSendiri_Diantar);
                $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').val(data.Data.Tidak_DatangSendiri_Diantar_Ket);
                $('#AssJiwa_Asuransi').val(data.Data.Asuransi);
                $('#AssJiwa_TranspotasiDatang').val(data.Data.TranspotasiDatang);
                $('#AssJiwa_TranspotasiDatang_Ket').val(data.Data.TranspotasiDatang_Ket);
                $('#AssJiwa_RiwayatAlergi').val(data.Data.RiwayatAlergi);
                $('#AssJiwa_RiwayatAlergi_Obat').val(data.Data.RiwayatAlergi_Obat);
                $('#AssJiwa_RiwayatAlergi_Obat_Gejala').val(data.Data.RiwayatAlergi_Obat_Gejala);
                $('#AssJiwa_RiwayatAlergi_Makanan').val(data.Data.RiwayatAlergi_Makanan);
                $('#AssJiwa_RiwayatAlergi_Makanan_Gejala').val(data.Data.RiwayatAlergi_Makanan_Gejala);
                $('#AssJiwa_RiwayatAlergi_Lainlain').val(data.Data.RiwayatAlergi_Lainlain);
                $('#AssJiwa_RiwayatAlergi_Lainlain_Gejala').val(data.Data.RiwayatAlergi_Lainlain_Gejala);
                $('#AssJiwa_Nyeri').val(data.Data.Nyeri);
                $('#AssJiwa_Nyeri_Lokasi').val(data.Data.Nyeri_Lokasi);
                $('#AssJiwa_Nyeri_Intensitas').val(data.Data.Nyeri_Intensitas);
                $('#AssJiwa_Nyeri_Jenis').val(data.Data.Nyeri_Jenis);
                $('#AssJiwa_Wawancara').val(data.Data.Wawancara);
                $('#AssJiwa_KeluhanUtama').val(data.Data.KeluhanUtama);
                $('#AssJiwa_RiwayatPenyakitSekarang').val(data.Data.RiwayatPenyakitSekarang);
                $('#AssJiwa_AutoAnamnesa').val(data.Data.AutoAnamnesa);
                $('#AssJiwa_HeteroAnamnesa').val(data.Data.HeteroAnamnesa);
                $('#AssJiwa_FaktorPencetus').val(data.Data.FaktorPencetus);
                $('#AssJiwa_FaktorKeluarga').val(data.Data.FaktorKeluarga);
                $('#AssJiwa_FungsiKerja').val(data.Data.FungsiKerja);
                $('#AssJiwa_RiwayatNAPZA').val(data.Data.RiwayatNAPZA);
                $('#AssJiwa_LamaPakai').prop('checked', data.Data.LamaPakai == 1 ? true : false);
                $('#AssJiwa_LamaPakai_Ket').val(data.Data.LamaPakai_Ket);
                $('#AssJiwa_JenisZat').prop('checked', data.Data.JenisZat == 1 ? true : false);
                $('#AssJiwa_JenisZat_Ket').val(data.Data.JenisZat_Ket);
                $('#AssJiwa_CaraPakai').prop('checked', data.Data.CaraPakai == 1 ? true : false);
                $('#AssJiwa_CaraPakai_Ket').val(data.Data.CaraPakai_Ket);
                $('#AssJiwa_LatarBelakangPakai').prop('checked', data.Data.LatarBelakangPakai == 1 ? true : false);
                $('#AssJiwa_LatarBelakangPakai_Ket').val(data.Data.LatarBelakangPakai_Ket);
                $('#AssJiwa_FaktorPremorbid').val(data.Data.FaktorPremorbid);
                $('#AssJiwa_FaktorOrganik').val(data.Data.FaktorOrganik);
                $('#AssJiwa_KesanUmum').val(data.Data.KesanUmum);
                $('#AssJiwa_Kesadaran').val(data.Data.Kesadaran);
                $('#AssJiwa_Mood').val(data.Data.Mood);
                $('#AssJiwa_ProsesPikir').val(data.Data.ProsesPikir);
                $('#AssJiwa_Penerapan').val(data.Data.Penerapan);
                $('#AssJiwa_Intelegensi').val(data.Data.Intelegensi);
                $('#AssJiwa_DoronganInsting').val(data.Data.DoronganInsting);
                $('#AssJiwa_Psikomotor').val(data.Data.Psikomotor);
                $('#AssJiwa_KeadaanUmum').val(data.Data.KeadaanUmum);
                $('#AssJiwa_Gizi').val(data.Data.Gizi);
                $('#AssJiwa_Tensi').val(data.Data.Tensi);
                $('#AssJiwa_Suhu').val(data.Data.Suhu);
                $('#AssJiwa_Nadi').val(data.Data.Nadi);
                $('#AssJiwa_Respirasi').val(data.Data.Respirasi);
                $('#AssJiwa_BeratBadan').val(data.Data.BeratBadan);
                $('#AssJiwa_StatusNeorologi').val(data.Data.StatusNeorologi);
                $('#AssJiwa_Terapi').val(data.Data.Terapi);
                $('#AssJiwa_DiagnosaKerja').val(data.Data.DiagnosaKerja);
                $('#AssJiwa_RencanaKerja').val(data.Data.RencanaKerja);
                $('#AssJiwa_BolehPulang').prop('checked', data.Data.BolehPulang == 1 ? true : false);
                $('#AssJiwa_KontrolPoli').val(data.Data.KontrolPoli);
                $('#AssJiwa_Dokter').val(data.Data.Dokter);
                $('#AssJiwa_DokterNama').val(data.Data.DokterNama);
                $('#AssJiwa_DPJP').val(data.Data.DPJP);
            }
        });
    }

    function user_verif_assjiwadpjp() {
        var reStatsAssJiwaDPJP = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssJiwa_DPJP').val();
        var noreg = $('#AssJiwa_NoReg').val();
        var section = $('#AssJiwa_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassjiwadpjp(noreg, section, user_id);
            if (ct >= limit || reStatsAssJiwaDPJP == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssJiwaDPJP == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssJiwaDPJP == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassjiwadpjp(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssJiwa", "VerifAssJiwa")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterPengkaji == "1") {
                            reStatsAssJiwaDPJP = 1;
                        }
                    }
                    else {
                        reStatsAssJiwaDPJP = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_assjiwadokter() {
        var reStatsAssJiwaDokter = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#AssJiwa_Dokter').val();
        var noreg = $('#AssJiwa_NoReg').val();
        var section = $('#AssJiwa_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifassjiwadokter(noreg, section, user_id);
            if (ct >= limit || reStatsAssJiwaDokter == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsAssJiwaDokter == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsAssJiwaDokter == 1) {
                    alertpopup("Verification success!", "success");
                    location.reload();
                }
            }
            ct++;
        });

        function user_checkverifassjiwadokter(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilAssJiwa", "VerifAssJiwa")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsAssJiwaDokter = 1;
                        }
                    }
                    else {
                        reStatsAssJiwaDokter = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function rujukanjiwa() {
        if ($('#AssJiwa_Rujukan_Ya').is(':checked')) {
            $('#AssJiwa_Rujukan_RS').prop('disabled', false);
            $('#AssJiwa_Rujukan_Dr').prop('disabled', false);
            $('#AssJiwa_Rujukan_Puskesmas').prop('disabled', false);
            $('#AssJiwa_Rujukan_Lainnya').prop('disabled', false);
            $('#AssJiwa_DxRujukan').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_RS').prop('checked', false);
            $('#AssJiwa_Rujukan_RS').prop('disabled', true);
            $('#AssJiwa_Rujukan_Dr').prop('checked', false);
            $('#AssJiwa_Rujukan_Dr').prop('disabled', true);
            $('#AssJiwa_Rujukan_Puskesmas').prop('checked', false);
            $('#AssJiwa_Rujukan_Puskesmas').prop('disabled', true);
            $('#AssJiwa_Rujukan_Lainnya').prop('checked', false);
            $('#AssJiwa_Rujukan_Lainnya').prop('disabled', true);
            $('#AssJiwa_DxRujukan').prop('checked', false);
            $('#AssJiwa_DxRujukan').prop('disabled', true);
            $('#AssJiwa_Rujukan_RS_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_RS_Ket').val('');
            $('#AssJiwa_Rujukan_Dr_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Dr_Ket').val('');
            $('#AssJiwa_Rujukan_Puskesmas_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Puskesmas_Ket').val('');
            $('#AssJiwa_DxRujukan_Ket').prop('disabled', true);
            $('#AssJiwa_DxRujukan_Ket').val('');
            $('#AssJiwa_Rujukan_Lainnya_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Lainnya_Ket').val('');
        }
    }

    function rujukantidakjiwa() {
        if ($('#AssJiwa_Rujukan_Tidak').is(':checked')) {
            $('#AssJiwa_Rujukan_DatangSendiri').prop('disabled', false);
            $('#AssJiwa_Rujukan_Diantar').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_DatangSendiri').prop('checked', false);
            $('#AssJiwa_Rujukan_DatangSendiri').prop('disabled', true);
            $('#AssJiwa_Rujukan_Diantar').prop('checked', false);
            $('#AssJiwa_Rujukan_Diantar').prop('disabled', true);
            $('#AssJiwa_Rujukan_Diantar_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Diantar_Ket').val('');

        }
    }

    function rujukanrsjiwa() {
        if ($('#AssJiwa_Rujukan_RS').is(':checked')) {
            $('#AssJiwa_Rujukan_RS_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_RS_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_RS_Ket').val('');
        }
    }

    function rujukandrjiwa() {
        if ($('#AssJiwa_Rujukan_Dr').is(':checked')) {
            $('#AssJiwa_Rujukan_Dr_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_Dr_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Dr_Ket').val('');
        }
    }

    function rujukanpuskesmasjiwa() {
        if ($('#AssJiwa_Rujukan_Puskesmas').is(':checked')) {
            $('#AssJiwa_Rujukan_Puskesmas_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_Puskesmas_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Puskesmas_Ket').val('');
        }
    }

    function rujukanlainnyajiwa() {
        if ($('#AssJiwa_Rujukan_Lainnya').is(':checked')) {
            $('#AssJiwa_Rujukan_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_Rujukan_Lainnya_Ket').prop('disabled', true);
            $('#AssJiwa_Rujukan_Lainnya_Ket').val('');
        }
    }

    function rujukandxjiwa() {
        if ($('#AssJiwa_DxRujukan').is(':checked')) {
            $('#AssJiwa_DxRujukan_Ket').prop('disabled', false);
            $('#AssJiwa_Tidak_DatangSendiri_Diantar').prop('disabled', false);
        } else {
            $('#AssJiwa_DxRujukan_Ket').prop('disabled', true);
            $('#AssJiwa_DxRujukan_Ket').val('');
            $('#AssJiwa_Tidak_DatangSendiri_Diantar').prop('disabled', true);
            $('#AssJiwa_Tidak_DatangSendiri_Diantar').val('');
            $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').prop('disabled', true);
            $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').val('');
        }
    }

    function diantarjiwa() {
        if ($("#AssJiwa_Tidak_DatangSendiri_Diantar option:selected").val() == 'Diantar') {
            $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').prop('disabled', true);
            $('#AssJiwa_Tidak_DatangSendiri_Diantar_Ket').val('');
        }
    }

    function transportasijiwa() {
        if ($("#AssJiwa_TranspotasiDatang option:selected").val() == 'Kendaraan Lainnya') {
            $('#AssJiwa_TranspotasiDatang_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_TranspotasiDatang_Ket').prop('disabled', true);
            $('#AssJiwa_TranspotasiDatang_Ket').val('');
        }
    }

    function alergijiwa() {
        if ($("#AssJiwa_RiwayatAlergi option:selected").val() == 'Ya') {
            $('#AssJiwa_RiwayatAlergi_Obat').prop('disabled', false);
            $('#AssJiwa_RiwayatAlergi_Obat_Gejala').prop('disabled', false);
            $('#AssJiwa_RiwayatAlergi_Makanan').prop('disabled', false);
            $('#AssJiwa_RiwayatAlergi_Makanan_Gejala').prop('disabled', false);
            $('#AssJiwa_RiwayatAlergi_Lainlain').prop('disabled', false);
            $('#AssJiwa_RiwayatAlergi_Lainlain_Gejala').prop('disabled', false);
        } else {
            $('#AssJiwa_RiwayatAlergi_Obat').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Obat').val('');
            $('#AssJiwa_RiwayatAlergi_Obat_Gejala').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Obat_Gejala').val('');
            $('#AssJiwa_RiwayatAlergi_Makanan').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Makanan').val('');
            $('#AssJiwa_RiwayatAlergi_Makanan_Gejala').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Makanan_Gejala').val('');
            $('#AssJiwa_RiwayatAlergi_Lainlain').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Lainlain').val('');
            $('#AssJiwa_RiwayatAlergi_Lainlain_Gejala').prop('disabled', true);
            $('#AssJiwa_RiwayatAlergi_Lainlain_Gejala').val('');
        }
    }

    function riwayatnapzajiwa() {
        if ($("#AssJiwa_RiwayatNAPZA option:selected").val() == 'Ya') {
            $('#AssJiwa_LamaPakai').prop('disabled', false);
            $('#AssJiwa_JenisZat').prop('disabled', false);
            $('#AssJiwa_CaraPakai').prop('disabled', false);
            $('#AssJiwa_LatarBelakangPakai').prop('disabled', false);
        } else {
            $('#AssJiwa_LamaPakai').prop('checked', false);
            $('#AssJiwa_LamaPakai').prop('disabled', true);
            $('#AssJiwa_JenisZat').prop('checked', false);
            $('#AssJiwa_JenisZat').prop('disabled', true);
            $('#AssJiwa_CaraPakai').prop('checked', false);
            $('#AssJiwa_CaraPakai').prop('disabled', true);
            $('#AssJiwa_LatarBelakangPakai').prop('checked', false);
            $('#AssJiwa_LatarBelakangPakai').prop('disabled', true);
            $('#AssJiwa_LamaPakai_Ket').prop('disabled', true);
            $('#AssJiwa_LamaPakai_Ke').val('');
            $('#AssJiwa_JenisZat_Ket').prop('disabled', true);
            $('#AssJiwa_JenisZat_Ket').val('');
            $('#AssJiwa_CaraPakai_Ket').prop('disabled', true);
            $('#AssJiwa_CaraPakai_Ket').val('');
            $('#AssJiwa_LatarBelakangPakai_Ket').prop('disabled', true);
            $('#AssJiwa_LatarBelakangPakai_Ket').val('');
        }
    }

    function riwayatnapzalamapakaijiwa() {
        if ($('#AssJiwa_LamaPakai').is(':checked')) {
            $('#AssJiwa_LamaPakai_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_LamaPakai_Ket').prop('disabled', true);
            $('#AssJiwa_LamaPakai_Ket').val('');
        }
    }

    function riwayatnapzajeniszatjiwa() {
        if ($('#AssJiwa_JenisZat').is(':checked')) {
            $('#AssJiwa_JenisZat_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_JenisZat_Ket').prop('disabled', true);
            $('#AssJiwa_JenisZat_Ket').val('');
        }
    }

    function riwayatnapzacarapakaijiwa() {
        if ($('#AssJiwa_CaraPakai').is(':checked')) {
            $('#AssJiwa_CaraPakai_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_CaraPakai_Ket').prop('disabled', true);
            $('#AssJiwa_CaraPakai_Ket').val('');
        }
    }

    function riwayatnapzalatarbelakangjiwa() {
        if ($('#AssJiwa_LatarBelakangPakai').is(':checked')) {
            $('#AssJiwa_LatarBelakangPakai_Ket').prop('disabled', false);
        } else {
            $('#AssJiwa_LatarBelakangPakai_Ket').prop('disabled', true);
            $('#AssJiwa_LatarBelakangPakai_Ket').val('');
        }
    }

    function nyerijiwa() {
        if ($("#AssJiwa_Nyeri option:selected").val() == 'Ya') {
            $('#AssJiwa_Nyeri_Lokasi').prop('disabled', false);
            $('#AssJiwa_Nyeri_Intensitas').prop('disabled', false);
        } else {
            $('#AssJiwa_Nyeri_Lokasi').prop('disabled', true);
            $('#AssJiwa_Nyeri_Lokasi').val('');
            $('#AssJiwa_Nyeri_Intensitas').prop('disabled', true);
            $('#AssJiwa_Nyeri_Intensitas').val('');
        }
    }

    function disposisibolehpulangjiwa() {
        if ($('#AssJiwa_BolehPulang').is(':checked')) {
            $('#AssJiwa_BolehPulang_Jam').prop('disabled', false);
            $('#AssJiwa_BolehPulang_Tanggal').prop('disabled', false);
            $('#AssJiwa_KontrolPoli').prop('disabled', false);
        } else {
            $('#AssJiwa_BolehPulang_Jam').prop('disabled', true);
            $('#AssJiwa_BolehPulang_Jam').val('');
            $('#AssJiwa_BolehPulang_Tanggal').prop('disabled', true);
            $('#AssJiwa_BolehPulang_Tanggal').val('');
            $('#AssJiwa_KontrolPoli').prop('disabled', true);
            $('#AssJiwa_KontrolPoli').val('');
            $('#AssJiwa_KontrolPoli_Tanggal').prop('disabled', true);
            $('#AssJiwa_KontrolPoli_Tanggal').val('');
        }
    }

    function kontrolpolijiwa() {
        if ($("#AssJiwa_KontrolPoli option:selected").val() == 'Ya') {
            $('#AssJiwa_KontrolPoli_Tanggal').prop('disabled', false);
        } else {
            $('#AssJiwa_KontrolPoli_Tanggal').prop('disabled', true);
            $('#AssJiwa_KontrolPoli_Tanggal').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }



    $(document).ready(function () {
        rujukanjiwa();
        rujukantidakjiwa();
        rujukanrsjiwa();
        rujukandrjiwa();
        rujukanpuskesmasjiwa();
        rujukanlainnyajiwa();
        rujukandxjiwa();
        diantarjiwa();
        transportasijiwa();
        alergijiwa();
        nyerijiwa();
        riwayatnapzajiwa();
        riwayatnapzalamapakaijiwa();
        riwayatnapzajeniszatjiwa();
        riwayatnapzacarapakaijiwa();
        riwayatnapzalatarbelakangjiwa();
        disposisibolehpulangjiwa();
        kontrolpolijiwa();
    });
</script>