﻿@using EMRRSBK.Models
@model GeneralHemodialisaViewModel

@{
    var controllerName = "ResumeTindakanHD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_resumetindakanhd = $"frm_table_detailResumeTindakanHD";
    int d_idx_resumetindakanhd = 0;
    var d_trg_resumetindakanhd = $"input_target_detailResumeTindakanHD";
    if (Model != null)
    {
        if (Model.ResumeTndkanHD_List != null)
        {
            d_idx_resumetindakanhd = Model.ResumeTndkanHD_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_resumetindakanhd thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(1),
    #d_tbl_resumetindakanhd tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(2),
    #d_tbl_resumetindakanhd tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(3),
    #d_tbl_resumetindakanhd tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(4),
    #d_tbl_resumetindakanhd tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(5),
    #d_tbl_resumetindakanhd tbody td:nth-child(5) {
        width: 160px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(6),
    #d_tbl_resumetindakanhd tbody td:nth-child(6) {
        width: 250px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(7),
    #d_tbl_resumetindakanhd tbody td:nth-child(7) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(8),
    #d_tbl_resumetindakanhd tbody td:nth-child(8) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(9),
    #d_tbl_resumetindakanhd tbody td:nth-child(9) {
        width: 180px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(10),
    #d_tbl_resumetindakanhd tbody td:nth-child(10) {
        width: 180px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(11),
    #d_tbl_resumetindakanhd tbody td:nth-child(11) {
        width: 250px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(12),
    #d_tbl_resumetindakanhd tbody td:nth-child(12) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(13),
    #d_tbl_resumetindakanhd tbody td:nth-child(13) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(14),
    #d_tbl_resumetindakanhd tbody td:nth-child(14) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(15),
    #d_tbl_resumetindakanhd tbody td:nth-child(15) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(16),
    #d_tbl_resumetindakanhd tbody td:nth-child(16) {
        width: 300px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(17),
    #d_tbl_resumetindakanhd tbody td:nth-child(17) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(18),
    #d_tbl_resumetindakanhd tbody td:nth-child(18) {
        width: 150px;
    }

    #d_tbl_resumetindakanhd thead th:nth-child(19),
    #d_tbl_resumetindakanhd tbody td:nth-child(19) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div id="modalperesepanhemorj" class="wall" ng-controller="form">

    @using (Ajax.BeginForm("ResumeTindakanHD", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatereusmetindakanhd (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        @*if (Model.ResumeTndkanHD_List != null)
            {
                for (var i = 0; i < Model.ResumeTndkanHD_List.Count(); i++)
                {
                    @Html.HiddenFor(Model => Model.ResumeTndkanHD_List[i].Model.TTDDokter)
                }
            }*@
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiResumeTindakanHD" class="detail collapse in"
                                     data-index-detail="@d_idx_resumetindakanhd">
                                    <div class="table-responsive">
                                        <table id="d_tbl_resumetindakanhd" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_resumetindakanhd')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th rowspan="2"></th>
                                                    <th rowspan="2">No</th>
                                                    <th rowspan="2">Tanggal</th>
                                                    <th rowspan="2">BB Kering</th>
                                                    <th colspan="2">BB (kg)</th>
                                                    <th colspan="2">Tensi</th>
                                                    <th rowspan="2">Nadi</th>
                                                    <th rowspan="2">Lama(Jam)</th>
                                                    <th rowspan="2">Heparinisasi</th>
                                                    <th rowspan="2">Rata - Rata QB</th>
                                                    <th rowspan="2">UF Goal (lt)</th>
                                                    <th rowspan="2">UF Removed (lt)</th>
                                                    <th rowspan="2">Transfusi</th>
                                                    <th rowspan="2">Obat -Obat Intra HD</th>
                                                    <th rowspan="2">MRS / Rawat Jalan</th>
                                                    <th rowspan="2">Penyulit On HD Tindakan</th>
                                                    <th rowspan="2">Petugas</th>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Pra</th>
                                                    <th>Post</th>
                                                    <th>Pra</th>
                                                    <th>Post</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.ResumeTndkanHD_List != null)
                                                    {
                                                        for (var i = 0; i < Model.ResumeTndkanHD_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 5 -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Tgl, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.ResumeTndkanHD_List[i].Model.Tgl != null ? Model.ResumeTndkanHD_List[i].Model.Tgl.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.BBKering, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.BBPra, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.BBPost, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.TensiPra, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.TensiPost, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Nadi, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Lama, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Heparinisasi, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.RataQB, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.UFGoal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.UFRemoved, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Transfusi, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                @{
                                                                    var _lstnama = new List<SelectListItem>();
                                                                    if (Model.ResumeTndkanHD_List[i].Model != null)
                                                                    {
                                                                        if (Model.ResumeTndkanHD_List[i].Model.ObatIntraHD != null)
                                                                        {
                                                                            _lstnama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.ResumeTndkanHD_List[i].Model.ObatIntraHD,
                                                                                Text = Model.ResumeTndkanHD_List[i].Model.ObatIntraHDNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        @Html.DropDownListFor(model => model.ResumeTndkanHD_List[i].Model.ObatIntraHD, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @*@if (Model.ResumeTndkanHD_List[i].Model.SudahRegDkt == 0)
                                                                        {
                                                                            <div class="col-md-2">
                                                                                <a id="btn_dtlperesepanhemorj" class="btn btn-primary disabled" onclick="user_verif_peresepanhemorj({ id : '@Model.ResumeTndkanHD_List[i].Model.Nama', no : '@Model.ResumeTndkanHD_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.ResumeTndkanHD_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-md-2">
                                                                                <a id="btn_dtlperesepanhemorj" class="btn btn-primary" onclick="user_verif_peresepanhemorj({ id : '@Model.ResumeTndkanHD_List[i].Model.Nama', no : '@Model.ResumeTndkanHD_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.ResumeTndkanHD_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                            </div>
                                                                        }*@
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.MRS_RJ, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <td>

                                                                    @Html.EditorFor(model => model.ResumeTndkanHD_List[i].Model.Tindakan, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- 6 -->



                                                                @{
                                                                    var _lstobat = new List<SelectListItem>();
                                                                    if (Model.ResumeTndkanHD_List[i].Model != null)
                                                                    {
                                                                        if (Model.ResumeTndkanHD_List[i].Model.Petugas != null)
                                                                        {
                                                                            _lstobat.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.ResumeTndkanHD_List[i].Model.Petugas,
                                                                                Text = Model.ResumeTndkanHD_List[i].Model.PetugasNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-12">
                                                                        @Html.DropDownListFor(model => model.ResumeTndkanHD_List[i].Model.Petugas, _lstobat, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                    @*@if (Model.ResumeTndkanHD_List[i].Model.SudahRegDkt == 0)
                                                                        {
                                                                            <div class="col-md-2">
                                                                                <a id="btn_dtlperesepanhemorj" class="btn btn-primary disabled" onclick="user_verif_peresepanhemorj({ id : '@Model.ResumeTndkanHD_List[i].Model.Nama', no : '@Model.ResumeTndkanHD_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.ResumeTndkanHD_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-md-2">
                                                                                <a id="btn_dtlperesepanhemorj" class="btn btn-primary" onclick="user_verif_peresepanhemorj({ id : '@Model.ResumeTndkanHD_List[i].Model.Nama', no : '@Model.ResumeTndkanHD_List[i].Model.No', ini : this})" href="finspot:FingerspotVer;@Model.ResumeTndkanHD_List[i].Model.Viewbag"><span class="icon-checkmark2 position-center"></span></a>
                                                                            </div>
                                                                        }*@
                                                                </td>
                                                            </tr>

                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFResumeTindakanHemodialisis","ReportHistory", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.ResumeTndkanHD_List != null)
        {
            for (var i = 0; i < Model.ResumeTndkanHD_List.Count; i++)
            {

                    @:customdetailResumeTindakanHD_Detail(@i, { target: $('#d_tbl_resumetindakanhd thead a i')[0] }, '@d_trg_resumetindakanhd', false);
                    @:customdetailResumeTindakanPetugasHD_Detail(@i, { target: $('#d_tbl_resumetindakanhd thead a i')[0] }, '@d_trg_resumetindakanhd', false);
            }

        }
    }

    function customdetailResumeTindakanPetugasHD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiResumeTindakanHD #ResumeTndkanHD_List_' + index_detail + '__Model_Petugas';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function customdetailResumeTindakanHD_Detail(index_detail, _this, inputtarget, autofocus) {
        var jenisdializer = '#panel_detaiResumeTindakanHD #ResumeTndkanHD_List_' + index_detail + '__Model_ObatIntraHD';

        $(jenisdializer).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

</script>


@{
    if (Model != null)
    {
        Model.ResumeTndkanHD_List = null;
    }
}

<div id="@d_trg_resumetindakanhd" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Tgl, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.BBKering, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.BBPra, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.BBPost, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.TensiPra, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.TensiPost, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Nadi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Lama, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Heparinisasi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.RataQB, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.UFGoal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.UFRemoved, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Transfusi, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.ResumeTndkanHD_List[-1].Model.ObatIntraHD,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.MRS_RJ, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ResumeTndkanHD_List[-1].Model.Tindakan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",

       }
   })
    </div>
    
    <div class="input-detail">

        @Html.DropDownListFor(model => model.ResumeTndkanHD_List[-1].Model.Petugas,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>


</div>

<!--  JS Skor  -->
<script>

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>


<script>
    function user_verif_peresepanhemorj(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#ResumeTndkanHD_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperesepanhemorj(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlperesepanhemorj').addClass('disabled', true);
                    $('#peresepanhemorj').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifperesepanhemorj(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilAEWS", "PemantauanAEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatereusmetindakanhd(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
            alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#resumetindakanhd').click();
    }

</script>




