﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "SuratKeteranganIstirahat";
    ViewBag.Title = controllerName;
    var formName = $"frm_SuratKeteranganIstirahat_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateskistirhat (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.SKIstirahat.NoReg)
        @Html.HiddenFor(Model => Model.SKIstirahat.SectionID)
        @Html.HiddenFor(Model => Model.SKIstirahat.NRM)
        @Html.HiddenFor(Model => Model.SKIstirahat.Jam)
        @Html.HiddenFor(Model => Model.SKIstirahat.Tanggal)
        @Html.HiddenFor(Model => Model.SKIstirahat.TandaTanganDokter)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Yth. ASS/KA/KASI</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.Kepada_Yth, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Kepada_Yth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Di</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.Kepada_Di, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Kepada_Di, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">SURAT KETERANGAN ISTIRAHAT</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">No Pol</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <label class="input-group-addon">SKI</label>
                                @Html.EditorFor(model => model.SKIstirahat.NoPol, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SKIstirahat.NoPol, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Rumkit</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Menerangkan dengan sesungguhnya bahwa berhubung dengan kesehatan</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Nama :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKIstirahat.NamaPasien != null ? (Model.SKIstirahat.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Umur :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.UmurThn, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.SKIstirahat.UmurThn != 0 ? (Model.SKIstirahat.UmurThn) : 0) } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.UmurThn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Pangkat :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.Pangkat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Pangkat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">
                            Kesatuan :
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SKIstirahat.Kesatuan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Kesatuan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">Memerlukan</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.SKIstirahat.Memerlukan, StaticModel.ListSKIstirhat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Memerlukan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1">Selama</label>
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.SKIstirahat.Selama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.Selama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Terhitung Tgl :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKIstirahat.TerhitungTgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.SKIstirahat.TerhitungTgl != null ? (Model.SKIstirahat.TerhitungTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.TerhitungTgl, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Sampai dengan
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SKIstirahat.SampaiTgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.SKIstirahat.SampaiTgl != null ? (Model.SKIstirahat.SampaiTgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.SampaiTgl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter :
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.SKIstirahat.KodeDokter, Model.SKIstirahat.KodeDokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.SKIstirahat.KodeDokter.ToString(), Text = Model.SKIstirahat.KodeDokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SKIstirahat.KodeDokter, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.SKIstirahat.SudahRegDokter == 0)
                            {
                                <a id="btn_skistirhat" class="btn btn-primary disabled" onclick="user_verif_skistirhat()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSKIstirahatDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_skistirhat" class="btn btn-primary" onclick="user_verif_skistirhat()" href="finspot:FingerspotVer;@ViewBag.UrlFingerSKIstirahatDokter"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.SKIstirahat.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFSuratKeteranganIstirahat", new { noreg = Model.SKIstirahat.NoReg, Model.SKIstirahat.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.SKIstirahat.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #SKIstirahat_KodeDokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_skistirhat() {
        var reStatsSKIstirahat = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SKIstirahat_KodeDokter').val();
        var noreg = $('#SKIstirahat_NoReg').val();
        var section = $('#SKIstirahat_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifskistirhat(noreg, section, user_id);
            if (ct >= limit || reStatsSKIstirahat == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsSKIstirahat == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsSKIstirahat == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_skistirhat').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifskistirhat(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSKIstirahat", "VerifSuratKeteranganIstirahat")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsSKIstirahat = 1;
                        }
                    }
                    else {
                        reStatsSKIstirahat = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreateskistirhat(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#SuratKeteranganIstirahat').click();
    }
</script>







