﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_trPengkajianAwalKeperawatanPasienHemodialisis_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("trPengkajianAwalKeperawatanPasienHemodialisis", controllerName, FormMethod.Post, new { id = formName, onsubmit = "loadingform(this)" }))
    {
        @Html.HiddenFor(Model => Model.PAKep_HD.NoReg)
        @Html.HiddenFor(Model => Model.PAKep_HD.SectionID)
        @Html.HiddenFor(Model => Model.PAKep_HD.Nomor)
        @Html.HiddenFor(Model => Model.PAKep_HD.NRM)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">PENGKAJIAN AWAL KEPERAWATAN PASIEN HEMODIALISIS</label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">DATA AWAL</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.Tanggal != null ? (Model.PAKep_HD.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.PAKep_HD.Jam != null ? Model.PAKep_HD.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Jenis Pasien :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.JenisPasien_RawatJalan, new { htmlAttributes = new { } })
                                Rawat Jalan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.JenisPasien_Traveling, new { htmlAttributes = new { } })
                                Traveling HD
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.JenisPasien_PostMRS, new { htmlAttributes = new { } })
                                Post MRS
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.PAKep_HD.JenisPasien_Rujukan, new { htmlAttributes = new { } })
                                    Rujukan
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.JenisPasien_RujukanKet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.JenisPasien_RujukanKet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold control-label">
                            PSIKOSOSIAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Status Psikologis
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.StatusPsikologi_Emosi, new { htmlAttributes = new { } })
                                Emosi Labil
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.StatusPsikologi_HargaDiri, new { htmlAttributes = new { } })
                                Harga Diri Rendah
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.StatusPsikologi_Gangguan, new { htmlAttributes = new { } })
                                Gangguan hubungan interaksi sosial
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Status Pernikahan
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PAKep_HD.StatusPernikahan, StaticModel.ListKebutuhanSosial, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.StatusPernikahan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
            <label class="col-md-2 control-label">
                Pendidikan Terakhir
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PAKep_HD.PendidikanTerakhir, StaticModel.ListPendidikan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PAKep_HD.PendidikanTerakhir, "", new { @class = "text-danger" })
            </div>
        </div>*@
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Warga Negara
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PAKep_HD.Warganegara, StaticModel.ListWargaNegara, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Warganegara, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.PAKep_HD.WarganegaraKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.WarganegaraKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Tinggal bersama
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.TinggalBersama_Anak, new { htmlAttributes = new { } })
                                Anak
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.TinggalBersama_OrangTua, new { htmlAttributes = new { } })
                                Orang Tua
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.TinggalBersama_Sendiri, new { htmlAttributes = new { } })
                                Sendiri
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.TinggalBersama_SuamiIstri, new { htmlAttributes = new { } })
                                Suami / Istri
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kebiasaan
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_Merokok, new { htmlAttributes = new { } })
                                Merokok
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_Alkohol, new { htmlAttributes = new { } })
                                Alkohol
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_Lainnya, new { htmlAttributes = new { } })
                                    Sendiri
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.Kebiasaan_LainnyaKet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Agama
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PAKep_HD.Agama, StaticModel.ListAgama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Agama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Bahasa Ibu
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PAKep_HD.BahasaIbu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.BahasaIbu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">KEBUTUHAN KOMUNIKASI / PENDIDIKAN DAN PENGKAJIAN</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Bicara
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PAKep_HD.Bicara, StaticModel.ListBicara, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Bicara, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Kapan</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PAKep_HD.BicaraKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.BicaraKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Bicara Sehari - hari
                        </label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PAKep_HD.BahasaSehariHari, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.BahasaSehariHari, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Perlu Penerjemah
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.PAKep_HD.PerluPenterjemah, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.PerluPenterjemah, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 text-bold ">Hambatan belajar</label>
                        <label class="col-md-6 text-bold ">Cara belajar yang disukai</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_Bahasa, new { htmlAttributes = new { } })
                                Bahasa
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_Cemas, new { htmlAttributes = new { } })
                                Cemas
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_Pendengaran, new { htmlAttributes = new { } })
                                Pendengar
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Menulis, new { htmlAttributes = new { } })
                                Menulis
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Demonstrasi, new { htmlAttributes = new { } })
                                Demonstrasi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_Emosi, new { htmlAttributes = new { } })
                                Emosi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_HilangMemori, new { htmlAttributes = new { } })
                                Hilang Memori
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_KesulitanBicara, new { htmlAttributes = new { } })
                                Sulit Bicara
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Audio, new { htmlAttributes = new { } })
                                Audio - Visual / Gambar
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_MotivasiBuruk, new { htmlAttributes = new { } })
                                Motivasi Buruk
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_TidakAdaPartisipasi, new { htmlAttributes = new { } })
                                TidakAdaPartisipasi
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Diskusi, new { htmlAttributes = new { } })
                                Diskusi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_MasalahPenglihatan, new { htmlAttributes = new { } })
                                Masalah Penglihatan
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_SecaraFisiologi, new { htmlAttributes = new { } })
                                Secara Fisiologi Tidak Mampu Belajar
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Membaca, new { htmlAttributes = new { } })
                                Membaca
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Hambatan_TidakDitemukanHambatan, new { htmlAttributes = new { } })
                                Tidak Ditemukan Hambatan
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.CaraEdukasi_Mendengar, new { htmlAttributes = new { } })
                                Mendengar
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kebutuhan Pembelajaran
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.KebutuhanEdukasi_ProsesPenyakit, new { htmlAttributes = new { } })
                                Proses penyakit
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.KebutuhanEdukasi_Pengobatan, new { htmlAttributes = new { } })
                                Pengobatan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.KebutuhanEdukasi_Nutrisi, new { htmlAttributes = new { } })
                                Nutrisi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_Lainnya, new { htmlAttributes = new { } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.PAKep_HD.Kebiasaan_LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Kebiasaan_LainnyaKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 text-bold">Nutrisi</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Diet saat ini
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PAKep_HD.DietSaatIni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.DietSaatIni, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Penurunan/Kenaikan berat badan selama 6 tahun</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.PAKep_HD.PenurunanAtauKenaikanBeratBadan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.PenurunanAtauKenaikanBeratBadan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Berat Badan
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.PenurunanAtauKenaikanBeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PenurunanAtauKenaikanBeratBadan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tinggi Badan
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.TinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TinggiBadan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            Skrining Pasien Jatuh
                        </label>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <tr>
                                <th>KOMPONEN PENILIAN</th>
                                <th>YA/TIDAK</th>
                            </tr>
                            <tr>
                                <td>a. Perhatikan cara berjalan pasien saat akan duduk di kursi. Apakah pasien tampak tidak seimbang(sempoyongan/limbung)</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PAKep_HD.PerhatikanCaraBerjalan, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skriningjatuh()" })
                                    @Html.ValidationMessageFor(model => model.PAKep_HD.PerhatikanCaraBerjalan, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>a. Apakah pasien memegang pinggiran kursi atau meja atau benda lain sebagai penopang saat akan duduk</td>
                                <td>
                                    @Html.DropDownListFor(model => model.PAKep_HD.ApakahPasienMemegang, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skriningjatuh()" })
                                    @Html.ValidationMessageFor(model => model.PAKep_HD.ApakahPasienMemegang, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PAKep_HD.SkriningPasien, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.SkriningPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Evaluasi Akses Dialysis</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PAKep_HD.EvaluasiAksesDialysis, StaticModel.LisEvaluasiHD, new { @class = "form-control", onchange = "skriningjatuh()" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.EvaluasiAksesDialysis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.StatusAksesPasienHemodialisis, new { htmlAttributes = new { } })
                                Status Akses Pasien Hemodialisis
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-md-offset-1 control-label">Akses vaskuler saat ini:</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Akses_AvShunt, new { htmlAttributes = new { } })
                                AV Shunt
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Akses_Graft, new { htmlAttributes = new { } })
                                Graft
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Akses_Tunnel, new { htmlAttributes = new { } })
                                Tunnel CDL
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Akses_Temporer, new { htmlAttributes = new { } })
                                Temporer CDL
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-lg-offset-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Akses_Femoral, new { htmlAttributes = new { } })
                                Femoral
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tgl/ Bulan/ Tahun AV shunt I
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.TanggalPembuatanAvShunt1, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.TanggalPembuatanAvShunt1 != null ? (Model.PAKep_HD.TanggalPembuatanAvShunt1.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TanggalPembuatanAvShunt1, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    II
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.TanggalPembuatanAvShunt2, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.TanggalPembuatanAvShunt2 != null ? (Model.PAKep_HD.TanggalPembuatanAvShunt2.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TanggalPembuatanAvShunt2, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    III
                                </label>
                                @Html.EditorFor(model => model.PAKep_HD.TanggalPembuatanAvShunt3, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.TanggalPembuatanAvShunt3 != null ? (Model.PAKep_HD.TanggalPembuatanAvShunt3.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TanggalPembuatanAvShunt3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Kondisi akses vaskuler saat ini</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PAKep_HD.KondisiAksesVaskuler, StaticModel.ListBaikBerkomplikasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KondisiAksesVaskuler, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Komplikasi akses vaskuler saat ini</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.PAKep_HD.KomplikasiAksesVaskuler, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KomplikasiAksesVaskuler, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1">Jenisnya</label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.PAKep_HD.KomplikasiAksesVaskuler_Jenis, StaticModel.ListJenisVaskuler, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KomplikasiAksesVaskuler_Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.StatusAksesPasienCAPD, new { htmlAttributes = new { } })
                                Status Akses Pasien CAPD
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Jenis Kateter</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PAKep_HD.JenisKateter, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.JenisKateter, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Tanggal Pemasanagan</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PAKep_HD.TanggalPemasangan, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.TanggalPemasangan != null ? (Model.PAKep_HD.TanggalPemasangan.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.TanggalPemasangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Kondisi Kateter</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PAKep_HD.KondisiKateter, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KondisiKateter, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Kondisi Exit Site</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PAKep_HD.KondisiExitSite, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KondisiExitSite, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Evaluasi Dialisis</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PAKep_HD.EvaluasiAksesDialysis, StaticModel.ListEvaluasiDialisis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.EvaluasiAksesDialysis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">A. Pasien Hemodialisis</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tgl Mulai HD pertama</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.TanggalMulaiHd, new { htmlAttributes = new { @class = "form-control", Value = (Model.PAKep_HD.TanggalMulaiHd != null ? (Model.PAKep_HD.TanggalMulaiHd.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.TanggalMulaiHd, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-3 control-label">Frekuensi HD</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.FrekuensiHd, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.FrekuensiHd, "", new { @class = "text-danger" })
                                <label class="input-group-addon">x/minggu</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Lama Waktu setiap HD</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.LamaWaktu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.LamaWaktu, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Jam</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Dialiser yang digunakan, tipe</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PAKep_HD.DialiserYangDigunakan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.DialiserYangDigunakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Luas membrane</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.LuasMembrane, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.LuasMembrane, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.LowFlux, new { htmlAttributes = new { } })
                                Low Flux
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.HighFlux, new { htmlAttributes = new { } })
                                High Flux
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Jenis</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Jenis_Baru, new { htmlAttributes = new { } })
                                Baru
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Jenis_Reuse, new { htmlAttributes = new { } })
                                Reuse
                            </label>
                        </div>
                        <div class="col-md-6">
                            <dv class="input-group">
                                <label class="input-group-addon">Ke</label>
                                @Html.EditorFor(model => model.PAKep_HD.Jenis_Reuse_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.Jenis_Reuse_Ket, "", new { @class = "text-danger" })
                                <label class="input-group-addon"> / Volume Priming</label>
                                @Html.EditorFor(model => model.PAKep_HD.VolumePriming, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.VolumePriming, "", new { @class = "text-danger" })
                                <label class="input-group-addon">ml</label>
                            </dv>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Hasil tes renalin (khusus dialyzer reuze)</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.HasilTesRenalin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.HasilTesRenalin, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Petugas</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PAKep_HD.HasilTesRenalin_Petugas1, Model.PAKep_HD.HasilTesRenalin_Petugas1 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.PAKep_HD.HasilTesRenalin_Petugas1.ToString(), Text = Model.PAKep_HD.HasilTesRenalin_Petugas1Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.HasilTesRenalin_Petugas1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PAKep_HD.HasilTesRenalin_Petugas2, Model.PAKep_HD.HasilTesRenalin_Petugas2 == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.PAKep_HD.HasilTesRenalin_Petugas2.ToString(), Text = Model.PAKep_HD.HasilTesRenalin_Petugas2Nama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.HasilTesRenalin_Petugas2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Parameter mesin : alarm test :</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.AlarmTest_OK, new { htmlAttributes = new { } })
                                OK
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.AlarmTest_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon">Conductivity</label>
                                @Html.EditorFor(model => model.PAKep_HD.Conductivity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.Conductivity, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Suhu Mesin</label>
                                @Html.EditorFor(model => model.PAKep_HD.SuhuMesin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.SuhuMesin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Anticoagulan :</label>
                        <label class="col-md-2 control-label">Tipe</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Anticoagulan_Kontinyu, new { htmlAttributes = new { } })
                                Kontinyu
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Anticoagulan_FreeHeparin, new { htmlAttributes = new { } })
                                Free Heparin
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-1 control-label">Dosis awal</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.DosisAwal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.DosisAwal, "", new { @class = "text-danger" })
                                <label class="input-group-addon">unit</label>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">Dosis pemeliharaan</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.DosisPemeliharaan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.DosisPemeliharaan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">unit/jam</label>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">Total</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.Total, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.Total, "", new { @class = "text-danger" })
                                <label class="input-group-addon">unit</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Keluhan interdiatik yang sering timbul</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Kram, new { htmlAttributes = new { } })
                                Kram
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_MualMuntah, new { htmlAttributes = new { } })
                                Mual Muntah
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Hipertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Dizziness, new { htmlAttributes = new { } })
                                Dizziness
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Hipoksemia, new { htmlAttributes = new { } })
                                Hipoksemia
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Komplikasi, new { htmlAttributes = new { } })
                                Komplikasi Akses Vaskuler
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_TidakAdaKeluhan, new { htmlAttributes = new { } })
                                Tidakada keluhan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Lainnya, new { htmlAttributes = new { } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PAKep_HD.Keluhan_LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Keluhan_LainnyaKet, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PAKep_HD.Keluhan_Hipotensi, new { htmlAttributes = new { } })
                                Hipotensi
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Adekuasi dialisa</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            URR terakhir
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.UrrTerakhir, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.UrrTerakhir, "", new { @class = "text-danger" })
                                <label class="input-group-addon">% (dalam 6 bulan / 1 tahun terakhir)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kt / v
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.Adekuasi_Kt, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.Adekuasi_Kt, "", new { @class = "text-danger" })
                                <label class="input-group-addon">(6 bulan / 1 tahunan terakhir)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 text-bold">B. Pasien Peritoneal dialysis</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Total cairan keluar / hari</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.TotalCairanKeluar, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TotalCairanKeluar, "", new { @class = "text-danger" })
                                <label class="input-group-addon">mL</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Frekuensi pergatian / hari</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.TotalCairanKeluar, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.TotalCairanKeluar, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Kali</label>
                            </div>
                        </div>
                        <label class="col-md-3">Konsentrasi cairan yang digunakan</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PAKep_HD.KonsentrasiCairan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KonsentrasiCairan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Adekuasi Dialisi:Kt/v</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PAKep_HD.Adekuasi_Kt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Adekuasi_Kt, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2">Hasil PET</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PAKep_HD.KonsentrasiCairan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KonsentrasiCairan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pemakainan Eritropoentin</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PAKep_HD.PemakainanEritropein, StaticModel.ListAdaTidakAda, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon">Sejak</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakainanEritropein_Sejak, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein_Sejak, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Jenisnya</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakainanEritropein_Jenis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein_Jenis, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Dosisnya</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakainanEritropein_Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein_Dosis, "", new { @class = "text-danger" })
                                <label class="input-group-addon">x/minggu</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Pemakainan Zat besi parental</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.PAKep_HD.PemakaianZatBesi, StaticModel.ListAdaTidakAda, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.PemakaianZatBesi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon">Sejak</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakainanEritropein_Sejak, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein_Sejak, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Jenisnya</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakaianZatBesi_Jenis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakaianZatBesi_Jenis, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Dosisnya</label>
                                @Html.EditorFor(model => model.PAKep_HD.PemakainanEritropein_Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.PemakainanEritropein_Dosis, "", new { @class = "text-danger" })
                                <label class="input-group-addon">x/minggu</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Riwayat transfusi selama dialisis
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PAKep_HD.RiwayatTranfusi, StaticModel.ListAdaTidakAda, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatTranfusi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-3 col-md-3">Tranfusi Pertama</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.PAKep_HD.RiwayatTranfusi_Pertama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatTranfusi_Pertama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-3 col-md-3">Tranfusi Terakhir   </label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.PAKep_HD.RiwayatTranfusi_Terakhir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatTranfusi_Terakhir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Produksi urine per hari</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.PAKep_HD.ProduksiUrine, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PAKep_HD.ProduksiUrine, "", new { @class = "text-danger" })
                                <label class="input-group-addon">cc</label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">Warna</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PAKep_HD.Warna, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Warna, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">ANAMNESA</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Keluhan Utama
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PAKep_HD.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit Sekarang
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PAKep_HD.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit Dahulu
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PAKep_HD.RiwayatPenyakitDahulu, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatPenyakitDahulu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Pengobatan
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PAKep_HD.RiwayatPengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.RiwayatPengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Indikasi Hemodialisis
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PAKep_HD.IndikasiHemodialisis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.IndikasiHemodialisis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Hemodialisis
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PAKep_HD.Hemodialisis, StaticModel.ListHemo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PAKep_HD.Hemodialisis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.PAKep_HD.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFPengkajianKeperawatanHD","ReportMedicalRecord", new { noreg = Model.PAKep_HD.NoReg, sectionid = Model.PAKep_HD.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.PAKep_HD.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<script src="~/scripts/jquery.timer.js"></script>
<!--JS LAINNYA-->
<script>

    function skriningjatuh() {
        var skora = $('#PerhatikanCaraBerjalan').val();
        var skorb = $('#ApakahPasienMemegang').val();

        if (skora == '' || skorb == '') {
            $('#SkriningPasien').val('');
        }
        else if (skora == 'Ya' && skorb == 'Ya') {
            $('#SkriningPasien').val('Resiko Tinggi');
        } else if (skora == 'Tidak' && skorb == 'Tidak') {
            $('#SkriningPasien').val('Tidak Beresiko');
        } else {
            $('#SkriningPasien').val('Resiko Rendah');
        }
    }


    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    $(document).ready(function () {
        skriningjatuh();
    });
</script>




