﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model GeneralPoliMataViewModel
@{
    var controllerName = "CatatanEdukasiTerintegrasiLanjutanRIRJ";
    ViewBag.Title = "Catatan Edukasi Terintegrasi Lanjutan RIRJ";
    var formName = $"frm_{controllerName}";
    var tableId = $"table_{controllerName}";
    var item = new CatatanEdukasiTerintegrasiLanjutanRIRJViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoReg);
    column[1] = nameof(item.NRM);
    column[2] = nameof(item.SectionID);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.EdukasiYangDiberikan);
    column[5] = nameof(item.YangDiedukasi);
    column[6] = nameof(item.Tempat);
    column[7] = nameof(item.MetodeEdukasi);
    column[8] = nameof(item.Respon);
    column[9] = nameof(item.NamaEducator);
    column[10] = nameof(item.NamaEducatorNama);
    column[11] = nameof(item.Tanggal_View);
    column[12] = nameof(item.Jam_View);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 200px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:left;
        width: 120px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:left;
    }

    #@tableId thead th:nth-child(3){
        text-align:left;
        width: 200px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:left;
    }

    #@tableId thead th:nth-child(4) {
        text-align: left;
        width: 200px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    #@tableId thead th:nth-child(5) {
        text-align: left;
        width: 150px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

    #@tableId thead th:nth-child(6){
        text-align: left;
        width: 150px;
    }

    #@tableId tbody td:nth-child(6){
        text-align: left;
    }

    #@tableId thead th:nth-child(7){
        text-align: left;
        width: 200px;
    }

    #@tableId tbody td:nth-child(7){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>

<div class="wall" ng-controller="table" id="list_pasien"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListHistoryCatatanEdukasiTerintegrasiRIRJ","CatatanEdukasiTerintegrasiLanjutanRIRJ")';
     init();
     filter[1] = '@Model.NRM';
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a id="refreshcatatanterintegrasi" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    @*<li><a data-action="collapse"></a></li>*@
                    <li><a data-dismiss="modal"><i class="icon-cross2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-group">
                    <div class="form-inline text-center">
                        <div class="form-group">
                            <label class="col-md-12 h2 text-bold">HISTORY CATATAN TERINTEGRASI RI RJ</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="dataTables_scrollHead table-responsive">
            <table class="table" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[3]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        @*<th rowspan="2" class="middle">Action</th>*@
                        <th>Tanggal</th>
                        <th>Edukasi yang diberikan</th>
                        <th>Yang di edukasi</th>
                        <th>Tempat</th>
                        <th>Metode Edukasi</th>
                        <th>Nama Educator</th>

                    </tr>
                    @*<tr class="filter_list" style="display:none">
                         Filter
                        <td></td>
                            <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                            <td><input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                            <td></td>
                        </tr>*@
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                        class="trdata"
                        data-id="{{data.@column[0]}}"
                        data-tanggal="{{data.@column[11]}}"
                        data-edukasiyangdiberi="{{data.@column[4]}}"
                        data-yangdiedukasi="{{data.@column[5]}}"
                        data-tempat="{{data.@column[6]}}"
                        data-metodeedukasi="{{data.@column[7]}}"
                        data-respon="{{data.@column[8]}}"
                        data-namaedukator="{{data.@column[10]}}">

                        @*<td style="cursor:default">
                                <a href="@Url.Action("/", "ReportHistory"){{data.@column[5]}}?noreg={{ data.@column[0] }}&sectionid={{ data.@column[2] }}" target="_blank"
                                   title="Report"
                                   class="text-info">
                                    <i class="icon-printer2"></i>
                                </a>
                                <a onclick="openreport(this)" class="text-info-600" title="Detail">
                                        <i class="icon-printer2 position-left"></i>Report
                                    </a>
                            </td>*@
                        <td>{{data.@column[11]}}</td>
                        <td>{{data.@column[4]}}</td>
                        <td>{{data.@column[5]}}</td>
                        <td>{{data.@column[6]}}</td>
                        <td>{{data.@column[7]}}</td>
                        <td>{{data.@column[10]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
angular.element('#@formName').ready(function () {
    var sc = angular.element('#@formName').scope();
    if ('@Request.Cookies["TipePelayanan"].Value' == 'RI') {
        $('#allperiode').click();
        $('#refreshcatatanterintegrasi').click();
    }
});
</script>

