﻿@using EMRRSBK.Models
@model EMRFormulirKreteriaMasukICUViewModel
@{
    var controllerName = "EMRFormulirKreteriaMasukICU";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatemasukicu(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @*@Html.HiddenFor(model => model.VerifikasiDPJP)*@

            <div class="panel panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="control-label col-md-1">
                                Template
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Template, new List<SelectListItem>() {
                                    new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-md-1">
                                <button type="button" onclick="loadTemplate()" class="btn btn-block btn-info"> LOAD</button>
                            </div>*@
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>KRITERIA FISIOLOGIS</th>
                                        <th>YA / TIDAK</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1. VITAL SIGN</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>a. Nadi < 40 atau < 150 kali/menit</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.VitalSign_a, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.VitalSign_a, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b. Tekanan darah sistolik < 80 mmHg atau penurunan 20 mmHg dari tekanan darah sistolik biasanya</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.VitalSign_b, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.VitalSign_b, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>c. Mean arterial pressure > 120 mm Hg</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.VitalSign_c, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.VitalSign_c, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>d. Laju respirasi > 35 kali/menit </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.VitalSign_d, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.VitalSign_d, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2. NILAI LABORATORIUM
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>a. Kadar Natrium serum < 110 mEq/L atau >170 mEq/L </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_a, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_a, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b. Kadar Kalium serum < 2,0 mEq/L atau > 7,0 mEq/L </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_b, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_b, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>c. PaO2 < 50 mmHg </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_c, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_c, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>d. PH < 7,1 atau >7,7  </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_d, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_d, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>e. Serum Glukosa > 800 mg/dl </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_e, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_e, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>f. Serum Kalsium > 15 mg/dl </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_f, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_f, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>f. Kadar obat atau substansi kimia dalam darah telah melebihi dosis toksis yang mengganggu hemodinamik dan status neurologis</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.NilaiLab_g, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NilaiLab_g, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3. HASIL RADIOLOGI
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>a. Perdarahan cerebral, contusion atau perdarahan subarachnoid dengan penurunan status mental</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.HasilRad_a, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HasilRad_a, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b. Ruptur viscera, blader, liver, varises esophagus, perdarahan uterus dengan gangguan hemodinamik</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.HasilRad_b, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HasilRad_b, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>c. Diseksi sorta aneurysma</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.HasilRad_c, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HasilRad_c, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4. ECG
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>a. Infark miokard dengan aritmia  kompleks, gangguan hemodinamil atau gagal jantung kongestif</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ECG_a, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ECG_a, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b. Ventrikular takikardi atau ventricular fibrilasi</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ECG_b, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ECG_b, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>c. Blok jantung komplit dengan hemodinamik tidak stabil</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ECG_c, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ECG_c, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5. PEMERIKSAAN FISIK
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>a. Pupil Anisokor pada pasien dengan kesadaran menurun</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_a, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_a, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b. Luka Bakar > 10 %</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_b, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_b, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>c. Anuria</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_c, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_c, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>d. Obstruksi saluran napas</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_d, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_d, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>e. Koma</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_e, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_e, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>f. Kejang berulang (Status Konvulsi)</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_f, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_f, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>g. Sianosis</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_g, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_g, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>h. Tamponade Jantung</td>
                                        <td>
                                            @Html.DropDownListFor(model => model.PemeriksaanFisik_h, StaticModel.ListYaTidak, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_h, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">KESIMPULAN</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10 control-label">BERDASARKAN KONDISI DIATAS MAKA MEMENUHI INDIKASI MASUK ICU DENGAN PRIORITAS</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.MasukICU, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MasukICU, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Alat Transport yang diperlukan </label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.AlatTransport, StaticModel.ListAlatTansport, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlatTransport, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Pendamping selama transfer</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Pendamping, StaticModel.ListPendamping, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Pendamping, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Alat medis yang dibawa selama transfer</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AlatMedis, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlatMedis, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Sebutkan</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.AlatMedisKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AlatMedisKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP.ToString(), Text = Model.DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*<div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class=" col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFFormulirKreteriaMasukICU", new { noreg = Model.NoReg, section = Model.SectionID })" target="_blank"
                               class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                Print PDF
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    generalDokter("#@formName #DPJP");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = "@Model.NoReg";
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("","EMR")' + dokumen_id + '/CreateCopy/?id=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

    function oncompletecreatemasukicu(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#FormulirKreteriaMasukICU').click();
    }
</script>



