﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "SuratPersetujuanPemeriksaanUntukKepentinganPenyidikan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};



}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatersuratpenyidikiankedokteran(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(Model => Model.NoReg)
            @Html.HiddenFor(Model => Model.SectionID)
            @Html.HiddenFor(Model => Model.NRM)
            @Html.HiddenFor(Model => Model.SPPemeriksaanKepentinganPenyidikan.TandaTanganPetugas)
            @Html.HiddenFor(Model => Model.SPPemeriksaanKepentinganPenyidikan.SectionID)


            <div class="form-group">
                <label class="col-md-12 text-bold text-center">
                    SURAT PERSETUJUAN PEMERIKSAAN KEDOKTERAN UNTUK KEPENTINGAN PENYIDIKAN
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-12">
                    Saya yang bertandatangan di bwah ini :
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.NamaBertandaTangan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.NamaBertandaTangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Jenis Kelamin :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.JKBertandaTangan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.SPPemeriksaanKepentinganPenyidikan.JKBertandaTangan == "F" ? "Perempuan" : Model.SPPemeriksaanKepentinganPenyidikan.JKBertandaTangan == "M" ? "Laki- Laki" : "") } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.JKBertandaTangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Umur :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.UmurBertandaTangan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.UmurBertandaTangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Pekerjaan :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.PekerjaanBertandaTangan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.PekerjaanBertandaTangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.AlamatBertandaTangan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.AlamatBertandaTangan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">
                    Setelah mendapat penjelasan dari dokter pemeriksa, menyatakan bahwa:
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.MendapatPenjelasan1, new { htmlAttributes = new { } })
                        1. Setuju untuk dilakukan pemeriksaan kedokteran terhadap diri saya untuk kepentingan Pentidikan.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.MendapatPenjelasan2, new { htmlAttributes = new { } })
                        2. Setuju untuk dilakukan pengambilan cairan tubuh diri saya untuk kepentingan pemeriksaan Laboratorium.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.MendapatPenjelasan3, new { htmlAttributes = new { } })
                        3. Setuju untuk pengambilan foto-foto perlukaaan pada tubuh saya untuk kelengkapan pemeriksaan.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="checkbox checkbox-inline control-label">
                        @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.MendapatPenjelasan4, new { htmlAttributes = new { } })
                        4. (Khusus untuk orang periksa yang tidak dapat menanda-tangani pernyataan karena situasi dan kondisi)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">
                    Setuju untuk dilakukan pemeriksaan seperti di atas terhadap:
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nama :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.Nama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.Nama, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Umur :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.Umur, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.Umur, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Alamat :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.Alamat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Hubungan Keluarga :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.HubunganKeluarga, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.HubunganKeluarga, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">
                    Persetujuan ini saya tanda tangani setelah menyadari sepenuhnya kepentingan dari pemeriksaan tersebut di atas:
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-12">
                    Saksi - saksi
                </label>
            </div>
            <div class="form-group">
                <label class="col-md-2">1 .</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.Saksi1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">2 .</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SPPemeriksaanKepentinganPenyidikan.Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.Saksi2, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">
                    Petugas:
                </label>
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.SPPemeriksaanKepentinganPenyidikan.MemberiPernyataan, Model.SPPemeriksaanKepentinganPenyidikan.MemberiPernyataan == null ? new List<SelectListItem>() :
            new List<SelectListItem>() { new SelectListItem() { Value = Model.SPPemeriksaanKepentinganPenyidikan.MemberiPernyataan.ToString(), Text = Model.SPPemeriksaanKepentinganPenyidikan.MemberiPernyataanNama } }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SPPemeriksaanKepentinganPenyidikan.MemberiPernyataan, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    @if (Model.SPPemeriksaanKepentinganPenyidikan.SudahRegPetugas == 0)
                    {
                        <a id="btn_petugas" class="btn btn-primary disabled" onclick="user_verif_petugas(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerSPPemeriksaanKepentinganPenyidikanMemberiPernyataan"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                    else
                    {
                        <a id="btn_petugas" class="btn btn-primary" onclick="user_verif_petugas(this)" href="finspot:FingerspotVer;@ViewBag.UrlFingerSPPemeriksaanKepentinganPenyidikanMemberiPernyataan"><span class="icon-checkmark2 position-center"></span>Verif</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                    <a href="@Url.Action("ExportPDF", new { noreg = Model.NoReg })" target="_blank"
                       class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                        Print PDF
                    </a>
                    <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }

</div>


<!--  Select 2  -->
<script type="text/javascript">

    var pemeriksa = $('#SPPemeriksaanKepentinganPenyidikan_MemberiPernyataan');


    pemeriksa.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>


<script>
    function user_verif_petugas(x_this) {
        var reStatsPetugas = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#SPPemeriksaanKepentinganPenyidikan_MemberiPernyataan').val();
        var noreg = $('#NoReg').val();
        var section = $('#SPPemeriksaanKepentinganPenyidikan_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifpetugas(noreg, section, user_id);
            if (ct >= limit || reStatsPetugas == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsPetugas == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsPetugas == 1) {
                    alertpopup("Verification success!", "success");
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_petugas').addClass('disabled', true);
                    $('#suratpersetujuanpemeriksaanpenyidikan').click();
                }
            }
            ct++;
        });

        function user_checkverifpetugas(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilSuratPersetujuanPemeriksaanUntukKepentinganPenyidikan", "VerifSuratPersetujuanPemeriksaanUntukKepentinganPenyidikan")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Petugas == "1") {
                            reStatsPetugas = 1;
                        }
                    }
                    else {
                        reStatsPetugas = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatersuratpenyidikiankedokteran(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#SuratPersetujuanPemeriksaanUntukKepentinganPenyidikan').click();
    }
</script>