﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "CheckListKeselamatanPasienOperasiOK";
    ViewBag.Title = controllerName;
    var formName = $"frm_CheckListKeselamatanPasienOperasiOK_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatechecklistkeselamatanpsnok (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.NoReg)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.SectionID)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.Nomor)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.NRM)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganDokterAnestesi)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganDokterAnak)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganPerawatAnestesi)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganPerawatSirkuler)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganOperator)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganInstrumen)
        @Html.HiddenFor(Model => Model.ChckListKslmtnPsienOprs.TandaTanganAsisten)



        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">Check List Keselamatan Pasien Operasi</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.ChckListKslmtnPsienOprs.Tanggal != null ? (Model.ChckListKslmtnPsienOprs.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center bg-primary">
                            <label class="text-bold h5">Sebelum Iduksi Anestesi / SIGN IN</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Tgl_SignIn, new { htmlAttributes = new { @class = "form-control", Value = (Model.ChckListKslmtnPsienOprs.Tgl_SignIn != null ? (Model.ChckListKslmtnPsienOprs.Tgl_SignIn.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Tgl_SignIn, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Jam_SignIn, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.ChckListKslmtnPsienOprs.Jam_SignIn != null ? Model.ChckListKslmtnPsienOprs.Jam_SignIn.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Jam_SignIn, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            <i>Minimal ada perawat dan dokter anestesi</i>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            1. Apakah Identitas Pasien sudah benar ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.IdentitasPasien, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.IdentitasPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            2. Apakah Rencana tindakan sudah jelas ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.RencananTindakan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.RencananTindakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            3. Persetujuan tindakan medis/ Informed Consen
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PersetujuanTindakan, StaticModel.ListYaTidakDiperlukan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PersetujuanTindakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            4. Apakah Area yang di operasi sudah diberi tanda ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.AreaYangDioperasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.AreaYangDioperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            5. Apa mesin anestesi dan obat - obatan sudah lengkap ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.MesinAnestesi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.MesinAnestesi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            6. Apakah pasien sudah memakai pulse oksimeri dan berfungsi baik ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PasienMemakaiPulse, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PasienMemakaiPulse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            7. Apakah pasien memiliki riwayat alergi ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            8. Apakah pasien memiliki riwayat gangguan pernafasan ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.GangguanPernafasan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.GangguanPernafasan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            9. Resiko perdarahan > 500ml (7 ml/Kg Bagi Anak- anak)
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.RisikoPerdarahan, StaticModel.ListYadansudahTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.RisikoPerdarahan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12 text-center bg-primary">
                            <label class="text-bold h5">Sebelum Insisi / TIME OUT</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Tgl_TimeOut, new { htmlAttributes = new { @class = "form-control", Value = (Model.ChckListKslmtnPsienOprs.Tgl_TimeOut != null ? (Model.ChckListKslmtnPsienOprs.Tgl_TimeOut.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Tgl_TimeOut, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Jam_TimeOut, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.ChckListKslmtnPsienOprs.Jam_TimeOut != null ? Model.ChckListKslmtnPsienOprs.Jam_TimeOut.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Jam_TimeOut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            <i>Semua Tim Operasi</i>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            1. Pastikan Tim Operasi Memperkenalkan Diri
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PastikanTimOperasi, StaticModel.ListSudahBelum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PastikanTimOperasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            2. Baca ulang nama pasien dan tindakan medis yang akan dilakukan
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.BacaUlang, StaticModel.ListSudahBelum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.BacaUlang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            3. Apakah Profilaksis antibiotik sudah diberikan?
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.ApakahProfilaksis, StaticModel.ListSudahBelum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.ApakahProfilaksis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            Untuk Dokter Operator :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Apakah ada resiko dari tindakan yang akan dilakukan?</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.ApakahAdaRisiko, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.ApakahAdaRisiko, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Berapa lama perkiraan tindakan dilakukan?</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.BerapaLamaPerkiraan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.BerapaLamaPerkiraan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Apakah sudah ada antisipasi perdarahan?</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.SudahAntisipasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.SudahAntisipasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            Untuk Dokter Anestesi :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label">Apakah ada hal khusus untuk pasien ini?</label>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.HalKhusus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.HalKhusus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            Untuk Dokter Anestesi :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            Apakah sudah dipastikan keseterilan peralatan(ada indikator)?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.KesterilanPeralatan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.KesterilanPeralatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            Apakah ada masalah dengan peralatan dikhawatirkan ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.MasalahPeralatan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.MasalahPeralatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            Apakah ada hasil radiologi yang diperlukan ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.HasilRadiologi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.HasilRadiologi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            Apakah plat sudah terpasang dengan baik ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PlatSudahTerpasang, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PlatSudahTerpasang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">
                            Apakah selang suction berfungsi dengan baik ?
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.SelangSuctionBerfungsi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.SelangSuctionBerfungsi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12 text-center bg-primary">
                            <label class="text-bold h5">Sebelum Penutupan Luka/ SIGN OUT</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Tgl_SignOut, new { htmlAttributes = new { @class = "form-control", Value = (Model.ChckListKslmtnPsienOprs.Tgl_SignOut != null ? (Model.ChckListKslmtnPsienOprs.Tgl_SignOut.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Tgl_SignOut, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.Jam_SignOut, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.ChckListKslmtnPsienOprs.Jam_SignOut != null ? Model.ChckListKslmtnPsienOprs.Jam_SignOut.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Jam_SignOut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            <i>Dengan Perawat, Dokter Anestesi, DOkter Operator</i>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Secara verbal perawat memastikan :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">1. Nama Tindakan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.NamaTindakan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.NamaTindakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">2. Kelengkapan Alat</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.KelengkapanAlat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.KelengkapanAlat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">3. Jumlah Kassa</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.JumlahKassa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.JumlahKassa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">4. Jumlah Jarum</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.JumlahJarum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.JumlahJarum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">5. Pelabelan Spesimen</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.PelabelanSpesimen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PelabelanSpesimen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">5. Pelabelan Plasenta</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ChckListKslmtnPsienOprs.PelabelanPlasenta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PelabelanPlasenta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Apakah ada masalah peralatan yang perlu disampaikan?</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ChckListKslmtnPsienOprs.AdaMasalahAlat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.AdaMasalahAlat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">
                            Untuk Dokter Bedah, Dokter Anestesi Dan Perawat:
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">Apakah ada catatan khusus untuk proses recovery dan penanganan perawatan pasien ini?</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ChckListKslmtnPsienOprs.CatatanKhusus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.CatatanKhusus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Operator :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.Operator, Model.ChckListKslmtnPsienOprs.Operator == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.Operator.ToString(), Text = Model.ChckListKslmtnPsienOprs.OperatorNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Operator, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegOperator == 0)
                            {
                                <a id="btn_chcklistoperator" class="btn btn-primary disabled" onclick="user_verif_chcklistoperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistoperator" class="btn btn-primary" onclick="user_verif_chcklistoperator()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsOperator"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                        <label class="control-label col-md-2">
                            Asisten :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.Asisten, Model.ChckListKslmtnPsienOprs.Asisten == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.Asisten.ToString(), Text = Model.ChckListKslmtnPsienOprs.AsistenNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Asisten, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegAsisten == 0)
                            {
                                <a id="btn_chcklistasisten" class="btn btn-primary disabled" onclick="user_verif_chcklistasisten()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsAsisten"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistasisten" class="btn btn-primary" onclick="user_verif_chcklistasisten()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsAsisten"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Instrumen :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.Instrumen, Model.ChckListKslmtnPsienOprs.Instrumen == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.Instrumen.ToString(), Text = Model.ChckListKslmtnPsienOprs.InstrumenNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.Instrumen, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegInstrumen == 0)
                            {
                                <a id="btn_chcklistinstrumen" class="btn btn-primary disabled" onclick="user_verif_chcklistinstrumen()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsInstrumen"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistinstrumen" class="btn btn-primary" onclick="user_verif_chcklistinstrumen()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsInstrumen"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                        <label class="control-label col-md-2">
                            Dokter Anestesi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.DokterAnestesi, Model.ChckListKslmtnPsienOprs.DokterAnestesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.DokterAnestesi.ToString(), Text = Model.ChckListKslmtnPsienOprs.DokterAnestesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.DokterAnestesi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegDokterAnestesi == 0)
                            {
                                <a id="btn_chcklistdokteranestesi" class="btn btn-primary disabled" onclick="user_verif_chcklistdokteranestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsDokterAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistdokteranestesi" class="btn btn-primary" onclick="user_verif_chcklistdokteranestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsDokterAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Perawata Anestesi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PerawatAnestesi, Model.ChckListKslmtnPsienOprs.PerawatAnestesi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.PerawatAnestesi.ToString(), Text = Model.ChckListKslmtnPsienOprs.PerawatAnestesiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PerawatAnestesi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegPerawatAnestesi == 0)
                            {
                                <a id="btn_chcklistperawatanestesi" class="btn btn-primary disabled" onclick="user_verif_chcklistperawatanestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsPerawatAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistperawatanestesi" class="btn btn-primary" onclick="user_verif_chcklistperawatanestesi()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsPerawatAnestesi"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                        <label class="control-label col-md-2">
                            Dokter Anak :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.DokterAnak, Model.ChckListKslmtnPsienOprs.DokterAnak == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.DokterAnak.ToString(), Text = Model.ChckListKslmtnPsienOprs.DokterAnakNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.DokterAnak, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegDokterAnak == 0)
                            {
                                <a id="btn_chcklistdokteranak" class="btn btn-primary disabled" onclick="user_verif_chcklistdokteranak()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsDokterAnak"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_chcklistdokteranak" class="btn btn-primary" onclick="user_verif_chcklistdokteranak()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsDokterAnak"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Perawat Sirkuler :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ChckListKslmtnPsienOprs.PerawatSirkuler, Model.ChckListKslmtnPsienOprs.PerawatSirkuler == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.ChckListKslmtnPsienOprs.PerawatSirkuler.ToString(), Text = Model.ChckListKslmtnPsienOprs.PerawatSirkulerNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChckListKslmtnPsienOprs.PerawatSirkuler, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            @if (Model.ChckListKslmtnPsienOprs.SudahRegPerawatSirkuler == 0)
                            {
                                <a id="btn_perawatsirkuler" class="btn btn-primary disabled" onclick="user_verif_perawatsirkuler()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsPerawatSirkuler"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                            else
                            {
                                <a id="btn_perawatsirkuler" class="btn btn-primary" onclick="user_verif_perawatsirkuler()" href="finspot:FingerspotVer;@ViewBag.UrlFingerChckListKslmtnPsienOprsPerawatSirkuler"><span class="icon-checkmark2 position-center"></span>Verif</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.ChckListKslmtnPsienOprs.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFCheckListKeselamatanPasienOperasiOK", new { noreg = Model.ChckListKslmtnPsienOprs.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.ChckListKslmtnPsienOprs.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokteranestesi = $('#@formName #ChckListKslmtnPsienOprs_DokterAnestesi');
    var perawatanestesi = $('#@formName #ChckListKslmtnPsienOprs_PerawatAnestesi');
    var perawatsirkuler = $('#@formName #ChckListKslmtnPsienOprs_PerawatSirkuler');
    var onloop = $('#@formName #ChckListKslmtnPsienOprs_OnLoop');
    var operator = $('#@formName #ChckListKslmtnPsienOprs_Operator');
    var asisten = $('#@formName #ChckListKslmtnPsienOprs_Asisten');
    var instrumen = $('#@formName #ChckListKslmtnPsienOprs_Instrumen');
    var dokteranak = $('#@formName #ChckListKslmtnPsienOprs_DokterAnak');

    dokteranestesi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    perawatanestesi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    perawatsirkuler.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    onloop.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    operator.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    asisten.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    instrumen.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

    dokteranak.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });

</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>
    function user_verif_chcklistoperator() {
        var reStatsChckListKslmtnPsienOprsOperator = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_Operator').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifoperator(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsOperator == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsOperator == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsOperator == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistoperator').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifoperator(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Operator == "1") {
                            reStatsChckListKslmtnPsienOprsOperator = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsOperator = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_chcklistasisten() {
        var reStatsChckListKslmtnPsienOprsAsisten = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_Asisten').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifasisten(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsAsisten == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsAsisten == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsAsisten == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistasisten').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifasisten(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Asisten == "1") {
                            reStatsChckListKslmtnPsienOprsAsisten = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsAsisten = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_chcklistinstrumen() {
        var reStatsChckListKslmtnPsienOprsIstrumen = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_Instrumen').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifinstrumen(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsIstrumen == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsIstrumen == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsIstrumen == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistinstrumen').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifinstrumen(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Instrumen == "1") {
                            reStatsChckListKslmtnPsienOprsIstrumen = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsIstrumen = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_chcklistdokteranestesi() {
        var reStatsChckListKslmtnPsienOprsDokterAnestesi = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_DokterAnestesi').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdokteranestesi(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsDokterAnestesi == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsDokterAnestesi == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsDokterAnestesi == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistdokteranestesi').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifdokteranestesi(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterAnestesi == "1") {
                            reStatsChckListKslmtnPsienOprsDokterAnestesi = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsDokterAnestesi = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_chcklistperawatanestesi() {
        var reStatsChckListKslmtnPsienOprsPerawatAnestesi = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_PerawatAnestesi').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatanestesi(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsPerawatAnestesi == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsPerawatAnestesi == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsPerawatAnestesi == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistperawatanestesi').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifperawatanestesi(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.PerawatAnestesi == "1") {
                            reStatsChckListKslmtnPsienOprsPerawatAnestesi = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsPerawatAnestesi = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_chcklistdokteranak() {
        var reStatsChckListKslmtnPsienOprsDokterAnak = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_DokterAnak').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifdokteranak(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsDokterAnak == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsDokterAnak == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsDokterAnak == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_chcklistdokteranak').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifdokteranak(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.DokterAnak == "1") {
                            reStatsChckListKslmtnPsienOprsDokterAnak = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsDokterAnak = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function user_verif_perawatsirkuler() {
        var reStatsChckListKslmtnPsienOprsPerawatSirkuler = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = $('#ChckListKslmtnPsienOprs_PerawatSirkuler').val();
        var noreg = $('#ChckListKslmtnPsienOprs_NoReg').val();
        var section = $('#ChckListKslmtnPsienOprs_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifperawatsirkuler(noreg, section, user_id);
            if (ct >= limit || reStatsChckListKslmtnPsienOprsPerawatSirkuler == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsChckListKslmtnPsienOprsPerawatSirkuler == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsChckListKslmtnPsienOprsPerawatSirkuler == 1) {
                    alertpopup("Verification success!", "success");
                    $('#btn_perawatsirkuler').addClass('disabled', true);
                }
            }
            ct++;
        });

        function user_checkverifperawatsirkuler(noreg, section, user_id) {
            myajax({
                url: '@Url.Action("CheckBerhasilChckKeselamatanPasienOK", "VerifChckListKslmtnPsienOprs")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.PerawatSirkuler == "1") {
                            reStatsChckListKslmtnPsienOprsPerawatSirkuler = 1;
                        }
                    }
                    else {
                        reStatsChckListKslmtnPsienOprsPerawatSirkuler = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }

    function oncompletecreatechecklistkeselamatanpsnok(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#keselamatanpasienok').click();
    }
</script>






