﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "RencanaPemulanganPasien";
    ViewBag.Title = controllerName;
    var formName = $"frm_RencanaPemulanganPasien_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail Vital
    var d_tbl_Rencanapulang = $"frm_table_detailRencanaPemulanganPasien";
    int d_idx_Rencanapulang = 0;
    var d_trg_Rencanapulang = $"input_target_detailRencanaPemulanganPasien";
    if (Model != null)
    {
        if (Model.RcnaPmlngn != null)
        {
            if (Model.RcnaPmlngn.RcnaPmlngn_List != null)
            {
                d_idx_Rencanapulang = Model.RcnaPmlngn.RcnaPmlngn_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table Obat -->
<style>
    #d_tbl_Rencanapulang thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_Rencanapulang thead th:nth-child(1),
    #d_tbl_Rencanapulang tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_Rencanapulang thead th:nth-child(2),
    #d_tbl_Rencanapulang tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_Rencanapulang thead th:nth-child(3),
    #d_tbl_Rencanapulang tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_Rencanapulang thead th:nth-child(4),
    #d_tbl_Rencanapulang tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(5),
    #d_tbl_Rencanapulang tbody td:nth-child(5) {
        width: 250px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(6),
    #d_tbl_Rencanapulang tbody td:nth-child(6) {
        width: 150px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(7),
    #d_tbl_Rencanapulang tbody td:nth-child(7) {
        width: 250px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(8),
    #d_tbl_Rencanapulang tbody td:nth-child(8) {
        width: 150px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(9),
    #d_tbl_Rencanapulang tbody td:nth-child(9) {
        width: 150px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(10),
    #d_tbl_Rencanapulang tbody td:nth-child(10) {
        width: 250px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(11),
    #d_tbl_Rencanapulang tbody td:nth-child(11) {
        width: 150px;
    }

    #d_tbl_Rencanapulang thead th:nth-child(12),
    #d_tbl_Rencanapulang tbody td:nth-child(12) {
        width: 150px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RcnaPmlngn.NoReg)
        @Html.HiddenFor(Model => Model.RcnaPmlngn.SectionID)
        @Html.HiddenFor(Model => Model.RcnaPmlngn.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Diagnosa Medis :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RcnaPmlngn.DiagnosaMedis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.DiagnosaMedis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RcnaPmlngn.TanggalMRS, new { htmlAttributes = new { @class = "form-control", Value = (Model.RcnaPmlngn.TanggalMRS != null ? (Model.RcnaPmlngn.TanggalMRS.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.TanggalMRS, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-3">
                            Jam MRS:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.RcnaPmlngn.JamMRS, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RcnaPmlngn.JamMRS != null ? Model.RcnaPmlngn.JamMRS.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.JamMRS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alasan MRS :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RcnaPmlngn.AlasanMRS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.AlasanMRS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RcnaPmlngn.TanggalPerencanaan, new { htmlAttributes = new { @class = "form-control", Value = (Model.RcnaPmlngn.TanggalPerencanaan != null ? (Model.RcnaPmlngn.TanggalPerencanaan.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.TanggalPerencanaan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-3">
                            Jam Perencanaan Pemulangan pasien:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.RcnaPmlngn.JamPerencanaan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.RcnaPmlngn.JamPerencanaan != null ? Model.RcnaPmlngn.JamPerencanaan.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.JamPerencanaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Estimasi tanggal pemulangan pasien :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RcnaPmlngn.EstimasiTanggalPulang, new { htmlAttributes = new { @class = "form-control", Value = (Model.RcnaPmlngn.EstimasiTanggalPulang != null ? (Model.RcnaPmlngn.EstimasiTanggalPulang.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.EstimasiTanggalPulang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nama Perawat :
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.KodePerawat, Model.RcnaPmlngn.KodePerawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.RcnaPmlngn.KodePerawat.ToString(), Text = Model.RcnaPmlngn.KodePerawatNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.KodePerawat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">KETERNGAN RENCANA PEMULANGAN</label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">1. Pengaruh rawat inap terhadap:</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">- Pasien dan keluarga pasien</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienDanKeluarga, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienDanKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">- Pekerjaan</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.Pekerjaan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.Pekerjaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">- Keuangan</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.Keuangan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.Keuangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">2. Antisipasi terhadap masalah saat pulang</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.AntisipasiMasalahPulang, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.AntisipasiMasalahPulang, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.RcnaPmlngn.ApakahPerluBantuan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.ApakahPerluBantuan_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">3. Bantuan diperlukan dalam hal</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_MinumObat, new { htmlAttributes = new { } })
                                Minum Obat
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_Makan, new { htmlAttributes = new { } })
                                Makan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_MenyiapkanMakanan, new { htmlAttributes = new { } })
                                Menyiapkan Makanan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_EdukasiKesehatan, new { htmlAttributes = new { } })
                                Edukasi Kesehatan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_Mandi, new { htmlAttributes = new { } })
                                Mandi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_Diet, new { htmlAttributes = new { } })
                                Diet
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_Berpakaian, new { htmlAttributes = new { } })
                                Berpakaian
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RcnaPmlngn.Bantuan_Transportasi, new { htmlAttributes = new { } })
                                Transportasi
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">4. Adakah yang membantu keperluan tersebut diatas:</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.AdakahYangBantu, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.AdakahYangBantu, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.AdakahYangBantu_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.AdakahYangBantu_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">5. Apakah pasien hidup / tinggal sendiri setelah keluar dari rumah sakit</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.ApakahPasienHidup, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.ApakahPasienHidup, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.ApakahPasienHidup_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.ApakahPasienHidup_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">6. Apakah pasien menggunakan peralatan medis di rumah setelah keluar rumah sakit (cateter, NGT, double lunen, oksigen)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienMenggunakanAlatMedis, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienMenggunakanAlatMedis, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienMenggunakanAlatMedis_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienMenggunakanAlatMedis_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">7. Apakah pasien memerlukan alat bantu setelah keluar dari rumah sakit (tongkat, kursi roda, walker, dll)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienPerluAlat, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluAlat, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienPerluAlat_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluAlat_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">8. Apakah memerlukan bantuan/ perawatan khusus di rumah setelah keluar rumah sakit (homecare, home visit)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.ApakahPerluBantuan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.ApakahPerluBantuan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.ApakahPerluBantuan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.ApakahPerluBantuan_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">9. Apakah pasien bermasalah dalam memenuhi kebutuhan pribadinya setelah keluar dari rumah sakit (makan, minum, toileting, dll)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienBermasalah, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienBermasalah, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienBermasalah_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienBermasalah_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">10. Apakah pasien memiliki nyeri kronis dan kelelahan setelah keluar dari rumah sakit</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienMemilikiNyeri, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienMemilikiNyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienMemilikiNyeri_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienMemilikiNyeri_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">11. Apakah pasien dan keluarga memerlukan edukasi kesetahan setelah keluar dari rumah sakit(obat -obatan, nyeri, diit, mencari pertolongan, followup, dll)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienPerluEdukasi, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluEdukasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienPerluEdukasi_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluEdukasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label">12. Apakah pasien dan keluarga memerlukan keterampilan khusus setelah keluar dari rumah sakit ? (perawatan luka, injeksi, perawatan bayi, dll)</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RcnaPmlngn.PasienPerluKeterampilan, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluKeterampilan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Penjelasan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RcnaPmlngn.PasienPerluKeterampilan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.PasienPerluKeterampilan_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="panel_detailRcnaPmlngnObat" class="detail collapse in"
                             data-index-detail="@d_idx_Rencanapulang">
                            <div class="table-responsive">
                                <table id="d_tbl_Rencanapulang" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_Rencanapulang')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th class="text-center">Tanggal</th>
                                            <th class="text-center">Jam</th>
                                            <th class="text-center">Profesi</th>
                                            <th class="text-center">Catatan</th>
                                            <th class="text-center">Perawat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.RcnaPmlngn.RcnaPmlngn_List != null)
                                            {
                                                for (var i = 0; i < Model.RcnaPmlngn.RcnaPmlngn_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Tanggal, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Tanggal != null ? Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Jam, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               Value = (Model != null ? (Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Jam != null ? Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                           }
                                                       })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Profesi, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Profesi, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.TextAreaFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Catatan, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.Catatan, "", new { @class = "text-danger" })
                                                        </td>

                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.RcnaPmlngn.RcnaPmlngn_List[i].Model != null)
                                                            {
                                                                if (Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.KodePetugas != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.KodePetugas,
                                                                        Text = Model.RcnaPmlngn.RcnaPmlngn_List[i].Model.KodePetugasNama
                                                                    });
                                                                }
                                                            }
                                                        }

                                                        <td>
                                                            @Html.DropDownListFor(model => model.RcnaPmlngn.RcnaPmlngn_List[i].Model.KodePetugas, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.RcnaPmlngn.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFRencanaPemulanganPasien","ReportHistory", new { noreg = Model.RcnaPmlngn.NoReg, sectionid = Model.RcnaPmlngn.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.RcnaPmlngn.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Print PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
        if (Model.RcnaPmlngn.RcnaPmlngn_List != null)
        {
            for (var i = 0; i < Model.RcnaPmlngn.RcnaPmlngn_List.Count; i++)
            {

                    @:customdetailRencanaPemulanganPasien_Detail(@i, { target: $('#d_tbl_Rencanapulang thead a i')[0] }, '@d_trg_Rencanapulang', false);
            }

        }
    }

    function customdetailRencanaPemulanganPasien_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strperawat = '#panel_detailRcnaPmlngnObat #RcnaPmlngn_RcnaPmlngn_List_' + index_detail + '__Model_KodePetugas';

        $(_strperawat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }
</script>

<!--INPUT DETAIL TABLE-->
@{
    if (Model != null)
    {
        Model.RcnaPmlngn.RcnaPmlngn_List = null;
    }
}

<div id="@d_trg_Rencanapulang" class="hidden">
    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.Tanggal, new
   {
            htmlAttributes = new
            {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("HH':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.Profesi, new { htmlAttributes = new { @class = "form-control input-sm" } })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.Catatan, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.RcnaPmlngn.RcnaPmlngn_List[-1].Model.KodePetugas,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>
</div>

<!--JS SELECT Dan Autodetail-->
<script type="text/javascript">
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

    var perawat = $('#@formName #RcnaPmlngn_KodePerawat');

    perawat.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>









