﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "Strongkids";
    ViewBag.Title = controllerName;
    var formName = $"frm_Strongkids_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}


<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.StrngKds.NoReg)
        @Html.HiddenFor(Model => Model.StrngKds.SectionID)
        @Html.HiddenFor(Model => Model.StrngKds.NRM)


        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">STRONGKIDS (Usia 6 Bulan - 18 Tahun)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal Skrining :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.StrngKds.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.StrngKds.Tanggal != null ? (Model.StrngKds.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.StrngKds.Tanggal, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Nama :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrngKds.NamaPasien, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.StrngKds.NamaPasien != null ? (Model.StrngKds.NamaPasien) : "") } })
                            @Html.ValidationMessageFor(model => model.StrngKds.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">NRM :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.StrngKds.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.StrngKds.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.StrngKds.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.StrngKds.JenisKelamin == "F" ? "Perempuan" : Model.StrngKds.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.StrngKds.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tanggal Lahir :</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.StrngKds.TglLahir, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.StrngKds.TglLahir != null ? (Model.StrngKds.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.StrngKds.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban(SKOR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                1.
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Apakah terdapat penyakit atau keadan(lihat daftar) yang mengakibatkan pasien beresiko malnutrisi, atau apakah pasien rencana operasi mayor
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.StrngKds.OperasaiMayor, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skorstrongkidsRI()" })
                                                @Html.ValidationMessageFor(model => model.StrngKds.OperasaiMayor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <label class="col-md-12 ">
                                                2.
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Berdasarkan penilaian klinis, apakah pasien berstatus gizi kurang/ buruk
                                            </label>
                                        </div>
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.StrngKds.KekuranganGizi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skorstrongkidsRI()" })
                                                @Html.ValidationMessageFor(model => model.StrngKds.KekuranganGizi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                3.
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Apakah terdapat salah satu dari kondisi berikut ?
                                            </label>
                                            <div class="col-m-12">
                                                <ul>
                                                    <li>Diare >= 5 kali/hari atau muntah > 3 kali/hari</li>
                                                    <li>Asupan makanan berkurang selama beberapa hari terakhir</li>
                                                    <li>Mendapat intervensi nutrisi</li>
                                                    <li>Tidak mampu mengkonsumsi nutrisi adekuat karena nyeri</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.StrngKds.SalahSatuKondisi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skorstrongkidsRI()" })
                                                @Html.ValidationMessageFor(model => model.StrngKds.SalahSatuKondisi, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                4.
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="col-md-12">
                                                Apakah terdapat penurunan berat badan(untuk bayi < 1 tahun ; berat badan tidak naik) selama beberapa bulan terakhir?
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.StrngKds.PenurunanBB, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skorstrongkidsRI()" })
                                                @Html.ValidationMessageFor(model => model.StrngKds.PenurunanBB, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-bold">Total Skor</td>
                                    <td class="text-bold">
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.StrngKds.TotalSkor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.StrngKds.TotalSkor, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 text-bold">
                            @Html.EditorFor(model => model.StrngKds.TotalSkorKet, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.StrngKds.TotalSkorKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="4">Daftar penyakit / keadaan berisiko malnutrisi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Anoreksia, new { htmlAttributes = new { } })
                                                        Anoreksia nervosa
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Dismaturitas, new { htmlAttributes = new { } })
                                                        Dismaturitas /premature (usia koreksi 6 bulan)
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitHati, new { htmlAttributes = new { } })
                                                        Penyakit Hati kronik
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitMetabolik, new { htmlAttributes = new { } })
                                                        Penyakit Metabolik
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.LukaBakar, new { htmlAttributes = new { } })
                                                        Luka Bakar
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitJantung, new { htmlAttributes = new { } })
                                                        Penyakit Jantung kronik
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitGinjal, new { htmlAttributes = new { } })
                                                        Penyakit Ginjal kronik
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Trauma, new { htmlAttributes = new { } })
                                                        Trauma
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Displasia, new { htmlAttributes = new { } })
                                                        Displasia bronkopulmoner (usia max 2 thn)
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitInfeksiHIV, new { htmlAttributes = new { } })
                                                        Penyakit Infeksi HIV
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Pankreatitis, new { htmlAttributes = new { } })
                                                        Pankreatitis
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.RetardasiMental, new { htmlAttributes = new { } })
                                                        Retardasi Mental
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitCeliac, new { htmlAttributes = new { } })
                                                        Penyakit Celiac
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Inflammatory, new { htmlAttributes = new { } })
                                                        Inflammatory bowel disease
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.ShortBowelSyndrome, new { htmlAttributes = new { } })
                                                        Short Bowel Syndrome
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.CysticFibrosis, new { htmlAttributes = new { } })
                                                        Cystic Fibrosis
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.Kanker, new { htmlAttributes = new { } })
                                                        Kanker
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitOtot, new { htmlAttributes = new { } })
                                                        Penyakit Otot
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox checkbox-inline">
                                                        @Html.EditorFor(model => model.StrngKds.PenyakitLainnya, new { htmlAttributes = new { } })
                                                        Lain lain (Berdasarkan pertimbangkan dokter)
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.StrngKds.PenyakitLainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.StrngKds.PenyakitLainnyaKet, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Ahli Gizi :
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.StrngKds.AhliGizi, Model.StrngKds.AhliGizi == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.StrngKds.AhliGizi.ToString(), Text = Model.StrngKds.AhliGiziNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StrngKds.AhliGizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    <a href="@Url.Action("ExportPDFStrongKids","ReportHistory", new { noreg = Model.StrngKds.NoReg, Model.StrngKds.SectionID })" target="_blank"
                       class="btn btn-success" @(Model.StrngKds.NoReg == null ? "disabled" : "")>
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                </div>
            </div>
        </div>

    }

</div>

<!--JS SELECT-->
<script type="text/javascript">
    var ahligizi = $('#@formName #StrngKds_AhliGizi');

    ahligizi.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });


</script>

<!--JS Lainnya-->
<script>
    function skorstrongkidsRI() {


        var a = 0;
        var b = 0;
        var c = 0;
        var d = 0;

        if ($("#StrngKds_OperasaiMayor option:selected").val() == 'Ya') {
            a = 2;
        } else if ($("#StrngKds_OperasaiMayor option:selected").val() == 'Tidak') {
            a = 0;
        }

        if ($("#StrngKds_KekuranganGizi option:selected").val() == 'Ya') {
            b = 1;
        } else if ($("#StrngKds_KekuranganGizi option:selected").val() == 'Tidak') {
            b = 0;
        }

        if ($("#StrngKds_SalahSatuKondisi option:selected").val() == 'Ya') {
            c = 1;
        } else if ($("#StrngKds_SalahSatuKondisi option:selected").val() == 'Tidak') {
            c = 0;
        }

        if ($("#StrngKds_PenurunanBB option:selected").val() == 'Ya') {
            d = 1;
        } else if ($("#StrngKds_PenurunanBB option:selected").val() == 'Tidak') {
            d = 0;
        }


        const e = a + b + c + d;
        $("#StrngKds_TotalSkor").val(e);

        if (e == 0) {
            $("#StrngKds_TotalSkorKet").val('Risiko Ringan');
        } else if (e >= 1 && e <= 3) {
            $("#StrngKds_TotalSkorKet").val('Risiko Sedang');
        } else if (e >= 4) {
            $("#StrngKds_TotalSkorKet").val('Risiko Tinggi');
        }





    }

    $(document).ready(function () {
        skorstrongkidsRI();
    });

</script>






