﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PersetujuanDirawatICU";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateperserujuanranap(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.PDirawatICU.JaminanKesehatan)
        @Html.HiddenFor(Model => Model.PDirawatICU.JaminanKesehatan1)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDPasien)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDpetugas)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDSaksi1)
        @Html.HiddenFor(Model => Model.PDirawatICU.TTDSaksi2)

        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID)
                @Html.HiddenFor(model => model.NRM)

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <label class="text-bold ">
                            PERSETUJUAN RAWAT INAP
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">
                        Saya yang bertanda tangan dibawah ini :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Umur, Jenis Kelamin
                    </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PDirawatICU.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Umur, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.PDirawatICU.Jenis, new List<SelectListItem>
                              {
                                  new SelectListItem() {Text = "", Value=""},
                                  new SelectListItem() {Text = "Laki-Laki", Value="Laki-Laki"},
                                  new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                              }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Telah mendapat penjeleasan dokter tentang :
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.TujuanPasien)
                                Tujuan pasien dilakukan rawat inap.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.ResikoDanKomplikasi)
                                Resiko komplikasi yang mungkin terjadi.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.Peringatan)
                                Peringatan bahaya yang mungkin terjadi.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PDirawatICU.PerkiraanBiaya)
                                Perkiraan biaya & lama rawat
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">
                        Saya sudah mendapatkan kesempatan untuk bertanya dan saya sudah mengerti dan puas dengan penjelasan yang diberikan sehubungan dengan pertanyaan-pertanyaan saya.
                        Dengan ini saya menyatakan dengan sesungguhnya bahwa saya Setuju rawat inap seperti yang dijelaskan diatas, terhadap diri
                    </label>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PDirawatICU.Terhadap, new List<SelectListItem>
                                   {
                                       new SelectListItem() {Text = "Saya", Value="Saya"},
                                       new SelectListItem() {Text = "Suami", Value="Suami"},
                                       new SelectListItem() {Text = "Istri", Value="Istri"},
                                       new SelectListItem() {Text = "Anak", Value="Anak"},
                                       new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                       new SelectListItem() {Text = "Ibu", Value="Ibu"},
                                       new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                                   }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.TerhadapLainnya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.TerhadapLainnya, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1">
                        saya
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tgl Lahir, Jenis Kelamin
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PDirawatICU.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PDirawatICU.TglLahir != null ? (Model.PDirawatICU.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PDirawatICU.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PDirawatICU.JenisKelamin == "F" ? "Perempuan" : Model.PDirawatICU.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <p>dengan cara pembayaran (lingkari pilih yang sesuai) :</p>
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline ">
                            @Html.EditorFor(model => model.PDirawatICU.Umum_1, new { htmlAttributes = new { } })
                            1.
                        </label>
                    </div>
                    <label class="col-md-3 control-label">
                        Umum (Bayar Sendiri)
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-11 col-md-offset-1 control-label">
                        Sanggup membayar penuh biaya perawatan sesuai dengan kelas dan tarif yang ditentukan Rumkit Bhayangkara Denpasar.
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline control-label">
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan_2, new { htmlAttributes = new { } })
                            2.
                        </label>
                    </div>
                    <label class="col-md-3 control-label">
                        Jaminan Kesehatan Nasional (JKN/BPJS)
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-11 control-label">
                        Biaya perawatan akan di tanggung oleh BPJS Kesehatan dan jika terjadi :
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <ul>
                            <li>Kenaikan kelas perawatan atas permintaan, pasien siap membayar selisih/<i>sharing cost</i></li>
                            <li>Apabila saya tidak menyerahkan kelengkapan administrasi 3x24 jam atau tidak menyatakan diri menggunakan BPJS sejak Masuk Rumah Sakit, maka bersedia untuk dialihkan debagai pasien umum (Bayar Sendiri)</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline control-label">
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan_3, new { htmlAttributes = new { } })
                            3.
                        </label>
                    </div>
                    <label class="col-md-2 control-label">
                        Jaminan Kesehatan Lainnya
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.JaminanKesehatan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JaminanKesehatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        <label class="checkbox checkbox-inline control-label">
                            @Html.EditorFor(model => model.PDirawatICU.Jaminan_4, new { htmlAttributes = new { } })
                            4.
                        </label>
                    </div>
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.PDirawatICU.JaminanKesehatan1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.JaminanKesehatan1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <p>Demikian Persetujuan ini saya buat dengan penuh kesadaran dan tanpa paksaan</p>
                <br />
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Dokter
                    </label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PDirawatICU.Dokter, Model.PDirawatICU.Dokter == null ? new List<SelectListItem>() :
                   new List<SelectListItem>() { new SelectListItem() { Value = Model.PDirawatICU.Dokter.ToString(), Text = Model.PDirawatICU.DokterNama } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a id="@nameof(Model.PDirawatICU.TTDpetugas)" class="btn btn-primary pull-left btn-sm @(Model.PDirawatICU.TTDpetugas != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PDirawatICU.TTDpetugas)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Yang Membuat Pernyataan
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.MembuatPernyataan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.MembuatPernyataan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a id="@nameof(Model.PDirawatICU.TTDPasien)" class="btn btn-primary pull-left btn-sm @(Model.PDirawatICU.TTDPasien != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PDirawatICU.TTDPasien)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Saksi I
                    </label>
                    <div class="col-md-9 ">
                        @Html.EditorFor(model => model.PDirawatICU.Saksi1, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Saksi1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a id="@nameof(Model.PDirawatICU.TTDSaksi1)" class="btn btn-primary pull-left btn-sm @(Model.PDirawatICU.TTDSaksi1 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PDirawatICU.TTDSaksi1)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Saksi II
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PDirawatICU.Saksi2, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PDirawatICU.Saksi2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        <a id="@nameof(Model.PDirawatICU.TTDSaksi2)" class="btn btn-primary pull-left btn-sm @(Model.PDirawatICU.TTDSaksi2 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PDirawatICU.TTDSaksi2)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PDirawatICU_TTDPasien" name="IMG_PDirawatICU_TTDPasien" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PDirawatICU_TTDSaksi1" name="IMG_PDirawatICU_TTDSaksi1" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PDirawatICU_TTDSaksi2" name="IMG_PDirawatICU_TTDSaksi2" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PDirawatICU_TTDpetugas" name="IMG_PDirawatICU_TTDpetugas" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDF", new { noreg = Model.NoReg})" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#PDirawatICU_Dokter');

    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script>
    function clickgambar(t) {
        console.log(t.id);
        console.log(t);
        $('#IMG_PDirawatICU_' + t.id).click();
    }

    function ulanggambar(t) {
        $('#IMG_PDirawatICU_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id + '.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var ximg_Gambar1 = $('#IMG_PDirawatICU_TTDPasien');
    var ximg_Gambar2 = $('#IMG_PDirawatICU_TTDSaksi1');
    var ximg_Gambar3 = $('#IMG_PDirawatICU_TTDSaksi2');
    var ximg_Gambar4 = $('#IMG_PDirawatICU_TTDpetugas');

    @if (Model != null)
    {
        if (Model.PDirawatICU.TTDPasien != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.PDirawatICU.TTDPasien)');
        }
        if (Model.PDirawatICU.TTDSaksi1 != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.PDirawatICU.TTDSaksi1)');
        }
        if (Model.PDirawatICU.TTDSaksi2 != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.PDirawatICU.TTDSaksi2)');
        }
        if (Model.PDirawatICU.TTDpetugas != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.PDirawatICU.TTDpetugas)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(true, ximg_Gambar1);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);
        iGambar3 = new iPainter_V2(true, ximg_Gambar3);
        iGambar4 = new iPainter_V2(true, ximg_Gambar4);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.PDirawatICU.TTDPasien)');
        var imges2 = $('#IMG_@nameof(Model.PDirawatICU.TTDSaksi1)');
        var imges3 = $('#IMG_@nameof(Model.PDirawatICU.TTDSaksi2)');
        var imges4 = $('#IMG_@nameof(Model.PDirawatICU.TTDpetugas)');
        iGambar1 = new iPainter_V2(imges1);
        iGambar2 = new iPainter_V2(imges2);
        iGambar3 = new iPainter_V2(imges3);
        iGambar4 = new iPainter_V2(imges4);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('PDirawatICU_TTDPasien');
            iGambar2.convert_V2('PDirawatICU_TTDSaksi1');
            iGambar3.convert_V2('PDirawatICU_TTDSaksi2');
            iGambar4.convert_V2('PDirawatICU_TTDpetugas');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
            
    }

    function oncompletecreateperserujuanranap(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#PersetujuanDirawatICU').click();
    }
</script>


