﻿@using EMRRSBK.Models
@model EMRIlmuPenyakitJiwaViewModel
@{
    var controllerName = "EMRIlmuPenyakitJiwa";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.NRM)

            <div class="panel panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center h5">ILMU PENYAKIT JIWA</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-2">
                            <select id="listTemplateDokumen" class="form-control">
                                <option value="0"></option>
                                @if (Model.ListTemplate != null)
                                {
                                    foreach (var x in Model.ListTemplate)
                                    {
                                        @: <option value="@x.Value">@x.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukanjiwa()" } })
                                Ya
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.Rujukan_RS, new { htmlAttributes = new { onclick = "rujukanrsjiwa()", disabled = true } })
                                    RS
                                </label>
                                @Html.EditorFor(model => model.Rujukan_RS_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Rujukan_RS_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.Rujukan_Puskesmas, new { htmlAttributes = new { onclick = "rujukanpuskesmasjiwa()", disabled = true } })
                                    Puskesmas
                                </label>
                                @Html.EditorFor(model => model.Rujukan_Puskesmas_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Rujukan_Puskesmas_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.Rujukan_Dr, new { htmlAttributes = new { onclick = "rujukandrjiwa()", disabled = true } })
                                    Dr.
                                </label>
                                @Html.EditorFor(model => model.Rujukan_Dr_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Rujukan_Dr_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.Rujukan_Lainnya, new { htmlAttributes = new { onclick = "rujukanlainnyajiwa()", disabled = true } })
                                    Lainnya
                                </label>
                                @Html.EditorFor(model => model.Rujukan_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.Rujukan_Lainnya_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="col-md-offset-2 col-md-2">
                                <label class="checkbox checkbox-inline control-label">
                                    @Html.EditorFor(model => model.DxRujukan, new { htmlAttributes = new { onclick = "rujukandxjiwa()", disabled = true } })
                                    Dx Rujukan
                                </label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.DxRujukan_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.DxRujukan_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <label class=" control-label">
                                Tidak
                            </label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Tidak_DatangSendiri_Diantar, StaticModel.ListDiantar, new { @class = "form-control", disabled = true, onclick = "diantarjiwa()" })
                            @Html.ValidationMessageFor(model => model.Tidak_DatangSendiri_Diantar, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Tidak_DatangSendiri_Diantar_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Tidak_DatangSendiri_Diantar_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Asuransi
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Asuransi, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.Asuransi != null ? (Model.Asuransi) : "") } })
                            @Html.ValidationMessageFor(model => model.Asuransi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Nama Keluarga :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.NamaKeluarga != null ? (Model.NamaKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.NamaKeluarga, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            No. HP/ Telp :
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TelpKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.TelpKeluarga != null ? (Model.TelpKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.TelpKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alamat
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AlamatKeluarga != null ? (Model.AlamatKeluarga) : "") } })
                            @Html.ValidationMessageFor(model => model.AlamatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.TranspotasiDatang, StaticModel.ListKendaraan, new { @class = "form-control", onclick = "transportasijiwa()" })
                            @Html.ValidationMessageFor(model => model.TranspotasiDatang, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TranspotasiDatang_Ket, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TranspotasiDatang_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class=form-group>
                        <label class="col-md-2 control-label">Riwayat Alergi :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RiwayatAlergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "alergijiwa()" })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Obat :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.RiwayatAlergi_Obat, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Obat, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">

                            @Html.EditorFor(model => model.RiwayatAlergi_Obat_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Obat_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">Makanan :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.RiwayatAlergi_Makanan, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Makanan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.RiwayatAlergi_Makanan_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Makanan_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-4 control-label">Lainnya :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.RiwayatAlergi_Lainlain, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Lainlain, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Gejala / Reaksi Alergi:</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.RiwayatAlergi_Lainlain_Gejala, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatAlergi_Lainlain_Gejala, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "nyerijiwa()" })
                            @Html.ValidationMessageFor(model => model.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Nyeri_Lokasi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Nyeri_Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.Nyeri_Intensitas, StaticModel.ListIntensitas, new { @class = "form-control", disabled = true })
                            @Html.ValidationMessageFor(model => model.Nyeri_Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Nyeri_Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nyeri_Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            ANAMNESA
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Wawancara :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Wawancara, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Wawancara, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            1. Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            2. Riwayat Penyakit Sekarang  :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Auto Anamnesa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AutoAnamnesa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AutoAnamnesa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Hetero Anamnesa :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.HeteroAnamnesa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HeteroAnamnesa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Pencetus/Penyebab :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.FaktorPencetus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FaktorPencetus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Keluarga :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.FaktorKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FaktorKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Kerja/Sosial :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.FungsiKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FungsiKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Riwayat NAPZA :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.RiwayatNAPZA, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "riwayatnapzajiwa()" })
                            @Html.ValidationMessageFor(model => model.RiwayatNAPZA, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.LamaPakai, new { htmlAttributes = new { onclick = "riwayatnapzalamapakaijiwa()", disabled = true } })
                                    Lama Pemakaian
                                </label>
                                @Html.EditorFor(model => model.LamaPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.LamaPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.JenisZat, new { htmlAttributes = new { onclick = "riwayatnapzajeniszatjiwa()", disabled = true } })
                                    Jenis Zat
                                </label>
                                @Html.EditorFor(model => model.JenisZat_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.JenisZat_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.CaraPakai, new { htmlAttributes = new { onclick = "riwayatnapzacarapakaijiwa()", disabled = true } })
                                    Cara Pemakaian
                                </label>
                                @Html.EditorFor(model => model.CaraPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.CaraPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.LatarBelakangPakai, new { htmlAttributes = new { onclick = "riwayatnapzalatarbelakangjiwa()", disabled = true } })
                                    Latar Belakang Pemakaian
                                </label>
                                @Html.EditorFor(model => model.LatarBelakangPakai_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                @Html.ValidationMessageFor(model => model.LatarBelakangPakai_Ket, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Premorbid :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.FaktorPremorbid, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FaktorPremorbid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            - Faktor Organik :
                        </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.FaktorOrganik, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FaktorOrganik, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            STATUS PSIKIATRI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Kesan Umum :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KesanUmum, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KesanUmum, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Kesadaran :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Kesadaran, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Kesadaran, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Mood / Afek :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mood, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mood, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Proses Pikir :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProsesPikir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProsesPikir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Persepsi :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Penerapan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penerapan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Intelegensi :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Intelegensi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Intelegensi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Psikomotorik :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Psikomotor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Psikomotor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">
                            1. STATUS INTERNE
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Kesadaran Umum:
                                </label>
                                @Html.DropDownListFor(model => model.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.KeadaanUmum, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tensi
                                </label>
                                @Html.EditorFor(model => model.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Tensi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    mmHg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    X/menit
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi
                                </label>
                                @Html.EditorFor(model => model.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    X/menit
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu
                                </label>
                                @Html.EditorFor(model => model.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Suhu, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    <sub>o</sub>C
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Gizi
                                </label>
                                @Html.EditorFor(model => model.Gizi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gizi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            STATUS NEUROLOGI:
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.StatusNeorologi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusNeorologi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            TERAPI :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('_Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            DIAGNOSA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DiagnosaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            RENCANA KERJA :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">DIPOSISI :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.BolehPulang, new { htmlAttributes = new { onclick = "disposisibolehpulangjiwa()" } })
                                Boleh Pulang:
                            </label>
                        </div>
                        <label class="col-md-2 control-label">Jam Keluar:</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.EditorFor(model => model.BolehPulang_Jam, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model != null ? (Model.BolehPulang_Jam != null ? Model.BolehPulang_Jam.Value.ToString("HH':'mm") : "") : "") } })
                                @Html.ValidationMessageFor(model => model.BolehPulang_Jam, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Wita</label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">Tanggal:</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.BolehPulang_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.BolehPulang_Tanggal != null ? (Model.BolehPulang_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.BolehPulang_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2 control-label">KontrolPoli :</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.KontrolPoli, StaticModel.ListYaTidak, new { @class = "form-control", disabled = true, onclick = "kontrolpolijiwa()" })
                            @Html.ValidationMessageFor(model => model.KontrolPoli, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Tanggal:</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.KontrolPoli_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.KontrolPoli_Tanggal != null ? (Model.KontrolPoli_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.KontrolPoli_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            DPJP
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DPJP, Model.DPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DPJP.ToString(), Text = Model.DPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DPJP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Dokter, Model.Dokter == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.Dokter.ToString(), Text = Model.DokterNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dokter, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                <input type="text" name="nama_template" id="nama_template" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFTindakanKedokteran", new { noreg = Model.NoReg })" target="_blank"
                               class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                Print PDF
                            </a>
                            <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    generalDokter("#@formName #DPJP");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = $('#NoReg').val();
        var copy = $("#listTemplateDokumen :selected").val();
        var nrmtemp = $('#NRM').val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');
            var url = '@Url.Action("", "EMRIlmuPenyakitJiwa")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy + "&nrm=" + nrmtemp;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>

<script src="~/scripts/jquery.timer.js"></script>

<!-- Lainnya -->
<script>
    function rujukanjiwa() {
        if ($('#Rujukan_Ya').is(':checked')) {
            $('#Rujukan_RS').prop('disabled', false);
            $('#Rujukan_Dr').prop('disabled', false);
            $('#Rujukan_Puskesmas').prop('disabled', false);
            $('#Rujukan_Lainnya').prop('disabled', false);
            $('#DxRujukan').prop('disabled', false);
        } else {
            $('#Rujukan_RS').prop('checked', false);
            $('#Rujukan_RS').prop('disabled', true);
            $('#Rujukan_Dr').prop('checked', false);
            $('#Rujukan_Dr').prop('disabled', true);
            $('#Rujukan_Puskesmas').prop('checked', false);
            $('#Rujukan_Puskesmas').prop('disabled', true);
            $('#Rujukan_Lainnya').prop('checked', false);
            $('#Rujukan_Lainnya').prop('disabled', true);
            $('#DxRujukan').prop('checked', false);
            $('#DxRujukan').prop('disabled', true);
            $('#Rujukan_RS_Ket').prop('disabled', true);
            $('#Rujukan_RS_Ket').val('');
            $('#Rujukan_Dr_Ket').prop('disabled', true);
            $('#Rujukan_Dr_Ket').val('');
            $('#Rujukan_Puskesmas_Ket').prop('disabled', true);
            $('#Rujukan_Puskesmas_Ket').val('');
            $('#DxRujukan_Ket').prop('disabled', true);
            $('#DxRujukan_Ket').val('');
            $('#Rujukan_Lainnya_Ket').prop('disabled', true);
            $('#Rujukan_Lainnya_Ket').val('');
        }
    }

    function rujukantidakjiwa() {
        if ($('#Rujukan_Tidak').is(':checked')) {
            $('#Rujukan_DatangSendiri').prop('disabled', false);
            $('#Rujukan_Diantar').prop('disabled', false);
        } else {
            $('#Rujukan_DatangSendiri').prop('checked', false);
            $('#Rujukan_DatangSendiri').prop('disabled', true);
            $('#Rujukan_Diantar').prop('checked', false);
            $('#Rujukan_Diantar').prop('disabled', true);
            $('#Rujukan_Diantar_Ket').prop('disabled', true);
            $('#Rujukan_Diantar_Ket').val('');

        }
    }

    function rujukanrsjiwa() {
        if ($('#Rujukan_RS').is(':checked')) {
            $('#Rujukan_RS_Ket').prop('disabled', false);
        } else {
            $('#Rujukan_RS_Ket').prop('disabled', true);
            $('#Rujukan_RS_Ket').val('');
        }
    }

    function rujukandrjiwa() {
        if ($('#Rujukan_Dr').is(':checked')) {
            $('#Rujukan_Dr_Ket').prop('disabled', false);
        } else {
            $('#Rujukan_Dr_Ket').prop('disabled', true);
            $('#Rujukan_Dr_Ket').val('');
        }
    }

    function rujukanpuskesmasjiwa() {
        if ($('#Rujukan_Puskesmas').is(':checked')) {
            $('#Rujukan_Puskesmas_Ket').prop('disabled', false);
        } else {
            $('#Rujukan_Puskesmas_Ket').prop('disabled', true);
            $('#Rujukan_Puskesmas_Ket').val('');
        }
    }

    function rujukanlainnyajiwa() {
        if ($('#Rujukan_Lainnya').is(':checked')) {
            $('#Rujukan_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Rujukan_Lainnya_Ket').prop('disabled', true);
            $('#Rujukan_Lainnya_Ket').val('');
        }
    }

    function rujukandxjiwa() {
        if ($('#DxRujukan').is(':checked')) {
            $('#DxRujukan_Ket').prop('disabled', false);
            $('#Tidak_DatangSendiri_Diantar').prop('disabled', false);
        } else {
            $('#DxRujukan_Ket').prop('disabled', true);
            $('#DxRujukan_Ket').val('');
            $('#Tidak_DatangSendiri_Diantar').prop('disabled', true);
            $('#Tidak_DatangSendiri_Diantar').val('');
            $('#Tidak_DatangSendiri_Diantar_Ket').prop('disabled', true);
            $('#Tidak_DatangSendiri_Diantar_Ket').val('');
        }
    }

    function diantarjiwa() {
        if ($("#Tidak_DatangSendiri_Diantar option:selected").val() == 'Diantar') {
            $('#Tidak_DatangSendiri_Diantar_Ket').prop('disabled', false);
        } else {
            $('#Tidak_DatangSendiri_Diantar_Ket').prop('disabled', true);
            $('#Tidak_DatangSendiri_Diantar_Ket').val('');
        }
    }

    function transportasijiwa() {
        if ($("#TranspotasiDatang option:selected").val() == 'Kendaraan Lainnya') {
            $('#TranspotasiDatang_Ket').prop('disabled', false);
        } else {
            $('#TranspotasiDatang_Ket').prop('disabled', true);
            $('#TranspotasiDatang_Ket').val('');
        }
    }

    function alergijiwa() {
        if ($("#RiwayatAlergi option:selected").val() == 'Ya') {
            $('#RiwayatAlergi_Obat').prop('disabled', false);
            $('#RiwayatAlergi_Obat_Gejala').prop('disabled', false);
            $('#RiwayatAlergi_Makanan').prop('disabled', false);
            $('#RiwayatAlergi_Makanan_Gejala').prop('disabled', false);
            $('#RiwayatAlergi_Lainlain').prop('disabled', false);
            $('#RiwayatAlergi_Lainlain_Gejala').prop('disabled', false);
        } else {
            $('#RiwayatAlergi_Obat').prop('disabled', true);
            $('#RiwayatAlergi_Obat').val('');
            $('#RiwayatAlergi_Obat_Gejala').prop('disabled', true);
            $('#RiwayatAlergi_Obat_Gejala').val('');
            $('#RiwayatAlergi_Makanan').prop('disabled', true);
            $('#RiwayatAlergi_Makanan').val('');
            $('#RiwayatAlergi_Makanan_Gejala').prop('disabled', true);
            $('#RiwayatAlergi_Makanan_Gejala').val('');
            $('#RiwayatAlergi_Lainlain').prop('disabled', true);
            $('#RiwayatAlergi_Lainlain').val('');
            $('#RiwayatAlergi_Lainlain_Gejala').prop('disabled', true);
            $('#RiwayatAlergi_Lainlain_Gejala').val('');
        }
    }

    function riwayatnapzajiwa() {
        if ($("#RiwayatNAPZA option:selected").val() == 'Ya') {
            $('#LamaPakai').prop('disabled', false);
            $('#JenisZat').prop('disabled', false);
            $('#CaraPakai').prop('disabled', false);
            $('#LatarBelakangPakai').prop('disabled', false);
        } else {
            $('#LamaPakai').prop('checked', false);
            $('#LamaPakai').prop('disabled', true);
            $('#JenisZat').prop('checked', false);
            $('#JenisZat').prop('disabled', true);
            $('#CaraPakai').prop('checked', false);
            $('#CaraPakai').prop('disabled', true);
            $('#LatarBelakangPakai').prop('checked', false);
            $('#LatarBelakangPakai').prop('disabled', true);
            $('#LamaPakai_Ket').prop('disabled', true);
            $('#LamaPakai_Ke').val('');
            $('#JenisZat_Ket').prop('disabled', true);
            $('#JenisZat_Ket').val('');
            $('#CaraPakai_Ket').prop('disabled', true);
            $('#CaraPakai_Ket').val('');
            $('#LatarBelakangPakai_Ket').prop('disabled', true);
            $('#LatarBelakangPakai_Ket').val('');
        }
    }

    function riwayatnapzalamapakaijiwa() {
        if ($('#LamaPakai').is(':checked')) {
            $('#LamaPakai_Ket').prop('disabled', false);
        } else {
            $('#LamaPakai_Ket').prop('disabled', true);
            $('#LamaPakai_Ket').val('');
        }
    }

    function riwayatnapzajeniszatjiwa() {
        if ($('#JenisZat').is(':checked')) {
            $('#JenisZat_Ket').prop('disabled', false);
        } else {
            $('#JenisZat_Ket').prop('disabled', true);
            $('#JenisZat_Ket').val('');
        }
    }

    function riwayatnapzacarapakaijiwa() {
        if ($('#CaraPakai').is(':checked')) {
            $('#CaraPakai_Ket').prop('disabled', false);
        } else {
            $('#CaraPakai_Ket').prop('disabled', true);
            $('#CaraPakai_Ket').val('');
        }
    }

    function riwayatnapzalatarbelakangjiwa() {
        if ($('#LatarBelakangPakai').is(':checked')) {
            $('#LatarBelakangPakai_Ket').prop('disabled', false);
        } else {
            $('#LatarBelakangPakai_Ket').prop('disabled', true);
            $('#LatarBelakangPakai_Ket').val('');
        }
    }

    function nyerijiwa() {
        if ($("#Nyeri option:selected").val() == 'Ya') {
            $('#Nyeri_Lokasi').prop('disabled', false);
            $('#Nyeri_Intensitas').prop('disabled', false);
        } else {
            $('#Nyeri_Lokasi').prop('disabled', true);
            $('#Nyeri_Lokasi').val('');
            $('#Nyeri_Intensitas').prop('disabled', true);
            $('#Nyeri_Intensitas').val('');
        }
    }

    function disposisibolehpulangjiwa() {
        if ($('#BolehPulang').is(':checked')) {
            $('#BolehPulang_Jam').prop('disabled', false);
            $('#BolehPulang_Tanggal').prop('disabled', false);
            $('#KontrolPoli').prop('disabled', false);
        } else {
            $('#BolehPulang_Jam').prop('disabled', true);
            $('#BolehPulang_Jam').val('');
            $('#BolehPulang_Tanggal').prop('disabled', true);
            $('#BolehPulang_Tanggal').val('');
            $('#KontrolPoli').prop('disabled', true);
            $('#KontrolPoli').val('');
            $('#KontrolPoli_Tanggal').prop('disabled', true);
            $('#KontrolPoli_Tanggal').val('');
        }
    }

    function kontrolpolijiwa() {
        if ($("#KontrolPoli option:selected").val() == 'Ya') {
            $('#KontrolPoli_Tanggal').prop('disabled', false);
        } else {
            $('#KontrolPoli_Tanggal').prop('disabled', true);
            $('#KontrolPoli_Tanggal').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    $(document).ready(function () {
        rujukanjiwa();
        rujukantidakjiwa();
        rujukanrsjiwa();
        rujukandrjiwa();
        rujukanpuskesmasjiwa();
        rujukanlainnyajiwa();
        rujukandxjiwa();
        diantarjiwa();
        transportasijiwa();
        alergijiwa();
        nyerijiwa();
        riwayatnapzajiwa();
        riwayatnapzalamapakaijiwa();
        riwayatnapzajeniszatjiwa();
        riwayatnapzacarapakaijiwa();
        riwayatnapzalatarbelakangjiwa();
        disposisibolehpulangjiwa();
        kontrolpolijiwa();
    });
</script>




