﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model TindakanKedokteranIGDViewModel
@{
    var controllerName = "TindakanKedokteran";
    ViewBag.Title = "Ceklist Pencegahan Risiko Jatuh Rendah";
    var formName = $"frm_{controllerName}_history";
    var tableId = $"table_{controllerName}";
    var item = new TindakanKedokteranIGDViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.NRM);
    column[3] = nameof(item.Tanggal);
    column[4] = nameof(item.Tanggal_View);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2){
        text-align:center;
        width: 100px;
    }

    #@tableId tbody td:nth-child(2){
        text-align:center;
    }

    #@tableId thead th:nth-child(3){
        text-align:center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(3){
        text-align:center;
    }

    #@tableId thead th:nth-child(4){
        text-align: center;
        width: 80px;
    }

    #@tableId tbody td:nth-child(4){
        text-align: left;
    }

    #@tableId thead th:nth-child(5){
        text-align: center;
        width: 150px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

     #@tableId thead th:nth-child(6){
        text-align: center;
        width: 700px;
    }

    #@tableId tbody td:nth-child(5){
        text-align: left;
    }

    .filter_list span {
        width : 180px;
    }
</style>

<div class="wall" ng-controller="table" id="list_informet"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("ListAsesmenTindakanKedokteran","TindakanKedokteran")';
     init();
     filter[1] = '@ViewBag.NoBukti';
     ">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a id="refreshhsitoryinforment" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dataTables_scrollHead table-responsive">
                    <table class="table table-bordered dataTable" id="@tableId">
                        <thead>
                            <tr ng-init="sort = '@column[3]'; sorttype = 'asc';">

                                <!-- Column Sort -->
                                <th rowspan="2" class="middle">Action</th>
                                <th ng-click="ordering($event,'@column[0]')" class="sorting">No</th>
                                <th ng-click="ordering($event,'@column[3]')" class="sorting">Tanggal</th>

                            </tr>
                        </thead>
                        <tbody class="{{ loading ? 'hide' : '' }}">
                            <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]"
                                class="trdata text-center"
                                data-no="{{data.@column[0]}}"
                                data-noreg="{{data.@column[1]}}">

                                <td style="cursor:default">
                                    <button onclick="editTindakan(this)" data-target-id="{{data.@column[0]}}" data-target-noreg="{{data.@column[1]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                        <i class="icon-pencil7"></i>
                                    </button>
                                    <button onclick="deleteTindakan(this)" data-target-id="{{data.@column[0]}}" data-target-noreg="{{data.@column[1]}}" type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                    <a href="@Url.Action("ExportPDFInformendConsentSatuan","ReportHistory")?no={{data.@column[0]}}&noreg={{data.@column[1]}}" target="_blank" type="button" class="btn-xs btn border-primary-300 text-primary-300 btn-flat btn-icon btn-rounded"><i class="icon-printer2"></i></a>
                                </td>
                                <td>{{data.@column[0]}}</td>
                                <td>{{data.@column[3]_View}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="datatable-footer">
                    <div class="dataTables_info">
                        {{ datainfo }}
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination md-full-right" compile="pagination"></ul>
                    </div>
                </div>
                <div ng-init="pagesize = 10;"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-body">
                <form id="fm_informnt" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmInforment(this)">
                    @Html.HiddenFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.SectionID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.TTD_Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => Model.TTD_Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Menerangkan_PemberianInfromasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Menerima_PemberianInfromasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Menerangkan_Penolakan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Menerangkan_Persetujuan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Saksi1_Penolakan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(Model => Model.TTD_Saksi2_Penolakan, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />

                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            PEMBERIAN INFORMASI
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-offset-8 col-md-1">Template</label>
                        <div class="col-md-2">
                            <select id="listTemplateDokumen" class="form-control">
                                <option value="0"></option>
                                @if (Model.ListTemplate != null)
                                {
                                    foreach (var x in Model.ListTemplate)
                                    {
                                        @: <option value="@x.Value">@x.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Dokter pelaksaan tindakan:</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DokterPelaksananTindakan, Model.DokterPelaksananTindakan == null ? new List<SelectListItem>() : new List<SelectListItem>()
                            { new SelectListItem() { Value = Model.DokterPelaksananTindakan.ToString(), Text = Model.DokterPelaksananTindakanNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterPelaksananTindakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Pemberi Informasi:</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PemberiInformasi, Model.PemberiInformasi == null ? new List<SelectListItem>() : new List<SelectListItem>()
                           { new SelectListItem() { Value = Model.PemberiInformasi.ToString(), Text = Model.PemberiInformasiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PemberiInformasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12">Pemberi Informasi/ pemberi pesetujuan:</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">Nama :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Penerima_Nama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penerima_Nama, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">Tgl Lahir :</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Penerima_Tgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.Penerima_Tgl != null ? (Model.Penerima_Tgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Penerima_Tgl, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">Hubungan dengan pasien :</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Penerima_Hubungan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penerima_Hubungan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <table id="jenisinformasi" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">NO</th>
                                    <th class="text-center">JENIS INFORMASI</th>
                                    <th class="text-center">ISI INFORMASI</th>
                                    <th class="text-center">TANDA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">1</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Diagnosis (WD/DD)</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Diagnosis_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Diagnosis_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">2</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Dasar Diagnosis</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.DasarDiagnosis_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DasarDiagnosis_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.DasarDiagnosis, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">3</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Tindakan Kedokteran</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.TindakanKedokteran_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TindakanKedokteran_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.TindakanKedokteran, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">4</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Indikasi TIndakan</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.IndikasiTindakan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.IndikasiTindakan_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.IndikasiTindakan, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">5</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Tata Cara</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.TataCara_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TataCara_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.TataCara, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">6</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Tujuan</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Tujuan_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Tujuan_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Tujuan, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">7</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Risiko</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Risiko_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Risiko_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Risiko, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">8</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Komplikasi</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Komplikasi_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Komplikasi_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Komplikasi, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">9</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Prognosis</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Prognosis_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Prognosis_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Prognosis, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">10</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Alternatif dan Risiko</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.AlternatifRisiko_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AlternatifRisiko_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.AlternatifRisiko, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label"></label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="control-label">Lain-lain</label>
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.Lainlain_Ket, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Lainlain_Ket, "", new { @class = "text-danger" })
                                            </div>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <div class="form-group">
                                                <label class="checkbox checkbox-inline control-label">
                                                    @Html.EditorFor(model => model.Lainlain, new { htmlAttributes = new { } })
                                                </label>
                                            </div>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8 control-label">Dengan ini menyatakan bahwa saya telah menerangkan hal - hal diatas secara benar dan jelas serta memberikan kesempatan untuk bertanya dan atau berdiskusi</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Merangkan, Model.Merangkan == null ? new List<SelectListItem>() : new List<SelectListItem>()
                            { new SelectListItem() { Value = Model.Merangkan.ToString(), Text = Model.MerangkanNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Merangkan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Menerangkan_PemberianInfromasi)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Menerangkan_PemberianInfromasi != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Menerangkan_PemberianInfromasi)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8 control-label">Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas yang saya beri tanda di kolom kanannya dan telah memahaminya</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Menerima, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Menerima, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Menerima_PemberianInfromasi)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Menerima_PemberianInfromasi != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Menerima_PemberianInfromasi)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">NB : Apabila pasien tidak berkopeten atau tidak mau menerima informasi maka penerima informasi adalah suami atau istrinya, anak yang sudah dewasa, orang tuannya, wali yang sah atau saudara kandungnnya</label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            PERSETUJUAN TINDAKAN KEDOKTERAN
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Saya yang bertanda tangan di bawah ini :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nama :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Persetujuan_Nama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Nama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal Lahir :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Persetujuan_TglLahir, new { htmlAttributes = new { @class = "form-control", Value = (Model.Persetujuan_TglLahir != null ? (Model.Persetujuan_TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_TglLahir, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Persetujuan_JK, new List<SelectListItem>
                                   {
                                       new SelectListItem() {Text = "", Value=""},
                                       new SelectListItem() {Text = "Laki Laki", Value="Laki Laki"},
                                       new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                                   }, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Persetujuan_Alamat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Dengan ini menyatakan setuju untuk di lakukan tindakan</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persetujuan_Pernyataan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Pernyataan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">
                            Terhadap *diri saya / *anak / *istri / *suami / *ayah / *ibu /
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Persetujuan_Terhadap, new List<SelectListItem>
                                   {
                                       new SelectListItem() {Text = "", Value=""},
                                       new SelectListItem() {Text = "Diri Saya", Value="Diri Saya"},
                                       new SelectListItem() {Text = "Anak", Value="Anak"},
                                       new SelectListItem() {Text = "Istri", Value="Istri"},
                                       new SelectListItem() {Text = "Suami", Value="Suami"},
                                       new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                       new SelectListItem() {Text = "Ibu", Value="Ibu"},
                                       new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                                   }, new { @class = "form-control", onchange = "persetujuantindakan()" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Persetujuan_Terhadap_Ket, new { htmlAttributes = new { @class = "form-control hidden" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Terhadap_Ket, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2">
                            Saya
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nama </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tanggal Lahir</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.TglLahir != null ? (Model.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Jenis Kelamin</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.JenisKelamin == "F" ? "Perempuan" : Model.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Alamat </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AlamatPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-justify col-md-12">
                            <p>
                                Saya memahami perlunya dan manfaat tindakan tersebut sebagaimana telah dijelaskan seperti diatas kepada saya termasuk risiko dan komplikasi yang mungkin timbul. Saya juga menyadari bahwa oleh karena ilmu kedokteran bukanlah ilmu pasti maka keberhasilan tindakan kedokteran bukanlah ilmu pasti, maka keberhasilan tindakan kedokteran bukanlah keniscayaan, melainkan sangat tergantung kepada izin Tuhan Yang Maha Esa.
                                Demikian persetujuan ini saya buat dengan penuh kesadaran dan tanpa paksaan.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Demikian persetujuan ini saya buat dengan penuh kesadaran dan tanpa paksaan.
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Tanggal:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Persetujuan_Tgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.Persetujuan_Tgl != null ? (Model.Persetujuan_Tgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Tgl, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1">
                            Pukul:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Persetujuan_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Persetujuan_Jam != null ? Model.Persetujuan_Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Membuat Pernyataan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Menerangkan_Persetujuan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Menerangkan_Persetujuan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Menerangkan_Persetujuan)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Menerangkan_Persetujuan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Menerangkan_Persetujuan)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Saksi I
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Persetujuan_Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Saksi1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Saksi1)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi1 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Saksi1)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Saksi II
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Persetujuan_Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Saksi2, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Saksi2)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi2 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Saksi2)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12 text-bold text-center">
                            PENOLAKAN TINDAKAN KEDOKTERAN
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 control-label">
                            Saya yang bertanda tangan di bawah ini :
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nama :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Penolakan_Nama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Nama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal Lahir :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Penolakan_TglLahir, new { htmlAttributes = new { @class = "form-control", Value = (Model.Penolakan_TglLahir != null ? (Model.Penolakan_TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Penolakan_TglLahir, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Jenis Kelamin :
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Penolakan_JK, new List<SelectListItem>
                                   {
                                       new SelectListItem() {Text = "", Value=""},
                                       new SelectListItem() {Text = "Laki Laki", Value="Laki Laki"},
                                       new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                                   }, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Penolakan_Alamat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Dengan ini menyatakan menolak untuk di lakukan tindakan</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Penolakan_Pernyataan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persetujuan_Pernyataan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">
                            Terhadap *diri saya / *anak / *istri / *suami / *ayah / *ibu /
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.Penolakan_Terhadap, new List<SelectListItem>
                                   {
                                       new SelectListItem() {Text = "", Value=""},
                                       new SelectListItem() {Text = "Diri Saya", Value="Diri Saya"},
                                       new SelectListItem() {Text = "Anak", Value="Anak"},
                                       new SelectListItem() {Text = "Istri", Value="Istri"},
                                       new SelectListItem() {Text = "Suami", Value="Suami"},
                                       new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                       new SelectListItem() {Text = "Ibu", Value="Ibu"},
                                       new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                                   }, new { @class = "form-control", onchange = "penolakantindakan()" })
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Penolakan_Terhadap_Ket, new { htmlAttributes = new { @class = "form-control hidden" } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Terhadap_Ket, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2">
                            Saya
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nama </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaPasien1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPasien1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Tanggal Lahir</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TglLahir1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.TglLahir1 != null ? (Model.TglLahir1.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TglLahir1, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">Jenis Kelamin</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.JenisKelamin1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.JenisKelamin1 == "F" ? "Perempuan" : Model.JenisKelamin1 == "M" ? "Laki- Laki" : "") } })
                            @Html.ValidationMessageFor(model => model.JenisKelamin1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Alamat </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AlamatPasien1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.AlamatPasien1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-justify col-md-12">
                            <p>
                                Saya memahami perlunya dan manfaat tindakan tersebut sebagaimana telah dijelaskan seperti diatas kepada saya termasuk risiko dan komplikasi yang mungkin timbul. Saya bertanggungjawab secara penuh atas segala akibat yang mungkin timbul sebagai akibat tidak dilakukannya tindakan tersebut.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">
                            Demikian Penolakan ini saya buat dengan penuh kesadaran dan tanpa paksaan.
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Tanggal:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Penolakan_Tgl, new { htmlAttributes = new { @class = "form-control", Value = (Model.Penolakan_Tgl != null ? (Model.Penolakan_Tgl.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Tgl, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1">
                            Pukul:
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Penolakan_Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Penolakan_Jam != null ? Model.Penolakan_Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Jam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Membuat Penyataan</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Menerangkan_Penolakan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Menerangkan_Penolakan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Menerangkan_Penolakan)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Menerangkan_Penolakan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Menerangkan_Penolakan)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Saksi I
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Penolakan_Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Saksi1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Saksi1_Penolakan)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi1_Penolakan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Saksi1_Penolakan)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Saksi II
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Penolakan_Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Penolakan_Saksi2, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1">
                            <a id="@nameof(Model.TTD_Saksi2_Penolakan)" class="btn btn-primary pull-left btn-sm @(Model.TTD_Saksi2_Penolakan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                            <a id="@nameof(Model.TTD_Saksi2_Penolakan)" class="btn btn-danger pull-right btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Saksi1" name="IMG_TTD_Saksi1" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Saksi2" name="IMG_TTD_Saksi2" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Menerangkan_PemberianInfromasi" name="IMG_TTD_Menerangkan_PemberianInfromasi" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Menerima_PemberianInfromasi" name="IMG_TTD_Menerima_PemberianInfromasi" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Menerangkan_Penolakan" name="IMG_TTD_Menerangkan_Penolakan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Menerangkan_Persetujuan" name="IMG_TTD_Menerangkan_Persetujuan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Saksi1_Penolakan" name="IMG_TTD_Saksi1_Penolakan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-6 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_TTD_Saksi2_Penolakan" name="IMG_TTD_Saksi2_Penolakan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                <input type="text" name="tndkkedokteranIGD.nama_template" id="nama_template" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFTindakanKedokteran", new { noreg = Model.NoReg })" target="_blank"
                               class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                Print PDF
                            </a>
                            <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    generalDokter("#DokterPelaksananTindakan");
    generalDokter("#Merangkan");
    generalDokter("#PemberiInformasi");

    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

     function editTindakan(tthis) {
        $.ajax({
            url: '@Url.Action("editInforment", "TindakanKedokteran")',
            data: {
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    $('#fm_informnt #_METHOD').val("UPDATE");
                    $('#fm_informnt #No').val(dt.Data.No);
                    $('#fm_informnt #NoReg').val(dt.Data.NoReg);
                    $('#fm_informnt #NRM').val(dt.Data.NRM);
                    $('#fm_informnt #SectionID').val(dt.Data.SectionID);
                    $('#fm_informnt #Tanggal_View').val(dt.Data.Tanggal_View);
                    $('#fm_informnt #Penerima_Nama').val(dt.Data.Penerima_Nama);
                    $('#fm_informnt #Tanggal').val(dt.Data.Tanggal);
                    $('#fm_informnt #Penerima_Tgl').val(dt.Data.Penerima_Tgl);
                    $('#fm_informnt #Penerima_Hubungan').val(dt.Data.Penerima_Hubungan);
                    $('#fm_informnt #Diagnosis').val(dt.Data.Diagnosis);
                    $('#fm_informnt #Diagnosis_Ket').val(dt.Data.Diagnosis_Ket);
                    $('#fm_informnt #DasarDiagnosis').val(dt.Data.DasarDiagnosis);
                    $('#fm_informnt #DasarDiagnosis_Ket').val(dt.Data.DasarDiagnosis_Ket);
                    $('#fm_informnt #TindakanKedokteran').val(dt.Data.TindakanKedokteran);
                    $('#fm_informnt #TindakanKedokteran_Ket').val(dt.Data.TindakanKedokteran_Ket);
                    $('#fm_informnt #IndikasiTindakan').val(dt.Data.IndikasiTindakan);
                    $('#fm_informnt #IndikasiTindakan_Ket').val(dt.Data.IndikasiTindakan_Ket);
                    $('#fm_informnt #TataCara').val(dt.Data.TataCara);
                    $('#fm_informnt #TataCara_Ket').val(dt.Data.TataCara_Ket);
                    $('#fm_informnt #Tujuan').val(dt.Data.Tujuan);
                    $('#fm_informnt #Tujuan_Ket').val(dt.Data.Tujuan_Ket);
                    $('#fm_informnt #Risiko').val(dt.Data.Risiko);
                    $('#fm_informnt #Risiko_Ket').val(dt.Data.Risiko_Ket);
                    $('#fm_informnt #Komplikasi').val(dt.Data.Komplikasi);
                    $('#fm_informnt #Komplikasi_Ket').val(dt.Data.Komplikasi_Ket);
                    $('#fm_informnt #Prognosis').val(dt.Data.Prognosis);
                    $('#fm_informnt #Prognosis_Ket').val(dt.Data.Prognosis_Ket);
                    $('#fm_informnt #AlternatifRisiko').val(dt.Data.AlternatifRisiko);
                    $('#fm_informnt #AlternatifRisiko_Ket').val(dt.Data.AlternatifRisiko_Ket);
                    $('#fm_informnt #Lainlain').val(dt.Data.Lainlain);
                    $('#fm_informnt #Lainlain_Ket').val(dt.Data.Lainlain_Ket);
                    $('#fm_informnt #Persetujuan_Nama').val(dt.Data.Persetujuan_Nama);
                    $('#fm_informnt #Persetujuan_TglLahir').val(dt.Data.Persetujuan_TglLahir);
                    $('#fm_informnt #Persetujuan_JK').val(dt.Data.Persetujuan_JK);
                    $('#fm_informnt #Persetujuan_Alamat').val(dt.Data.Persetujuan_Alamat);
                    $('#fm_informnt #Persetujuan_Pernyataan').val(dt.Data.Persetujuan_Pernyataan);
                    $('#fm_informnt #Persetujuan_Terhadap').val(dt.Data.Persetujuan_Terhadap);
                    $('#fm_informnt #Persetujuan_Terhadap_Ket').val(dt.Data.Persetujuan_Terhadap_Ket);
                    $('#fm_informnt #Persetujuan_Tgl').val(dt.Data.Persetujuan_Tgl);
                    $('#fm_informnt #Persetujuan_Saksi1').val(dt.Data.Persetujuan_Saksi1);
                    $('#fm_informnt #Persetujuan_Saksi2').val(dt.Data.Persetujuan_Saksi2);
                    $('#fm_informnt #Penolakan_Nama').val(dt.Data.Penolakan_Nama);
                    $('#fm_informnt #Penolakan_TglLahir').val(dt.Data.Penolakan_TglLahir);
                    $('#fm_informnt #Penolakan_JK').val(dt.Data.Penolakan_JK);
                    $('#fm_informnt #Penolakan_Alamat').val(dt.Data.Penolakan_Alamat);
                    $('#fm_informnt #Penolakan_Pernyataan').val(dt.Data.Penolakan_Pernyataan);
                    $('#fm_informnt #Penolakan_Terhadap').val(dt.Data.Penolakan_Terhadap);
                    $('#fm_informnt #Penolakan_Terhadap_Ket').val(dt.Data.Penolakan_Terhadap_Ket);
                    $('#fm_informnt #Penolakan_Tgl').val(dt.Data.Penolakan_Tgl);
                    $('#fm_informnt #Penolakan_Saksi1').val(dt.Data.Penolakan_Saksi1);
                    $('#fm_informnt #Penolakan_Saksi2').val(dt.Data.Penolakan_Saksi2);
                    $('#fm_informnt #Username').val(dt.Data.Username);
                    $('#fm_informnt #NamaPasien').val(dt.Data.NamaPasien);
                    $('#fm_informnt #NamaPasien1').val(dt.Data.NamaPasien1);
                    $('#fm_informnt #TglLahir').val(dt.Data.TglLahir);
                    $('#fm_informnt #TglLahir1').val(dt.Data.TglLahir1);
                    $('#fm_informnt #JenisKelamin').val(dt.Data.JenisKelamin);
                    $('#fm_informnt #JenisKelamin1').val(dt.Data.JenisKelamin1);
                    $('#fm_informnt #AlamatPasien').val(dt.Data.AlamatPasien);
                    $('#fm_informnt #AlamatPasien1').val(dt.Data.AlamatPasien1);
                    $('#fm_informnt #Menerima').val(dt.Data.Menerima);
                    $('#fm_informnt #Lainnya_Persetujuan').val(dt.Data.Lainnya_Persetujuan);
                    $('#fm_informnt #Menerangkan_Persetujuan').val(dt.Data.Menerangkan_Persetujuan);
                    $('#fm_informnt #Menerangkan_PersetujuanNama').val(dt.Data.Menerangkan_PersetujuanNama);
                    $('#fm_informnt #Menerima_Persetujuan').val(dt.Data.Menerima_Persetujuan);
                    $('#fm_informnt #Lainnya_Penolakan').val(dt.Data.Lainnya_Penolakan);
                    $('#fm_informnt #Menerangkan_Penolakan').val(dt.Data.Menerangkan_Penolakan);
                    $('#fm_informnt #Menerima_Penolakan').val(dt.Data.Menerima_Penolakan);
                    $('#fm_informnt #Persetujuan_Jam').val(dt.Data.Persetujuan_Jam);
                    $('#fm_informnt #Penolakan_Jam').val(dt.Data.Penolakan_Jam);


                    if (dt.Data.TTD_Saksi1 == null) {
                        $('#IMG_TTD_Saksi1').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Saksi1').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Saksi1);
                    }

                    if (dt.Data.TTD_Saksi2 == null) {
                        $('#IMG_TTD_Saksi2').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Saksi2').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Saksi2);
                    }

                    if (dt.Data.TTD_Menerangkan_PemberianInfromasi == null) {
                        $('#IMG_TTD_Menerangkan_PemberianInfromasi').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Menerangkan_PemberianInfromasi').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Menerangkan_PemberianInfromasi);
                    }

                    if (dt.Data.TTD_Menerima_PemberianInfromasi == null) {
                        $('#IMG_TTD_Menerima_PemberianInfromasi').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Menerima_PemberianInfromasi').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Menerima_PemberianInfromasi);
                    }

                    if (dt.Data.TTD_Menerangkan_Penolakan == null) {
                        $('#IMG_TTD_Menerangkan_Penolakan').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Menerangkan_Penolakan').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Menerangkan_Penolakan);
                    }

                    if (dt.Data.TTD_Menerangkan_Persetujuan == null) {
                        $('#IMG_TTD_Menerangkan_Persetujuan').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Menerangkan_Persetujuan').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Menerangkan_Persetujuan);
                    }

                    if (dt.Data.TTD_Saksi1_Penolakan == null) {
                        $('#IMG_TTD_Saksi1_Penolakan').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Saksi1_Penolakan').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Saksi1_Penolakan);
                    }

                    if (dt.Data.TTD_Saksi2_Penolakan == null) {
                        $('#IMG_TTD_Saksi2_Penolakan').attr('src', '/Theme/images/TandaTangan.png');
                    } else {
                        $('#IMG_TTD_Saksi2_Penolakan').attr('src', 'data:image/jpeg;base64,' + dt.Data.TTD_Saksi2_Penolakan);
                    }


                    var newOption = new Option(dt.Data.DokterPelaksananTindakanNama, dt.Data.DokterPelaksananTindakan, true, true);
                    $('#DokterPelaksananTindakan').append(newOption).trigger('change');

                    var newOption1 = new Option(dt.Data.MerangkanNama, dt.Data.Merangkan, true, true);
                    $('#Merangkan').append(newOption1).trigger('change');

                    var newOption2 = new Option(dt.Data.PemberiInformasiNama, dt.Data.PemberiInformasi, true, true);
                    $('#PemberiInformasi').append(newOption2).trigger('change');

                    $('#fm_informnt #DokterPelaksananTindakan').css("background", "#fbf1a7");
                    $('#fm_informnt #DokterPelaksananTindakanNama').css("background", "#fbf1a7");
                    $('#fm_informnt #PemberiInformasi').css("background", "#fbf1a7");
                    $('#fm_informnt #PemberiInformasiNama').css("background", "#fbf1a7");
                    $('#fm_informnt #Penerima_Nama').css("background", "#fbf1a7");
                    $('#fm_informnt #Tanggal').css("background", "#fbf1a7");
                    $('#fm_informnt #Penerima_Tgl').css("background", "#fbf1a7");
                    $('#fm_informnt #Penerima_Hubungan').css("background", "#fbf1a7");
                    $('#fm_informnt #Diagnosis').css("background", "#fbf1a7");
                    $('#fm_informnt #Diagnosis_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #DasarDiagnosis').css("background", "#fbf1a7");
                    $('#fm_informnt #DasarDiagnosis_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #TindakanKedokteran').css("background", "#fbf1a7");
                    $('#fm_informnt #TindakanKedokteran_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #IndikasiTindakan').css("background", "#fbf1a7");
                    $('#fm_informnt #IndikasiTindakan_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #TataCara').css("background", "#fbf1a7");
                    $('#fm_informnt #TataCara_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Tujuan').css("background", "#fbf1a7");
                    $('#fm_informnt #Tujuan_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Risiko').css("background", "#fbf1a7");
                    $('#fm_informnt #Risiko_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Komplikasi').css("background", "#fbf1a7");
                    $('#fm_informnt #Komplikasi_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Prognosis').css("background", "#fbf1a7");
                    $('#fm_informnt #Prognosis_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #AlternatifRisiko').css("background", "#fbf1a7");
                    $('#fm_informnt #AlternatifRisiko_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Lainlain').css("background", "#fbf1a7");
                    $('#fm_informnt #Lainlain_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Nama').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_TglLahir').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_JK').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Alamat').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Pernyataan').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Terhadap').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Terhadap_Ket').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Tgl').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Saksi1').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Saksi2').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Nama').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_TglLahir').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_JK').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Alamat').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Pernyataan').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Terhadap').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Terhadap_Ket').css("background", "#fbf1a7"); ;
                    $('#fm_informnt #Penolakan_Tgl').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Saksi1').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Saksi2').css("background", "#fbf1a7");
                    $('#fm_informnt #Username').css("background", "#fbf1a7");
                    $('#fm_informnt #NamaPasien').css("background", "#fbf1a7");
                    $('#fm_informnt #NamaPasien1').css("background", "#fbf1a7");
                    $('#fm_informnt #TglLahir').css("background", "#fbf1a7");
                    $('#fm_informnt #TglLahir1').css("background", "#fbf1a7");
                    $('#fm_informnt #JenisKelamin').css("background", "#fbf1a7");
                    $('#fm_informnt #JenisKelamin1').css("background", "#fbf1a7");
                    $('#fm_informnt #AlamatPasien').css("background", "#fbf1a7");
                    $('#fm_informnt #AlamatPasien1').css("background", "#fbf1a7");
                    $('#fm_informnt #Merangkan').css("background", "#fbf1a7");
                    $('#fm_informnt #MerangkanNama').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerima').css("background", "#fbf1a7");
                    $('#fm_informnt #Lainnya_Persetujuan').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerangkan_Persetujuan').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerangkan_PersetujuanNama').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerima_Persetujuan').css("background", "#fbf1a7");
                    $('#fm_informnt #Lainnya_Penolakan').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerangkan_Penolakan').css("background", "#fbf1a7");
                    $('#fm_informnt #Menerima_Penolakan').css("background", "#fbf1a7");
                    $('#fm_informnt #Persetujuan_Jam').css("background", "#fbf1a7");
                    $('#fm_informnt #Penolakan_Jam').css("background", "#fbf1a7");

                    alertpopup("Form edit Informed Consent "+ dt.Data.No, 'success');
                }
            }
        });
    }

    function deleteTindakan(tthis) {
        $.ajax({
            url: '@Url.Action("Batal", "TindakanKedokteran")',
            data: {
                id: $(tthis).data('target-id'),
                noreg: $(tthis).data('target-noreg')
            },
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    alertpopup("Berhasil di hapus", 'success');
                    $('#refreshhsitoryinforment').click();
                    $('#_loading').css('display', 'none');
                    var j_modaldel = $('#list_informet').closest('.modal');
                    j_modaldel.modal('hide');
                }
            }
        });
    }

    function sumitFrmInforment(tthis) {

        $('#_loading').css('display', '');

        if ($("#saveTemplate").is(":checked")) {
            if ($("#templateName").val() == "" || $("#templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        iGambar.convert_V2('TTD_Saksi1');
        iGambar2.convert_V2('TTD_Saksi2');
        iGambar3.convert_V2('TTD_Menerangkan_PemberianInfromasi');
        iGambar4.convert_V2('TTD_Menerima_PemberianInfromasi');
        iGambar5.convert_V2('TTD_Menerangkan_Penolakan');
        iGambar6.convert_V2('TTD_Menerangkan_Persetujuan');
        iGambar7.convert_V2('TTD_Saksi1_Penolakan');
        iGambar8.convert_V2('TTD_Saksi2_Penolakan');

        $.ajax({
            url: '@Url.Action("SecondCreate", "TindakanKedokteran")',
            data:
                $(tthis).serialize()/* + "&img=" + convert + "&imgttd=" + convert2*/,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("gagal disimpan.", 'info');
                    resetFrmInforment(tthis);
                    $("#refreshhsitoryinforment").click();

                    $('#_loading').css('display', 'none');
                    $('#list_informet #refreshhsitoryinforment').click();

                }else {
                    alertpopup("berhasil disimpan.", 'success');
                    resetFrmInforment(tthis);
                    $("#refreshhsitoryinforment").click();
                    $('#_loading').css('display', 'none');


                    var j_modal = $(tthis.closest('.modal'));
                    j_modal.modal('hide');
                }

                @*$('#IMG_@nameof(Model.TTDPasien)').attr('src', '/Theme/images/TandaTangan.png');*@

            }
        });

        $('#AsesmenTindakanKedokteran').click();
    }

    angular.element('#@formName').ready(function () {
        var sc = angular.element('#@formName').scope();
            //$('#allperiode').click();
        var nobukti = "@ViewBag.NoBukti";
        angular.element('#list_informet').scope().filter[1] = nobukti;
        $('#list_informet #refreshhsitoryinforment').click();
    });

    function resetFrmInforment(tthis) {
        $(tthis).trigger("reset")
        //$(tthis).find("#DPJP").val('').trigger('change');
    }
</script>

<script>
    function clickgambar(t) {
        console.log(t.id);
        console.log(t);
        $('#IMG_' + t.id).click();
    }

    function ulanggambar(t) {
        $('#IMG_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id + '.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var iGambar5;
    var iGambar6;
    var iGambar7;
    var iGambar8;
    var ximg_Gambar = $('#IMG_TTD_Saksi1');
    var ximg_Gambar2 = $('#IMG_TTD_Saksi2');
    var ximg_Gambar3 = $('#IMG_TTD_Menerangkan_PemberianInfromasi');
    var ximg_Gambar4 = $('#IMG_TTD_Menerima_PemberianInfromasi');
    var ximg_Gambar5 = $('#IMG_TTD_Menerangkan_Penolakan');
    var ximg_Gambar6 = $('#IMG_TTD_Menerangkan_Persetujuan');
    var ximg_Gambar7 = $('#IMG_TTD_Saksi1_Penolakan');
    var ximg_Gambar8 = $('#IMG_TTD_Saksi2_Penolakan');

    @if (Model != null)
    {
        if (Model.TTD_Saksi1 != null)
        {
            @:ximg_Gambar.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi1)');
        }
        if (Model.TTD_Saksi2 != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi2)');
        }
        if (Model.TTD_Menerangkan_PemberianInfromasi != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menerangkan_PemberianInfromasi)');
        }
        if (Model.TTD_Menerima_PemberianInfromasi != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menerima_PemberianInfromasi)');
        }
        if (Model.TTD_Menerangkan_Penolakan != null)
        {
            @:ximg_Gambar5.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menerangkan_Penolakan)');
        }
        if (Model.TTD_Menerangkan_Persetujuan != null)
        {
            @:ximg_Gambar6.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Menerangkan_Persetujuan)');
        }
        if (Model.TTD_Saksi1_Penolakan != null)
        {
            @:ximg_Gambar7.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi1_Penolakan)');
        }
        if (Model.TTD_Saksi2_Penolakan != null)
        {
            @:ximg_Gambar8.attr('src', 'data:image/jpeg;base64,@(Model.TTD_Saksi2_Penolakan)');
        }
    }

    function persetujuantindakan() {
        if ($("#Persetujuan_Terhadap option:selected").val() == 'Lainnya') {
            $('#Persetujuan_Terhadap_Ket').removeClass('hidden');
        } else {
            $('#Persetujuan_Terhadap_Ket').addClass('hidden');
            $('#Persetujuan_Terhadap_Ket').val('');
        }
    }

    function penolakantindakan() {
        if ($("#Penolakan_Terhadap option:selected").val() == 'Lainnya') {
            $('#Penolakan_Terhadap_Ket').removeClass('hidden');
        } else {
            $('#Penolakan_Terhadap_Ket').addClass('hidden');
            $('#Penolakan_Terhadap_Ket').val('');
        }
    }

    $(document).ready(function () {
        persetujuantindakan();
        penolakantindakan();

        iGambar = new iPainter_V2(true, ximg_Gambar);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);
        iGambar3 = new iPainter_V2(true, ximg_Gambar3);
        iGambar4 = new iPainter_V2(true, ximg_Gambar4);
        iGambar5 = new iPainter_V2(true, ximg_Gambar5);
        iGambar6 = new iPainter_V2(true, ximg_Gambar6);
        iGambar7 = new iPainter_V2(true, ximg_Gambar7);
        iGambar8 = new iPainter_V2(true, ximg_Gambar8);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges = $('#IMG_@nameof(Model.TTD_Saksi1)');
        var imges1 = $('#IMG_@nameof(Model.TTD_Saksi2)');
        var imges2 = $('#IMG_@nameof(Model.TTD_Menerangkan_PemberianInfromasi)');
        var imges3 = $('#IMG_@nameof(Model.TTD_Menerima_PemberianInfromasi)');
        var imges4 = $('#IMG_@nameof(Model.TTD_Menerangkan_Penolakan)');
        var imges5 = $('#IMG_@nameof(Model.TTD_Menerangkan_Persetujuan)');
        var imges6 = $('#IMG_@nameof(Model.TTD_Saksi1_Penolakan)');
        var imges7 = $('#IMG_@nameof(Model.TTD_Saksi2_Penolakan)');
        iGambar = new iPainter_V2(imges);
        iGambar2 = new iPainter_V2(imges1);
        iGambar3 = new iPainter_V2(imges2);
        iGambar4 = new iPainter_V2(imges3);
        iGambar5 = new iPainter_V2(imges4);
        iGambar6 = new iPainter_V2(imges5);
        iGambar7 = new iPainter_V2(imges6);
        iGambar8 = new iPainter_V2(imges7);
    }

    function SubmitForm(e) {
        try {
            iGambar.convert_V2('TTD_Saksi1');
            iGambar2.convert_V2('TTD_Saksi2');
            iGambar3.convert_V2('TTD_Menerangkan_PemberianInfromasi');
            iGambar4.convert_V2('TTD_Menerima_PemberianInfromasi');
            iGambar5.convert_V2('TTD_Menerangkan_Penolakan');
            iGambar6.convert_V2('TTD_Menerangkan_Persetujuan');
            iGambar7.convert_V2('TTD_Saksi1_Penolakan');
            iGambar8.convert_V2('TTD_Saksi2_Penolakan');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function oncompletecreatetindakandokter(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#AsesmenTindakanKedokteran').click();
    }

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = $('#NoReg').val();
        var copy = $("#listTemplateDokumen :selected").val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');

            var url = '@Url.Action("", "TindakanKedokteran")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>
