﻿@using EMRRSBK.Models
@model EWSScorePemantauanViewModel

@{
    var controllerName = "DaftarDokterPenanggungJawabPelayanan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

    #region ==== Detail
    var d_tbl_daftardokter = $"frm_table_detailDaftarDokter";
    int d_idx_daftardokter = 0;
    var d_trg_daftardokter = $"input_target_detailDaftarDokter";
    if (Model != null)
    {
        if (Model.DftrDokter_List != null)
        {
            d_idx_daftardokter = Model.DftrDokter_List.Count();
        }
    }
    #endregion

}

@*CSS Table 1*@
<style>

    #d_tbl_daftardokter thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_daftardokter thead th:nth-child(1),
    #d_tbl_daftardokter tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_daftardokter thead th:nth-child(2),
    #d_tbl_daftardokter tbody td:nth-child(2) {
        width: 40px;
        text-align: center;
    }

    #d_tbl_daftardokter thead th:nth-child(3),
    #d_tbl_daftardokter tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_daftardokter thead th:nth-child(4),
    #d_tbl_daftardokter tbody td:nth-child(4) {
        width: 80px;
        display: none;
    }

    #d_tbl_daftardokter thead th:nth-child(5),
    #d_tbl_daftardokter tbody td:nth-child(5) {
        width: 160px;
    }

    #d_tbl_daftardokter thead th:nth-child(6),
    #d_tbl_daftardokter tbody td:nth-child(6) {
        width: 105px;
    }

    #d_tbl_daftardokter thead th:nth-child(7),
    #d_tbl_daftardokter tbody td:nth-child(7) {
        width: 300px;
    }

    #d_tbl_daftardokter thead th:nth-child(8),
    #d_tbl_daftardokter tbody td:nth-child(8) {
        width: 250px;
    }

    #d_tbl_daftardokter thead th:nth-child(9),
    #d_tbl_daftardokter tbody td:nth-child(9) {
        width: 140px;
    }

    #d_tbl_daftardokter thead th:nth-child(10),
    #d_tbl_daftardokter tbody td:nth-child(10) {
        width: 140px;
    }

    #d_tbl_daftardokter thead th:nth-child(11),
    #d_tbl_daftardokter tbody td:nth-child(11) {
        width: 250px;
    }

    #d_tbl_daftardokter thead th:nth-child(12),
    #d_tbl_daftardokter tbody td:nth-child(12) {
        width: 150px;
    }

    #d_tbl_daftardokter thead th:nth-child(13),
    #d_tbl_daftardokter tbody td:nth-child(13) {
        width: 150px;
    }

    #d_tbl_daftardokter thead th:nth-child(14),
    #d_tbl_daftardokter tbody td:nth-child(14) {
        width: 300px;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Ajax.BeginForm("DaftarDokter", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatedaftardokter (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.NoReg)
        @Html.HiddenFor(model => model.NRM)
        @Html.HiddenFor(model => model.SectionID)
        @Html.HiddenFor(model => model.Tanggal_View)
        @*if (Model.DftrDokter_List != null)
            {
                for (var i = 0; i < Model.DftrDokter_List.Count(); i++)
                {
                    @Html.HiddenFor(Model => Model.DftrDokter_List[i].Model.TTDDokter)
                }
            }*@
        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="row">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="panel_detaiDaftardokter" class="panel-body detail collapse in"
                                     data-index-detail="@d_idx_daftardokter">
                                    <div class="table-responsive">
                                        <table id="d_tbl_daftardokter" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" onclick="checkall(this)" />
                                                    </th>
                                                    <th class="text-center" rowspan="2">
                                                        <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_daftardokter')">
                                                            <i class="icon-plus2"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th>No</th>
                                                    <th>Tanggal</th>
                                                    <th>Jam</th>
                                                    <th>DIAGNOSA</th>
                                                    <th>DPJP</th>
                                                    <th>DPJP Tgl Awal</th>
                                                    <th>DPJP Tgl Akhir</th>
                                                    <th>DPJP UTAMA</th>
                                                    <th>DPJP UTAMA Tgl Awal</th>
                                                    <th>DPJP UTAMA Tgl Akhir</th>
                                                    <th>Keterangan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.DftrDokter_List != null)
                                                    {
                                                        for (var i = 0; i < Model.DftrDokter_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Remove,
                                                               new { htmlAttributes = new { @class = "disable-reset" } })
                                                                </td>

                                                                <!-- No -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.No, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly"
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.Tanggal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.Tanggal != null ? Model.DftrDokter_List[i].Model.Tanggal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.Jam, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.Jam != null ? Model.DftrDokter_List[i].Model.Jam.Value.ToString("HH':'mm") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.TextAreaFor(model => model.DftrDokter_List[i].Model.Diagnosa, new
                                                               {

                                                                        @class = "form-control input-sm"

                                                               })
                                                                    <!-- 16 -->
                                                                </td>

                                                                <td>
                                                                    @{
                                                                        var _lstnama = new List<SelectListItem>();
                                                                        if (Model.DftrDokter_List[i].Model != null)
                                                                        {
                                                                            if (Model.DftrDokter_List[i].Model.DPJP != null)
                                                                            {
                                                                                _lstnama.Add(new SelectListItem()
                                                                                {
                                                                                    Value = Model.DftrDokter_List[i].Model.DPJP,
                                                                                    Text = Model.DftrDokter_List[i].Model.DPJPNama
                                                                                });
                                                                            }
                                                                        }
                                                                    }
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.DftrDokter_List[i].Model.DPJP, _lstnama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.DPJP_TglAwal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.DPJP_TglAwal != null ? Model.DftrDokter_List[i].Model.DPJP_TglAwal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.DPJP_TglAkhir, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.DPJP_TglAkhir != null ? Model.DftrDokter_List[i].Model.DPJP_TglAkhir.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>


                                                                @{
                                                                    var _lstnamautama = new List<SelectListItem>();
                                                                    if (Model.DftrDokter_List[i].Model != null)
                                                                    {
                                                                        if (Model.DftrDokter_List[i].Model.DPJP_Utama != null)
                                                                        {
                                                                            _lstnamautama.Add(new SelectListItem()
                                                                            {
                                                                                Value = Model.DftrDokter_List[i].Model.DPJP_Utama,
                                                                                Text = Model.DftrDokter_List[i].Model.DPJP_UtamaNama
                                                                            });
                                                                        }
                                                                    }
                                                                }
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        @Html.DropDownListFor(model => model.DftrDokter_List[i].Model.DPJP_Utama, _lstnamautama, new { @class = "form-control input-sm" })
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.DPJP_Utama_TglAwal, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.DPJP_Utama_TglAwal != null ? Model.DftrDokter_List[i].Model.DPJP_Utama_TglAwal.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.EditorFor(model => model.DftrDokter_List[i].Model.DPJP_Utama_TglAkhir, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       Value = (Model != null ? (Model.DftrDokter_List[i].Model.DPJP_Utama_TglAkhir != null ? Model.DftrDokter_List[i].Model.DPJP_Utama_TglAkhir.Value.ToString("yyyy-MM-dd") : "") : "")
                                                                   }
                                                               })
                                                                </td>

                                                                <td>
                                                                    @Html.TextAreaFor(model => model.DftrDokter_List[i].Model.Keterangan, new
                                                               {
                                                                        @class = "form-control input-sm"

                                                               })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                                <a href="@Url.Action("ExportPDFDaftarDPJP","ReportHistory", new { noreg = Model.NoReg, section = Model.SectionID })" target="_blank"
                                   class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                    Print PDF
                                </a>
                                <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">

    @if (Model != null)
    {
         if (Model.DftrDokter_List != null)
        {
            for (var i = 0; i < Model.DftrDokter_List.Count; i++)
            {

                    @:customdetailDaftarDokterDPJP_Detail(@i, { target: $('#d_tbl_daftardokter thead a i')[0] }, '@d_trg_daftardokter', false);
                    @:customdetailDaftarDokterUtamaDPJP_Detail(@i, { target: $('#d_tbl_daftardokter thead a i')[0] }, '@d_trg_daftardokter', false);
            }

        }
    }

    function customdetailDaftarDokterDPJP_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiDaftardokter #DftrDokter_List_' + index_detail + '__Model_DPJP';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailDaftarDokterUtamaDPJP_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strnama = '#panel_detaiDaftardokter #DftrDokter_List_' + index_detail + '__Model_DPJP_Utama';

        $(_strnama).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }
</script>


@{
    if (Model != null)
    {
        Model.DftrDokter_List = null;
    }
}

<div id="@d_trg_daftardokter" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Remove,
                    new { htmlAttributes = new { @class = "disable-reset" } })
    </div>



    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detail(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.Tanggal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.Jam, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.TimeOfDay.ToString("hh':'mm")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.DftrDokter_List[-1].Model.Diagnosa, new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">

        @Html.DropDownListFor(model => model.DftrDokter_List[-1].Model.DPJP,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })

    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.DPJP_TglAwal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.DPJP_TglAkhir, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>


    <div class="input-detail">
        @Html.DropDownListFor(model => model.DftrDokter_List[-1].Model.DPJP_Utama,
        new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.DPJP_Utama_TglAwal, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.DftrDokter_List[-1].Model.DPJP_Utama_TglAkhir, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           Value = DateTime.Now.ToString("yyyy-MM-dd")
            }
        })
    </div>

    <div class="input-detail">
        @Html.TextAreaFor(model => model.DftrDokter_List[-1].Model.Keterangan, new
   {
           @class = "form-control input-sm"
   })
    </div>

</div>

<!--  JS Skor  -->
<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }

            }
            _this.value = result + 1;

        }
        $(_this).removeAttr('onblur');

    }

</script>


<script>
    @*function user_verif_aews(param) {
         var reStatsDtlObses = 0;
        regCt = -1;
        try {
            timer_verif.stop();
        }
        catch (err) {
            console.log('Verification timer has been init');
        }
        var limit = 5;
        var ct = 1;
        var timeout = 5000;
        var user_id = param.id;
        const user_no = param.no;
        var x_this = param.ini;
        var noreg = $('#NoReg').val();
        var section = $('#DftrDokter_List_SectionID').val();
        timer_verif = $.timer(timeout, function () {
            user_checkverifaews(noreg, section, user_id, user_no);
            if (ct >= limit || reStatsDtlObses == 1) {
                timer_verif.stop();
                if (ct >= limit && reStatsDtlObses == 0) {
                    alertpopup("Verification fail!", "info");
                }
                if (reStatsDtlObses == 1) {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                    $('#btn_dtlaews').addClass('disabled', true);
                    $('#aews').click();
                    alertpopup("Verification Berhasil", "success");
                }
            }
            ct++;
        });

        function user_checkverifaews(noreg, section, user_id, user_no) {
            myajax({
                url: '@Url.Action("CheckBerhasilAEWS", "PemantauanAEWSScore")',
                method: 'GET',
                data: {
                    noreg: noreg,
                    section: section,
                    id: user_id,
                    no: user_no,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        if (data.Data.Dokter == "1") {
                            reStatsDtlObses = 1;
                        }
                    }
                    else {
                        reStatsDtlObses = 0;
                    }
                },
                beforeSend: function () {
                    $('#_loading').css('display', 'none');
                }
            });
        }
    }*@

    function oncompletecreatedaftardokter(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
            alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#daftardokter').click();
    }

</script>

