﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@{
    var controllerName = "RegistrasiPasienRJ";
    ViewBag.Title = "Registrasi Pasien";
    var formName = $"frm_{controllerName}";
    var tableId = $"table_{controllerName}";
    var item = new RegistrasiPasienViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.NoAntri);
    column[1] = nameof(item.Kamar);
    column[2] = nameof(item.NoBed);
    column[3] = nameof(item.NoReg);
    column[4] = nameof(item.Tanggal);
    column[5] = nameof(item.Jam);
    column[6] = nameof(item.NRM);
    column[7] = nameof(item.NamaPasien);
    column[8] = nameof(item.JenisKelamin);
    column[9] = nameof(item.NamaDOkter);
    column[10] = nameof(item.JenisKerjasama);
    column[11] = nameof(item.Nama_Customer);
    column[12] = nameof(item.NoKartu);
    column[13] = nameof(item.SectionName);
    column[14] = nameof(item.SectionAsalName);
    column[15] = nameof(item.SudahPeriksa);
    column[16] = nameof(item.NoBill);
    column[17] = nameof(item.Nomor);
    column[18] = nameof(item.StatusBayar);
    column[19] = nameof(item.Batal);
    column[20] = nameof(item.AlasanBatal);
    column[22] = nameof(item.SudahIsiAsesmen);
    column[23] = nameof(item.SudahIsiGeneral);
    column[24] = nameof(item.SudahIsiKunjunganPoliklinik);
    //column[27] = nameof(item.StatusCPPTHD);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        min-width : 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        text-align:center;
        width: 100px;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width: 150px;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 110px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        text-align:center;
        width: 120px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6) {
        width: 200px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width:200px;
    }

    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        text-align:center;
        width: 140px;
    }

    #@tableId tbody td:nth-child(5){
        /*background-color: #f5fff5;*/
    }

    .filter_list span {
        width : 180px;
    }

    .bg-custom {
        background-color: #c1efc1;
    }

    .bg-custom-blue {
        background-color: #6abdff;
    }

    @@-webkit-keyframes invalid {
      from { background-color: #c1efc1; }
      to { background-color: inherit; }
    }
    @@-moz-keyframes invalid {
      from { background-color: #c1efc1; }
      to { background-color: inherit; }
    }
    @@-o-keyframes invalid {
      from { background-color: #c1efc1; }
      to { background-color: inherit; }
    }
    @@keyframes invalid {
      from { background-color: #c1efc1; }
      to { background-color: inherit; }
    }
    .invalid {
      -webkit-animation: invalid 1s infinite; /* Safari 4+ */
      -moz-animation:    invalid 1s infinite; /* Fx 5+ */
      -o-animation:      invalid 1s infinite; /* Opera 12+ */
      animation:         invalid 1s infinite; /* IE 10+ */
    }

</style>

<div class="wall" ng-controller="table" id="list_pasien"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List", "RegistrasiPasien")';
     init();
     filter[20] = '0';
     filter[21] = '';
     ">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list" @*style="display:none"*@>
                @*<div class="form-group">
                        <div class="form-inline">
                            <div class="form-group">
                                    <label>Dokter</label>
                            </div>
                            <div class="form-group">
                                <select class="form-control input-lg" id="d_select_dokterfilter" onchange="getvaluedokter()"></select>
                            </div>
                        </div>
                    </div>
                    <br />*@
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <label>Periode</label>
                            <input type="date" class="form-control input-periode" ng-model="filter[22]" ng-change="getdatas()" />
                        </div>
                        <div class="form-group">
                            <label>Sampai</label>
                            <input type="date" class="form-control input-periode" ng-model="filter[23]" ng-change="getdatas()" />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="filter[24]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" id="allperiode" />
                                All Periode
                            </label>
                        </div>
                        @if (Request.Cookies["TipePelayanan"].Value == "RI")
                        {
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="filter[28]" ng-change="getdatas()" />
                                    History
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <select class="form-control input-xs" ng-model="filter[25]" ng-change="getdatas()">
                                <option value="">All</option>
                                <option value="1">Belum Periksa</option>
                                <option value="2">Sudah Periksa</option>
                                <option value="3">Sudah Bayar</option>
                                <option value="4">Sudah Bayar Belum Periksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span>Show:</span>
                            <select class="form-control input-xs"
                                    ng-change="getdatas()"
                                    ng-model="pagesize"
                                    ng-options="opt as opt for opt in pagesizes"></select>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle" style="width:10px">Action</th>
                        @if (Request.Cookies["TipePelayanan"].Value == "RI")
                        {
                            <th ng-click="ordering($event,'@column[1]')" class="sorting">No Kamar</th>
                        }
                        else
                        {
                            <th ng-click="ordering($event,'@column[0]')" class="sorting">No Antri</th>
                        }
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">NoReg</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[9]')">Dokter</th>
                        @if (Request.Cookies["TipePelayanan"].Value == "RJ")
                        {
                            <th ng-click="ordering($event,'@column[18]')" class="sorting">Status Bayar</th>
                        }

                    </tr>
                    <tr class="filter_list" @*style="display:none"*@>

                        <!-- Filter -->
                        @if (Request.Cookies["TipePelayanan"].Value == "RI")
                        {
                            <td><input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        }
                        else
                        {
                            <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        }
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td><select class="form-control input-xs" id="d_select_dokterfilter" onchange="getvaluedokter()"></select></td>
                        @if (Request.Cookies["TipePelayanan"].Value == "RJ")
                        {
                            <td></td>
                        }
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas"
                        class="trdata"
                        data-id="{{data.@column[3]}}"
                        data-nomor="{{data.@column[17]}}"
                        data-infonoantri="{{data.@column[0]}}"
                        data-infokamar="{{data.@column[1]}}"
                        data-infonobed="{{data.@column[2]}}"
                        data-infonoreg="{{data.@column[3]}}"
                        data-infotanggal="{{data.@(column[4])_View}}"
                        data-infojam="{{data.@(column[5])_View}}"
                        data-infonrm="{{data.@column[6]}}"
                        data-infonamapasien="{{data.@column[7]}}"
                        data-infojeniskelamin="{{data.@column[8]}}"
                        data-infonamadokter="{{data.@column[9]}}"
                        data-infojeniskerjasama="{{data.@column[10]}}"
                        data-infonama_customer="{{data.@column[11]}}"
                        data-infonokartu="{{data.@column[12]}}"
                        data-infosectionname="{{data.@column[13]}}"
                        data-infosectionasalname="{{data.@column[14]}}"
                        data-infosudahperiksa="{{data.@column[15]}}"
                        data-infonobill="{{data.@column[16]}}"
                        data-infonomor="{{data.@column[17]}}"
                        data-infostatusbayar="{{data.@column[18]}}"
                        data-infobatal="{{data.@column[19]}}"
                        data-infoalasanbatal="{{data.@column[20]}}">

                        <td style="cursor:default">
                            <a onclick="openmodal(this)" class="text-teal text-bold" title="Detail">
                                <i class="icon-eye"></i>
                            </a>|
                            <a class="text-teal text-bold" onclick="openmedicalrecord(this)">
                                EMR
                            </a>
                            @if (Request.Cookies["SectionNamaPelayanan"].Value == "POLIKLINIK GIGI")
                            {

                                <a class="text-teal text-bold" onclick="openodontogram(this)">
                                    | <i class="icon-keyboard"></i>
                                </a>
                            }

                        </td>
                        <td ng-class="{'bg-custom' : {{data.@column[22]}} == true}">
                            <label ng-if="data.@(column[19])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                            @if (Request.Cookies["TipePelayanan"].Value == "RI")
                            {
                                <label class="label label-danger" title="Sudah Periksa">{{data.@column[1]}} &nbsp;</label>
                                <label ng-if="data.@(column[18]) == 'Belum'" title="Sudah Bayar"><i class="icon-circle2 text-danger"></i></label>
                                <label ng-if="data.@(column[18]) == 'Sudah'" title="Sudah Bayar"><i class="icon-circle2 text-info"></i></label>
                            }
                            else
                            {
                                <label ng-if="data.@(column[15]) && !data.@(column[19])" class="label label-danger" title="Sudah Periksa">{{data.@column[0]}}</label>
                                <label ng-if="!data.@(column[15]) && !data.@(column[19])" class="label label-default" title="Belum Periksa">{{data.@column[0]}}</label>
                            }
                        </td>
                        @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC078")
                        {
                            <td ng-class="{'bg-custom' : {{data.@column[23]}} == true}">
                                <label ng-if="data.@(column[27]) == 'Belum'">{{data.@column[3]}}</label>
                                <label ng-if="data.@(column[27]) == 'Sudah'" style="background-color:lightgreen;">{{data.@column[3]}}</label>
                            </td>

                        }
                        else
                        {
                            <td ng-class="{'bg-custom' : {{data.@column[23]}} == true}">
                                {{data.@column[3]}}
                            </td>
                        }
                        <td ng-class="{'bg-custom' : {{data.@column[24]}} == true}">
                            <label ng-if="data.@(column[8]) == 'M'" class="text-primary fa fa-mars"></label>
                            <label ng-if="data.@(column[8]) == 'F'" class="text-danger fa fa-venus"></label>
                            <label ng-if="data.@(column[8]) != 'F' && data.@(column[8]) != 'M'" class="text-warning genderless"></label>
                            &nbsp;
                            {{data.@column[6]}}
                        </td>
                        <td>{{data.@(column[4])_View}}</td>
                        <td>{{data.@column[7]}}</td>
                        <td>{{data.@column[9]}}</td>
                        @if (Request.Cookies["TipePelayanan"].Value == "RJ")
                        {
                            <td>
                                <label ng-if="data.@(column[18]) == 'Belum' && !data.@(column[15])" class="label label-danger">Belum Periksa</label>
                                <label ng-if="data.@(column[18]) == 'Belum' && data.@(column[15])" class="label label-info">Sudah Periksa</label>
                                <label ng-if="data.@(column[18]) == 'Sudah Bayar' && data.@(column[15])" class="label label-success">Sudah Bayar</label>
                                <label ng-if="data.@(column[18]) == 'Sudah Bayar' && !data.@(column[15])" class="label label-warning">Sudah Bayar</label>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 100;"></div>
    </div>
</div>

<script>
angular.element('#@formName').ready(function () {
    var sc = angular.element('#@formName').scope();
    if ('@Request.Cookies["TipePelayanan"].Value' == 'RI') {
        $('#allperiode').click();

    }
});
</script>

<!--  Select Dokter Filter  -->
<script type="text/javascript">


    function getvaluedokter() {
        var data = $('#d_select_dokterfilter').val();
        angular.element('#list_pasien').scope().filter[26] = data;
        angular.element('#list_pasien').scope().getdatas();
    }

    $('#d_select_dokterfilter').select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'DokterID',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

</script>