﻿@using EMRRSBK.Models
@model EMRAsuhanGiziGeriatriViewModel
@{
    var controllerName = "EMRAsuhanGiziGeriatri";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.NRM)

            <div class="panel-body collapse in">
                <div class="form-group">
                    <label class="control-label col-md-1">Template</label>
                    <div class="col-md-2">
                        <select id="listTemplateDokumen" class="form-control">
                            <option value="0"></option>
                            @if (Model.ListTemplate != null)
                            {
                                foreach (var x in Model.ListTemplate)
                                {
                                    @: <option value="@x.Value">@x.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">
                        Ruangan :
                    </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Ruangan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ruangan, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-1">
                        Tanggal :
                    </label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>


            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">
                        ASSESSMENT (PENGKAJIAN GIZI)
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        1.Antropometri
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Berat badan saat masuk rumak sakit (kg) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_BeratBadan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_BeratBadan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Tinggi Badan (cm) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_TinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_TinggiBadan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Estimasi Tinggi Badan (rentang lengan) (cm) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_EstimasiTinggiBadan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_EstimasiTinggiBadan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Lingkar Lengan Atas (bila berat badan tidak ditimbang (cm)) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_LingkarLenganAtas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_LingkarLenganAtas, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Berat Badan Ideal (kg) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_BeratBadanIdeal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_BeratBadanIdeal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        IMT (kg/m2) :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_BMI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_BMI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Status Gizi :
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Antropometri_StatusGizi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Antropometri_StatusGizi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        2. Biokimia
                    </label>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Albumin, new { htmlAttributes = new { } })
                            Albumin <span>&le;</span> <spanS>3 mg/dl</spanS>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_AsamUrat, new { htmlAttributes = new { } })
                            Asam Urat <span>&ge;</span><span>7 mg/dl</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Hb, new { htmlAttributes = new { } })
                            Hb <span>&le;</span><span>10 mg/dl</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Kreatinin, new { htmlAttributes = new { } })
                            Kreatinin <span>&gt;</span><span> 1,2 mg/dl</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Kolesterol, new { htmlAttributes = new { } })
                            Kolesterol <span>&ge;</span><span> 200 mg%</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Bun, new { htmlAttributes = new { } })
                            BUN <span>&gt;</span><span> 23 mg/dl</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_GlukosaDarah, new { htmlAttributes = new { } })
                            Glukosa Darah <span>&ge;</span><span> 200 mg/dl</span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Sgot, new { htmlAttributes = new { } })
                            SGOT <span>&gt;</span><span> 27 u/l</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_RiwayatDm, new { htmlAttributes = new { } })
                            Riwayat DM

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Sgpt, new { htmlAttributes = new { } })
                            SGPT <span>&gt;</span><span> 34 u/l</span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Cbx_LainLainTerkaitGizi, new { htmlAttributes = new { } })
                            Lain-lain yang terkait dengan gizi

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Kalium, new { htmlAttributes = new { } })
                            Kalium : tinggi <span>&gt;</span> 5,1 mmol/L; Rendah <span>&lt;</span> 3.5 mmol/L

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">

                        @Html.EditorFor(model => model.Biokimia_LainLainTerkaitGizi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Biokimia_LainLainTerkaitGizi, "", new { @class = "text-danger" })


                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.Biokimia_Natrium, new { htmlAttributes = new { } })
                            Natrium : tinggi <span>&gt;</span> 145 mmol/L; Rendah <span>&lt;</span> 136 mmol/L

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        3. Klinis/fisik
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_Mual, new { htmlAttributes = new { } })
                            Mual

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_Muntah, new { htmlAttributes = new { } })
                            Muntah

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_Konstipasi, new { htmlAttributes = new { } })
                            Konstipasi

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_KesulitanMenean, new { htmlAttributes = new { } })
                            Kesulitan Menelan

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_Anoreksia, new { htmlAttributes = new { } })
                            Anoreksia

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_HamilMenyusui, new { htmlAttributes = new { } })
                            Hamil/menyusui

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.KlinisFisik_Cbx_LainLain, new { htmlAttributes = new { } })
                                Lain-Lain
                            </label>
                            @Html.EditorFor(model => model.KlinisFisik_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KlinisFisik_LainLain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KlinisFisik_Diare, new { htmlAttributes = new { } })
                            Diare
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KlinisFisik_KesulitanMengunyah, new { htmlAttributes = new { } })
                            Kesulitan Mengunyah
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_Sesak, new { htmlAttributes = new { } })
                            Sesak

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.KlinisFisik_EdemaAsitesHipertensi, new { htmlAttributes = new { } })
                            Edema / Asites / Hipertensi

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold">
                        4. Dietary/riwayat gizi
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-12">
                            a. Pola makan
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Berapa kali pasien makan sehari
                    </label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.BerapaKali, StaticModel.Makan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BerapaKali, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Konsumsi bahan makanan spesifikasi untuk asupan protein</label>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KonsumsiBahanMakanan1, new { htmlAttributes = new { } })
                            < = 1 porsi makanan sumber protein/produk susu (susu, keju, yoghurt) sehari
                        </label>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.KonsumsiBahanMakanan1Ket, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KonsumsiBahanMakanan1Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KonsumsiBahanMakanan2, new { htmlAttributes = new { } })
                            > 2 porsi kacang - kacangan/telur dalam seminggu
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.KonsumsiBahanMakanan2Ket, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KonsumsiBahanMakanan2Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.KonsumsiBahanMakanan3, new { htmlAttributes = new { } })
                            Daging, ikan / 1ngags setiap hari
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.KonsumsiBahanMakanan3Ket, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KonsumsiBahanMakanan3Ket, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Konsumsi > 2 porsi sayur atau buah setiap hari</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Konsumsi, StaticModel.ListYaTidak, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Konsumsi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Berapa banyak cairan (air putih, jus, kopi, teh, susu) yang di konsumsi perhari</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.BanyakCairan, StaticModel.ListBanyakCairan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BanyakCairan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            b. Cara Pemberian makanan:
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.B_1, new { htmlAttributes = new { } })
                        Tidak dapat makan tanpa bantuan orang lain
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.B_2, new { htmlAttributes = new { } })
                        Makanan sendiri dengan beberapa kesulitan
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.B_3, new { htmlAttributes = new { } })
                        Makan sendiri tanpa  kesulitan
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">
                        c. Asupan makan
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AsupanMakan_AsupanMakanOralDiRumah, new { htmlAttributes = new { } })
                            Asupan Makanan Oral dari rumah
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.AsupanMakan_DiRumah_KurangAtauBaik, StaticModel.AsupanMakananDirumah, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AsupanMakan_DiRumah_KurangAtauBaik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">


                            @Html.EditorFor(model => model.AsupanMakan_AsupanMakanAwalDiRumahSakit, new { htmlAttributes = new { } })
                            Asupan makan awal di rumah sakit

                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.AsupanMakan_DiRumahSakit_KurangAtauBaik, StaticModel.AsupanMakananDirumah, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AsupanMakan_DiRumahSakit_KurangAtauBaik, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-inline">

                            @Html.EditorFor(model => model.AsupanMakan_AdaPerubahanJenisBentukMakanan, new { htmlAttributes = new { } })
                            Ada perubahan jenis/bentuk makanan ke jenis/bentuk diet khusus : bubur, saring, cair/susu

                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">
                            Pantangan Makanan:
                        </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.PantanganMakanan_TidakAtauAda, StaticModel.PantanganMakan, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PantanganMakanan_TidakAtauAda, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">

                                Ada, Jelaskan.........
                            </label>
                            @Html.EditorFor(model => model.PantanganMakanan_AdaJelaskan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PantanganMakanan_AdaJelaskan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            d. Alregi makanan :
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_TidakAda, new { htmlAttributes = new { } })
                            Tidak ada.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_Telur, new { htmlAttributes = new { } })
                            Telur.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_SusuSapiProduk, new { htmlAttributes = new { } })
                            Susu sapi dan produk olahannya.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_KacangKedelaiTanah, new { htmlAttributes = new { } })
                            Kacang kedelai/tanah.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_GlutenGandum, new { htmlAttributes = new { } })
                            Glunen/Gandum
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_Udang, new { htmlAttributes = new { } })
                            Udang
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_HazelnutAlmond, new { htmlAttributes = new { } })
                            Hazelnut/almond.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="input-group">

                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.AlergyMakanan_Cbx_LainLain, new { htmlAttributes = new { } })
                                Lain-Lain
                            </label>
                            @Html.EditorFor(model => model.AlergyMakanan_LainLain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AlergyMakanan_LainLain, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.AlergyMakanan_Ikan, new { htmlAttributes = new { } })
                            Ikan
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">
                            e. Suplemen Gizi :
                        </label>
                    </div>
                    <div class="col-md-3">

                        @Html.DropDownListFor(model => model.SuplemenGizi_TanpaAtauDenganSuplemenGizi, StaticModel.SuplementGizi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuplemenGizi_TanpaAtauDenganSuplemenGizi, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label text-bold">
                            Riwayat Personal (riwayat penyakit, pekerjaan, aktivitas, kebiasaan hidup)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.RiwayatPersonal, new { style = "max-width:100% !important;" })
                    @Html.ValidationMessageFor(model => model.RiwayatPersonal, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">
                        DIAGNOSE GIZI
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">
                            Diagnose Medis :
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiagnoseMedis, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiagnoseMedis, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Diagnose Gizi (PES = Problem, Etiology, dan Sign/symptons (Tanda dan gejala) :
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.DiagnoseGizi, new { style = "max-width:100% !important;" })
                        @Html.ValidationMessageFor(model => model.DiagnoseGizi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-12 text-bold text-center">
                        RENCANA TERAPI DIET
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">
                            Jenis Diet :
                        </label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JenisDiet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JenisDiet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Tujuan pembelajaran diet :
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.TujuanPemberianDiet, new { style = "max-width:100% !important;" })
                        @Html.ValidationMessageFor(model => model.TujuanPemberianDiet, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">
                            Kebutuhan Nutrisi :
                        </label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">

                            <label class="checkbox checkbox-inline input-group-addon">

                                Energi
                            </label>
                            @Html.EditorFor(model => model.KebutuhanNutrisi_Energi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KebutuhanNutrisi_Energi, "", new { @class = "text-danger" })

                            <label class="checkbox checkbox-inline input-group-addon">

                                Kilokalori
                            </label>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                Protein
                            </label>
                            @Html.EditorFor(model => model.KebutuhanNutrisi_Protein, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KebutuhanNutrisi_Protein, "", new { @class = "text-danger" })
                            <label class="checkbox checkbox-inline input-group-addon">
                                gr
                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                Zat gizi lain
                            </label>
                            @Html.EditorFor(model => model.KebutuhanNutrisi_ZatGiziLain, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KebutuhanNutrisi_ZatGiziLain, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox  checkbox-inline input-group-addon">
                                Lemak
                            </label>

                            @Html.EditorFor(model => model.KebutuhanNutrisi_Lemak, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KebutuhanNutrisi_Lemak, "", new { @class = "text-danger" })
                            <label class="checkbox  checkbox-inline input-group-addon">
                                gr
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <label class="checkbox  checkbox-inline input-group-addon">
                                KH
                            </label>

                            @Html.EditorFor(model => model.KebutuhanNutrisi_Kh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KebutuhanNutrisi_Kh, "", new { @class = "text-danger" })
                            <label class="checkbox  checkbox-inline input-group-addon">
                                gr
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">
                            Implementasi:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.Implementasi_PemberianNutrisiSesuaiKebutuhan, new { htmlAttributes = new { } })
                            Pemberian Nutrisi Sesuai dengan kebutuhan
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.Implementasi_Cbx_PemberianNutrisiBertahap, new { htmlAttributes = new { } })
                                Pemberian Nutrisi Bertahap
                            </label>
                            @Html.EditorFor(model => model.Implementasi_PemberianNutrisiBertahap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Implementasi_PemberianNutrisiBertahap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Bentuk Makanan :
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakanan_Nasi, new { htmlAttributes = new { } })
                            Nasi
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakanan_BuburTimCincang, new { htmlAttributes = new { } })
                            Bubur/tim/cincang
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakanan_BuburSaring, new { htmlAttributes = new { } })
                            Bubur saring
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.BentukMakanan_Cbx_CairSondeFormula, new { htmlAttributes = new { } })
                            Cair/Sonde/Formula
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Cara Pemberian :
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberian_Oral, new { htmlAttributes = new { } })
                            Oral
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="checkbox checkbox-inline">
                            @Html.EditorFor(model => model.CaraPemberian_Enteral, new { htmlAttributes = new { } })
                            Eternal (NGT/OGT/Gastrotomy/Jejunotomy, dll)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">
                            Edukasi/Konsultasi Gizi :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.EdukasiKonsultasiGizi, new { style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.EdukasiKonsultasiGizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">

                    <label class=" col-md-12  text-bold text-center">
                        Rencana Monitoring dan Evalusi
                    </label>

                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.RencanaMonitoringDanEvaluasi, new { style = "max-width:100% !important;" })
                        @Html.ValidationMessageFor(model => model.RencanaMonitoringDanEvaluasi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row ">
                    <div class="form-horizontal">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Keterangan
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Status gizi berdasarkan Index Massa Tubuh (WHO, PGS, 1994)
                                </label>

                            </div>
                            <div class="form-group">
                                <div class="">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Kategori</th>
                                                <th scope="col">Batas Ambang</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Kurus</th>
                                                <td>Kekurangan Berat badan tingkat berat (KEP)</td>
                                                <td>&lt; 17, 0</td>

                                            </tr>
                                            <tr>
                                                <th scope="row"></th>
                                                <td>Kekurangan Berat badan tingkat ringan</td>
                                                <td>17,0 - 18,5</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Normal</th>
                                                <td>Baik</td>
                                                <td>&gt; 18,5 - 25 </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Gemuk</th>
                                                <td>Kelebihan berat badan</td>
                                                <td>&gt; 25,0 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Kriteria Asupan Makanan (Gibson, 2006) (ADA)
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Baik : &ge; 80%
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Kurang : &lt; 80%
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Ahli Gizi
                                </label>
                                <div class="col-md-11">
                                    @Html.DropDownListFor(model => model.AhliGizi, Model.AhliGizi == null ? new List<SelectListItem>() :
                            new List<SelectListItem>() { new SelectListItem() { Value = Model.AhliGizi.ToString(), Text = Model.AhliGiziNama } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AhliGizi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body detail">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="checkbox checkbox-inline input-group-addon">
                                @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                Simpan Template
                            </label>
                            <input type="text" name="nama_template" id="nama_template" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDFAsuhanGiziGeriatri","ReportHistory", new { noreg = Model.NoReg, sectionid = Model.SectionID })" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    generalDokter("#@formName #AhliGizi");

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = $('#NoReg').val();
        var copy = $("#listTemplateDokumen :selected").val();
        var nrmtemp = $('#NRM').val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');
            var url = '@Url.Action("", "EMRAsuhanGiziGeriatri")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy + "&nrm=" + nrmtemp;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }

    $(document).ready(function () {

    });
</script>




