﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var formName = $"frm_AssesmentAwalKeperawatan_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};

}

<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    #table_masalahdiagnosa tbody tr td:nth-child(1) {
        vertical-align: middle;
        text-align: center;
    }

    #table_masalahdiagnosa tbody tr td:nth-child(3) {
        vertical-align: middle;
        text-align: center;
    }
</style>

<div class="wall" ng-controller="form">

    @using (Html.BeginForm("AssesmentAwalKeperawatan", controllerName, FormMethod.Post, new { id = formName, onsubmit = "SubmitForm_AssesmenAwalKeperawtan(event)" }))
    {
        @Html.HiddenFor(Model => Model.NRM)
        @*@Html.HiddenFor(Model => Model.AssAwalPerawatNew.Gambar2)*@
        @Html.HiddenFor(Model => Model.AssAwalPerawatNew.NoReg)
        @Html.HiddenFor(Model => Model.AssAwalPerawatNew.SectionID)
        @Html.HiddenFor(Model => Model.AssAwalPerawatNew.Nomor)
        @Html.HiddenFor(Model => Model.AssAwalPerawatNew.NRM)
        @Html.HiddenFor(Model => Model.AssAwalPerawatNew.DokumenID)
        @Html.HiddenFor(model => model.AssAwalPerawatNew.TTDPasienAtauKeluarga)
        @Html.HiddenFor(model => model.AssAwalPerawatNew.TTDPerawat)

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Template
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Template, new List<SelectListItem>() {
                                new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
                            }, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplateAssAwalKeperawatan()" class="btn btn-block btn-info"> LOAD</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Tanggal
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.Tanggal != null ? (Model.AssAwalPerawatNew.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Jam Kedatangan
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.JamKedatangan, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalPerawatNew.JamKedatangan != null ? Model.AssAwalPerawatNew.JamKedatangan.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.JamKedatangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rujukan
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Rujukan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Rujukan, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">
                            Waktu Pengkajian
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.WaktuPengkajian, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.AssAwalPerawatNew.WaktuPengkajian != null ? Model.AssAwalPerawatNew.WaktuPengkajian.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.WaktuPengkajian, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.IRJ, new { htmlAttributes = new { } })
                                IRJ
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.IGD, new { htmlAttributes = new { } })
                                IGD
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline control-label input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.LuarRS, new { htmlAttributes = new { } })
                                    Luar RS (Telp)
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Rujukan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Rujukan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Poliklinik
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Rujukan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Rujukan, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Rujukan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Rujukan, "", new { @class = "text-danger" })
                                <label class="input-group-addon">(RS Pengirim)</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Keluhan Utama
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.RiwayatPenyakit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.RiwayatPenyakit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Pengobatan
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.RiwayatPengobatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.RiwayatPengobatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Alergi
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.RiwayatAlergi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat Penyakit Keluarga
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.RiwayatKeluarga, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.RiwayatKeluarga, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Riwayat MRS sebelumnya
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.RiwayatMrs, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.RiwayatMrs, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Lama</label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Lama, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Lama, "", new { @class = "text-danger" })
                                <label class="input-group-addon">Hari</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Alasan</label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Alasan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Alasan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            GCS
                        </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    E
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    TB
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    BB
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.BB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PENILAIAN NYERI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Nyeri :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Nyeri, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Nyeri, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Lokasi :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Lokasi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Lokasi, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Intensitas:
                        </label>
                        <div class="col-md-1">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Intensitas, StaticModel.ListIntensitas, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Intensitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Sekor.JPG" style="display:block; width:100%;" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">Tanda Tanda Vital</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tekanan Darah
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.TekananDarah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TekananDarah, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Nadi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Pernafasan
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Pernafasan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Pernafasan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Suhu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Suhu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasi
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Saturasi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Jenis :
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Jenis, StaticModel.List_Jenis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Jenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">
                            PSIKOSOSIAL , SPIRITUAL DAN EKONOMI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Status Perkawinan
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.StatusPerkawinan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.StatusPerkawinan, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-2 control-label">
                            Tinggal bersama
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.TinggalBersama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TinggalBersama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Riwayat Kebiasaan</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.RiwayatMerokok, new { htmlAttributes = new { } })
                                Merokok
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.RiwayatAlkohol, new { htmlAttributes = new { } })
                                Alkohol
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.RiwayatLainLain, new { htmlAttributes = new { } })
                                    Lain-Lain Jenis Dan Jumlah
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.JenisDanJumlah, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.JenisDanJumlah, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 ">
                            Resiko Mencederai diri sendiri
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.ResikoMencederai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.ResikoMencederai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 ">
                            Kebiasaan Sembahyang
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.KebiasaanSembahyang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.KebiasaanSembahyang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Keyakinan Dan Nilai</label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Agama, new { htmlAttributes = new { } })
                                Agama
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.AgamaKet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.AgamaKet, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.NilaiKepercayaan, new { htmlAttributes = new { } })
                                Nilai-nilai & kepercayaan
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Pekerjaan
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Pekerjaan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Pekerjaan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Asuransi
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Asuransi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Asuransi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">
                            PRODUSER INVASIF (yang terpasang saat ini )
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.InfusIntravena, new { htmlAttributes = new { } })
                                    Infus Intravena, dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.InfusDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.InfusDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.InfusTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.InfusTanggal != null ? (Model.AssAwalPerawatNew.InfusTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.InfusTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.CentralLine, new { htmlAttributes = new { } })
                                    Central Line (CVP), dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.CentralDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.CentralDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.CentralTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.CentralTanggal != null ? (Model.AssAwalPerawatNew.CentralTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.CentralTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.DowerCateter, new { htmlAttributes = new { } })
                                    Dower Cateter, dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.DowerDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.DowerDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.DowerTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.DowerTanggal != null ? (Model.AssAwalPerawatNew.DowerTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.DowerTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.NGT, new { htmlAttributes = new { } })
                                    NGT , dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.NGTDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.NGTDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.NGTTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.NGTTanggal != null ? (Model.AssAwalPerawatNew.NGTTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.NGTTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.CystotomyChateter, new { htmlAttributes = new { } })
                                    Cystotomy Chateter , dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.CystotomyDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.CystotomyDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.CystotomyTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.CystotomyTanggal != null ? (Model.AssAwalPerawatNew.CystotomyTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.CystotomyTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.Tracheostomy, new { htmlAttributes = new { } })
                                    Tracheostomy, dipasang di
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.TracheostomyDipasangDi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TracheostomyDipasangDi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.TracheostomyTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.TracheostomyTanggal != null ? (Model.AssAwalPerawatNew.TracheostomyTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TracheostomyTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.InvasifLain, new { htmlAttributes = new { } })
                                    Lain - Lain
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.InvasifLainKet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.InvasifLainKet, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    Tanggal
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.InvasifLainTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.InvasifLainTanggal != null ? (Model.AssAwalPerawatNew.InvasifLainTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.InvasifLainTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">
                            KONTROL RISIKO INFEKSI
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Status</label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Status, StaticModel.ListKontrolResikoInfeksiStatus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Status, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Diketahui</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.MRSA, new { htmlAttributes = new { } })
                                MRSA
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.VRE, new { htmlAttributes = new { } })
                                VRE
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.StatusTB, new { htmlAttributes = new { } })
                                TB
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Infeksi, new { htmlAttributes = new { } })
                                Infeksi Opportunistik/tropik
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.Lainnya, new { htmlAttributes = new { } })
                                    Lain
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.LainnyaKet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.LainnyaKet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 ">Additional precaution yang harus dilakukan</label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Droplet, new { htmlAttributes = new { } })
                                Droplet
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Airbone, new { htmlAttributes = new { } })
                                Airbone
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Contact, new { htmlAttributes = new { } })
                                Contact
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Skin, new { htmlAttributes = new { } })
                                Skin
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.ContactMulti, new { htmlAttributes = new { } })
                                Contact Multi-Resistent Organisme
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">
                            SKRINING PASIEN JATUH
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 text-bold">1. Pengkajian</label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 text-bold">No</label>
                        <label class="col-md-9 text-bold">Penilaian/Pengkajian</label>
                        <label class="col-md-2 text-bold">Ya / Tidak</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            1.
                        </label>
                        <label class="control-label col-md-9">
                            Cara Berjalan Pasien (Salah satu atau lebih)
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-md-offset-1">
                            a.
                        </label>
                        <label class="control-label col-md-8">
                            Tidak Seimbang/ Sempoyongan/ limbung
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Pengkajian_1a, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajianskor()" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Pengkajian_1a, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1 col-md-offset-1">
                            b.
                        </label>
                        <label class="control-label col-md-8">
                            Jalan dengan menggunakan alat bantu (kruk, tripot, kursi roda, oranglain)
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Pengkajian_1b, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajianskor()" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Pengkajian_1b, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">
                            2.
                        </label>
                        <label class="control-label col-md-9">
                            Menopang Saat akan duduk: tampak memegang pinggiran kursi/ meja/ benda lain sebagai penopang saat akan duduk
                        </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Pengkajian_2a, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "pengkajianskor()" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Pengkajian_2a, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 text-bold">2. Hasil</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Hasil, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Hasil, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.HasilKet, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.HasilKet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 control-label text-bold">
                            PENGKAJIAN FUNGSIONAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Personal Hygiene
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.PersonalHygiene, StaticModel.ListMandiriDibantuKetergantungan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.PersonalHygiene, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Toileting
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Toileting, StaticModel.ListMandiriDibantuKetergantungan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Toileting, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Berpakaian
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Berpakaian, StaticModel.ListMandiriDibantuKetergantungan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Berpakaian, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Makan / Minum
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Makan, StaticModel.ListMandiriDibantuKetergantungan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Makan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Mobilisasi
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Mobilisasi, StaticModel.ListMandiriDibantuKetergantungan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Mobilisasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Alat Bantu
                        </label>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Tongkat, new { htmlAttributes = new { } })
                                Tongkat
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Walker, new { htmlAttributes = new { } })
                                Walker
                            </label>
                        </div>

                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Kruk, new { htmlAttributes = new { } })
                                Kruk
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Protesis, new { htmlAttributes = new { } })
                                Protesis
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Penopang, new { htmlAttributes = new { } })
                                Penopang/Brace
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.KursiRoda, new { htmlAttributes = new { } })
                                Kursi Roda
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Alasan</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AssAwalPerawatNew.Alasan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Alasan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">SKRINING GIZI </label>
                    </div>
                    <div class="form-group">
                        <table id="tabel1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:40px">No</th>
                                    <th style="width:800px">Parameter</th>
                                    <th>Skor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                Apakah pasien mengalami penurunan berat badan yang tidak direncanakan/ tidak diinginkan dalam 6 bulan terakhir?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.AssAwalPerawatNew.SkriningGizi1, StaticModel.ListYaTidakTidakYakin, new { @class = "form-control", onchange = "skrininggiziskor()" })
                                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGizi1, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.AssAwalPerawatNew.SkriningGiziApakahAsupanMengalamiKet, StaticModel.ListBeratSkrining, new { @class = "form-control", disabled = true, onchange = "skrininggiziskor()" })
                                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGiziApakahAsupanMengalamiKet, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.AssAwalPerawatNew.SkriningGizi1Skor, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGizi1Skor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                Apakah asupan makanan pasien berkurang karena penurunan nafsu makan/ kesulitan menerima makan
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.AssAwalPerawatNew.SkriningGizi2, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "skrininggiziskor()" })
                                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGizi2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.AssAwalPerawatNew.SkriningGizi2Skor, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGizi2Skor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="text-bold">Total Skor</div>
                                    </td>
                                    <td>
                                        <div>
                                            @Html.EditorFor(model => model.AssAwalPerawatNew.TotalSkor, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.TotalSkor, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="col-md-1 text-bold">
                                            Kriteria Gizi
                                        </div>
                                        <div class="col-md-11">
                                            @Html.EditorFor(model => model.AssAwalPerawatNew.SkriningGiziKriteriaGizi, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.SkriningGiziKriteriaGizi, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">RENCANA PEMULANGAN </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon">Estimasi Tanggal Pemulangan</label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.EstimasiTanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.AssAwalPerawatNew.EstimasiTanggal != null ? (Model.AssAwalPerawatNew.EstimasiTanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.EstimasiTanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Usia, new { htmlAttributes = new { } })
                                Usia > 65 Tahun
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Tinggal, new { htmlAttributes = new { } })
                                Tinggal sendirian tanpa dukungan sosial secara langsung
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Tinggal, new { htmlAttributes = new { } })
                                Stroke, serangan jantung, PPOK, Gagal jantung kongestif, empisema, Demensia, Alzaimer, AIDS, atau Penyakit dengan potensi mengancam nyawa lainnya
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.PasienBerasal, new { htmlAttributes = new { } })
                                Pasien Berasal dari panti jompo
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Tunawisma, new { htmlAttributes = new { } })
                                Tunawisma
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Dirawat, new { htmlAttributes = new { } })
                                Dirawat kembali dalam 30 hari
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.PasienTidakDiKenal, new { htmlAttributes = new { } })
                                Pasien tidak dikenal/ tidak ada identitas
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.KorbanDariKasus, new { htmlAttributes = new { } })
                                Korban Dari Kasus Kriminal
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.Trauma, new { htmlAttributes = new { } })
                                Trauma Multipel
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.AssAwalPerawatNew.TidakBekerja, new { htmlAttributes = new { } })
                                Tidak Bekerja / tidak ada asuransi
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">KEBUTUHAN EDUKASI </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Kesediaan untuk menerima informasi/edukasi </label>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.KesediaanMenerima, StaticModel.ListYaTidak, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.KesediaanMenerima, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Edukasi Pasien</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.EdukasiPasien, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.EdukasiPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">RUMUSAN MASALAH KEPERAWATAN  </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.AssAwalPerawatNew.MasalahKeperawatan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.MasalahKeperawatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">VERIFIKASI PASIEN </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Dengan ini saya/keluarga menyatakan akan mengikuti aturan perawatan sesuai dengan rencana keperawatan yang berlaku</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Perawat
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.AssAwalPerawatNew.Perawat, Model.AssAwalPerawatNew.Perawat == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.AssAwalPerawatNew.Perawat.ToString(), Text = Model.AssAwalPerawatNew.PerawatNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.Perawat, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 text-right">
                            <a class="btn btn-success btn-sm @(Model.AssAwalPerawatNew.TTDPerawat != null ? "btn-flash" : "")" onclick="clickgambar1_assmediskep()"><i class="icon-quill4"></i></a>
                            <a class="btn btn-danger btn-sm" onclick="ulanggambar1_assmediskep()"><i class="icon-eraser"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10 control-label">
                            Pasien/Keluarga
                        </label>
                        <div class="col-md-2 text-right">
                            <a class="btn btn-success btn-sm @(Model.AssAwalPerawatNew.TTDPasienAtauKeluarga != null ? "btn-flash" : "")" onclick="clickgambar2_assmediskep()"><i class="icon-quill4"></i></a>
                            <a class="btn btn-danger btn-sm" onclick="ulanggambar2_assmediskep()"><i class="icon-eraser"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1" style="position:inherit">
                            <div class="form-group" style="position:inherit">
                                <div class="col-md-12 text-center">
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_AssAwalPerawatNew_TTDPerawat" name="IMG_AssAwalPerawatNew_TTDPemberiInformasi" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                    <img crossorigin="anonymous" class="ipainter" id="IMG_AssAwalPerawatNew_TTDPasienAtauKeluarga" name="IMG_AssAwalPerawatNew_TTDPasienPenanggungJawab" src="~/Theme/images/TandaTangan.png" width="10%" style="border:1px solid #ccc" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.AssAwalPerawatNew.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                @Html.EditorFor(model => model.AssAwalPerawatNew.nama_template, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AssAwalPerawatNew.nama_template, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                    @if (Model.AssAwalPerawatNew.Report == 1)
                    {
                        <a href="@Url.Action("ExportPDFTriage","ReportMedicalRecord", new { noreg = Model.AssAwalPerawatNew.NoReg })" target="_blank"
                           class="btn btn-success" @(Model.AssAwalPerawatNew.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak Triage
                        </a>

                        <a href="@Url.Action("ExportPDFAssAwalKeperawatan","ReportMedicalRecord", new { noreg = Model.AssAwalPerawatNew.NoReg, sectionid = Model.AssAwalPerawatNew.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.AssAwalPerawatNew.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                    }
                </div>
            </div>
        </div>

    }

</div>

<script>
    generalDokter('#@formName #AssAwalPerawatNew_Perawat');

    $('#AssAwalPerawatNew_Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "TemplatePoliDalam")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid: $('#AssAwalPerawatNew_DokumenID').val(),
                    dokter: $('#AssAwalPerawatNew_DiperiksaOleh').val()
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    function loadTemplateAssAwalKeperawatan() {
        var id = $('#@formName #AssAwalPerawatNew_NoReg').val();
        var nama = $('#@formName #AssAwalPerawatNew_Template').val();
        $.ajax({
            dataType: 'JSON',
            method: "GET",
            url: '@Url.Action("GetTemplatAssAwalKeperawatan", "TemplatePoliDalam")',
            data: {
                id: id,
                nama: nama
            },
            success: function (data) {
                $('#AssAwalPerawatNew_IRJ').prop('checked', data.Data.IRJ == 1 ? true : false);
                $('#AssAwalPerawatNew_IGD').prop('checked', data.Data.IGD == 1 ? true : false);
                $('#AssAwalPerawatNew_LuarRS').prop('checked', data.Data.LuarRS == 1 ? true : false);
                $('#AssAwalPerawatNew_Poliklinik').val(data.Data.Poliklinik);
                $('#AssAwalPerawatNew_RsPengirim').val(data.Data.RsPengirim);
                $('#AssAwalPerawatNew_KeluhanUtama').val(data.Data.KeluhanUtama);
                $('#AssAwalPerawatNew_RiwayatPenyakit').val(data.Data.RiwayatPenyakit);
                $('#AssAwalPerawatNew_RiwayatPengobatan').val(data.Data.RiwayatPengobatan);
                $('#AssAwalPerawatNew_RiwayatAlergi').val(data.Data.RiwayatAlergi);
                $('#AssAwalPerawatNew_RiwayatKeluarga').val(data.Data.RiwayatKeluarga);
                $('#AssAwalPerawatNew_RiwayatMrs').val(data.Data.RiwayatMrs);
                $('#AssAwalPerawatNew_Lama').val(data.Data.Lama);
                $('#AssAwalPerawatNew_MRSAlasan').val(data.Data.MRSAlasan);
                $('#AssAwalPerawatNew_RiwayatOperasi').val(data.Data.RiwayatOperasi);
                $('#AssAwalPerawatNew_Jenisnya').val(data.Data.Jenisnya);
                $('#AssAwalPerawatNew_E').val(data.Data.E);
                $('#AssAwalPerawatNew_V').val(data.Data.V);
                $('#AssAwalPerawatNew_M').val(data.Data.M);
                $('#AssAwalPerawatNew_TB').val(data.Data.TB);
                $('#AssAwalPerawatNew_BB').val(data.Data.BB);
                $('#AssAwalPerawatNew_TandaVital').val(data.Data.TandaVital);
                $('#AssAwalPerawatNew_TekananDarah').val(data.Data.TekananDarah);
                $('#AssAwalPerawatNew_Nadi').val(data.Data.Nadi);
                $('#AssAwalPerawatNew_Pernafasan').val(data.Data.Pernafasan);
                $('#AssAwalPerawatNew_Suhu').val(data.Data.Suhu);
                $('#AssAwalPerawatNew_Saturasi').val(data.Data.Saturasi);
                $('#AssAwalPerawatNew_StatusPerkawinan').val(data.Data.StatusPerkawinan);
                $('#AssAwalPerawatNew_TinggalBersama').val(data.Data.TinggalBersama);
                $('#AssAwalPerawatNew_RiwayatMerokok').prop('checked', data.Data.RiwayatMerokok == 1 ? true : false);
                $('#AssAwalPerawatNew_RiwayatAlkohol').prop('checked', data.Data.RiwayatAlkohol == 1 ? true : false);
                $('#AssAwalPerawatNew_RiwayatLainLain').prop('checked', data.Data.RiwayatLainLain == 1 ? true : false);
                $('#AssAwalPerawatNew_JenisDanJumlah').val(data.Data.JenisDanJumlah);
                $('#AssAwalPerawatNew_ResikoMencederai').val(data.Data.ResikoMencederai);
                $('#AssAwalPerawatNew_KebiasaanSembahyang').val(data.Data.KebiasaanSembahyang);
                $('#AssAwalPerawatNew_Agama').prop('checked', data.Data.Agama == 1 ? true : false);
                $('#AssAwalPerawatNew_NilaiKepercayaan').prop('checked', data.Data.NilaiKepercayaan == 1 ? true : false);
                $('#AssAwalPerawatNew_Pekerjaan').val(data.Data.Pekerjaan);
                $('#AssAwalPerawatNew_Asuransi').val(data.Data.Asuransi);
                $('#AssAwalPerawatNew_InfusIntravena').prop('checked', data.Data.InfusIntravena == 1 ? true : false);
                $('#AssAwalPerawatNew_InfusDipasangDi').val(data.Data.InfusDipasangDi);
                $('#AssAwalPerawatNew_CentralLine').prop('checked', data.Data.CentralLine == 1 ? true : false);
                $('#AssAwalPerawatNew_CentralDipasangDi').val(data.Data.CentralDipasangDi);
                $('#AssAwalPerawatNew_DowerCateter').prop('checked', data.Data.DowerCateter == 1 ? true : false);
                $('#AssAwalPerawatNew_DowerDipasangDi').val(data.Data.DowerDipasangDi);
                $('#AssAwalPerawatNew_NGT').prop('checked', data.Data.NGT == 1 ? true : false);
                $('#AssAwalPerawatNew_NGTDipasangDi').val(data.Data.NGTDipasangDi);
                $('#AssAwalPerawatNew_CystotomyChateter').prop('checked', data.Data.CystotomyChateter == 1 ? true : false);
                $('#AssAwalPerawatNew_CystotomyDipasangDi').val(data.Data.CystotomyDipasangDi);
                $('#AssAwalPerawatNew_Tracheostomy').prop('checked', data.Data.Tracheostomy == 1 ? true : false);
                $('#AssAwalPerawatNew_TracheostomyDipasangDi').val(data.Data.TracheostomyDipasangDi);
                $('#AssAwalPerawatNew_InvasifLain').prop('checked', data.Data.InvasifLain == 1 ? true : false);
                $('#AssAwalPerawatNew_InvasifLainKet').val(data.Data.InvasifLainKet);
                $('#AssAwalPerawatNew_Status').val(data.Data.Status);
                $('#AssAwalPerawatNew_MRSA').prop('checked', data.Data.MRSA == 1 ? true : false);
                $('#AssAwalPerawatNew_VRE').prop('checked', data.Data.VRE == 1 ? true : false);
                $('#AssAwalPerawatNew_StatusTB').prop('checked', data.Data.StatusTB == 1 ? true : false);
                $('#AssAwalPerawatNew_Infeksi').prop('checked', data.Data.Infeksi == 1 ? true : false);
                $('#AssAwalPerawatNew_Lainnya').prop('checked', data.Data.Lainnya == 1 ? true : false);
                $('#AssAwalPerawatNew_LainnyaKet').val(data.Data.LainnyaKet);
                $('#AssAwalPerawatNew_Droplet').prop('checked', data.Data.Droplet == 1 ? true : false);
                $('#AssAwalPerawatNew_Airbone').prop('checked', data.Data.Airbone == 1 ? true : false);
                $('#AssAwalPerawatNew_Contact').prop('checked', data.Data.Contact == 1 ? true : false);
                $('#AssAwalPerawatNew_Skin').prop('checked', data.Data.Skin == 1 ? true : false);
                $('#AssAwalPerawatNew_ContactMulti').prop('checked', data.Data.ContactMulti == 1 ? true : false);
                $('#AssAwalPerawatNew_SkriningPasienA').val(data.Data.SkriningPasienA);
                $('#AssAwalPerawatNew_SkriningPasienB').val(data.Data.SkriningPasienB);
                $('#AssAwalPerawatNew_PersonalHygiene').val(data.Data.PersonalHygiene);
                $('#AssAwalPerawatNew_Toileting').val(data.Data.Toileting);
                $('#AssAwalPerawatNew_Berpakaian').val(data.Data.Berpakaian);
                $('#AssAwalPerawatNew_Makan').val(data.Data.Makan);
                $('#AssAwalPerawatNew_Mobilisasi').val(data.Data.Mobilisasi);
                $('#AssAwalPerawatNew_Tongkat').prop('checked', data.Data.Tongkat == 1 ? true : false);
                $('#AssAwalPerawatNew_Walker').prop('checked', data.Data.Walker == 1 ? true : false);
                $('#AssAwalPerawatNew_KursiRoda').prop('checked', data.Data.KursiRoda == 1 ? true : false);
                $('#AssAwalPerawatNew_Kruk').prop('checked', data.Data.Kruk == 1 ? true : false);
                $('#AssAwalPerawatNew_Penopang').prop('checked', data.Data.Penopang == 1 ? true : false);
                $('#AssAwalPerawatNew_Protesis').prop('checked', data.Data.Protesis == 1 ? true : false);
                $('#AssAwalPerawatNew_Alasan').val(data.Data.Alasan);
                $('#AssAwalPerawatNew_Nyeri').val(data.Data.Nyeri);
                $('#AssAwalPerawatNew_Lokasi').val(data.Data.Lokasi);
                $('#AssAwalPerawatNew_Intensitas').val(data.Data.Intensitas);
                $('#AssAwalPerawatNew_Jenis').val(data.Data.Jenis);
                $('#AssAwalPerawatNew_SkriningGizi1').val(data.Data.SkriningGizi1);
                $('#AssAwalPerawatNew_SkriningGiziApakahAsupanMengalamiKet').val(data.Data.SkriningGiziApakahAsupanMengalamiKet);
                $('#AssAwalPerawatNew_SkriningGizi1Skor').val(data.Data.SkriningGizi1Skor);
                $('#AssAwalPerawatNew_SkriningGizi2').val(data.Data.SkriningGizi2);
                $('#AssAwalPerawatNew_SkriningGizi2Skor').val(data.Data.SkriningGizi2Skor);
                $('#AssAwalPerawatNew_TotalSkor').val(data.Data.TotalSkor);
                $('#AssAwalPerawatNew_SkriningGiziKriteriaGizi').val(data.Data.SkriningGiziKriteriaGizi);
                $('#AssAwalPerawatNew_PasienPulangKe').val(data.Data.PasienPulangKe);
                $('#AssAwalPerawatNew_KesediaanMenerima').val(data.Data.KesediaanMenerima);
                $('#AssAwalPerawatNew_EdukasiPasien').val(data.Data.EdukasiPasien);
                $('#AssAwalPerawatNew_MasalahKeperawatan').val(data.Data.MasalahKeperawatan);
                $('#AssAwalPerawatNew_PasienAtauKeluarga').val(data.Data.PasienAtauKeluarga);
                $('#AssAwalPerawatNew_Pengkajian_1a').val(data.Data.Pengkajian_1a);
                $('#AssAwalPerawatNew_Pengkajian_1b').val(data.Data.Pengkajian_1b);
                $('#AssAwalPerawatNew_Pengkajian_2a').val(data.Data.Pengkajian_2a);
                $('#AssAwalPerawatNew_Hasil').val(data.Data.Hasil);
                $('#AssAwalPerawatNew_HasilKet').val(data.Data.HasilKet);
                $('#AssAwalPerawatNew_Usia').prop('checked', data.Data.Usia == 1 ? true : false);
                $('#AssAwalPerawatNew_Tinggal').prop('checked', data.Data.Tinggal == 1 ? true : false);
                $('#AssAwalPerawatNew_Stroke').prop('checked', data.Data.Stroke == 1 ? true : false);
                $('#AssAwalPerawatNew_PasienBerasal').prop('checked', data.Data.PasienBerasal == 1 ? true : false);
                $('#AssAwalPerawatNew_Tunawisma').prop('checked', data.Data.Tunawisma == 1 ? true : false);
                $('#AssAwalPerawatNew_Dirawat').prop('checked', data.Data.Dirawat == 1 ? true : false);
                $('#AssAwalPerawatNew_Percobaan').prop('checked', data.Data.Percobaan == 1 ? true : false);
                $('#AssAwalPerawatNew_PasienTidakDiKenal').prop('checked', data.Data.PasienTidakDiKenal == 1 ? true : false);
                $('#AssAwalPerawatNew_KorbanDariKasus').prop('checked', data.Data.KorbanDariKasus == 1 ? true : false);
                $('#AssAwalPerawatNew_Trauma').prop('checked', data.Data.Trauma == 1 ? true : false);
                $('#AssAwalPerawatNew_TidakBekerja').prop('checked', data.Data.TidakBekerja == 1 ? true : false);
            }
        });
    }

    function pengkajianskor() {
        var pengkajian_1a = $('#@formName #AssAwalPerawatNew_Pengkajian_1a').val();
        var pengkajian_1b = $('#@formName #AssAwalPerawatNew_Pengkajian_1b').val();
        var pengkajian_2a = $('#@formName #AssAwalPerawatNew_Pengkajian_2a').val();
        var pengkajian_1a_ada = 0;
        var pengkajian_1b_ada = 0;
        var pengkajian_2a_ada = 0;

        if (pengkajian_1a == "Ya") {
            pengkajian_1a_ada = 1;
        } else if (pengkajian_1a == "") {
            pengkajian_1a_ada = 2;
        }

        if (pengkajian_1b == "Ya") {
            pengkajian_1b_ada = 1;
        } else if (pengkajian_1b == "") {
            pengkajian_1b_ada = 2;
        }

        if (pengkajian_2a == "Ya") {
            pengkajian_2a_ada = 1;
        } else if (pengkajian_2a == "") {
            pengkajian_2a_ada = 2;
        }

        if (pengkajian_1a_ada == 0 && pengkajian_1b_ada == 0 && pengkajian_2a_ada == 0) {
            $('#@formName #AssAwalPerawatNew_Hasil').val("Tidak Beresiko");
        } else if (pengkajian_1a_ada == 1 && pengkajian_1b_ada == 1 && pengkajian_2a_ada == 1) {
            $('#@formName #AssAwalPerawatNew_Hasil').val("Resiko Tinggi");
        } else if (pengkajian_1a_ada == 2 || pengkajian_1b_ada == 2 || pengkajian_2a_ada == 2) {
            $('#@formName #AssAwalPerawatNew_Hasil').val("");
        } else {
            $('#@formName #AssAwalPerawatNew_Hasil').val("Resiko Rendah");
        }
    }

    function skrininggiziskor() {
        var skor1 = $('#@formName #AssAwalPerawatNew_SkriningGizi1').val();
        var skor2 = $('#@formName #AssAwalPerawatNew_SkriningGizi2').val();
        var skiningnilai = $('#@formName #AssAwalPerawatNew_SkriningGizi1').val();
        if (skiningnilai == "Tidak") {
            skor1 = 0;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').prop('disabled', true);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').val('');
        }
        else if (skiningnilai == "Tidak yakin (tidak ada tanda baju menjadi lebih longgar, tidak tampak lebih kurus)") {
            skor1 = 0;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').prop('disabled', true);
            $('#@formName #SkriningGiziApakahAsupanMengalamiKet').val('');
        }
        else if (skiningnilai == "Tidak yakin (ada tanda baju menjadi lebih longgar, tampak lebih kurus)") {
            skor1 = 2;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
            $('#@formName #AssAwalPerawatNew_SkriningGiziApakahAsupanMengalamiKet').prop('disabled', true);
            $('#@formName #AssAwalPerawatNew_SkriningGiziApakahAsupanMengalamiKet').val('');
        } else if (skiningnilai == "Ya, ada penurunan berat badan sebanyak") {
            $('#@formName #AssAwalPerawatNew_SkriningGiziApakahAsupanMengalamiKet').prop('disabled', false);
            skor1 = 0;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
        }

        skiningnilailain =  $('#@formName #AssAwalPerawatNew_SkriningGiziApakahAsupanMengalamiKet').val();
        if (skiningnilailain == "1-5 kg") {
            skor1 = 1;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
        } else if (skiningnilailain == "6-10 kg") {
            skor1 = 2;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
        } else if (skiningnilailain == "11-15 kg") {
            skor1 = 3;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
        } else if (skiningnilailain == "> 15 kg") {
            skor1 = 4;
            $('#@formName #AssAwalPerawatNew_SkriningGizi1Skor').val(skor1);
        }

        var asupan = $('#@formName #AssAwalPerawatNew_SkriningGizi2').val();
        if (asupan == "Tidak") {
            skor2 = 0;
            $('#@formName #AssAwalPerawatNew_SkriningGizi2Skor').val(skor2);
        } else if (asupan == "Ya") {
            skor2 = 1;
            $('#@formName #AssAwalPerawatNew_SkriningGizi2Skor').val(skor2);
        }



        var total = skor1 + skor2;
        $('#@formName #AssAwalPerawatNew_TotalSkor').val(total);
        if (total >= 0 && total <= 1) {
            $('#@formName #AssAwalPerawatNew_SkriningGiziKriteriaGizi').val('Resiko Rendah');
        } else if (total >= 2 && total <= 3) {
            $('#@formName #AssAwalPerawatNew_SkriningGiziKriteriaGizi').val('Resiko Sedang');
        } else if (total >= 4 && total <= 5) {
            $('#@formName #AssAwalPerawatNew_SkriningGiziKriteriaGizi').val('Resiko Tinggi');
        }

    }

    function clickgambar1_assmediskep() {
        $('#@formName #IMG_AssAwalPerawatNew_TTDPerawat').click()
    }

    function clickgambar2_assmediskep() {
        $('#@formName #IMG_AssAwalPerawatNew_TTDPasienAtauKeluarga').click()
    }

    function ulanggambar1_assmediskep() {
        $('#@formName #IMG_AssAwalPerawatNew_TTDPerawat').attr('src', '/Theme/images/TandaTangan.png');
        $('#@formName #IMG_AssAwalPerawatNew_TTDPerawat').click()
    }

    function ulanggambar2_assmediskep() {
        $('#@formName #IMG_AssAwalPerawatNew_TTDPasienAtauKeluarga').attr('src', '/Theme/images/TandaTangan.png');
        $('#@formName #IMG_AssAwalPerawatNew_TTDPasienAtauKeluarga').click()
    }

    var iGambar1;
    var iGambar2;
    var ximg_Gambar1 = $('#@formName #IMG_AssAwalPerawatNew_TTDPerawat');
    var ximg_Gambar2 = $('#@formName #IMG_AssAwalPerawatNew_TTDPasienAtauKeluarga');

    @if (Model != null)
    {
        if (Model.AssAwalPerawatNew.TTDPerawat != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.AssAwalPerawatNew.TTDPerawat)');
        }
        if (Model.AssAwalPerawatNew.TTDPasienAtauKeluarga != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.AssAwalPerawatNew.TTDPasienAtauKeluarga)');
        }
    }

    function SubmitForm_AssesmenAwalKeperawtan(e) {
        try {
            iGambar1.convert_V2('AssAwalPerawatNew_TTDPerawat');
            iGambar2.convert_V2('AssAwalPerawatNew_TTDPasienAtauKeluarga');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    $(document).ready(function () {
        skrininggiziskor();
        pengkajianskor();
        iGambar1 = new iPainter_V2(false, ximg_Gambar1);
        iGambar2 = new iPainter_V2(false, ximg_Gambar2);

        //$(".modal-canvas").on("click", function (e) {
        //    if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        //});
    });
</script>

