﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    ViewBag.Title = "Medical Record";
    ViewBag.SidebarContent = true;
    ViewBag.breadcrumb = new List<SelectListItem>()
{
    new SelectListItem(){ Text = "Registrasi Pasien", Value = Url.Action("Index","RegistrasiPasienRJ") },
    new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
    var contollerName = "RegistrasiPasienRJ";
    var tableId = $"table_{contollerName}";

}
<style>
    .modal-title {
        font-size: 15px;
        font-weight: 500;
    }

    .nav-tabs.nav-tabs-solid > .active > a, .nav-tabs.nav-tabs-solid > .active > a:hover, .nav-tabs.nav-tabs-solid > .active > a:focus {
        background-color: #009688 !important;
        border-color: #009688 !important;
        color: #fff;
    }
</style>
<div>
    <div class="panel panel-EMR bg-teal no-margin" style="border-bottom: 1px solid #f5f5f5; position: sticky; top: 48px; z-index: 99; border-radius: 0;">
        <div class="panel-body" style="padding:5px;">
            <div class="row">
                <div class="col-md-10 pl-20">
                    <h5 class="no-margin text-semibold">
                        <a href="javascript:showhidesidebar();" class="text-white">
                            <i class="icon-transmission position-left"></i>
                        </a>
                        @Model.NamaPasien [@Model.NamaDOkter] @if (Request.Cookies["TipePelayanan"].Value == "RI")
                        {
                            @: [@Model.Kamar]
                        }
                    </h5>
                </div>
            </div>
        </div>

        <div style="position:sticky; top:86px; z-index:99; border-radius:0;">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-tabs-solid nav-justified" style="position:sticky; top:121px; z-index:99; margin-bottom:0;">

                        @if (Request.Cookies["TipePelayanan"].Value == "RJ" && Request.Cookies["SectionIDPelayanan"].Value == "SEC002")
                        {
                            <li><a class="text-semibold" data-toggle="tab" href="#divPengkajianAwal" id="pengkajianawal" onclick="autorefresh('table_pengkajianawal')"> <i class="icon-archive position-left"></i>PENGKAJIAN AWAL</a></li>
                        }
                        else if (Request.Cookies["TipePelayanan"].Value == "RI")
                        {
                            @*<li class="active"><a class="text-semibold" data-toggle="tab" href="#panelListAssRI-1" onclick="showhidesidebarCustom();"><i class="icon-archive position-left"></i> PENGKAJIAN AWAL MEDIS</a></li>*@
                            <li><a class="text-semibold active" data-toggle="tab" href="#divPengkajianAwal" id="pengkajianawal" onclick="autorefresh('table_pengkajianawal')"> <i class="icon-archive position-left"></i>PENGKAJIAN AWAL</a></li>
                        }
                        else
                        {
                            <li><a class="text-semibold active" data-toggle="tab" href="#divPengkajianAwal" id="pengkajianawal" onclick="autorefresh('table_pengkajianawal')"> <i class="icon-archive position-left"></i>PENGKAJIAN AWAL</a></li>
                        }

                        @if (Request.Cookies["TipePelayanan"].Value == "RJ" && Request.Cookies["SectionIDPelayanan"].Value != "SEC002")
                        {
                            <li><a class="text-semibold active" data-toggle="tab" href="#divKunjunganPoliklinik" id="kunjunganpolikliniklist" onclick="autorefresh('table_kunjunganpoliklinik')"><i class="icon-bookmark position-left"></i> PENGKAJIAN LANJUTAN</a></li>
                        }
                        else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC002" || Request.Cookies["SectionIDPelayanan"].Value == "SEC070")
                        {
                            <li><a class="text-semibold active" data-toggle="tab" href="#divSOAP" id="cpptlist" onclick="autorefresh('table_soap')"><i class="icon-bookmark position-left"></i> CPPT </a></li>
                        }
                        else if (Request.Cookies["TipeNamaPelayanan"].Value == "RAWAT INAP")
                        {
                            <li><a class="text-semibold" data-toggle="tab" href="#divSOAP" id="cpptlist" onclick="autorefresh('table_soap')"><i class="icon-bookmark position-left"></i> CPPT </a></li>
                        }


                        <li><a class="text-semibold" data-toggle="tab" id="generallist" onclick="autorefresh('table_general')" href="#divGeneral"><i class="icon-magazine position-left"></i> GENERAL </a></li>
                        <li><a class="text-semibold" data-toggle="tab" href="#divOrder" onclick="autorefresh('table_order')"><i class="icon-basket position-left"></i> ORDER </a></li>
                        <li><a class="text-semibold" data-toggle="tab" href="#divRiwayat" onclick="autorefresh('table_riwayat')"><i class="icon-box-add position-left"></i> RIWAYAT </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content panel panel-info" style="margin-top:5px;">



        @if (Request.Cookies["TipePelayanan"].Value == "RJ")
        {
            <div id="divPengkajianAwal" class="tab-pane">
                @Html.Partial("ListAssesment")
            </div>
        }
        else if (Request.Cookies["TipePelayanan"].Value == "RI")
        {
            <div id="divPengkajianAwal" class="tab-pane">
                @Html.Partial("ListAssesment")
            </div>
        }
        else if (Request.Cookies["TipePelayanan"].Value == "PENUNJANG2")
        {
            <div id="divPengkajianAwal" class="tab-pane">
                @Html.Partial("ListAssesment")
            </div>
        }


        @if (Request.Cookies["TipePelayanan"].Value == "RJ" && Request.Cookies["SectionIDPelayanan"].Value != "SEC002")
        {
            <div id="divKunjunganPoliklinik" class="tab-pane fade in active">
                @Html.Partial("ListAsesmentLanjutan")
            </div>
        }
        else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC002" || Request.Cookies["SectionIDPelayanan"].Value == "SEC070")
        {
            <div id="divSOAP" class="tab-pane fade in active">
                @Html.Partial("ListSOAP")
            </div>
        }
        else if (Request.Cookies["TipeNamaPelayanan"].Value == "RAWAT INAP")
        {
            <div id="divSOAP" class="tab-pane">
                @Html.Partial("ListSOAP")
            </div>
        }


        @if (Request.Cookies["SectionIDPelayanan"].Value == "SEC002")
        {
            <div id="divGeneral" class="tab-pane">
                @Html.Partial("ListGeneral")
            </div>
        }
        else if (Request.Cookies["TipePelayanan"].Value == "RJ" && Request.Cookies["SectionIDPelayanan"].Value != "SEC002")
        {
            <div id="divGeneral" class="tab-pane">
                @Html.Partial("ListPengkajianGeneral")
            </div>
        }
        else if (Request.Cookies["TipePelayanan"].Value == "PENUNJANG2" && Request.Cookies["SectionIDPelayanan"].Value == "SEC070")
        {
            <div id="divGeneral" class="tab-pane">
                @Html.Partial("ListPengkajianGeneralHemodialisis")
            </div>
        }
        else if (Request.Cookies["TipePelayanan"].Value == "RI")
        {
            if (Request.Cookies["SectionIDPelayanan"].Value == "SEC003" || Request.Cookies["SectionIDPelayanan"].Value == "SEC064" || Request.Cookies["SectionIDPelayanan"].Value == "SEC062" || Request.Cookies["SectionIDPelayanan"].Value == "SEC063" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0009" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0010" || Request.Cookies["SectionIDPelayanan"].Value == "SECT0018")
            {
                <div id="divGeneral" class="tab-pane">
                    @Html.Partial("ListPengkajianGeneralRI")
                </div>

            }
            else if (Request.Cookies["SectionIDPelayanan"].Value == "SEC004")
            {
                <div id="divGeneral" class="tab-pane">
                    @Html.Partial("ListPengkajianGeneralOK")
                </div>
            }
        }



        <div id="divOrder" class="tab-pane">
            @Html.Partial("ListOrder")
        </div>


        <div id="divRiwayat" class="tab-pane">
            @Html.Partial("ListRiwayat")
        </div>

        @*<div id="divResumeMedis" class="tab-pane">
                @Html.Partial("SetupResumeMedis")
            </div>*@

    </div>
</div>

<div class="modal fade" id="modalprint_eresepAKunjunganPoliklinik">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">APAKAH INGIN PRINT REPORT ?</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="noresep" />
                <input type="hidden" id="sectionfarmasi" />
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <a onclick="cetakresep_eresepKpoli()" id="btnprintresep"
                       class="btn btn-success position-right">
                        <span class="icon icon-printer"></span> Cetak PDF
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showhidesidebar() {
        $(".sidebar-secondary").toggle();
    }

    function showhidesidebarCustom(show = true) {
        if (show == true) {
            $(".sidebar-secondary").show();
        } else if (show == false) {
            $(".sidebar-secondary").hide();
        }
    }
</script>

<!-- Modal -->
<div class="modal fade" id="modal_@contollerName" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-full">
        @Html.Partial("~/Views/MedicalRecord/HistoryPasien.cshtml")
    </div>
</div>

<script>

    function oncompletecreateCustom(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);

            alertpopup(result.Message, result.Status);

            if (result.IsSuccess) {
                if (isajax.toUpperCase() === "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    //j_modal.modal('hide');
                    if (table || undefined !== undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();

                    var result = JSON.parse(xhr.responseText);
                    console.log(result);

                    var url = '@Url.Action("","EMR")' + result.Data.DokumenID + '/Create/';
                    angular.element('.panel-EMR').scope().ajaxmodal({
                        url: url,
                        header: result.Data.NamaDokumen,
                        param: { id: result.Data.NoReg, nrm: result.Data.NRM, noreg: result.Data.NoReg },
                        target_auto_refresh: 'table_MedicalRecord'
                    });
                }
                else inputclear(formname);
            }
        } catch (ex) {
            alertpopup(xhr.responseText || 'Server Error', 'danger');
        }
    }

    var sectionid = '@Request.Cookies["SectionIDPelayanan"].Value';

    function tutupmodalhistory() {
        $('#modal_@contollerName').modal('hide');
    }

    function bukamodalhistory() {
        $('#modal_@contollerName').modal();
        $('#refreshhsitorypasien').click();
    }

   
    function autorefresh(id) {
        if (angular.element('#' + id)[0] != undefined) angular.element('#' + id).scope().getdatas();
        if (id == 'table_kunjunganpoliklinik') {
            $(".sidebar-secondary").show();
            $('#refreshrealisasiobat').click();
            $('#refreshresep').click();
        } else {
            $(".sidebar-secondary").show();
            $('#refreshresep').click();
            $('#refreshrealisasiobat').click();
        }
    }

    function autorefreshlain(id) {
        if (id == 'table_order') {
            $('#refreshresep').click();
        } else if (id == 'table_memopenunjang') {
            $('#refreshmemo').click();
        } else if (id == 'table_riwayat') {
            $('#refreshrealisasiobat').click();
        } else if (id == 'table_hasilbacalab') {
            $('#refreshhasillab').click();
        } else if (id == 'table_hasilbacaradiologi') {
            $('#hasilbacaradiologi').click();
        } else if (id == 'table_viewobat') {
            $('#refreshrealisasiobat').click();
        } else if (id == 'table_resep') {
            $('#refreshresep').click();
        }
    }

    function openRMEtab(id) {
        if (id == '#menu1RME') {

        } else if (id == '#menu2RME') {
            id = '#menu1RME';
        }
        var tabcontent = $(id).closest('.tab-content');
        tabcontent.find('.tab-pane').removeClass('fade').removeClass('in').removeClass('active');
        tabcontent.find(id).addClass('fade').addClass('in').addClass('active');
    }
    var sectiontipe = "@Request.Cookies["TipePelayanan"].Value";

    function loadSudahInput() {

            myajax({
                url: '@Url.Action("SudahInput", "Dokter")',
                data: {
                    noreg: $('#NoReg').val(),
                    section: sectionid,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        $.each(data.Data, function (index, value) {
                            $('#' + value.Form).addClass('btn-flash');
                        });

                    } else {
                        alertpopup(data.Message, 'danger');
                    }
                }
            });
        }

    $(document).ready(function () {
        loadSudahInput();


        //if (sectionid == "SEC019") {
        //    reloadObat('#AssMata_Terapi');
        //} else if (sectionid == "SEC018") {
        //    reloadObat('#AssAnk_Terapi');
        //} else if (sectionid == "SEC009") {
        //    reloadObat('#AssDalam_Terapi');
        //} else if (sectionid == "SEC017") {
        //    reloadObat('#AssTHT_Terapi');
        //} else if (sectionid == "SEC023") {
        //    reloadObat('#AssSrf_Terapi');
        //} else if (sectionid == "SEC015") {
        //    reloadObat('#AssJiwa_Terapi');
        //} else if (sectionid == "SEC118") {
        //    reloadObat('#AssJantung_Terapi');
        //} else if (sectionid == "SEC007" || sectionid == "SEC010") {
        //    reloadObat('#AssBdhNonTraum_Terapi');
        //    reloadObat('#AssBdhTraum_Terapi');
        //} else if (sectionid == "SEC014") {
        //    reloadObat('#Assgynclogy_Terapi');
        //    reloadObat('#Assobstri_Terapi');
        //}

        if (sectiontipe == "RJ" && sectionid != "SEC002") {
            $('#kunjunganpolikliniklist').click();
        } else if (sectionid == "SEC002") {
            $('#pengkajianawal').click()
        } else {
            $('#pengkajianawal').click()
        }

        $('#sidebarindex').click();

    });

</script>

<script>

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRencanaPemulanganICU_RI') {
            customdetailrencanapemulanganpasienICU(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhAnak') {
            customdetailpengkajianrisikojatuhanakRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailObservasiKeseimbanganCairan') {
            customdetailobservasikeseimbangancairan(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailMonitoringPartusRI') {
            customdetailmonitoringpartusRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakanAsuhanKebidananRI') {
            customdetailtindakanasuhankebidananRI(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailGeneralIGD') {
            customdetailgeneralIGD_Detail(index_detail, _this, inputtarget, autofocus);
            obatmanualketikreadyIGD(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPemeriksaan3IGD') {
            customdetailpemeriksaan3IGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailtindakankebidanan') {
            customdetailtindakankebidanan(index_detail, _this, inputtarget, autofocus);
        }
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAwalKeperawatanRJ') {
            customdetailPengkajianAwalRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssesmenAwal') {
            customdetailAssesmenAwal2_Detail(index_detail, _this, inputtarget, autofocus);
        }
        //else if ($(_this.target).closest('.detail').attr('id') == 'panel_riwayatobat') {
        //    customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus);
        //}
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhAnak_2') {
            customdetailpengkajianrisikojatuhanak_2(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhDewasa') {
            customdetailpengkajianrisikojatuhdewasa(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRisikoJatuhDewasa_2') {
            customdetailpengkajianrisikojatuhdewasa_2(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiEWS_Dewasa') {
            customdetailewsdewasa(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiEWS_Anak') {
            customdetailewsanak(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailhdperesepanRJ') {
            customdetailperesepanRJ(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiRingkasanMedisRJ') {
            customdetailringkasanmedisRJ(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRiwayatObat') {
            customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detail_ImplementasiAsuhanIGD') {
            customdetailImplementasiAsuhanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPemberianObat_KeperawatanIGD') {
            customdetailPemberianObatKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakan_KeperawatanIGD') {
            customdetailTindakanKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detail_edukasipasien') {
            customdetail_EdukasiPasien_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPKGawatDaruratIIObat') {
            customdetailPengkajianAwal_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTindakanKeperawatan') {
            customdetailTindakKeperawatan_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailObsesKoprehensif') {
            customdetailObsesKoprehensif_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if (_this == 'panel_detailTindakanKeperawatan') {
            customdetailTindakKeperawatan_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiAEWS') {
            customdetailAEWS_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiMEWS') {
            customdetailMEWS_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiPEWS') {
            customdetailPEWS_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiNEWS') {
            customdetailNEWS_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_CETLRIRJ') {
            customdetailCETLRIRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_Knjgpoli') {
            customdetailkjgpoli_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPenatalaksaan') {
            customdetailPenatalaksaanObgin_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssSrfObat') {
            customdetailObatSaraf_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssDalamObat') {
            customdetailObatDalam_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssJantungObat') {
            customdetailObatJantung_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailCttObatDanAlksKmrObat') {
            customdetailCatatanObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailFrmPhtnganIntraoperObat') {
            customdetailCatatanObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailLmbrFormFisioObat') {
            customdetailFisio_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailCttPlyananPsienObat') {
            customdetailRuanganPerawatParaf_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPemerksnapnjngitem') {
            customdetailPemeriksaanPenunjang_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailTndkKedokteranitem') {
            customdetailTindakanKedokteran_Detail(index_detail, _this, inputtarget, autofocus);
        }

        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailVisiteitem') {
            customdetailVisite_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailCatatanTambahanitem') {
            customdetailCatatanTambhan_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailCttPmbrianObtObat') {
            customdetailCatatanObat_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailCatatanParaf_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAssUlngNyriObat') {
            customdetailAssmnUlngNyeriObat_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailAssmnUlngNyeriParaf_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailCttSedasiAnesObat') {
            customdetailSttSedasiAnesObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiPeresepanRJ') {
            customdetailPeresepanRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiCatatanPerkembanganRJ') {
            customdetailCatatanPerkembanganRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiCatatanTranfusiHD') {
            customdetailCatatanTranfusiHD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiPemakaianDializer') {
            customdetailPemakaianDializerDokter_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiResumeTindakanHD') {
            customdetailResumeTindakanHD_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailResumeTindakanPetugasHD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAshnKprwtnObsrvsiHDPelaksaan') {
            customdetailAshnKeperawatanObsrvsiHDPelaksanaan_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailAshnKprwtnObsrvsiHDPmbrianTrapi') {
            customdetailAshnKeperawatanObsrvsiHDTrpiObat_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailAshnKeperawatanObsrvsiHDTrpiPrwt1_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailAshnKeperawatanObsrvsiHDTrpiPrwt2_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiSkalaMorse') {
            customdetailSkalaMorseHD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiProtokolResikoJatuh') {
            customdetailProtokolResikoJatuhHD_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiRiwayatAlergi') {
            customdetailRiwayatAlergi_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiRingkasanMedisRJ1') {
            customdetailRingkasanMedisRJ_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiDaftardokter') {
            customdetailDaftarDokterDPJP_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailDaftarDokterUtamaDPJP_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailFRekonsiliasiObatAlergi') {
            customdetailRekonsiliasiAlergi_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailFRekonsiliasiObatObat') {
            customdetailRekonsiliasiObat_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiEvaluasiKeperawatan') {
            customdetailEvaluasiKeperawatan_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiImplementasi') {
            customdetailImplementasi_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailRcnaPmlngnObat') {
            customdetailRencanaPemulanganPasien_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiHumpty') {
            customdetailHumptyDumpty_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detaiPmbrianTrapi') {
            customdetailAshnKeperawatanObsrvsiHDTrpiObat_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailAshnKeperawatanObsrvsiHDTrpiPrwt1_Detail(index_detail, _this, inputtarget, autofocus);
            customdetailAshnKeperawatanObsrvsiHDTrpiPrwt2_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailPelaksaan') {
            customdetailAshnKeperawatanObsrvsiHDPelaksanaan_Detail(index_detail, _this, inputtarget, autofocus);
        }
        else if ($(_this.target).closest('.detail').attr('id') == 'panel_detailLembarObservasiObat') {
            customdetailPengkajianAwal_HD_Detail(index_detail, _this, inputtarget, autofocus);
        }
    }

    function obatmanualketik(_this) {
        if ($(_this.closest('tr')).find('td:nth-child(5) input[type="checkbox"]').is(':checked')) {
            $(_this.closest('tr')).find('td:nth-child(6) input[type="text"]').removeClass('hidden');
            $(_this.closest('tr')).find('td:nth-child(6) span').addClass('hidden');
        } else {
            $(_this.closest('tr')).find('td:nth-child(6) input[type="text"]').addClass('hidden');
            $(_this.closest('tr')).find('td:nth-child(6) span').removeClass('hidden');
        }
    }

    function customdetail_EdukasiPasien_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detail_edukasipasien #Edukasi_List_' + index_detail + '__Model_Edukator';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function obatmanualketikreadyIGD(index_detail, _this, inputtarget, autofocus) {
        if ($('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual').is(':checked')) {
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual_Ket').removeClass('hidden');
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_NamaObat').next(".select2-container").hide();
        } else {
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_ObatManual_Ket').addClass('hidden');
            $('#DetailGeneralIGD_List_' + index_detail + '__Model_NamaObat').next(".select2-container").show();
        }
    }

    function customdetailTindakanKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailTindakan_KeperawatanIGD #Tindakan_List_' + index_detail + '__Model_NamaDokter';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailPemberianObatKeperawatanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailPemberianObat_KeperawatanIGD #PemberianObat_List_' + index_detail + '__Model_DiberikanOleh';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailRiwayatObat_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailRiwayatObat #RiwayatObat_List_' + index_detail + '__Model_Obat';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailringkasanmedisRJ(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#ProfilRingkasan_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailImplementasiAsuhanIGD_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_implementasiasuhan = '#Asuhan_List_' + index_detail + '__Model_Nama';

        $(_strdokter_implementasiasuhan).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailtindakanasuhankebidananRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_tindakanasuhankebidananRI = '#TidanakanAsuhanKebidananRI_List_' + index_detail + '__Model_NamaDokter';

        $(_strdokter_tindakanasuhankebidananRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailobservasikeseimbangancairan(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_observasikeseimbangancairan = '#ObservasiKeseimbanganCairan_List_' + index_detail + '__Model_TTD_Nama';

        $(_strdokter_observasikeseimbangancairan).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailrencanapemulanganpasienICU(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_rencanapemulanganICU = '#RencanaPemulangan_ICU_RI_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_rencanapemulanganICU).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhanakRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhanakRI = '#Table1_List_' + index_detail + '__Model_Nama';

         $(_strdokter_pengkajianrisikojatuhanakRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailmonitoringpartusRI(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_monitoringpartusRI = '#Detail_List_' + index_detail + '__Model_NamaDokter';

        $(_strdokter_monitoringpartusRI).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });
    }

    function customdetailpengkajianrisikojatuhanak_2(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhanak_2 = '#Table2_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_pengkajianrisikojatuhanak_2).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhdewasa(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhdewasa = '#Table1_List_' + index_detail + '__Model_Nama';

         $(_strdokter_pengkajianrisikojatuhdewasa).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailpengkajianrisikojatuhdewasa_2(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_pengkajianrisikojatuhdewasa_2 = '#Table2_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_pengkajianrisikojatuhdewasa_2).select2({
            ajax: {
                url: "@Url.Action("ListPerawat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaPerawat',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.PerawatID, text: value.NamaPerawat } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailewsanak(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#Anak_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailewsdewasa(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#Dewasa_List_' + index_detail + '__Model_Petugas';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailperesepanRJ(index_detail, _this, inputtarget, autofocus) {
        var _strdokter_spesialis = '#hdperesepanRJ_List_' + index_detail + '__Model_Dokter';

        $(_strdokter_spesialis).select2({
            ajax: {
                url: "@Url.Action("ListSpesialis", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

     function customdetailPengkajianAwalRJ_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobat = '#panel_detailAwalKeperawatanRJ #Detail_List_' + index_detail + '__Model_Obat';

        $(_strobat).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }

    function customdetailAssesmenAwal2_Detail(index_detail, _this, inputtarget, autofocus) {
            var _stdokter = '#panel_detailAssesmenAwal #Detail2_List_' + index_detail + '__Model_Nama';

            $(_stdokter).select2({
            ajax: {
                url: "@Url.Action("ListPerawatAwalKeperawatan", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }
</script>



