﻿@*@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    /**/

    var tableId = $"table_order";
    var item = new EMRPenggajianAwalViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.SectionID);
    column[2] = nameof(item.KodeUrl);
    column[3] = nameof(item.Kode);
    column[4] = nameof(item.Nama);

}*@

<div class="row">
    <div class="col-md-12" style="position:inherit">

        <ul class="nav nav-tabs nav-tabs-solid nav-justified" style="margin-bottom:0px">
            <li class="active"><a data-toggle="tab" href="#divOrderResep" id="PanelOrderResep" onclick="autorefreshlain('table_resep')" class="text-bold">RESEP OBAT</a></li>
            <li><a data-toggle="tab" href="#divOrderPenunjang" id="PanelOrderPenunjang" onclick="autorefreshlain('table_memopenunjang')" class="text-bold">PENUNJANG MEDIS</a></li>
        </ul>

        <div class="tab-content" style="border-top:none">
            <div id="divOrderResep" class="tab-pane active fade in">
                @Html.Partial("ListResep")
            </div>
            <div id="divOrderPenunjang" class="tab-pane">
                @Html.Partial("ListMemoPenunjang")
            </div>
        </div>
    </div>
</div>

<!--  Modal Peringatan 30 hari  -->
<div class="modal fade" id="modal_notice30" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="">
                        <div class="">
                            <div class="form-group">
                                <h1 class="control-label col-md-12" id="d_data_hasil" style="text-align:center;"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-md-2 col-md-offset-10" onclick="tutupmodalperingatan()">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  Ajax Cek Pasien Kronis  -->
<script type="text/javascript">

    $(document).ready(function () {
        var tipepelayanan = '@Request.Cookies["TipePelayanan"].Value';
        var section = '@Request.Cookies["SectionIDPelayanan"].Value';
        //if (tipepelayanan == 'RJ' && section != 'SEC002') {
        //    getdata_pasienkronis();
        //}

    });

    function getdata_pasienkronis() {
        var nrm = '@Model.NRM';
        var noreg = $('#NoReg').val();
         myajax({
            url: '@Url.Action("GetDataPASIENKRONIS", "MedicalRecord")',
            data: {
                nrm: '@Model.NRM',
                sectionid: $('#SectionID').val(),
                noreg: $('#NoReg').val()
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    if (dt.Data.JenisPasien == "Kronis" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        bukamodalperingatan();
                        $('#d_data_hasil').html(dt.Data.Message);
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    }
                    else if (dt.Data.JenisPasien == "Akut" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        bukamodalperingatan();
                        $('#d_data_hasil').html(dt.Data.Message);
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM == nrm && dt.Data.NoReg != noreg) {
                        $('#divpoli').addClass('hidden');
                        $('#d_form_awalkeperawatan').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM != nrm && dt.Data.NoReg != noreg) {
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    } else if (dt.Data.JenisPasien == "" && dt.Data.NRM == nrm && dt.Data.NoReg == noreg) {
                        $('#CPPT_Tipe').attr('disabled', true);
                        $('#btnsimpansoap').addClass('hidden');
                    }


                }
            }
        });

    }
</script>

<!--  Ajax Get Data Jenis Pasien  -->
@*<script>
        function  {
            if ($('.JenisPasien').val() == "" || $('.JenisPasien').val() == null) {
                 myajax({
                    url: '@Url.Action("GetDataJENISPASIEN", "MedicalRecord")',
                    data: {
                        noreg: $("#NoReg").val(),
                        sectionid: $("#SectionID").val()
                    },
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (dt) {
                        if (dt.IsSuccess) {
                            $('.JenisPasien').val(dt.Data.JenisPasien);
                            if (dt.Data.Informasi_Autoanamnesis == true) {
                                $('.Autoanamnesis').prop('checked', true);
                            } else {
                                $('.Autoanamnesis').prop('checked', false);
                            }
                            if (dt.Data.Informasi_Alloanamnesis == true) {
                                $('.Alloanamnesis').prop('checked', true);
                            } else {
                                $('.Alloanamnesis').prop('checked', false);
                            }
                            $('.HubunganPasien').val(dt.Data.Informasi_Alloanamnesis_HubunganPasien);
                            $('.Nama').val(dt.Data.Informasi_Alloanamnesis_Nama);
                            $('.TekananDarah').val(dt.Data.TandaVital_TekananDarah);
                            $('.Nadi').val(dt.Data.TandaVital_Nadi);
                            $('.Suhu').val(dt.Data.TandaVital_Suhu);
                            $('.Respirasi').val(dt.Data.TandaVital_Respirasi);

                        }
                        else {
                            //alertpopup("Data tidak ditemukan", 'info');
                        }
                    }
                });
            }
        }
    </script>*@


<script>

    function tutupmodalperingatan() {
        $('#modal_notice30').modal('hide');
    }

    function bukamodalperingatan() {
        $('#modal_notice30').modal();
    }

    function customaddrowdetail(index_detail, _this, inputtarget, autofocus) {
        if ($(_this.target).closest('.detail').attr('id') == 'panel_detailpemeriksaan') {
            customdetailpemeriksaan(index_detail, _this, inputtarget, autofocus);
        }
    }

</script>



