﻿﻿@using iHos.MVC.Converter
@using EMRRSBK.Models
@model RegistrasiPasienViewModel
@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = "Electronik Medical Record";
    var tableId = $"table_{controllerName}_cppt";
    var item = new SOAPViewModel();
    var columnCount = 30;
    var column = new string[columnCount];
    column[0] = nameof(item.No);
    column[1] = nameof(item.NoReg);
    column[2] = nameof(item.SectionID);
    column[3] = nameof(item.SectionName);
    column[4] = nameof(item.NamaDOkter);
    column[5] = nameof(item.Jam);
    column[6] = nameof(item.Soap_S);
    column[7] = nameof(item.Soap_O);
    column[8] = nameof(item.Soap_A);
    column[9] = nameof(item.Soap_P);
    column[10] = nameof(item.Instruksi);
    column[11] = nameof(item.Profesi);
    column[12] = nameof(item.Jam_View);
    column[13] = nameof(item.DokterID);
    column[14] = nameof(item.Tanggal);
    column[15] = nameof(item.Tanggal_View);
    column[16] = nameof(item.PetugasBacaUlang);
    column[17] = nameof(item.PetugasBacaUlangNama);
    column[18] = nameof(item.PetugasKonfirmasi);
    column[19] = nameof(item.PetugasKonfirmasiNama);
    column[20] = nameof(item.MenyerahkanPasien);
    column[21] = nameof(item.MenyerahkanPasienNama);
    column[22] = nameof(item.MenerimaPasien);
    column[23] = nameof(item.MenerimaPasienNama);
    column[24] = nameof(item.TanggalBacaUlang_View);
    column[25] = nameof(item.TanggalKonfirmasi_View);
    column[26] = nameof(item.Kritis);
    column[27] = nameof(item.VerifikasiDPJP);

    var CPPT = new SOAPViewModel();

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("TableSOAP","MedicalRecord")';
     init();
     filter[0] = '@Model.NoReg';
     filter[1] = '@Model.NRM';
     sort = '@column[0]';
     sorttype = 'desc';
     getdatas();
     ">

    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        .cppt-yellow {
            background: #fbf1a7;
        }

        .cppt-blue {
            background: #a7d8fb;
        }

        .table-custom {
            width: 100%;
        }

            .table-custom tr td {
                padding: 10px 0;
            }

        .list-assesmencppt {
            height: 1200px;
            overflow-y: scroll;
        }

        div.polaroid {
            border-radius: 8px;
            width: 20%;
            background-color: #f3f0f0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img {
            width: 100%
        }

        div.container {
            text-align: left;
            padding: 10px 67px;
        }
    </style>

    <div class="row" id="panelfullscreenfrmcppt">
        <div class="col-md-6">

            <div class="panel">

                <div class="panel-body">
                    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="sumitFrmCPPT(this)">

                        <input type="hidden" id="@nameof(CPPT.No)" name="@nameof(CPPT.No)" value="@(CPPT.No)" />
                        <input type="hidden" id="_METHOD" name="_METHOD" value="CREATE" />
                        <input type="hidden" id="@nameof(Model.DokterID)" name="@nameof(Model.DokterID)" value="@(Model.DokterID)" />
                        <input type="hidden" id="@nameof(Model.NamaDOkter)" name="@nameof(Model.NamaDOkter)" value="@(Model.NamaDOkter)" />
                        <input type="hidden" id="@nameof(Model.NoReg)" name="@nameof(Model.NoReg)" value="@(Model.NoReg)" />
                        <input type="hidden" id="@nameof(Model.NRM)" name="@nameof(Model.NRM)" value="@(Model.NRM)" />
                        <input type="hidden" id="@nameof(Model.CPPT.VerifikasiDPJP)" name="@nameof(Model.CPPT.VerifikasiDPJP)" value="@(Model.CPPT.VerifikasiDPJP)" />
                        @*<input type="hidden" id="@nameof(Model.TTDCPPT)" name="@nameof(Model.TTDCPPT)" value="@(Model.TTDCPPT)" />*@
                        @*<input type="hidden" id="@nameof(Model.Soap_OGambar)" name="@nameof(Model.Soap_OGambar)" value="@(Model.Soap_OGambar)" />*@
                        <input type="hidden" readonly id="Profesi" name="Profesi" value="" />

                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="date" class="input-xs form-control" id="Tanggal" name="Tanggal" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-5">
                                <input type="time" class="input-xs form-control" id="Jam" name="Jam" value="@DateTime.Now.ToString("HH:mm")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <select class=" form-control" id="DPJP" name="DPJP" value="">
                                </select>
                            </div>
                            <div class="col-md-2 text-right">
                                <a id="tombolverifikasi" class="btn-xs btn border-danger text-danger btn-flat btn-icon" onclick="verifikasiCPPT('DPJP','@nameof(Model.CPPT.VerifikasiDPJP)')"> <i class="icon-checkmark-circle"></i></a>
                            </div>
                            @*<div class="col-md-5">
            <select class=" form-control" id="Template" name="Template" value="" onchange="selectTemplate()">
                    <option></option>
                    @foreach (var x in StaticModel.SelectListTemplateCPPT)
                    {
                        @:<option value="@x.Value">@x.Text</option>
                    }
                </select>
            @Html.DropDownListFor(model => model.Template, new List<SelectListItem>() {
           new SelectListItem(){ Text = ViewBag.Template, Value = ViewBag.Template, Selected = true }
            }, new { @class = "form-control", onchange = "selectTemplate()" })
        </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label no-margin text-primary h3">
                                <strong>S</strong>
                            </label>
                            <div class="col-md-11">
                                <textarea id="Soap_S" name="Soap_S" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label no-margin text-danger h3">
                                <strong>O</strong>
                            </label>
                            <div class="col-md-11">
                                <textarea id="Soap_O" name="Soap_O" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label no-margin text-success h3">
                                <strong>A</strong>
                            </label>
                            <div class="col-md-11">
                                <textarea id="Soap_A" name="Soap_A" class="form-control" rows="3"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label no-margin text-warning h3">
                                <strong>P</strong>
                            </label>
                            <div class="col-md-11">
                                <textarea id="Soap_P" name="Soap_P" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1">
                                <label class="text-semibold text-teal-700 h6">Intruksi</label>
                            </div>
                            <div class="col-md-11">
                                <ul class="icons-list pull-right">
                                    <li class="">
                                        <a @*class="cursor-pointer @(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")"*@ ng-click="$parent.ajaxmodal({
                                                url: '@Url.Action("showRiwayat", "MedicalRecord", new { noreg = Model.NoReg })',
                                                header: 'Riwayat Hasil',
                                                })">
                                            <label style="margin-top: 15px; margin-right: 10px;" class="text-semibold"><i class="icon-history position-right"></i> Hasil LAB & RAD</label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("Create", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                    header: 'Non Racik',
                                                    target_auto_refresh : '@tableId'
                                                })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                            <label style="margin-top: 15px;" class="text-semibold"><i class="icon-add position-right"></i> Non Racik</label>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a ng-click="$parent.ajaxmodal({
                                                    url: '@Url.Action("CreateNonRacik", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                    header: 'Racik',
                                                    target_auto_refresh : '@tableId'
                                                })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                            <label style="margin-top: 15px;" class="text-semibold"><i class="icon-add position-right"></i> Racik</label>
                                        </a>
                                    </li>
                                    @*<li class="">
                                            <a ng-click="$parent.ajaxmodal({
                                                        url: '@Url.Action("CreateOptik", "OrderResep", new { noreg = Model.NoReg, section = Model.SectionID, nrm = Model.NRM, poliklinik = "1", thiss = "" })',
                                                        header: 'Optik',
                                                        target_auto_refresh : '@tableId'
                                                    })" class="@(Model.StatusBayar == "Sudah Bayar" ? "disabled" : "")">
                                                <label style="margin-top: 5px;" class="text-semibold"><i class="icon-add position-right"></i> Optik</label>
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="Instruksi" name="Instruksi" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="checkbox" name="Kritis" id="Kritis" /> Kritis
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-12 text-bold text-teal-800 h6">SERAH TERIMA PASIEN</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Menyerahkan</label>
                            <div class="col-md-8">
                                <select class=" form-control" id="MenyerahkanPasien" name="MenyerahkanPasien" value=""></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Menerima</label>
                            <div class="col-md-8">
                                <select class=" form-control" id="MenerimaPasien" name="MenerimaPasien" value=""></select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-12 text-bold text-teal-800 h6">TULIS BACA ULANG</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-bold text-semibold text-teal-700">Tanggal Baca Ulang</label>
                            <div class="col-md-8">
                                <input type="date" class="input-xs form-control" id="TanggalBacaUlang" name="TanggalBacaUlang" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-bold text-semibold text-teal-700">Jam Baca Ulang</label>
                            <div class="col-md-8">
                                <input type="time" class="input-xs form-control" id="JamBacaUlang" name="TanggalBacaUlang" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Petugas</label>
                            <div class="col-md-8">
                                <select class=" form-control" id="PetugasBacaUlang" name="PetugasBacaUlang" value=""></select>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-12 text-bold text-teal-800 h6">KONFIRMASI</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Tanggal Konfirmasi</label>
                            <div class="col-md-8">
                                <input type="date" class="input-xs form-control" id="TanggalKonfirmasi" name="TanggalKonfirmasi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Jam Konfirmasi</label>
                            <div class="col-md-8">
                                <input type="time" class="input-xs form-control" id="JamKonfirmasi" name="TanggalKonfirmasi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label text-semibold text-teal-700">Petugas</label>
                            <div class="col-md-8">
                                <select class=" form-control" id="PetugasKonfirmasi" name="PetugasKonfirmasi" value=""></select>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-6" style="position:inherit">
                                    <div class="col-md-1">
                                        <div class="form-group" style="position:inherit">
                                            <div class="text-center">
                                                <img crossorigin="anonymous" id="IMG_@nameof(Model.TTDCPPT)" name="IMG_@nameof(Model.TTDCPPT)" src="~/Theme/images/TandaTangan.png" width="1%" style="border:1px solid #ccc" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    <a class="btn btn-primary btn-sm @(Model.TTDCPPT != null ? "btn-flash" : "")" onclick="clickgambar1()">Tanda Tangan</a>
                                    <a class="btn btn-danger btn-sm" onclick="ulanggambar1()">Ulang</a>
                                </div>
                            </div>*@
                        <div class="form-group">
                            @*<div class="col-md-3">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="saveTemplate" value="" id="saveTemplate" onclick="readTemplateName()" /> Save Template
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" readonly id="templateName" name="templateName" value="" />
                                </div>*@
                            <div class="col-md-12 text-right">
                                <button type="reset" class="btn btn-default">Reset </button>
                                <button id="submitcppt" type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-flat" style="margin-bottom: 10px;">
                <div class="panel-heading" style=" padding-top: 14px; padding-bottom: 14px;">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="icons-list pull-left">
                                <li><a href="@Url.Action("ExportPDFCPPT","MedicalRecord")?nrm=@Model.NRM" target="_blank"><i class="icon-printer position-left"></i> </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="icons-list pull-right">
                                <li><a id="reloadfrmcppt" ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-assesmencppt" id="@tableId">
                <div class="row {{ loading ? '' : 'hide' }}">
                    <div class="col-md-12">
                        <div class="loading {{ loading ? '' : 'hide' }}">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row {{ loading ? 'hide' : '' }}">
                    <div class="col-md-12" ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <div class="panel panel-body" ng-class="['cppt-yellow', 'cppt-blue'][$index % 2]">
                            <div class="row">
                                <div class="col-md-7">
                                    <h6 class="text-slate-700 text-semibold no-padding no-margin"><i class="icon-crown position-left"></i> {{ data.@(column[4]) }}</h6>
                                    <p ng-if="data.@(column[11])!=null" class="text-muted"><i class="icon-briefcase3 position-left"></i> {{ data.@(column[11]) }}</p>
                                    <p ng-if="data.@(column[11])==null" class="text-muted"><i class="icon-briefcase3 position-left"></i> Dokter</p>
                                </div>
                                <div class="col-md-5 text-right">
                                    <h6 class="text-slate-700 text-semibold no-padding no-margin">{{ data.@(column[15]) }} <i class="icon-calendar2 position-right"></i></h6>
                                    <p class="text-muted">{{ data.@(column[3]) }} <i class="icon-pin position-right"></i></p>
                                </div>
                            </div>

                            <table class="table-custom">
                                <tr>
                                    <td colspan="5" style="vertical-align: top; ">
                                        <h5 ng-if="data.@(column[27])==true" style="border-style: dotted;" class="text-center no-margin text-success-600"><strong>TERVERIFIKASI</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top; width:100px;">
                                        <h3 class="no-margin text-primary"><strong>S</strong></h3>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[6])">{{ data.@(column[6]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-danger"><strong>O</strong></h3>
                                    </td>
                                    <td colspan="3">{{ data.@(column[7]) }}</td>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-success"><strong>A</strong></h3>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[8])">{{ data.@(column[8]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top;">
                                        <h3 class="no-margin text-warning"><strong>P</strong></h3>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[9])">
                                        <p>{{ data.@(column[9]) }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; ">
                                        <h5 class="no-margin text-slate-400"><strong>INTRUKSI</strong></h5>
                                    </td>
                                    <td colspan="3" ng-bind-html="data.@(column[10])">{{ data.@(column[10]) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="vertical-align: top; ">
                                        <h5 ng-if="data.@(column[26])==true" style="border-style: dotted;" class="text-center no-margin text-pink-600"><strong>PASIEN KRITIS</strong></h5>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #999;">
                                <tr>
                                    <td colspan="4" style="vertical-align: top;">
                                        <h5 class="no-margin text-slate-700"><strong>SERAH TERIMA PASIEN</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <strong class="text-slate-700">MENYERAHKAN </strong>
                                    </td>
                                    <td><i class="icon-arrow-right7 position-left text-slate-400"></i></td>
                                    <td colspan="3" ng-bind-html="data.@(column[21])">{{ data.@(column[21]) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <strong class="text-slate-700">MENERIMA</strong>
                                    </td>
                                    <td><i class="icon-arrow-right7 position-left text-slate-400"></i></td>
                                    <td colspan="2" ng-bind-html="data.@(column[23])">{{ data.@(column[23]) }}</td>
                                </tr>
                                <tr style="border-bottom: 1px solid #999;">
                                <tr>
                                    <td colspan="4" style="vertical-align: top;">
                                        <h5 class="no-margin text-slate-700"><strong>TULIS BACA ULANG</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <strong class="text-slate-700">Petugas</strong>
                                    </td>
                                    <td><i class="icon-arrow-right7 position-left text-slate-400"></i></td>
                                    <td colspan="2" ng-bind-html="data.@(column[17])">{{ data.@(column[17]) }} ( {{ data.@(column[25]) }} )</td>
                                    <td><i class="icon-calendar position-left text-slate-400"></i> {{ data.@(column[24]) }} </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #999;">
                                <tr>
                                    <td colspan="4" style="vertical-align: top;">
                                        <h5 class="no-margin text-slate-700"><strong>KONFIRMASI</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <strong class="text-slate-700">Petugas</strong>
                                    </td>
                                    <td><i class="icon-arrow-right7 position-left text-slate-400"></i></td>
                                    <td colspan="2" ng-bind-html="data.@(column[19])">{{ data.@(column[19]) }} </td>
                                    <td> <i class="icon-calendar position-left text-slate-400"></i> {{ data.@(column[25]) }} </td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button onclick="copyCPPT(this)" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-primary text-primary btn-flat btn-icon btn-rounded">
                                        <i class="icon-copy"></i>
                                    </button>

                                    <span @*ng-if="data.Edit=='1'"*@>
                                        <button onclick="editCPPT(this)" data-target-id="{{data.@column[0]}}" type="button" class="btn-xs btn border-success text-success btn-flat btn-icon btn-rounded">
                                            <i class="icon-pencil7"></i>
                                        </button>
                                        <button ng-click="delete(data.@column[0], '@Url.Action("Batal","CPPT")')" @*ng-if="!data.@(column[11])"*@ type="button" class="btn-xs btn border-danger text-danger btn-flat btn-icon btn-rounded"><i class="icon-trash"></i></button>
                                    </span>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="ModalVerikasiFormCPPT" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="CheckCPPT(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverifcppt()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ModalYaTidakCPPT" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="" method="post" class="form-horizontal" autocomplete="off">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Data Belum TERVERIFIKASI</h4>
                    <h4 class="modal-title">Apakah ingin menyimpan transaksi ini ?</h4>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button onclick="simpan2cppt()" type="submit" class="btn btn-primary">Ya <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closesimpancppt()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<style>
    .btn-flash {
        background-color: #0ab9a9 !important;
        animation: blinker 1s linear infinite;
        transition: background-color .5s linear !important;
    }

    @@keyframes blinker {
        50% {
            fill: #21c7ed;
            opacity: 0.7;
            -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
        }
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        line-height: 1.5;
        padding: 15px 15px 30px;
        border-radius: 3px;
        border: 1px solid #F7E98D;
        transition: box-shadow 0.5s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        font-smoothing: subpixel-antialiased;
    }
</style>

<script>
        document.onkeydown = function () {
            if ($("#cpptlist").attr('aria-expanded') == 'true') {
                if (window.event.keyCode == '13') {
                    if ($('#Soap_S').is(":focus")) {
                        document.getElementById("Soap_S").value = document.getElementById("Soap_S").value ;
                    } else if ($('#Soap_O').is(":focus")) {
                        document.getElementById("Soap_O").value = document.getElementById("Soap_O").value ;
                    } else if ($('#Soap_A').is(":focus")) {
                        document.getElementById("Soap_A").value = document.getElementById("Soap_A").value ;
                    } else if ($('#Soap_P').is(":focus")) {
                        document.getElementById("Soap_P").value = document.getElementById("Soap_P").value ;
                    } else if ($('#Instruksi').is(":focus")) {
                        document.getElementById("Instruksi").value = document.getElementById("Instruksi").value ;
                    }
                    else {
                        $('#submitcppt').click();
                    }
                }
            }
        }

    function verifikasiCPPT(namapetugas, verifnama) {
        var dokter = $('#' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiFormCPPT #dokter').val(dokter);
        $('#ModalVerikasiFormCPPT #username').val(username);
        $('#ModalVerikasiFormCPPT #userid').val(userid);
        $('#ModalVerikasiFormCPPT #namaverifikasi').val(verifnama);
        $('#ModalVerikasiFormCPPT').modal();
    }

    function CheckCPPT(tthis) {
        cekverifikasicppt(tthis[0].value, tthis[3].value);
    }

    function cekverifikasicppt(doktercppt, nameverifikasi) {
        if (doktercppt == null || doktercppt == "" || doktercppt == undefined) {
            alertpopup("Tentukan Dokter Terlebih Dahulu", 'danger');
        }
        else {
            alertpopup("Berhasil Verifikasi", 'success');
            $('#' + nameverifikasi).val(true);
            $('#ModalVerikasiFormCPPT').modal('hide');
            if ($('.modal.in').length > 0) {
                $('#ModalVerikasiFormCPPT').on('hidden.bs.modal', function (e) {
                    $('body').addClass('modal-open');
                })
            }


            @*$.ajax({
                url: '@Url.Action("CekVerifikasiUser", "Verifikasi")',
                data: {
                    dokter: doktercppt
                },
                method: 'GET',
                dataType: 'JSON',
                success: function (dt) {
                    if (!dt.IsSuccess)
                        alertpopup(dt.Message, 'info');
                    else {
                        alertpopup("Berhasil Verifikasi", 'success');
                        //console.log($('#' + nameverifikasi).val(dt.Data));
                        $('#' + nameverifikasi).val(true);
                        $('#ModalVerikasiFormCPPT').modal('hide');
                        if ($('.modal.in').length > 0) {
                            $('#ModalVerikasiFormCPPT').on('hidden.bs.modal', function (e) {
                                // do something...
                                $('body').addClass('modal-open');
                            })
                        }
                    }
                }
            });*@
        }
    }

    function closesimpancppt() {
        if ($('.modal.in').length > 0) {
            $('#ModalYaTidakCPPT').on('hidden.bs.modal', function (e) {
                // do something...
                //$('body').addClass('modal-open');
            })
        }
    }

    function closeverifcppt() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function simpan2cppt() {
        $('#btnsave').click();
    }

    var data = {
        id: $('#DokterID').val(),
        text: $('#NamaDOkter').val()
    };
    var newOption = new Option(data.text, data.id, true, true);
    $('#fm_cppt_create #DPJP').append(newOption).trigger('change');

    generalDokter("#fm_cppt_create #DPJP");
    generalDokter("#fm_cppt_create #PetugasBacaUlang");
    generalDokter("#fm_cppt_create #PetugasKonfirmasi");
    generalDokter("#fm_cppt_create #MenyerahkanPasien");
    generalDokter("#fm_cppt_create #MenerimaPasien");

    //$('#fm_cppt_create #DPJP').on('select2:select', function (e) {
    //    var data = e.params.data;
    //    var dokter = $('#fm_cppt_create #DPJP').val()
    //    getProfesiCPPT(dokter);
    //});

    $("#Template").select2();

    function readTemplateName() {
        if ($("#saveTemplate").is(":checked")) {
            $("#templateName").attr("readonly", false);
        } else {
            $("#templateName").attr("readonly", true);
        }
    }

    function getAllResep() {
        $("#refreshCPPT").find(".icon-sync").addClass("spinner");

        $.ajax({
            url: '@Url.Action("getListObat", "CPPT")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $("#fm_cppt_create #Soap_P").val(dt.Data);

                    var p = document.getElementById("Soap_P");

                    if (p.value != '') {
                        $("#Soap_P").height(0);
                        $("#Soap_P").height(p.scrollHeight);
                    }

                    autofocusCPPT();

                    $("#refreshCPPT").find(".icon-sync").removeClass("spinner");
                }
            }
        });
    }

    function getProfesiCPPT(idslc2) {
        $.ajax({
            url: '@Url.Action("get_profesi", "CPPT")',
            data: {
                dokter: idslc2
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #Profesi').val(dt.Data);
                }
            }
        });
    }

    function selectTemplate() {
        var temp = $("#Template").val();

        $.ajax({
            url: '@Url.Action("tempCPPT", "CPPT")',
            data: {
                id: temp
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #@nameof(CPPT.Soap_S)').val(dt.Data.@nameof(CPPT.Soap_S));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_O)').val(dt.Data.@nameof(CPPT.Soap_O));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_A)').val(dt.Data.@nameof(CPPT.Soap_A));
                    var PP = $('#fm_cppt_create #@nameof(CPPT.Soap_P)').val();
                    $('#fm_cppt_create #@nameof(CPPT.Soap_P)').val(PP + dt.Data.@nameof(CPPT.Soap_P));
                    $('#fm_cppt_create #@nameof(CPPT.Instruksi)').val(dt.Data.@nameof(CPPT.Instruksi));

                }
            }
        });
    }

    function copyCPPT(tthis) {
        $.ajax({
            url: '@Url.Action("copyCPPT", "CPPT")',
            data: {
                id: $(tthis).data('target-id')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess)
                    alertpopup("Data tidak ditemukan", 'info');
                else {
                    $('#fm_cppt_create #@nameof(CPPT.Soap_S)').val(dt.Data.@nameof(CPPT.Soap_S));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_O)').val(dt.Data.@nameof(CPPT.Soap_O));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_A)').val(dt.Data.@nameof(CPPT.Soap_A));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_P)').val(dt.Data.@nameof(CPPT.Soap_P));
                    $('#fm_cppt_create #@nameof(CPPT.Instruksi)').val(dt.Data.@nameof(CPPT.Instruksi));
                    @*$('#IMG_@nameof(Model.TTDCPPT)').attr('src', 'data:image/jpeg;base64, ' + dt.Data.@nameof(CPPT.TTDCPPT));
                    $('#IMG_@nameof(Model.Soap_OGambar)').attr('src', 'data:image/jpeg;base64, ' + dt.Data.@nameof(CPPT.Soap_OGambar));*@


                    alertpopup("Copying success", 'success');
                }
            }
        });
    }

    function editCPPT(tthis) {
        $.ajax({
            url: '@Url.Action("editCPPT", "CPPT")',
            data: {
                id: $(tthis).data('target-id')
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("Data tidak ditemukan", 'info');
                }
                else {
                    $('#fm_cppt_create #@nameof(CPPT._METHOD)').val("UPDATE");
                    $('#fm_cppt_create #@nameof(CPPT.No)').val(dt.Data.@nameof(CPPT.No));
                    $('#fm_cppt_create #@nameof(CPPT.Jam)').val(dt.Data.@(nameof(CPPT.Jam))_View);
                    $('#fm_cppt_create #@nameof(CPPT.Tanggal)').val(dt.Data.@(nameof(CPPT.Tanggal))_View);
                    $('#fm_cppt_create #@nameof(CPPT.Profesi)').val(dt.Data.@nameof(CPPT.Profesi));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_S)').val(dt.Data.@nameof(CPPT.Soap_S));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_O)').val(dt.Data.@nameof(CPPT.Soap_O));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_A)').val(dt.Data.@nameof(CPPT.Soap_A));
                    $('#fm_cppt_create #@nameof(CPPT.Soap_P)').val(dt.Data.@nameof(CPPT.Soap_P));
                    $('#fm_cppt_create #@nameof(CPPT.Instruksi)').val(dt.Data.@nameof(CPPT.Instruksi));
                    $('#fm_cppt_create #@nameof(CPPT.Kritis)').prop('checked', dt.Data.Kritis);
                    @*$('#IMG_@nameof(Model.TTDCPPT)').attr('src', '/Theme/images/TandaTangan.png');
                    $('#IMG_@nameof(Model.Soap_OGambar)').attr('src', 'data:image/jpeg;base64, ' + dt.Data.@nameof(CPPT.Soap_OGambar));*@

                    var newOption = new Option(dt.Data.@nameof(CPPT.DPJPNama), dt.Data.@nameof(CPPT.DPJP), true, true);
                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').append(newOption).trigger('change');

                    var newOption1 = new Option(dt.Data.@nameof(CPPT.MenyerahkanPasienNama), dt.Data.@nameof(CPPT.MenyerahkanPasien), true, true);
                    $('#fm_cppt_create #@nameof(CPPT.MenyerahkanPasien)').append(newOption1).trigger('change');

                    var newOption2 = new Option(dt.Data.@nameof(CPPT.MenerimaPasienNama), dt.Data.@nameof(CPPT.MenerimaPasien), true, true);
                    $('#fm_cppt_create #@nameof(CPPT.MenerimaPasien)').append(newOption2).trigger('change');

                    var newOption3 = new Option(dt.Data.@nameof(CPPT.PetugasBacaUlangNama), dt.Data.@nameof(CPPT.PetugasBacaUlang), true, true);
                    $('#fm_cppt_create #@nameof(CPPT.PetugasBacaUlang)').append(newOption3).trigger('change');

                    var newOption4 = new Option(dt.Data.@nameof(CPPT.PetugasKonfirmasiNama), dt.Data.@nameof(CPPT.PetugasKonfirmasi), true, true);
                    $('#fm_cppt_create #@nameof(CPPT.PetugasKonfirmasi)').append(newOption4).trigger('change');

                    $('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.Soap_S)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.Soap_O)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.Soap_A)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.Soap_P)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.Instruksi)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.MenerimaPasien)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.MenyerahkanPasien)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.PetugasBacaUlang)').css("background", "#fbf1a7");
                    $('#fm_cppt_create #@nameof(CPPT.PetugasKonfirmasi)').css("background", "#fbf1a7");

                    if (dt.Data.VerifikasiDPJP) {
                        $('#tombolverifikasi').addClass('btn-flash');
                        $('#fm_cppt_create #@nameof(CPPT.VerifikasiDPJP)').val(true);
                    } else {
                        $('#tombolverifikasi').removeClass('btn-flash');
                        $('#fm_cppt_create #@nameof(CPPT.VerifikasiDPJP)').val(false);
                    }

                    alertpopup("Form edit CPPT "+ dt.Data.@nameof(CPPT.No), 'success');
                }
            }
        });
    }

    function sumitFrmCPPT(tthis) {
        $('#_loading').css('display', '');

        var dokter = $("#fm_cppt_create").find("#DPJP").val();
        if (dokter == null || dokter == '') {
            alertpopup("Dokter DPJP tidak boleh kosong,", 'info');
            $('#_loading').css('display', 'none');
            return;
        }

        if ($("#saveTemplate").is(":checked")) {
            if ($("#templateName").val() == "" || $("#templateName").val() == null) {
                alertpopup("Nama Template tidak boleh kosong.", 'info');
                $('#_loading').css('display', 'none');
                return;
            }
        }

        var kritisget = $("#Kritis").is(":checked");
        @*var section = "@Request.Cookies["EMRSectionNamaPelayanan"].Value";
        if (section == "POLI ORTHOPEDI") {
            var ximg_Gambar1 = $('#IMG_@nameof(Model.Soap_OGambar)');
            iGambar = new iPainter_V2(ximg_Gambar1);
            convert = iGambar.convert_V2('Soap_OGambar');
        } else {
            convert = $('#IMG_@nameof(Model.Soap_OGambar)').attr('src');
            var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDCPPT)');
            iGambar2 = new iPainter_V2(ximg_Gambar2);
            convert2 = iGambar2.convert_V2('TTDCPPT');
        }*@
        $.ajax({
            url: '@Url.Action("SecondCreate", "CPPT")',
            data:
                $(tthis).serialize() + "&kritisget=" + kritisget,
            method: 'POST',
            dataType: 'JSON',
            success: function (dt) {
                if (!dt.IsSuccess) {
                    alertpopup("CPPT gagal disimpan.", 'info');
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();

                    $('#_loading').css('display', 'none');
                }else {
                    alertpopup("CPPT berhasil disimpan.", 'success');
                    $('#fm_cppt_create #@nameof(CPPT._METHOD)').val("CREATE");
                    $('#VerifikasiDPJP').val(false);
                    resetFrmCPPT(tthis);
                    $("#reloadfrmcppt").click();
                    $('#_loading').css('display', 'none');
                }
                $('#fm_cppt_create #@nameof(CPPT.DPJP)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.Soap_S)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.Soap_O)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.Soap_A)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.Soap_P)').css("background", "#fff");
                $('#fm_cppt_create #@nameof(CPPT.Instruksi)').css("background", "#fff");
                $('#tombolverifikasi').removeClass('btn-flash');
            }
        });
    }

    function resetFrmCPPT(tthis) {
        $(tthis).trigger("reset");
        $(tthis).find("#DPJP").val('').trigger('change');
        $(tthis).find("#PetugasBacaUlang").val('').trigger('change');
        $(tthis).find("#PetugasKonfirmasi").val('').trigger('change');
        $(tthis).find("#MenyerahkanPasien").val('').trigger('change');
        $(tthis).find("#MenerimaPasien").val('').trigger('change');
    }

    $('#Template').select2({
        ajax: {
            url: "@Url.Action("ListTamplet", "CPPT")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaTemplate',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', ''],
                    dokumenid : 'CPPT'
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.NamaTemplate, text: value.NamaTemplate } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>

<script>

    // The speech recognition interface lives on the browser’s window object
    //const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition; // if none exists -> undefined

    //if (SpeechRecognition) {
    //    console.log("Your Browser supports speech Recognition");

    //    const recognition = new SpeechRecognition();
    //    recognition.continuous = true;
    //    recognition.interimResults = true;
    //    // recognition.lang = "en-US";

    //    var searchForm = document.querySelector("#fm_cppt_create");
    //    var searchFormInput = "";
    //    var info = document.querySelector(".info");

    //    var micBtn = "";
    //    var micIcon = "";

    //    var micOn = 0;

    //    function micBtnClick(micBtn_param, searchFormInput_param) {

    //        if (micOn == 0) {
    //            micBtn = searchForm.querySelector(micBtn_param);
    //            micIcon = micBtn.firstElementChild;

    //            searchFormInput = searchForm.querySelector(searchFormInput_param);

    //            if (micIcon.classList.contains("icon-mic2")) { // Start Voice Recognition
    //                recognition.start(); // First time you have to allow access to mic!
    //                micOn = 1;
    //            }
    //            else {
    //                recognition.stop();
    //                micOn = 0;
    //            }
    //        } else {
    //            recognition.stop();
    //            micOn = 0;
    //        }
    //    }

    //    recognition.addEventListener("start", startSpeechRecognition); // <=> recognition.onstart = function() {...}
    //    function startSpeechRecognition() {
    //        micIcon.classList.remove("icon-mic2");
    //        micIcon.classList.add("icon-mic-off2");
    //        searchFormInput.focus();
    //        console.log("Voice activated, SPEAK");
    //    }

    //    recognition.addEventListener("end", endSpeechRecognition); // <=> recognition.onend = function() {...}
    //    function endSpeechRecognition() {
    //        micIcon.classList.remove("icon-mic-off2");
    //        micIcon.classList.add("icon-mic2");
    //        searchFormInput.focus();
    //        console.log("Speech recognition service disconnected");
    //    }

    //    recognition.addEventListener("result", resultOfSpeechRecognition); // <=> recognition.onresult = function(event) {...} - Fires when you stop talking
    //    function resultOfSpeechRecognition(event) {
    //        const current = event.resultIndex;
    //        const transcript = event.results[current][0].transcript;


    //        var interim_transcript = "";
    //        var final_transcript = "";
    //        for (let i = event.resultIndex; i < event.results.length; ++i) {
    //            if (event.results[i].isFinal) {
    //                final_transcript += event.results[i][0].transcript;
    //            } else {
    //                interim_transcript += event.results[i][0].transcript;
    //            }
    //        }
    //        info.textContent = interim_transcript;

    //        if (transcript.toLowerCase().trim() === "stop recording") {
    //            recognition.stop();
    //        }
    //        else if (!searchFormInput.value) {
    //            searchFormInput.value = final_transcript;
    //        }
    //        else {
    //            searchFormInput.value = searchFormInput.value + final_transcript;
    //        }
    //    }

    //    info.textContent = 'Voice Commands: "stop recording" untuk menghentikan recording voice.';

    //}
    //else {
    //    console.log("Your Browser does not support speech Recognition");
    //    info.textContent = "Your Browser does not support Speech Recognition";
    //}
</script>

<script>
    @*var iGambar;
    var iGambar2;
    var ximg_Gambar1 = $('#IMG_@nameof(Model.Soap_OGambar)');
    var ximg_Gambar2 = $('#IMG_@nameof(Model.TTDCPPT)');

    @if (Model != null)
    {
        if (Model.Soap_OGambar != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.Soap_OGambar)');
        }
        if (Model.TTDCPPT != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.TTDCPPT)');
        }
    }*@

    $(document).ready(function () {

        //iGambar = new iPainter_V2(ximg_Gambar1);
        //iGambar2 = new iPainter_V2(ximg_Gambar2);

        //$(".modal-canvas").on("click", function (e) {
        //    if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        //});

    });

    @*function resetImage() {
        var imges = $('#IMG_@nameof(Model.Soap_OGambar)');
        iGambar = new iPainter_V2(imges);
    }*@

    function SubmitForm(e) {
        try {
            //iGambar.convert_V2('Soap_OGambar');
            //iGambar2.convert_V2('TTDCPPT');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }
</script>