﻿@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
}
<style>
    .btn-cutom-general {
        margin-bottom: 5px;
        width: 100%;
        background-color: #e68181;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general2 {
        margin-bottom: 5px;
        width: 100%;
        background-color: #b4a0dc;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general3 {
        margin-bottom: 5px;
        width: 100%;
        background-color: #5bb0b5;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general4 {
        margin-bottom: 5px;
        width: 100%;
        background-color: #7ec592;
        text-align: left;
        color: #000000;
    }

    .fg-custom {
        margin-bottom: 0px;
        
    }

    .general-border {
        border-style: double;
        border-color: #009688;
        background-color: #f8e1dd;
    }

    .general-border2 {
        border-style: double;
        border-color: #009688;
        background-color: #d6cadc;
    }

    .general-border3 {
        border-style: double;
        border-color: #009688;
        background-color: #d9f1f2;
    }

    .general-border4 {
        border-style: double;
        border-color: #009688;
        background-color: #c3ebd2;
    }
</style>

<div ng-controller="table">
    <div class="col-md-3 general-border">
        <div class="form-group fg-custom">
            <a id="TimPengendalianInfeksiNosokomial" href="@Url.Action("Index","TimPengendalianInfeksiNosokomial")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","TimPengendalianInfeksiNosokomial")',
                                header: 'Tim Pengendalian Infeksi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general"  onclick="event.preventDefault()" style="margin-top:10px;">
                1. TIM PENGENDALIAN INFEKSI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPemindahanPasienAntarRuangan" href="@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntarRuangan")',
                                header: 'Catatan Pemindahan Ruangan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general" onclick="event.preventDefault()">
               2. CATATAN PEMINDAHAN RUANGAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="RingkasanRiwayatMasukDanKeluar" href="@Url.Action("Create","EMRRingkasanRiwayatMasukDanKeluar")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRRingkasanRiwayatMasukDanKeluar")',
                                header: 'RINGKASAN MASUK KELUAR',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID', nrm : '@Model.NRM'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general"  onclick="event.preventDefault()">
               3. RINGKASAN MASUK & KELUAR
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="OrientasiPasienBaruRawatInap" href="@Url.Action("Index","OrientasiPasienBaruRawatInap")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","OrientasiPasienBaruRawatInap")',
                                header: 'ORIENTASI PASIEN BARU',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general"  onclick="event.preventDefault()">
               4. ORIENTASI PASIEN BARU
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPelayananPasien" href="@Url.Action("Index","CatatanPelayananPasien")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPelayananPasien")',
                                header: 'Catatan Pelayanan Pasien',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general"  onclick="event.preventDefault()">
               5. CATATAN PELAYANAN PASIEN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="DaftarDokterPenanggungJawabPelayanan" href="@Url.Action("Index","DaftarDokterPenanggungJawabPelayanan")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","DaftarDokterPenanggungJawabPelayanan")',
                                header: 'DAFTAR DPJP',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general"  onclick="event.preventDefault()">
               6. DAFTAR DPJP
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanVisiteDokter" href="@Url.Action("Index","CatatanVisiteDokter")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanVisiteDokter")',
                                header: 'Catatan Visite Dokter',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID', kamar : @Model.Kamar}
                           })"
               class="btn btn-sm btn-cutom-general"  onclick="event.preventDefault()">
               7. CATATAN VISITE DOKTER
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanEdukasiTerintegrasiRJ" href="@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanEdukasiTerintegrasiRJ")',
                                header: 'Catatan Edukasi Terintegrasi Rawat Inap',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID', tt :'@Model.CekEdukasiRIRJ'}
                           })"
               class="btn a btn-sm btn-cutom-general" onclick="event.preventDefault()">
               8. CATATAN EDUKASI RANAP
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanEdukasiTerintegrasiLanjutanRIdanRJ" href="@Url.Action("Index","CatatanEdukasiTerintegrasiLanjutanRIRJ")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanEdukasiTerintegrasiLanjutanRIRJ")',
                                header: 'Catatan Edukasi Terintegrasi Lanjutan RI & RJ',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID', tt :'@Model.CekEdukasiRIRJ'}
                           })"
               class="btn a btn-sm btn-cutom-general" onclick="event.preventDefault()">
               9. CATATAN EDUKASI LANJUTAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="FormulirRekonsiliasiObat" href="@Url.Action("Index","FormulirRekonsiliasiObat")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","FormulirRekonsiliasiObat")',
                                header: 'REKONSILIASI OBAT',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general " onclick="event.preventDefault()">
               10. REKONSILIASI OBAT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="SkriningGiziDewasaDanGeriatri" href="@Url.Action("Index","SkriningGiziDewasaDanGeriatri")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SkriningGiziDewasaDanGeriatri")',
                                header: 'Skrining Gizi Dewasa Dan Geriatri',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general " onclick="event.preventDefault()">
               11. SKRINING GIZI DAN GERIATRI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="PengkajianResikoJatuhDewasa" href="@Url.Action("Index","PengkajianResikoJatuhDewasaSkalaMorse")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PengkajianResikoJatuhDewasaSkalaMorse")',
                                header: 'Pengkajian Skala Morse',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               12. PENGKAJIAN SKALA MORSE
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="SkalaHumptyDumpty" href="@Url.Action("Create","EMRSkalaHumptyDumpty")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRSkalaHumptyDumpty")',
                                header: 'Pengkajian Skala Humpty Dumpty',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg',nrm : '@Model.NRM', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
                &nbsp; &nbsp; &nbsp;  HUMPTY DUMPTY
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="Implementasi" href="@Url.Action("Index","Implementasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","Implementasi")',
                                header: 'IMPLEMENTASI',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general " onclick="event.preventDefault()">
               13. IMPLEMENTASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="EvaluasiKeperawatan_Detail" href="@Url.Action("Index","EvaluasiKeperawatan")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","EvaluasiKeperawatan")',
                                header: 'EVALUASI KEPERAWATAN',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               14. EVALUASI KEPERAWATAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanTandaTandaVital" href="@Url.Action("Index","CatatanTandaVital")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanTandaVital")',
                                header: 'CATATAN TANDA VITAL',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               15. CATATAN TANDA VITAL
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="PemantauanAEWS_Detail" href="@Url.Action("Index","PemantauanAEWSScore")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanAEWSScore")',
                                header: 'Pemantauan AEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               16. PEMANTAUAN AEWS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="PemantauanPEWS_Detail" href="@Url.Action("Index","PemantauanPEWSScore")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanPEWSScore")',
                                header: 'Pemantauan PEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general " onclick="event.preventDefault()">
                &nbsp; &nbsp; &nbsp;  PEMANTAUAN PEWS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="PemantauanMEWS_Detail" href="@Url.Action("Index","PemantauanMEWSScore")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","PemantauanMEWSScore")',
                                header: 'Pemantauan MEWS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-color btn-sm btn-cutom-general " onclick="event.preventDefault()">
                &nbsp; &nbsp; &nbsp;  PEMANTAUAN MEWS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="ObservasiKeseimbanganCairan" href="@Url.Action("Index","ObservasiKeseimbanganCairan")"
               ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Index","ObservasiKeseimbanganCairan")',
                                    header: 'OBSERVASI KESEIMBANGAN CAIRAN',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                   })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()" style="font-size:11px;">
               17. OBSERVASI KESEIMBANGAN CAIRAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPemberianObat" href="@Url.Action("Index","CatatanPemberianObat")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemberianObat")',
                                header: 'Catatan Pemberian Obat',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               18. CATATAN PEMBERIAN OBAT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="RencanaPemulanganPasien" href="@Url.Action("Index","RencanaPemulanganPasien")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","RencanaPemulanganPasien")',
                                header: 'RENCANA PEMULANGAN PASIEN',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               19. RENCANA PEMULANGAN PASIEN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsesmenResumeMedis" href="@Url.Action("Index","ResumeMedisIGD")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ResumeMedisIGD")',
                                header: 'Resume Medis',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general " onclick="event.preventDefault()">
               20. RESUME MEDIS
            </a>
        </div>
    </div>
    <div class="col-md-3 general-border2">
        <div class="form-group fg-custom">
            <a id="AsesmenTindakanKedokteran" href="@Url.Action("Index","TindakanKedokteran")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","TindakanKedokteran")',
                                header: 'Informed Consent',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2 " onclick="event.preventDefault()" style="margin-top:10px;">
               1. INFORMED CONSENT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="SuratJawabanKonsultasi" href="@Url.Action("Index","SuratJawabanKonsul")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratJawabanKonsul")',
                                header: 'Konsultasi dan Jawaban',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2 " onclick="event.preventDefault()">
               2. KONSULTASI DAN JAWABAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="MonitoringTransfusiDarah" href="@Url.Action("Index","MonitorTranfusiDarah")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","MonitorTranfusiDarah")',
                                header: 'Monitor Tranfusi Darah',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2 " onclick="event.preventDefault()">
               3. MONITOR TRANFUSI DARAH
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="FormulirKreteriaMasukICU" href="@Url.Action("Create","EMRFormulirKreteriaMasukICU")"
               ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Create","EMRFormulirKreteriaMasukICU")',
                                    header: 'FORMULIR KRITERIA MASUK ICU/ICCU',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
               class="btn-cutom-general2 btn btn-sm " onclick="event.preventDefault()">
               4. FORMULIR KRITERIA MASUK ICU
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPemindahanPasienAntarRumahSakit" href="@Url.Action("Index","CatatanPemindahanPasienAntaraRS")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntaraRS")',
                                header: 'Checklist Serah Terima Antar Ruangan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2 " onclick="event.preventDefault()" style="font-size:9px;">
               5. CHECKLIST SERAH TERIMA ANTAR RUANGAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsesmenUlangNyeri" href="@Url.Action("Create","EMRAsesmenUlangNyeri")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRAsesmenUlangNyeri")',
                                header: 'PENGKAJIAN ULANG NYERI',
                                target_auto_refresh : '@tableId',
                                param : {id : '@Model.NoReg', nrm :'@Model.NRM'}
                           })"
               class="btn btn-sm btn-cutom-general2 " onclick="event.preventDefault()">
               6. PENGKAJIAN ULANG NYERI
            </a>
        </div>
    </div>
    <div class="col-md-3 general-border3">
        <div class="form-group fg-custom">
            <a id="CheckListSerahTerimaPasien" href="@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")',
                                header: 'Checklist Serah Terima IBS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class=" btn btn-sm btn-cutom-general3 " onclick="event.preventDefault()" style="margin-top:10px;">
               1. CHECKLIST SERAH TERIMA IBS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="ChecklistKeselamatanPasienOperasi" href="@Url.Action("Index","CheckListKeselamatanPasienOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CheckListKeselamatanPasienOperasi")',
                                header: 'Check List Keselamatan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               2. CHECKLIST KESELAMATAN PASIEN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanKeperawatanPreOperatif" href="@Url.Action("Index","AsuhanKeperawatanPeriOperatif")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanKeperawatanPeriOperatif")',
                                header: 'Asuhan Peri Operatif',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               3. ASUHAN PERI OPERATIF
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="EvaluasiPraOperasi" href="@Url.Action("Index","EvaluasiPraOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","EvaluasiPraOperasi")',
                                header: 'Evaluasi Pra Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               4. EVALUASI PRA OPERASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanAnastesiSedasi" href="@Url.Action("Index","CatatanAnestesiDanSedasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanAnestesiDanSedasi")',
                                header: 'Catatan Anestesi Dan Sedasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               5. CATATAN ANESTESI DAN SEDASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="ChecklistKesiapanAnestesi" href="@Url.Action("Index","ChecklistKesiapanAnestesi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ChecklistKesiapanAnestesi")',
                                header: 'Checklist Kesiapan Anestesi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               6. CHECKLIST KESIAPAN ANESTESI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AssesmentPraOperasiPerempuan" href="@Url.Action("Create","EMRAssesmentPraOperasiPerempuan")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRAssesmentPraOperasiPerempuan")',
                                header: 'Asesment Pra Operasi Perempuan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               7. PRA OPERASI PEREMPUAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AssesmentPraOperasiLakiLaki" href="@Url.Action("Create","EMRAssesmentPraOperasiLakiLaki")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRAssesmentPraOperasiLakiLaki")',
                                header: 'Asesment Pra Operasi Laki Laki',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               8. PRA OPERASI LAKI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="LaporanOperasi" href="@Url.Action("Index","LaporanOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LaporanOperasi")',
                                header: 'Laporan Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm " onclick="event.preventDefault()">
               9. LAPORAN OPERASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="EMRAssesmentPraAnestesiDanSedasi" href="@Url.Action("Create","EMRAssesmentPraAnestesiDanSedasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRAssesmentPraAnestesiDanSedasi")',
                                header: 'Asesment Pra Anestesi Dan Sedasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', nrm : '@Model.NRM', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general3 btn btn-sm" onclick="event.preventDefault()">
                10. ASS PRA ANESTESI DAN SEDASI
            </a>
        </div>
    </div>
    <div class="col-md-3 general-border4">
        <div class="form-group fg-custom">
            <a id="AsuhanGiziDewasa" href="@Url.Action("Index","AsuhanGiziDewasa")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanGiziDewasa")',
                                header: 'ASUHAN GIZI DEWASA',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()" style="margin-top:10px;">
               1. ASUHAN GIZI DEWASA
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanGiziGeriatri" href="@Url.Action("Create","EMRAsuhanGiziGeriatri")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create","EMRAsuhanGiziGeriatri")',
                                header: 'ASUHAN GIZI GERIATRI',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', nrm : '@Model.NRM'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
               2. ASUHAN GIZI GERIATRI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="Strongkids" href="@Url.Action("Index","Strongkids")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","Strongkids")',
                                header: 'Strongkids',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
               3. STRONG KIDS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanGiziAnak" href="@Url.Action("Index","AsuhanGiziAnak")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanGiziAnak")',
                                header: 'ASUHAN GIZI ANAK',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
               4. ASUHAN GIZI ANAK
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanGiziTerapiMonitoringEvaluasi" href="@Url.Action("Index","AsuhanGiziTerapiMonitoringEvaluasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanGiziTerapiMonitoringEvaluasi")',
                                header: 'Asuhan Gizi Terapi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
               5. ASUHAN GIZI TERAPI
            </a>
        </div>
    </div>  
</div>   
<br />

