﻿@{
    var controllerName = "MedicalRecord";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
}
<style>
    .btn-cutom-general {
        margin-bottom: 5px;
        width: 100%;
        background-color: #e68181;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general2 {
        margin-bottom: 5px;
        width: 100%;
        background-color: #b4a0dc;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general3 {
        margin-bottom: 5px;
        width: 100%;
        /*background-color: #5bb0b5;*/
        background-color: #7ec592;
        text-align: left;
        color: #000000;
    }

    .btn-cutom-general4 {
        margin-bottom: 5px;
        width: 100%;
        background-color: #5bb0b5;
        /*background-color: #7ec592;*/
        text-align: left;
        color: #000000;
    }

    .fg-custom {
        margin-bottom: 0px;
    }

    .general-border {
        border-style: double;
        border-color: #009688;
        background-color: #f8e1dd;
    }

    .general-border2 {
        border-style: double;
        border-color: #009688;
        background-color: #d6cadc;
    }

    .general-border3 {
        border-style: double;
        border-color: #009688;
        background-color: #d9f1f2;
    }

    .general-border4 {
        border-style: double;
        border-color: #009688;
        background-color: #c3ebd2;
    }
</style>

<div ng-controller="table">
    <div class="col-md-3 general-border">
        <div class="form-group fg-custom">
            <a id="ChecklistSerahTerimaPasienPreDanPostOperasi" href="@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")',
                                header: 'Checklist Serah Terima IBS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general" onclick="event.preventDefault()" style="margin-top:10px;">
                CHECKLIST SERAH TERIMA IBS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="EvaluasiPraOperasi" href="@Url.Action("Index","EvaluasiPraOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","EvaluasiPraOperasi")',
                                header: 'Evaluasi Pra Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general btn btn-sm " onclick="event.preventDefault()">
                EVALUASI PRA OPERASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="LembarObservasiAnestesiLokal" href="@Url.Action("Index","LembarObservasiAnestesiLokal")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LembarObservasiAnestesiLokal")',
                                header: 'Lembar Observasi Anestesi Lokal',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general btn btn-sm" onclick="event.preventDefault()">
                LEMBAR OBSERVASI ANESTESI LOKAL
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CheckListKeselamatanPasienOperasi" href="@Url.Action("Index","CheckListKeselamatanPasienOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CheckListKeselamatanPasienOperasi")',
                                header: 'Check List Keselamatan Pasien Operasi (Anestesi Lokal)',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general btn btn-sm" onclick="event.preventDefault()" style="font-size:9px">
                CHECKLIST KESELAMATAN (ANESTESI LOKAL)
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="LaporanOperasi" href="@Url.Action("Index","LaporanOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LaporanOperasi")',
                                header: 'Laporan Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general btn btn-sm " onclick="event.preventDefault()">
               LAPORAN OPERASI
            </a>
        </div>
    </div>
    <div class="col-md-3 general-border2">
        <div class="form-group fg-custom">
            <a id="ChecklistSerahTerimaPasienPreDanPostOperasi" href="@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ChecklistSerahTerimaPasienPreDanPostOperasi")',
                                header: 'Checklist Serah Terima IBS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2" onclick="event.preventDefault()" style="margin-top:10px;">
                CHECKLIST SERAH TERIMA IBS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CheckListKeselamatanPasienOperasiOK" href="@Url.Action("Index","CheckListKeselamatanPasienOperasiOK")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CheckListKeselamatanPasienOperasiOK")',
                                header: 'Checklist Keselamatan Pasien OK',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2" onclick="event.preventDefault()">
                CHECKLIST KESELAMATAN PASIEN OK
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanKeperawatanIntraOperatif" href="@Url.Action("Index","AsuhanKeperawatanIntraOperatif")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanKeperawatanIntraOperatif")',
                                header: 'Asuhan Intra Operatif',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2" onclick="event.preventDefault()">
                ASUHAN INTRA OPERATIF
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsuhanKeperawatanPostOperatif" href="@Url.Action("Index","AsuhanKeperawatanPostOperatif")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","AsuhanKeperawatanPostOperatif")',
                                header: 'Asuhan Post Operatif',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general2" onclick="event.preventDefault()">
                ASUHAN POST OPERATIF
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="EvaluasiPraOperasi" href="@Url.Action("Index","EvaluasiPraOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","EvaluasiPraOperasi")',
                                header: 'Evaluasi Pra Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general2 btn btn-sm " onclick="event.preventDefault()">
                EVALUASI PRA OPERASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanAnastesiSedasi" href="@Url.Action("Index","CatatanAnestesiDanSedasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanAnestesiDanSedasi")',
                                header: 'Catatan Anestesi Dan Sedasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general2 btn btn-sm " onclick="event.preventDefault()">
                CATATAN ANESTESI DAN SEDASI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="ChecklistKesiapanAnestesi" href="@Url.Action("Index","ChecklistKesiapanAnestesi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ChecklistKesiapanAnestesi")',
                                header: 'Checklist Kesiapan Anestesi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general2 btn btn-sm " onclick="event.preventDefault()">
                CHECKLIST KESIAPAN ANESTESI
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="LaporanOperasi" href="@Url.Action("Index","LaporanOperasi")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LaporanOperasi")',
                                header: 'Laporan Operasi',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general2 btn btn-sm " onclick="event.preventDefault()">
                LAPORAN OPERASI
            </a>
        </div>
    </div>
    <div class="col-md-3 general-border4">
        <div class="form-group fg-custom">
            <a id="AsesmenTindakanKedokteran" href="@Url.Action("Index","TindakanKedokteran")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","TindakanKedokteran")',
                                header: 'Informed Consent',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()" style="margin-top:10px;">
                INFORMED CONSENT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="SuratJawabanKonsultasi" href="@Url.Action("Index","SuratJawabanKonsul")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratJawabanKonsul")',
                                header: 'Konsultasi dan Jawaban',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
                KONSULTASI DAN JAWABAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="SuratKeteranganIstirahat" href="@Url.Action("Index","SuratKeteranganIstirahat")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","SuratKeteranganIstirahat")',
                                header: 'Surat Keterangan Istirahat',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4" onclick="event.preventDefault()">
                SURAT KETERANGAN ISTIRAHAT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="MonitoringTransfusiDarah" href="@Url.Action("Index","MonitorTranfusiDarah")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","MonitorTranfusiDarah")',
                                header: 'Monitor Tranfusi Darah',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn btn-sm btn-cutom-general4 " onclick="event.preventDefault()">
                MONITOR TRANFUSI DARAH
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="FormulirKreteriaMasukICU" href="@Url.Action("Create","EMRFormulirKreteriaMasukICU")"
               ng-click="$parent.ajaxmodal({
                                    url: '@Url.Action("Create","EMRFormulirKreteriaMasukICU")',
                                    header: 'FORMULIR KRITERIA MASUK ICU/ICCU',
                                    target_auto_refresh : '@tableId',
                                    param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                               })"
               class="btn-cutom-general4 btn btn-sm " onclick="event.preventDefault()">
                FORMULIR KRITERIA MASUK ICU
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="FormPerhitunganIntraoperatif" href="@Url.Action("Index","FormPerhitunganIntraoperatif")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","FormPerhitunganIntraoperatif")',
                                header: 'Form Penghitungan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general4 btn btn-sm" onclick="event.preventDefault()">
                FORM PENGHITUNGAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPemakaianObatDanAlkesKamarOperasiDokterBedah" href="@Url.Action("Index","CatatanPemakaianObatDanAlkesKamarOperasiDokterBedah")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemakaianObatDanAlkesKamarOperasiDokterBedah")',
                                header: 'Catatan Pemakaian',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general4 btn btn-sm" onclick="event.preventDefault()">
                CATATAN PEMAKAIAN OBAT
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="AsesmenResumeMedis" href="@Url.Action("Index","ResumeMedisIGD")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","ResumeMedisIGD")',
                                header: 'Resume Medis',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general4 btn btn-sm" onclick="event.preventDefault()">
               RESUME MEDIS
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="LaporanPersalinan" href="@Url.Action("Index","LaporanPersalinan")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","LaporanPersalinan")',
                                header: 'Laporan Persalinan',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid :'@Model.SectionID'}
                           })"
               class="btn-cutom-general4 btn btn-sm" onclick="event.preventDefault()">
                LAPORAN PERSALINAN
            </a>
        </div>
        <div class="form-group fg-custom">
            <a id="CatatanPemindahanPasienAntarRumahSakit" href="@Url.Action("Index","CatatanPemindahanPasienAntaraRS")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Index","CatatanPemindahanPasienAntaraRS")',
                                header: 'Catatan Pemindahan Antar RS',
                                target_auto_refresh : '@tableId',
                                param : {noreg : '@Model.NoReg', sectionid : '@Model.SectionID'}
                           })"
               class="btn-cutom-general4 btn btn-sm" onclick="event.preventDefault()">
                CATATAN PEMINDAHAN ANTAR RS
            </a>
        </div>
    </div>
</div>
<br />


