﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel
<style>
    .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 3px;
        background: #fff;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font: 23px Arial, sans-serif;
    }
</style>
<div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">


        <!-- Action buttons -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>TAMBAH FORMULIR</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">

                <div class="row">
                    @if (Request.Cookies["TipePelayanan"].Value == "RI")
                    {
                        <div class="col-xs-6">
                            <button data-toggle="modal" data-target="#modalLookup_addAssesmenUtama" class="btn bg-teal btn-block btn-float btn-float" type="button"><i class="icon-briefcase3 icon-2x"></i> <span style="font-size: 10px;"> DOKUMEN</span></button>
                        </div>

                        <div class="col-xs-6">
                            <button onclick="bukamodalhistory1()" class="btn bg-teal btn-block btn-float btn-float" type="button"><i class="icon-archive icon-2x"></i> <span style="font-size: 10px;">HISTORY</span></button>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <button onclick="bukamodalhistory1()" class="btn bg-teal btn-block btn-float btn-float" type="button"><i class="icon-archive icon-2x"></i> <span style="font-size: 10px;">HISTORY</span></button>
                        </div>
                    }
                    @*<div class="col-xs-6">
                            <button data-toggle="modal" data-target="#modalLookup_addAssesmenTambahan" class="btn bg-teal-400 btn-block btn-float btn-float" type="button"><i class="icon-clipboard6 icon-2x"></i> <span style="font-size: 10px;"> TAMBAHAN</span></button>
                        </div>*@
                </div>
            </div>

            @*<div class="category-content">
                    <div class="row">

                    </div>
                </div>*@
        </div>
        <!-- /action buttons -->
        <!-- Search task -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>PILIH PASIEN</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                @using (Html.BeginForm("ChangePasien", "MedicalRecord", FormMethod.Post, new { id = "#form_changepasien_create", onsubmit = "loadingform(this)" }))
                {
                    <text>
                        <div class="mb-20">
                            <select id="PasienRegistrasi" name="noreg">
                                <option value="@Model.NoReg">@Model.NamaPasien</option>
                            </select>
                        </div>
                        <button type="submit" class="btn border-primary text-primary btn-block btn-flat"><i class="icon-paperplane position-left"></i> TERAPKAN</button>
                    </text>
                }
            </div>
        </div>
        <!-- /search task -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>RIWAYAT ALERGI</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">
                                @(Model.Deskripsi)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-controller="table">
                            <div class="col-md-12">
                                <button type="button" class="btn border-primary text-primary btn-block btn-flat" onclick="alergisidebar()"> <i class="icon-pushpin position-left"></i>
                                    ALERGI OBAT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category">
            <div class="category-title">
                <span>DETAIL REGISTRASI</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <div class="row">
                    <label class="col-md-4 text-semibold">No Reg</label>
                    <label class="col-md-8 ">@Model.NoReg</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Nama</label>
                    <label class="col-md-8 ">@Model.NamaPasien</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">NRM</label>
                    <label class="col-md-8 ">[@Model.NRM] @Html.Raw(Model.JenisKelamin == "M" ? "<i class='text-primary fa fa-mars ml-5'></i>" : "<i class='text-danger fa fa-venus ml-5'></i>") </label>
                    <label class="col-md-8 "></label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Umur</label>
                    <label class="col-md-8 ">@($"{Model.UmurThn} Tahun {Model.UmurBln} Bulan {Model.UmurHr} Hari")</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Tipe</label>
                    <label class="col-md-8 ">@Model.JenisKerjasama</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Alamat</label>
                    <label class="col-md-8 ">@Model.Alamat, @Model.Desa, @Model.Kecamatan, @Model.Kabupaten, @Model.Provinsi</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">No Telp</label>
                    <label class="col-md-8 ">@Model.Telp</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Tgl Lahir</label>
                    <label class="col-md-8 ">@Model.TglLahir.Value.ToString("dd/MM/yyyy")</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Negara</label>
                    <label class="col-md-8 ">@Model.WargaNegara</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Pendidikan</label>
                    <label class="col-md-8 ">@Model.Pendidikan</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Pekerjaan</label>
                    <label class="col-md-8 ">@Model.Pekerjaan</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Pangkat</label>
                    <label class="col-md-8 ">@Model.Pangkat</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Kesatuan</label>
                    <label class="col-md-8 ">@Model.Kesatuan</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">NRP/NIP</label>
                    <label class="col-md-8 ">@Model.NIP</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">NIK</label>
                    <label class="col-md-8 ">@Model.NoIdentitas</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Status Kawin</label>
                    <label class="col-md-8 ">@Model.StatusKawin</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">BPJS</label>
                    <label class="col-md-8 ">@Model.NoBPJS</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Penanggung</label>
                    <label class="col-md-8 ">@Model.PenanggungNama</label>
                </div>
                <div class="row">
                    <label class="col-md-4 text-semibold">Hubungan</label>
                    <label class="col-md-8 ">@Model.HubunganPasien</label>
                </div>
                @*<div class="row">
                        <label class="col-md-4 text-semibold">Suami</label>
                        <label class="col-md-8 ">@Model.PenanggungNama</label>
                    </div>*@
            </div>
        </div>
        <!-- Assigned users -->
        @*<div class="sidebar-category">
                <div class="category-title">
                    <span>HISTORY</span>
                    <ul class="icons-list">
                        <li><a href="#" data-action="collapse"></a></li>
                    </ul>
                </div>

                <div class="category-content slimScroll">
                    <ul class="media-list" id="media-list-history">
                    </ul>
                </div>
            </div>*@
        <!-- /assigned users -->

    </div>
</div>

<div class="modal fade" id="modal_historypasien" aria-labelledby="myModalLabel" ng-controller="form">
    <div class="modal-dialog modal-full">
        @Html.Partial("~/Views/MedicalRecord/HistoryPasien.cshtml")
    </div>
</div>

<div id="modalLookup_addAssesmenUtama" class="modal fade" data-target-auto-refresh="table_MedicalRecord" data-keyboard="false">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Create", "MedicalRecord", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "_loading",
            OnComplete = $"oncompletecreateCustom(xhr, '#frm_adddokumen', 'true', this)"
        }, new { id = "frm_adddokumen", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal-content">
                <div class="modal-header bg-slate">
                    <h6 class="modal-title">Tambah Dokumen</h6>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="noreg" value="@Model.NoReg" />
                        <input type="hidden" name="nrm" value="@Model.NRM" />

                        <select required class="form-control" id="selectAsessmen" name="dokumen">
                            @foreach (var a in StaticModel.SelectListDokumenAssesmenUtama(Request.Cookies["SectionIDPelayanan"].Value, Request.Cookies["TipePelayanan"].Value))
                            {
                                @:<option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary btn-selected"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Simpan</button>
                </div>
            </div>
        }
    </div>
</div>

<style>

    .custom-history {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 3px;
    }

        .custom-history ul {
            padding: 0;
            margin: 0;
        }

            .custom-history ul li {
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                list-style: none;
            }

                .custom-history ul li:last-child {
                    border-bottom: none !important;
                    padding-bottom: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    list-style: none;
                }

                .custom-history ul li a {
                    font-size: 11px;
                    list-style: none;
                }

            .custom-history ul .divider {
            }


    .slimScroll {
        padding: 20px 0 20px 20px !important;
        border-bottom: 1px solid #eee;
        display: inline-block;
        overflow: scroll;
        position: relative;
        height: 500px;
        width: 100%;
    }
</style>

<script>
    $("#selectAsessmen").select2();

    var pasien = $("#PasienRegistrasi");
    pasien.select2(select2Config({
        url: "@Url.Action("ListPasien", "Dokter")",
        sortBy: 'NoReg',
        sortByType: 'ASC',
        callReturn: function (value) {
            return {
                id: value.NoReg,
                text: value.NamaPasien
            };
        }
    }));

    function addfrmassesmenCPPT() {
        $("#addAssesmenCPPT").click();
    }

    function tutupmodalhistory() {
        $('#modal_historypasien').modal('hide');
    }

    function bukamodalhistory1() {
        $('#modal_historypasien').modal();
        $('#refreshhsitorypasien').click();
    }

     function alergisidebar() {
         var url = '@Url.Action("Index", "RiwayatAlergi")';
                    angular.element('.panel-EMR').scope().ajaxmodal({
                        url: url,
                        header: 'Riwayat Alergi',
                        param: { nrm: '@Model.NRM' },
                        target_auto_refresh: 'table_MedicalRecord'
                    });
    }


    @*getcontenthistory();
    function getcontenthistory() {

        $.ajax({
            url: '@Url.Action("ListAssesmenTopHistory", "MedicalRecord")',
            data: {
                nrm: '@Model.NRM',
            },
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.IsSuccess) {
                    var html = "";
                    var len = (data.Data.length > 5) ? 5 : data.Data.length;
                    for (var i = 0; i < len; i++) {
                        html += `<li class="media">
                                    <div class="media-body">
                                        <p class="no-padding no-margin"> <i class="icon-pin position-left"></i> `+ data.Data[i].SectionName + `</p>
                                        <p class="no-padding no-margin"> <i class="icon-calendar2 position-left"></i> `+ data.Data[i].Tanggal + `</p>
                                        <a onclick="showhidenpanelhistory(this, 'panelshowhistory`+ i +`')" style="font-size: 14px;" class="media-heading text-semibold">` + data.Data[i].NamaDokter + ` <i class="icon-arrow-down12 position-right"></i></a>

                                        <div class="custom-history" id="panelshowhistory`+i+`" hidden>
                                            <ul>`;
                        for (var e = 0; e < data.Data[i].detail.length; e++) {
                            html += `<li><a class="cursor-pointer" onclick="showHistoryDetail(this)" data-target-id="` + data.Data[i].detail[e].NoBukti + `" data-target-dokid="` + data.Data[i].detail[e].DokumenID + `" data-target-dok="` + data.Data[i].detail[e].NamaDokumen + `"><i class="icon-file-eye position-left"></i> ` + data.Data[i].detail[e].NamaDokumen + `</a>
                                        <div class="media-annotation" style="margin-left: 25px; font-size: 10px;">` + data.Data[i].detail[e].TanggalCreate_View + `</div>
                                    </li>`;
                        }

                                   html += `</ul>
                                        </div>

                                    </div>
                                </li>`;
                    }
                    $("#media-list-history").html(html);
                }
                else {

                }
            }
        });

    }*@

    function showhidenpanelhistory(tthis, target) {
        if ($("#" + target).first().is(":hidden")) {
            $("#" + target).slideDown("slow");
            $(tthis).find("i").removeClass("icon-arrow-down12");
            $(tthis).find("i").addClass("icon-arrow-up12");
        } else {
            $("#" + target).slideUp("slow");
            $(tthis).find("i").addClass("icon-arrow-down12");
            $(tthis).find("i").removeClass("icon-arrow-up12");
        }
    }

    function commingsoon() {
        alertpopup("Comming Soon !", "info");
    }

    function showHistoryDetail(tthis) {
        var dok = $(tthis).data("target-dok");
        var dokid = $(tthis).data("target-dokid");
        var id = $(tthis).data("target-id");
        if (dokid == "CPPT") {
            $('a[href="#panel-2"]').click();
        } else {
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: '@Url.Action("", "EMR")' + dokid + "/Create",
                header: dok,
                param: { id: id, view : 1},
            });
        }
    }

    function ubahriwayatalergi() {
        myajax({
                url: '@Url.Action("ChangeAlergi","MedicalRecord")',
                data: {
                    alergi: $('#RiwayatAlergi').val(),
                    nrm: $('#NRM').val()
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        alertpopup('Berhasil Ubah Alergi', 'success');
                    } else {
                        alertpopup('Gagal', 'danger');
                    }
                }
            });
    }

</script>