﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "StatusHemodialisis";
    ViewBag.Title = controllerName;
    var formName = $"frm_StatusHemodialisis_{controllerName}_create";
    var tableId = $"table_{controllerName}";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">


    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreateskdokter (xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.StatusHemo.NoReg)
        @Html.HiddenFor(Model => Model.StatusHemo.SectionID)
        @Html.HiddenFor(Model => Model.StatusHemo.NRM)

        <div class="form-group">
            <label class="col-md-12 text-bold text-center">
                STATUS HEMODIALISIS
            </label>
        </div>

        <div class="panel-body collapse in">
            <div class="form-horizontal">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nama :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tempat Tanggal Lahir :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.TempatLahir, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.TempatLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Nomer Rekam Medis :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.NRM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Alamat :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            No Telepon :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.NoTelp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.NoTelp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Diagnosis :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.Diagnosis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Mulai HD :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.MulaiHD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.MulaiHD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Cara Bayar :
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StatusHemo.CaraBayar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.CaraBayar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Akses Vaskuler
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            1. Cimino Shunt
                        </label>

                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2">
                            Tanggal Operasi :
                        </label>
                       <label class="control-label col-sm-1">
                           1.
                       </label>
                            <div class="col-md-9">
                                
                                @Html.EditorFor(model => model.StatusHemo.TanggalOperasi_1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StatusHemo.TanggalOperasi_1, "", new { @class = "text-danger" })
                            </div>
                       
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2">
                           
                        </label>
                        <label class="control-label col-md-1">
                            2. 
                        </label>
                            <div class="col-md-9">
                               
                                @Html.EditorFor(model => model.StatusHemo.TanggalOperasi_2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StatusHemo.TanggalOperasi_2, "", new { @class = "text-danger" })
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            2.Femoral
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.StatusHemo.Femoral, StaticModel.Femoral, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusHemo.Femoral, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Riwayat Alergi :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.StatusHemo.RiwayatAlergi, StaticModel.RiwayatAlergi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusHemo.RiwayatAlergi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">

                        </label>
                        <label class="control-label col-md-1">
                            1.
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.StatusHemo.RiwayatAlergiAda, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StatusHemo.RiwayatAlergiAda, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="panel-body detail collapse in">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>
                        <a href="@Url.Action("ExportPDFStatusHemodialisis","ReportHistory", new { noreg = Model.StatusHemo.NoReg, sectionid = Model.StatusHemo.SectionID })" target="_blank"
                           class="btn btn-success" @(Model.StatusHemo.NoReg == null ? "disabled" : "")>
                            <span class="icon icon-printer"></span> Cetak PDF
                        </a>
                </div>
            </div>
        </div>


    }



</div>

<!--JS SELECT-->
<script type="text/javascript">
    var dokter = $('#@formName #SKDokter_Dokter');

    dokter.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script src="~/scripts/jquery.timer.js"></script>
<script>


    function oncompletecreateskdokter(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#suratketdokter').click();
    }
</script>