﻿@using EMRRSBK.Models
@model RegistrasiPasienViewModel

@{
    var controllerName = "PenolakanRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreatepenolakanri(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off", onsubmit = "SubmitForm(event)" }))
    {
        @Html.AntiForgeryToken()


        <div class="panel-body detail collapse in">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NoReg)
                @Html.HiddenFor(model => model.SectionID)
                @Html.HiddenFor(model => model.NRM)
                @Html.HiddenFor(model => model.PenolakanRawatInap.TandaTanganDokter)
                @Html.HiddenFor(model => model.PenolakanRawatInap.TandaTangan)
                @Html.HiddenFor(model => model.PenolakanRawatInap.TTD_Saksi1)
                @Html.HiddenFor(model => model.PenolakanRawatInap.TTD_Saksi2)

                @*KEINGINANAN PASIEN MEMILIH DPJP*@

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <label class="text-bold ">
                            PENOLAKAN RAWAT INAP
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">
                        Saya yang bertanda tangan dibawah ini :
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Nama, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Nama, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Umur, Jenis Kelamin
                    </label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Umur, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Umur, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Jenis, new List<SelectListItem>
                              {
                                  new SelectListItem() {Text = "", Value=""},
                                  new SelectListItem() {Text = "Laki-Laki", Value="Laki-Laki"},
                                  new SelectListItem() {Text = "Perempuan", Value="Perempuan"},
                              }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-12">
                        Telah mendapat penjeleasan dokter tentang :
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.TujuanPasien)
                                Tujuan pasien dilakukan rawat inap.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Resiko)
                                Resiko komplikasi yang mungkin terjadi.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-md-offset-1">
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Peringatan)
                                Peringatan bahaya yang mungkin terjadi.
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.PenolakanRawatInap.Perkiraan)
                                Perkiraan lama dilakukan rawat inap.
                            </label>
                        </div>
                    </div>
                </div>

                <p>
                    Saya sudah mendapatkan kesempatan untuk bertannya dans aya sudah mengerti dan pus dengan penjelasan yang diberikan sehubungan dengan pertanyaan-pertanyaan saya. Dengan ini saya menyatakan dengan sesungguhnya bahwa saya MENOLAK dirawat inap seperti yang dijelaskan diatas, terhadap diri

                </p>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Terhadap, new List<SelectListItem>
                               {
                                   new SelectListItem() {Text = "Saya", Value="Saya"},
                                   new SelectListItem() {Text = "Suami", Value="Suami"},
                                   new SelectListItem() {Text = "Istri", Value="Istri"},
                                   new SelectListItem() {Text = "Anak", Value="Anak"},
                                   new SelectListItem() {Text = "Ayah", Value="Ayah"},
                                   new SelectListItem() {Text = "Ibu", Value="Ibu"},
                                   new SelectListItem() {Text = "Lainnya", Value="Lainnya"},
                               }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PenolakanRawatInap.TerhadapLainnya, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.TerhadapLainnya, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-1">
                        saya
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Nama
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.NamaPasien, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Tgl Lahir, Jenis Kelamin
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PenolakanRawatInap.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PenolakanRawatInap.TglLahir != null ? (Model.PenolakanRawatInap.TglLahir.Value.ToString("yyyy-MM-dd")) : "") } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.TglLahir, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PenolakanRawatInap.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Value = (Model.PenolakanRawatInap.JenisKelamin == "F" ? "Perempuan" : Model.PenolakanRawatInap.JenisKelamin == "M" ? "Laki- Laki" : "") } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.JenisKelamin, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-1 control-label">
                        Alamat
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PenolakanRawatInap.AlamatPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.AlamatPasien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <p>
                    Saya memahami perlunya dan manfaat rawat inap tersebut sebagaimana telah dijelaskan seperti diatas kepada saya termasuk resiko dan komplikasi yang mungkin timbul. Saya bertanggung jawab secara penuh atas segala akibat yang mungkin timbul sebagai akibat tidak dilakukannya tindakan tersebut,
                    <br />
                    Demikian penolakan ini saya buat dengan penuh kesadaran dan tanpa paksaan.
                </p>

                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Dokter
                    </label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.PenolakanRawatInap.Dokter, Model.PenolakanRawatInap.Dokter == null ? new List<SelectListItem>() : new List<SelectListItem>()
                        { new SelectListItem() {
                            Value = Model.PenolakanRawatInap.Dokter.ToString(), Text = Model.PenolakanRawatInap.DokterNama }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Dokter, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.PenolakanRawatInap.TandaTanganDokter)" class="btn btn-primary btn-sm @(Model.PenolakanRawatInap.TandaTanganDokter != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PenolakanRawatInap.TandaTanganDokter)" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Yang Membuat Pernyataan
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PenolakanRawatInap.MembuatPernyataan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.MembuatPernyataan, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.PenolakanRawatInap.TandaTangan)" class="btn btn-primary btn-sm @(Model.PenolakanRawatInap.TandaTangan != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PenolakanRawatInap.TandaTangan)" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">
                        Saksi I
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Saksi1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Saksi1, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.PenolakanRawatInap.TTD_Saksi1)" class="btn btn-primary btn-sm @(Model.PenolakanRawatInap.TTD_Saksi1 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PenolakanRawatInap.TTD_Saksi1)" class="btn btn-danger btn-sm" onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Saksi II
                    </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PenolakanRawatInap.Saksi2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PenolakanRawatInap.Saksi2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2 text-right">
                        <a id="@nameof(Model.PenolakanRawatInap.TTD_Saksi2)" class="btn btn-primary btn-sm @(Model.PenolakanRawatInap.TTD_Saksi2 != null ? "btn-flash" : "")" onclick="clickgambar(this)"><i class="icon-quill4"></i></a>
                        <a id="@nameof(Model.PenolakanRawatInap.TTD_Saksi2)" class="btn btn-danger btn-sm " onclick="ulanggambar(this)"><i class="icon-reset"></i></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PenolakanRawatInap_TandaTanganDokter" name="IMG_PenolakanRawatInap_TandaTanganDokter" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PenolakanRawatInap_TandaTangan" name="IMG_PenolakanRawatInap_TandaTangan" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PenolakanRawatInap_TTD_Saksi1" name="IMG_PenolakanRawatInap_TTD_Saksi1" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="position:inherit">
                        <div class="form-group" style="position:inherit">
                            <div class="col-md-6 text-center">
                                <img crossorigin="anonymous" class="ipainter" id="IMG_PenolakanRawatInap_TTD_Saksi2" name="IMG_PenolakanRawatInap_TTD_Saksi2" src="~/Images/TTD.PNG" width="50%" style="border:1px solid #ccc" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="form-group">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                        <a href="@Url.Action("ExportPDFPenolakan", new { noreg = Model.NoReg@*, sectionid = Model.SectionID*@ })" target="_blank"
                           class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                            Print PDF
                        </a>
                        <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<script type="text/javascript">
    var inputdokter1 = $('#PenolakanRawatInap_Dokter');

    inputdokter1.select2({
            ajax: {
                url: "@Url.Action("List", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'NamaDOkter',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
    });
</script>

<script>
   function clickgambar(t) {
        console.log(t.id);
        console.log(t);
        $('#IMG_PenolakanRawatInap_' + t.id).click();
    }

    function ulanggambar(t) {
        $('#IMG_PenolakanRawatInap_' + t.id).attr('src', '/Images/TTD.PNG');
        $('a#' + t.id +'.btn.btn-primary.btn-sm').removeClass('btn-flash');
    }

    var iGambar1;
    var iGambar2;
    var iGambar3;
    var iGambar4;
    var ximg_Gambar1 = $('#IMG_PenolakanRawatInap_TandaTanganDokter');
    var ximg_Gambar2 = $('#IMG_PenolakanRawatInap_TandaTangan');
    var ximg_Gambar3 = $('#IMG_PenolakanRawatInap_TTD_Saksi1');
    var ximg_Gambar4 = $('#IMG_PenolakanRawatInap_TTD_Saksi2');

    @if (Model != null)
    {
         if (Model.PenolakanRawatInap.TandaTanganDokter != null)
        {
            @:ximg_Gambar1.attr('src', 'data:image/jpeg;base64,@(Model.PenolakanRawatInap.TandaTanganDokter)');
        }
        if (Model.PenolakanRawatInap.TandaTangan != null)
        {
            @:ximg_Gambar2.attr('src', 'data:image/jpeg;base64,@(Model.PenolakanRawatInap.TandaTangan)');
        }
        if (Model.PenolakanRawatInap.TTD_Saksi1 != null)
        {
            @:ximg_Gambar3.attr('src', 'data:image/jpeg;base64,@(Model.PenolakanRawatInap.TTD_Saksi1)');
        }
        if (Model.PenolakanRawatInap.TTD_Saksi2 != null)
        {
            @:ximg_Gambar4.attr('src', 'data:image/jpeg;base64,@(Model.PenolakanRawatInap.TTD_Saksi2)');
        }
    }

    $(document).ready(function () {
        iGambar1 = new iPainter_V2(true, ximg_Gambar1);
        iGambar2 = new iPainter_V2(true, ximg_Gambar2);
        iGambar3 = new iPainter_V2(true, ximg_Gambar3);
        iGambar4 = new iPainter_V2(true, ximg_Gambar4);

        $(".modal-canvas").on("click", function (e) {
            if ($('.modal.in').length > 0) $('body').addClass('modal-open');
        });
    });

    function resetImage() {
        var imges1 = $('#IMG_@nameof(Model.PenolakanRawatInap.TandaTanganDokter)');
        var imges2 = $('#IMG_@nameof(Model.PenolakanRawatInap.TandaTangan)');
        var imges3 = $('#IMG_@nameof(Model.PenolakanRawatInap.TTD_Saksi1)');
        var imges4 = $('#IMG_@nameof(Model.PenolakanRawatInap.TTD_Saksi2)');
        iGambar1 = new iPainter_V2(imges1);
        iGambar2 = new iPainter_V2(imges2);
        iGambar3 = new iPainter_V2(imges3);
        iGambar4 = new iPainter_V2(imges4);
    }

    function SubmitForm(e) {
        try {
            iGambar1.convert_V2('PenolakanRawatInap_TandaTanganDokter');
            iGambar2.convert_V2('PenolakanRawatInap_TandaTangan');
            iGambar3.convert_V2('PenolakanRawatInap_TTD_Saksi1');
            iGambar4.convert_V2('PenolakanRawatInap_TTD_Saksi2');
            loading();
        } catch (er) {
            alertpopup('Image error : ' + er.message, 'danger');
            e.preventDefault();
        }
    }

    function oncompletecreatepenolakanri(xhr, formname, isajax, x_this) {
        try {
            var result = JSON.parse(xhr.responseText);
            if (result.IsSuccess) {
                if (isajax.toUpperCase() == "TRUE") {
                    var j_modal = $(x_this.closest('.modal'));
                    var table = j_modal.data('target-auto-refresh');
                    j_modal.modal('hide');
                    if (table != undefined)
                        $('#' + table).closest('.wall').find('[ng-click="getdatas()"]').click();
                }
                alertpopup('Data berhasil disimpan', 'success');
            }
            //j_modal.modal('hide');
        } catch (ex) {
            alertpopup('Proses tidak dapat dilakukan' || 'Server Error', 'danger');
        }
        $('#PenolakanRI').click();
    }
</script>
