﻿@using EMRRSBK.Models
@model EMRIlmuPenyakitJantungViewModel
@{
    var controllerName = "EMRIlmuPenyakitJantung";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    #region ==== Detail
    var d_tbl_PnggunaanObatJantung = $"frm_table_detailPnggunaanObatJantung";
    int d_idx_PnggunaanObatJantung = 0;
    var d_trg_PnggunaanObatJantung = $"input_target_detailPnggunaanObatJantung";
    if (Model != null)
    {
        if (Model != null)
        {
            if (Model.IPJntung_List != null)
            {
                d_idx_PnggunaanObatJantung = Model.IPJntung_List.Count();
            }
        }
    }
    #endregion
}

<!--   CSS Table -->
<style>
    #d_tbl_PnggunaanObatJantung thead tr th {
        vertical-align: middle;
        text-align: center;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(1),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(1) {
        text-align: center;
        width: 100px;
        display: none;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(2),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(2) {
        width: 60px;
        text-align: center;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(3),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(3) {
        display: none;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(4),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(4) {
        width: 80px;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(5),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(5) {
        width: 150px;
        text-align: center;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(6),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(6) {
        width: 350px;
        text-align: center;
    }

    #d_tbl_PnggunaanObatJantung thead th:nth-child(7),
    #d_tbl_PnggunaanObatJantung tbody td:nth-child(7) {
        width: 150px;
        text-align: center;
    }

    .table {
        table-layout: fixed;
        max-width: 100%;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NoReg)
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.NRM)

            <div class="panel panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Tanggal :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-1">
                            Jam :
                        </label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model != null ? (Model.Jam != null ? Model.Jam.Value.ToString("HH':'mm") : "") : "") } })
                            @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                        </div>
                        <div class="control-label col-md-1">
                            Template
                        </div>
                        <label class="control-label col-md-1">Template</label>
                        <div class="col-md-2">
                            <select id="listTemplateDokumen" class="form-control">
                                <option value="0"></option>
                                @if (Model.ListTemplate != null)
                                {
                                    foreach (var x in Model.ListTemplate)
                                    {
                                        @: <option value="@x.Value">@x.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="button" onclick="loadTemplate();" class="btn btn-block btn-warning"> LOAD</button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Rujukan :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Rujukan_Ya, new { htmlAttributes = new { onclick = "rujukanjantung()" } })
                                Ya, Dari
                            </label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Rujukan_Ya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Rujukan_Ya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dx Rujukan :
                        </label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Rujukan_Ya_Dx, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Rujukan_Ya_Dx, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline control-label">
                                @Html.EditorFor(model => model.Rujukan_Tidak, new { htmlAttributes = new { } })
                                Tidak
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-md-2">
                                Nama Keluarga :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.NamaKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.NamaKeluarga != null ? (Model.NamaKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.NamaKeluarga, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">
                                No. HP/ Telp :
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.TeleponKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.TeleponKeluarga != null ? (Model.TeleponKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.TeleponKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                Alamat
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AlamatKeluarga, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.AlamatKeluarga != null ? (Model.AlamatKeluarga) : "") } })
                                @Html.ValidationMessageFor(model => model.AlamatKeluarga, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Transportasi Datang :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Transportasi, StaticModel.ListTransportasi, new { @class = "form-control", onchange = "transportjantung()" })
                            @Html.ValidationMessageFor(model => model.Transportasi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Transportasi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Transportasi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class=form-group>
                        <label class="col-md-2 control-label">Riwayat Alergi</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.Riwayat_Alergi, StaticModel.ListYaTidak, new { @class = "form-control", onchange = "alergijantung()" })
                            @Html.ValidationMessageFor(model => model.Riwayat_Alergi, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Riwayat_Alergi_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Riwayat_Alergi_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Keluhan Utama :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.KeluhanUtama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KeluhanUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-3 text-bold">
                            Riwayat Penyakit Sekarang :
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.RiwayatPenyakitSekarang, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitSekarang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Riwayat Penyakit Dahulu</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Hepertensi, new { htmlAttributes = new { } })
                                Hipertensi
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_DM, new { htmlAttributes = new { } })
                                DM
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Jantung, new { htmlAttributes = new { } })
                                Jantung
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Asthma, new { htmlAttributes = new { } })
                                Asthma
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Stroke, new { htmlAttributes = new { } })
                                Stroke
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Liver, new { htmlAttributes = new { } })
                                Liver
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Ginjal, new { htmlAttributes = new { } })
                                Ginjal
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_TBC, new { htmlAttributes = new { } })
                                TBC Paru
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Lainnya, new { htmlAttributes = new { onclick = "lainnyariwayatdahulujantung()" } })
                                Lainnya
                            </label>
                        </div>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.RiwayatPenyakitDahulu_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.RiwayatPenyakitDahulu_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <label class="control-label text-bold text-center">Riwayat Penggobatan</label>
                    <div class="form-group">
                        <div id="panel_detailAssJantungObat" class="panel-body detail collapse in"
                             data-index-detail="@d_idx_PnggunaanObatJantung">
                            <div class="table-responsive">
                                <table id="d_tbl_PnggunaanObatJantung" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" onclick="checkall(this)" />
                                            </th>
                                            <th class="text-center" rowspan="2">
                                                <a class="text-success-600" ng-click="addrowdetail($event, '#@d_trg_PnggunaanObatJantung')">
                                                    <i class="icon-plus2"></i>
                                                </a>
                                            </th>
                                            <th></th>
                                            <th>No</th>
                                            <th>Nama Obat</th>
                                            <th>Dosis</th>
                                            <th>Lamanya</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.IPJntung_List != null)
                                            {
                                                for (var i = 0; i < Model.IPJntung_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.IPJntung_List[i].Remove,
                                                       new { htmlAttributes = new { @class = "disable-reset" } })
                                                        </td>

                                                        <!-- No -->
                                                        <td>
                                                            @Html.EditorFor(model => model.IPJntung_List[i].Model.No, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly"
                                                           }
                                                       })
                                                        </td>
                                                        @{
                                                            var _lstobat = new List<SelectListItem>();
                                                            if (Model.IPJntung_List[i].Model != null)
                                                            {
                                                                if (Model.IPJntung_List[i].Model.NamaObat != null)
                                                                {
                                                                    _lstobat.Add(new SelectListItem()
                                                                    {
                                                                        Value = Model.IPJntung_List[i].Model.NamaObat,
                                                                        Text = Model.IPJntung_List[i].Model.NamaObatNama
                                                                    });
                                                                }
                                                            }
                                                        }
                                                        <td>
                                                            @Html.DropDownListFor(model => model.IPJntung_List[i].Model.NamaObat, _lstobat, new { @class = "form-control input-sm" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.IPJntung_List[i].Model.Dosis, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IPJntung_List[i].Model.Dosis, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(model => model.IPJntung_List[i].Model.Lamanya, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.IPJntung_List[i].Model.Lamanya, "", new { @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">Riwayat Penyakit Keluarga</label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            TANDA - TANDA VITAL
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kesadaran Umum:
                        </label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.KeadaanUmum, StaticModel.ListKeadaanUmum, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KeadaanUmum, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">
                            Gizi :
                        </label>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Gizi, StaticModel.ListGizi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gizi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    GCS : E
                                </label>
                                @Html.EditorFor(model => model.GCS_E, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_E, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    V
                                </label>
                                @Html.EditorFor(model => model.GCS_V, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_V, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    M
                                </label>
                                @Html.EditorFor(model => model.GCS_M, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GCS_M, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class=" input-group-addon">
                                    Tindakan Resusitasi
                                </label>
                                @Html.DropDownListFor(model => model.Resusitas, StaticModel.ListYaTidak, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Resusitas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Berat Badan:
                                </label>
                                @Html.EditorFor(model => model.BB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    kg
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tinggi Badan:
                                </label>
                                @Html.EditorFor(model => model.TB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TB, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    kg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Tensi
                                </label>
                                @Html.EditorFor(model => model.Tensi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Tensi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Nadi
                                </label>
                                @Html.EditorFor(model => model.Nadi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nadi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Respirasi
                                </label>
                                @Html.EditorFor(model => model.Respirasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Respirasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    x/mnt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Saturasi O<sub>2</sub>
                                </label>
                                @Html.EditorFor(model => model.Saturasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Saturasi, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    %
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            Pada :
                        </label>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Pada_SuhuRuangan, new { htmlAttributes = new { } })
                                Suhu Ruangan
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Pada_Nasal, new { htmlAttributes = new { } })
                                Nasal Canule
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Pada_NRB, new { htmlAttributes = new { } })
                                NRB
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Axila
                                </label>
                                @Html.EditorFor(model => model.SuhuAxila, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SuhuAxila, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">
                                    Suhu Rectal
                                </label>
                                @Html.EditorFor(model => model.SuhuRectal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SuhuRectal, "", new { @class = "text-danger" })
                                <label class="input-group-addon">
                                    &#8451;
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12 text-bold">
                            PEMERIKSAAN UMUM
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Kepala :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Kepala, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaankepalajantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Kepala, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Kepala_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Kepala_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Mata :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Mata, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanmatajantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Mata, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Mata_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Mata_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            THT :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_THT, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanthtjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_THT, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_THT_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_THT_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Leher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Leher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanleherjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Leher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Leher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Leher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Dada :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Dada, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaandadajantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Dada, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Dada_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Dada_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Jantung:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Jantung, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanjantungjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Jantung, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Jantung_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Jantung_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Paru:
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Paru, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanparujantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Paru, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Paru_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Paru_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Perut :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Perut, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanperutjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Perut, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Perut_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Perut_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Hepar :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Heper, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanheparjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Heper, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Heper_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Heper_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-md-offset-1 control-label">
                            - Lien :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Lien, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanlienjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Lien, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Lien_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Lien_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Genital :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Genital, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaangenitaljantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Genital, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Genital_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Genital_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ekstremitas :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_Ekstremitas, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanekstremitasjantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Ekstremitas, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_Ekstremitas_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_Ekstremitas_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rectal Toucher :
                        </label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.PemeriksaanFisik_RectalToucher, StaticModel.ListNormalAbnormal, new { @class = "form-control", onclick = "pemeriksaanrectaljantung()" })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_RectalToucher, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.PemeriksaanFisik_RectalToucher_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.PemeriksaanFisik_RectalToucher_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            Hasil Pemeriksaan Penunjang
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            ECG :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ECG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ECG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Throax Foto :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ThoraxFoto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ThoraxFoto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Exhocardiografi :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Echocardiografi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Echocardiografi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2">
                            Laboratorium :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Laboratorium, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Laboratorium, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">DIAGNOSA KARDIOLOGIS</label>
                    </div>
                    <div class="form-group hide">
                        <label class="col-md-2">
                            1. Etiologis :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Etiologis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Etiologis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group hide">
                        <label class="col-md-2">
                            2. Anatomis :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Anatomis, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Anatomis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group hide">
                        <label class="col-md-2">
                            3. Fungsional :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Fungsional, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Fungsional, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group hide">
                        <label class="col-md-2">
                            4. Komplikasi :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Komplikasi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Komplikasi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Diagnosa Utama :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnosa_Utama, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnosa_Utama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                            Diagnosa Lain :
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Diagnosa, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Diagnosa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            TERAPI :
                        </label>
                        <div class="col-md-10 text-right">
                            <a class="btn btn-xs btn-success" style="margin-right:2px; padding: 1px 3px;" ng-click="$parent.ajaxmodal({
                                                                                    url: '@Url.Action("Create", "Resep", new { noreg = Model.NoReg, section = Model.SectionID, nomor = Model.Nomor })',
                                                                                    header: 'Resep Obat'
                                                                                })">
                                <i class="icon-plus3"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" style="padding: 1px 3px;" onclick="reloadObat('_Terapi');"><i class="icon-sync"></i></a>
                        </div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Terapi, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Terapi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Rencana Kerja:
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.RencanaKerja, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RencanaKerja, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-12">DIPOSISI :</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Poliklinik, new { htmlAttributes = new { onclick = "kontrolpolijantung()" } })
                                Kontrol Poliklinik:
                            </label>
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownListFor(model => model.KontrolPoliklinik_Ket, StaticModel.ListYaTidak, new { @class = "form-control", disabled = true, onclick = "kontrolpoliyajantung()" })
                            @Html.ValidationMessageFor(model => model.KontrolPoliklinik_Ket, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-md-1 control-label">Tanggal:</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.KontrolPoliklinik_Tanggal, new { htmlAttributes = new { @class = "form-control", disabled = true, Value = (Model.KontrolPoliklinik_Tanggal != null ? (Model.KontrolPoliklinik_Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.KontrolPoliklinik_Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Dirawat, new { htmlAttributes = new { onclick = "dirawatjantung()" } })
                                Dirawat di ruang:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Intensif, new { htmlAttributes = new { disable = true } })
                                Intensif
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_MS, new { htmlAttributes = new { disable = true } })
                                MS/Ratna
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Lainnya, new { htmlAttributes = new { disable = true, onclick = "ruanganlainjantung()" } })
                                Ruang Lain:
                            </label>
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Disposisi_Lainnya_Ket, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Disposisi_Lainnya_Ket, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="checkbox checkbox-inline">
                                @Html.EditorFor(model => model.Disposisi_Pulang, new { htmlAttributes = new { } })
                                Boleh Pulang
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Dokter DPJP
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DokterBPJP, Model.DokterBPJP == null ? new List<SelectListItem>() :
                    new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterBPJP.ToString(), Text = Model.DokterBPJPNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterBPJP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="checkbox checkbox-inline input-group-addon">
                                    @Html.EditorFor(model => model.save_template, new { @style = "margin-left: 10px;" })
                                    Simpan Template
                                </label>
                                <input type="text" name="nama_template" id="nama_template" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" id="btn_simpan">Simpan <i class="icon-arrow-right14 position-right"></i></button>
                            <a href="@Url.Action("ExportPDFTindakanKedokteran", new { noreg = Model.NoReg })" target="_blank"
                               class="btn btn-default" @(Model.NoReg == null ? "disabled" : "")>
                                Print PDF
                            </a>
                            <button type="button" id="btnclose" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="ModalVerikasiForm" class="modal fade" role="dialog" style="z-index:2000;">
    <form id="fm_cppt_create" method="post" class="form-horizontal" autocomplete="off" , onsubmit="Check(this)">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">VERIFIKASI DOKUMEN INI ?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="dokter" />
                    <input type="hidden" id="username" />
                    <input type="hidden" id="userid" />
                    <input type="hidden" id="namaverifikasi" />
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-primary">Verifikasi <i class="icon-checkmark position-right"></i></button>
                        <button type="button" class="btn btn-default" onclick="closeverif()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    function closeverif() {
        if ($('.modal.in').length > 0) {
            $('#ModalVerikasiForm').on('hidden.bs.modal', function (e) {
                // do something...
                $('body').addClass('modal-open');
            })
        }
    }

    function verifikasi(namapetugas, verifnama) {
        var dokter = $('#@formName' + ' #' + namapetugas).val();
        var username = $('#Username').val();
        var userid = $('#UserID').val();
        $('#ModalVerikasiForm #dokter').val(dokter);
        $('#ModalVerikasiForm #username').val(username);
        $('#ModalVerikasiForm #userid').val(userid);
        $('#ModalVerikasiForm #namaverifikasi').val(verifnama);
        $('#ModalVerikasiForm').modal();
    }

    function Check(tthis) {
        cekverifikasi(tthis[0].value, tthis[3].value);
    }

    generalDokter("#@formName #DokterBPJP");

    @if(Model.MODEVIEW == 1){
        <text>
            $("#@formName").find("input").attr("disabled", true);
            $("#@formName").find("select").attr("disabled", true);
            $("#@formName").find("textarea").attr("disabled", true);
    $("#@formName").find('button[type="submit"]').addClass("hidden");
        </text>
    }

    $("#listTemplateDokumen").select2();

    function loadTemplate() {
        var dokumen_id = '@ViewBag.DokumenID';
        var NamaDokumen = '@ViewBag.NamaDokumen';
        var nobukti = $('#NoReg').val();
        var copy = $("#listTemplateDokumen :selected").val();
        var nrmtemp = $('#NRM').val();

        if (copy != '0' && copy != "" && copy != undefined) {

            $("#@formName").closest(".modal").modal('hide');
            var url = '@Url.Action("", "EMRIlmuPenyakitJantung")' + '/CreateCopy/?noreg=' + nobukti + "&copy=" + copy + "&nrm=" + nrmtemp;
            angular.element('.panel-EMR').scope().ajaxmodal({
                url: url,
                header: NamaDokumen,
                target_auto_refresh: 'table_MedicalRecord'
            });

        } else {
            alertpopup("Template belum dipilih", "info");
        }
    }
</script>

<!--   Select2 detail Dokter   -->
<script type="text/javascript">
    function autoid_detailsaraf(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) _this.value = 1
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(4) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        $(_this).removeAttr('onblur');
    }

     @if (Model != null)
    {
        if (Model.IPJntung_List != null)
        {
            for (var i = 0; i < Model.IPJntung_List.Count; i++)
            {

                    @:customdetailObatJantung_Detail(@i, { target: $('#d_tbl_PnggunaanObatJantung thead a i')[0] }, '@d_trg_PnggunaanObatJantung', false);
            }

        }
    }

    function customdetailObatJantung_Detail(index_detail, _this, inputtarget, autofocus) {
        var _strobatsaraf = '#panel_detailAssJantungObat #IPJntung_List_' + index_detail + '__Model_NamaObat';

        $(_strobatsaraf).select2({
            ajax: {
                url: "@Url.Action("ListObat", "Dokter")",
                dataType: 'json',
                type: "POST",
                delay: 250,
                data: function (params) {
                    return {
                        sortBy: 'Nama_Barang',
                        sortByType: 'ASC',
                        pageSize: 30,
                        pageIndex: params.page || 0,
                        filter: ['', params.term, '', '', '']
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess)
                        alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.Pagger.PageIndex + 1;
                        return {
                            results: $.map(data.Table, function (value, indel) { return { id: value.Kode_Barang, text: value.Nama_Barang } }),
                            pagination: {
                                more: (params.page * 30) < data.Pagger.TotalRowCount
                            }
                        };
                    }
                },
                cache: true
            }
        });

    }
</script>

@{
    if (Model != null)
    {
        Model.IPJntung_List = null;
    }
}

<div id="@d_trg_PnggunaanObatJantung" class="hidden">


    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.IPJntung_List[-1].Remove,
        new { htmlAttributes = new { @class = "disable-reset" } })
    </div>

    <!-- No -->
    <div class="input-detail">
        @Html.EditorFor(model => model.IPJntung_List[-1].Model.No, new
   {
       htmlAttributes = new
       {
           @class = "form-control  trigger-onblur input-sm",
           onblur = "autoid_detailsaraf(this)"
       }
   })
    </div>

    <div class="input-detail">
        @Html.DropDownListFor(model => model.IPJntung_List[-1].Model.NamaObat,
      new List<SelectListItem>(), new { @class = "form-control input-sm" })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.IPJntung_List[-1].Model.Dosis, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.IPJntung_List[-1].Model.Lamanya, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm"
       }
   })
    </div>

</div>

<script src="~/scripts/jquery.timer.js"></script>

<!-- Lainnya -->
<script>
    function pemeriksaankepalajantung() {
        if ($("#PemeriksaanFisik_Kepala option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Kepala_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Kepala_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Kepala_Ket').val('');
        }
    }

    function pemeriksaanmatajantung() {
        if ($("#PemeriksaanFisik_Mata option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Mata_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Mata_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Mata_Ket').val('');
        }
    }

    function pemeriksaanthtjantung() {
        if ($("#PemeriksaanFisik_THT option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_THT_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_THT_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_THT_Ket').val('');
        }
    }

    function pemeriksaanleherjantung() {
        if ($("#PemeriksaanFisik_Leher option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Leher_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Leher_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Leher_Ket').val('');
        }
    }

    function pemeriksaandadajantung() {
        if ($("#PemeriksaanFisik_Dada option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Dada_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Dada_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Dada_Ket').val('');
        }
    }

    function pemeriksaanjantungjantung() {
        if ($("#PemeriksaanFisik_Jantung option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Jantung_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Jantung_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Jantung_Ket').val('');
        }
    }

    function pemeriksaanparujantung() {
        if ($("#PemeriksaanFisik_Paru option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Paru_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Paru_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Paru_Ket').val('');
        }
    }

    function pemeriksaanperutjantung() {
        if ($("#PemeriksaanFisik_Perut option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Perut_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Perut_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Perut_Ket').val('');
        }
    }

    function pemeriksaanheparjantung() {
        if ($("#PemeriksaanFisik_Heper option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Heper_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Heper_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Heper_Ket').val('');
        }
    }

    function pemeriksaanlienjantung() {
        if ($("#PemeriksaanFisik_Lien option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Lien_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Lien_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Lien_Ket').val('');
        }
    }

    function pemeriksaangenitaljantung() {
        if ($("#PemeriksaanFisik_Genital option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Genital_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Genital_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Genital_Ket').val('');
        }
    }

    function pemeriksaanekstremitasjantung() {
        if ($("#PemeriksaanFisik_Ekstremitas option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_Ekstremitas_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_Ekstremitas_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_Ekstremitas_Ket').val('');
        }
    }

    function pemeriksaanrectaljantung() {
        if ($("#PemeriksaanFisik_RectalToucher option:selected").val() == 'Abnormal') {
            $('#PemeriksaanFisik_RectalToucher_Ket').prop('disabled', false);
        } else {
            $('#PemeriksaanFisik_RectalToucher_Ket').prop('disabled', true);
            $('#PemeriksaanFisik_RectalToucher_Ket').val('');
        }
    }

    function rujukanjantung() {
        if ($('#Rujukan_Ya').is(':checked')) {
            $('#Rujukan_Ya_Ket').prop('disabled', false);
            $('#Rujukan_Ya_Dx').prop('disabled', false);
        } else {
            $('#Rujukan_Ya_Ket').prop('disabled', true);
            $('#Rujukan_Ya_Ket').val('');
            $('#Rujukan_Ya_Dx').prop('disabled', true);
            $('#Rujukan_Ya_Dx').val('');
        }
    }

    function transportjantung() {
        if ($("#Transportasi option:selected").val() == 'Lainnya') {
            $('#Transportasi_Ket').prop('disabled', false);
        } else {
            $('#Transportasi_Ket').prop('disabled', true);
            $('#Transportasi_Ket').val('');
        }
    }

    function alergijantung() {
        if ($("#Riwayat_Alergi option:selected").val() == 'Ya') {
            $('#Riwayat_Alergi_Ket').prop('disabled', false);
        } else {
            $('#Riwayat_Alergi_Ket').prop('disabled', true);
            $('#Riwayat_Alergi_Ket').val('');
        }
    }

    function lainnyariwayatdahulujantung() {
        if ($('#RiwayatPenyakitDahulu_Lainnya').is(':checked')) {
            $('#RiwayatPenyakitDahulu_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#RiwayatPenyakitDahulu_Lainnya_Ket').prop('disabled', true);
            $('#RiwayatPenyakitDahulu_Lainnya_Ket').val('');
        }
    }

    function leherleherjvpjantung() {
        if ($('#Leher_JVP').is(':checked')) {
            $('#Leher_JVP_Ket').prop('disabled', false);
        } else {
            $('#Leher_JVP_Ket').prop('disabled', true);
            $('#Leher_JVP_Ket').val('');
        }
    }

    //function simetrisjantung() {
    //    if ($('#Thorax').is(':checked')) {
    //        $('#Thorax_Ket').prop('disabled', false);
    //    } else {
    //        $('#Thorax_Ket').prop('disabled', true);
    //        $('#Thorax_Ket').val('');
    //    }
    //}

    function pulmoronchijantung() {
        if ($('#Ronchi').is(':checked')) {
            $('#Ronchi_Ket').prop('disabled', false);
        } else {
            $('#Ronchi_Ket').prop('disabled', true);
            $('#Ronchi_Ket').val('');
        }
    }

    function pulmowheezingjantung() {
        if ($('#Wheezing').is(':checked')) {
            $('#Wheezing_Ket').prop('disabled', false);
        } else {
            $('#Wheezing_Ket').prop('disabled', true);
            $('#Wheezing_Ket').val('');
        }
    }

    function leherthyroidjantung() {
        if ($('#Leher_Thyroid').is(':checked')) {
            $('#Leher_Thyroid_Ket').prop('disabled', false);
        } else {
            $('#Leher_Thyroid_Ket').prop('disabled', true);
            $('#Leher_Thyroid_Ket').val('');
        }
    }

    function melebarjantung() {
        if ($("#InspeksiIktus  option:selected").val() == 'Melebar') {
            $('#InspeksiIktus_Ket').prop('disabled', false);
        } else {
            $('#InspeksiIktus_Ket').prop('disabled', true);
            $('#InspeksiIktus_Ket').val('');
        }
    }

    function inspeksipulpasilainnyajantung() {
        if ($('#InspeksiPulsasi_Lainnya').is(':checked')) {
            $('#InspeksiPulsasi_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#InspeksiPulsasi_Lainnya_Ket').prop('disabled', true);
            $('#InspeksiPulsasi_Lainnya_Ket').val('');
        }
    }

    function leherpembesaranjantung() {
        if ($('#Leher_Pembesaran').is(':checked')) {
            $('#Leher_Pembesaran_Ket').prop('disabled', false);
        } else {
            $('#Leher_Pembesaran_Ket').prop('disabled', true);
            $('#Leher_Pembesaran_Ket').val('');
        }
    }

    function faselainnyajantung() {
        if ($('#Fase_Lainnya').is(':checked')) {
            $('#Fase_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Fase_Lainnya_Ket').prop('disabled', true);
            $('#Fase_Lainnya_Ket').val('');
        }
    }

    function lokasiainnyajantung() {
        if ($('#Lokasi_Lainnya').is(':checked')) {
            $('#Lokasi_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Lokasi_Lainnya_Ket').prop('disabled', true);
            $('#Lokasi_Lainnya_Ket').val('');
        }
    }

    function kualitaslainnyajantung() {
        if ($('#Kualitas_Lainnya').is(':checked')) {
            $('#Kualitas_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Kualitas_Lainnya_Ket').prop('disabled', true);
            $('#Kualitas_Lainnya_Ket').val('');
        }
    }

    function penjalaranlainnyajantung() {
        if ($('#Penjalaran_Lainnya').is(':checked')) {
            $('#Penjalaran_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Penjalaran_Lainnya_Ket').prop('disabled', true);
            $('#Penjalaran_Lainnya_Ket').val('');
        }
    }

    function abdomenheparjantung() {
        if ($("#Hepar  option:selected").val() == 'Teraba') {
            $('#Hepar_Ket').prop('disabled', false);
        } else {
            $('#Hepar_Ket').prop('disabled', true);
            $('#Hepar_Ket').val('');
        }
    }

    function abdomenlienjantung() {
        if ($("#Lien  option:selected").val() == 'Teraba') {
            $('#Lien_Ket').prop('disabled', false);
        } else {
            $('#Lien_Ket').prop('disabled', true);
            $('#Lien_Ket').val('');
        }
    }

    function kontrolpolijantung() {
        if ($('#Disposisi_Poliklinik').is(':checked')) {
            $('#KontrolPoliklinik_Ket').prop('disabled', false);
        } else {
            $('#KontrolPoliklinik_Tanggal').prop('disabled', true);
            $('#KontrolPoliklinik_Tanggal').val('');
            $('#KontrolPoliklinik_Ket').prop('disabled', true);
            $('#KontrolPoliklinik_Ket').val('');
        }
    }

    function kontrolpoliyajantung () {
        if ($("#KontrolPoliklinik_Ket option:selected").val() == 'Ya') {
            $('#KontrolPoliklinik_Tanggal').prop('disabled', false);
        } else {
            $('#KontrolPoliklinik_Tanggal').prop('disabled', true);
            $('#KontrolPoliklinik_Tanggal').val('');
        }
    }

    function dirawatjantung() {
        if ($('#Disposisi_Dirawat').is(':checked')) {
            $('#Disposisi_Intensif').prop('disabled', false);
            $('#Disposisi_MS').prop('disabled', false);
            $('#Disposisi_Lainnya').prop('disabled', false);
        } else {
            $('#Disposisi_Intensif').prop('disabled', true);
            $('#Disposisi_Intensif').prop('disabled', false);
            $('#Disposisi_MS').prop('disabled', true);
            $('#Disposisi_MS').prop('disabled', false);
            $('#Disposisi_Lainnya').prop('disabled', true);
            $('#Disposisi_Lainnya').prop('disabled', false);
            $('#Disposisi_Lainnya_Ket').prop('disabled', true);
            $('#Disposisi_Lainnya_Ket').val('');
        }
    }

    function ruanganlainjantung() {
        if ($('#Disposisi_Lainnya').is(':checked')) {
            $('#Disposisi_Lainnya_Ket').prop('disabled', false);
        } else {
            $('#Disposisi_Lainnya_Ket').prop('disabled', true);
            $('#Disposisi_Lainnya_Ket').val('');
        }
    }

    function reloadObat(target) {
        myajax({
            url: '@Url.Action("getListObat", "Resep")',
            data: {
                noreg: '@Model.NoReg',
            },
            method: 'GET',
            dataType: 'JSON',
            success: function (dt) {
                if (dt.IsSuccess) {
                    $(target).val(dt.Data);
                }
            }
        });
    }

    $(document).ready(function () {
        rujukanjantung();
        transportjantung();
        alergijantung();
        lainnyariwayatdahulujantung();
        leherleherjvpjantung();
        //simetrisjantung();
        pulmoronchijantung();
        pulmowheezingjantung();
        leherpembesaranjantung();
        dirawatjantung();
        ruanganlainjantung();
        leherthyroidjantung();
        melebarjantung();
        inspeksipulpasilainnyajantung();
        faselainnyajantung();
        lokasiainnyajantung();
        kualitaslainnyajantung();
        penjalaranlainnyajantung();
        abdomenheparjantung();
        abdomenlienjantung();
        kontrolpolijantung();
        kontrolpoliyajantung();
        pemeriksaankepalajantung();
        pemeriksaanmatajantung();
        pemeriksaanthtjantung();
        pemeriksaanleherjantung();
        pemeriksaandadajantung();
        pemeriksaanjantungjantung();
        pemeriksaanparujantung();
        pemeriksaanperutjantung();
        pemeriksaanheparjantung();
        pemeriksaanlienjantung();
        pemeriksaangenitaljantung();
        pemeriksaanekstremitasjantung();
        pemeriksaanrectaljantung();
    });
</script>




